Repository GSA/digitalgov.gov, pull requests merged in 2018-12, with the labels that each got.

#855 Update crowdsourcing-and-citizen-science.md
  content/communities/crowdsourcing-and-citizen-science.md
Labels: communities

#861 Crowdsourcing community edit
  content/communities/crowdsourcing-and-citizen-science.md
Labels: communities, editorial/content

#867 Create principles-plugins.md
  content/resources/mobile/principles/principles-plugins.md
Labels: guide, mobile, resources

#821 Updating capitalization on event.
  content/events/2018/10/2018-10-17-dap-learning-series-creating-goals-conversions.md
Labels: editorial/content, event

#870 Create principles-cache.md
  content/resources/mobile/principles/principles-cache.md
Labels: guide, mobile, resources

#872 Add new event: Emerging Technology for Government Services Meeting
  content/events/2018/12/2018-12-17-emerging-technology-for-government-services-meeting.md
Labels: event

#875 Add new event: Emerging Technology Leadership Series
  content/events/2018/12/2018-12-18-emerging-technology-leadership-series-laura-manley-harvard-technology-public-purpose-project.md
Labels: event

#877 Add new post: Looking Back at the PIF
  content/posts/2018/12/2018-12-19-looking-back-at-pifs-in-2018.md
  data/images/pif-card-alt.yml
  data/images/pif-hoilday-card-2018.yml
  data/people/authors/clara-tsao.yml
  data/people/authors/davey-gibian.yml
  data/people/authors/nina-bianchi.yml
  data/people/authors/steven-babitch.yml
  data/people/authors/zach-goldfine.yml
  data/top6.yml
  package-lock.json
  package.json
  static/img/proxy/pif-card-alt.jpg
  static/img/proxy/pif-card.jpg
  static/img/proxy/pif-hoilday-card-2018.jpg
  themes/digital.gov/layouts/posts/single.html
  themes/digital.gov/static/css/enlightened-styles.css
  themes/digital.gov/static/css/entry.css
Labels: blog, editorial/content

#878 Add new event: 1/29/19 Analyzing Web Metrics for Federal Privacy Professionals
  content/events/2019/01/2019-01-29-analyzing-web-metrics-for-federal-privacy-professionals.md
Labels: event

#874 Update spanish-language-style-guide-and-glossaries.md
  content/about/lost-and-found-mapping-page.md
  content/communities/multilingual.md
  content/posts/2014/07/2014-07-01-multilingual-digital-content.md
  content/posts/2016/04/2016-04-14-the-usagov-bilingual-style-guide-is-now-online.md
  content/resources/_index.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
  content/resources/customer-experience-toolkit.md
  content/resources/spanish-language-style-guide-and-glossaries.md
  content/resources/style-guides-by-government-agencies.md
Labels: multilingual, resources

#881 Create principles-optimize-minify-compression.md
  content/resources/mobile/principles/principles-optimize-minify-compression.md
Labels: guide, mobile

#883 Add new post: Designing for Translation
  content/posts/2018/12/2018-12-20-designing-for-translation.md
  data/images/translate-keyboard.yml
  data/top6.yml
  static/img/proxy/translate-keyboard.jpg
Labels: blog, editorial/content, multilingual

#884 Adding shutdown pop-up
  themes/digital.gov/layouts/partials/bs.html
  themes/digital.gov/layouts/partials/head.html
Labels: announcement
