Repository GSA/digitalgov.gov, pull requests merged in 2018-02, with the labels that each got.

#418 Added alias on 9/7/17 post
  content/posts/2017/09/2017-09-07-usda-foodkeeper-app-update-expands-content-offerings.md
Labels: redirects

#417 Added alias on 9/6/17 post
  content/posts/2017/09/2017-09-06-how-federal-leaders-can-build-the-will-skill-and-velocity-needed-for-digital-transformation.md
Labels: redirects

#416 Video CoP: added a 2nd alias
  content/communities/video.md
Labels: redirects

#415 added alias for Social Media Analytics hackpad
  content/posts/2013/04/2013-04-19-social-media-metrics-for-federal-agencies.md
Labels: redirects

#414 added alias for UX Program
  content/resources/digitalgov-user-experience-resources.md
Labels: redirects

#413 Checklist page - added 2 aliases
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: redirects

#412 US Digital Registry - added 2 aliases
  content/services/u-s-digital-registry.md
Labels: redirects

#409 added cross-post line on Journey Map post
  content/posts/2018/02/2018-02-05-using-journey-mapping-streamline-processes-across-agencies.md
Labels: blog post, editorial/content

#425 Add new post 2/13: Why Your Team Needs Its Own Style Guide–and Where …
  content/posts/2018/02/2018-02-13-why-your-team-needs-its-own-style-guide-where-start.md
  data/images/cfpb-design-manual-page-components-50-50-image-and-text.yml
  data/images/ustpo-ui-design-gallery-primary-ui-color-swatches.yml
  static/img/proxy/cfpb-design-manual-page-components-50-50-image-and-text.jpg
  static/img/proxy/ustpo-ui-design-gallery-primary-ui-color-swatches.jpg
  themes/digital.gov/static/css/enlightened-styles.css
  themes/digital.gov/static/css/override.css
  themes/digital.gov/static/js/all-images.js
Labels: blog, editorial/content

#428 Fixing redirects / aliases and archiving old files
  content/_archived/dot-gov-domain-freeze-and-waivers.md
  content/_archived/social-media-registry.md
  content/_archived/the-federal-mobile-apps-registry.md
  content/posts/2012/11/2012-11-19-case-study-how-gsa-launched-social-media-registry.md
  content/posts/2013/04/2013-04-19-social-media-metrics-for-federal-agencies.md
  content/posts/2013/05/2013-05-23-make-mobile-gov-with-the-mobile-application-development-program.md
  content/posts/2013/07/2013-07-08-instagram-now-available-for-federal-agencies.md
  content/posts/2014/05/2014-05-13-trends-on-tuesday-apps-dominate-mobile-web-usage.md
  content/posts/2014/06/2014-06-12-three-ways-agencies-are-using-social-media-in-mobile-products.md
  content/posts/2014/06/2014-06-30-u-s-gov-releases-new-collaborative-social-media-services.md
  content/posts/2014/10/2014-10-20-welcome-to-mobilegov-month-on-digitalgov.md
  content/posts/2014/11/2014-11-06-rail-crossing-locator-app-now-available-on-a-second-platform.md
  content/posts/2014/11/2014-11-13-ice-expands-reach-of-app-designed-to-locate-child-predators.md
  content/posts/2014/11/2014-11-20-join-the-global-climate-change-conversation-with-nasas-earth-now.md
  content/posts/2014/12/2014-12-02-social-media-success.md
  content/posts/2014/12/2014-12-04-find-fuel-during-disasters-with-lantern-live-app.md
  content/posts/2014/12/2014-12-18-acronyms-army-isms-and-much-more-rotc-handbook-app-explains-cadet-life.md
  content/posts/2014/12/2014-12-24-santa-is-16-centuries-old-things-ive-learned-from-norad-tracks-santa-app.md
  content/posts/2015/01/2015-01-08-cbp-border-wait-time-app-a-one-stop-shop-for-cross-border-travel.md
  content/posts/2015/01/2015-01-22-saferride-app-could-save-your-life.md
  content/posts/2015/01/2015-01-29-be-a-citizen-scientist-with-noaas-crowdmag-app.md
  content/posts/2015/02/2015-02-05-focus-on-nutrition-with-dri-calculator-for-healthcare-professionals-app.md
  content/posts/2015/02/2015-02-19-irs2go-app-provides-multi-symptom-relief-for-tax-anxiety.md
  content/posts/2015/02/2015-02-26-keep-a-strong-job-search-game-with-usa-govs-federal-mobile-apps-directory.md
  content/posts/2015/03/2015-03-05-explore-iconic-overseas-world-war-ii-sites-with-abmc-apps.md
  content/posts/2015/03/2015-03-19-drugshortages-app-accelerates-public-access-to-drug-shortage-information.md
  content/posts/2015/03/2015-03-26-booking-a-discount-bus-ticket-check-carrier-safety-records-with-qcmobile.md
  content/posts/2015/04/2015-04-09-new-usgs-app-helps-save-the-piping-plovers.md
  content/posts/2015/05/2015-05-07-spoiler-alert-usdas-foodkeeper-app-helps-americans-avoid-wasting-good-food.md
  content/posts/2015/05/2015-05-14-from-startup-to-veteran-ceo-new-businessusa-app-has-you-covered.md
  content/posts/2015/05/2015-05-28-ice-wields-smartphones-in-fight-against-child-exploitation.md
  content/posts/2015/06/2015-06-04-new-coast-guard-app-streamlines-boating-safety-to-maximize-summer-fun.md
  content/posts/2015/06/2015-06-29-creating-a-social-media-report-that-matters.md
  content/posts/2015/07/2015-07-08-customer-service-trends-an-update.md
  content/posts/2015/07/2015-07-30-community-rock-star-round-up.md
  content/posts/2016/03/2016-03-10-check-your-refund-status-and-pay-your-taxes-with-irs2go.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
  content/resources/federal-social-media-analytics-toolkit-hackpad.md
  content/resources/index.md
  content/resources/mobile-application-development-program.md
Labels: redirects

#446 Updated to Join with a Form link for Web Content Managers
  content/communities/web-managers-forum.md
Labels: communities, editorial/content

#447 removed old logo
  content/communities/challenges-prizes.md
  data/images/challenge-gov.yml
  static/img/proxy/challenge-gov.jpg
Labels: communities, editorial/content, images

#436 Add new images and metadata; add to article
  content/posts/2018/02/2018-02-13-why-your-team-needs-its-own-style-guide-where-start.md
  data/images/cfpb-secondary-color-palette-swatches-featured.yml
  data/images/uspto-primary-ui-color-swatches.yml
  data/images/ustpo-ui-design-gallery-primary-ui-color-swatches.yml
  static/img/proxy/cfpb-secondary-color-palette-swatches-featured.jpg
  static/img/proxy/uspto-primary-ui-color-swatches.jpg
  static/img/proxy/uspto-ui-design-gallery-primary-ui-color-swatches.jpg
Labels: blog, editorial/content, images

#450 Event Page Clean-up
  content/communities/challenges-prizes.md
  content/communities/web-managers-forum.md
  content/digitalgov-university/index.md
  content/events/2017/2017-10-11-an-around-world-recap-plain-monthly-meeting.md
  content/events/2017/2017-10-12-dap-learning-series-visualizing-analytics-data-part-2.md
  content/events/2017/2017-10-24-online-cut-through-noise-really-connect-with-your-spanishlanguage-audience-on-social-media.md
  content/events/2017/2017-11-15-fedramp-tailored-overview-finalized-new-baseline.md
  content/events/2017/2017-12-12-workshop-making-government-websites-with-github-federalist-us-web-design-standards.md
  content/events/2018/2018-01-09-responding-to-a-disaster-how-usagov-helped-shape-the-digital-response-in-puerto-rico.md
  content/events/2018/2018-01-10-january-plain-monthly-meeting.md
  content/events/2018/2018-01-10-us-digital-registry-open-office-hours.md
  content/events/2018/2018-01-18-legal-obligations-practical-solutions-for-government-agencies-with-a-lep-audience.md
  content/events/2018/2018-01-23-federal-challenge-prize-community-practice-quarterly-meeting.md
  content/events/2018/2018-01-26-us-web-design-standards-monthly-users-call.md
  content/events/2018/2018-02-13-customer-relationship-management-government-sector-best-practices-pitfalls-tips.md
  content/events/2018/2018-02-14-february-plain-meeting.md
  content/events/2018/2018-02-14-how-fedramp-supports-agencies-a-resource-overview.md
  content/events/2018/2018-02-14-us-digital-registry-open-office-hours-feb2017.md
  content/events/2018/2018-02-15-dap-learning-series-digital-analytics-program-101.md
  content/events/2018/2018-03-13-new-release-fedramp-continuous-monitoring-documents.md
  content/events/2018/2018-03-22-dap-learning-series-analytics-events-deep-dive.md
  content/events/2018/2018-04-18-dap-learning-series-creating-your-own-campaign-url-builder.md
  content/events/2018/2018-05-23-dap-learning-series-advanced-concepts.md
  content/events/2018/2018-06-07-dap-learning-series-using-search-console.md
  content/events/2018/2018-07-18-dap-learning-series-analytics-accessibility.md
  content/events/2018/2018-08-15-dap-learning-series-an-introduction-basics.md
  content/events/2018/2018-09-20-dap-learning-series-writing-custom-javascript-for-tag-managers.md
  content/events/2018/2018-10-17-dap-learning-series-creating-goals-conversions.md
  content/pages/new-event.html
  content/pages/new-post.html
  content/posts/2018/01/2018-01-01-world-of-foo.md
  data/events.yml
  data/featured_videos.yml
  data/images/challenge-gov.yml
  static/img/proxy/challenge-gov.jpg
  themes/digital.gov/layouts/events/li.html
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/events/past.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/index.html
  themes/digital.gov/layouts/partials/body-featured-events.html
  themes/digital.gov/layouts/partials/body-featured.html
  themes/digital.gov/layouts/partials/body-latest-news.html
  themes/digital.gov/layouts/partials/body-services.html
  themes/digital.gov/layouts/partials/event-location.html
  themes/digital.gov/layouts/partials/event-stage.html
  themes/digital.gov/layouts/partials/event-type.html
  themes/digital.gov/layouts/partials/footer-end-scripts.html
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/src/css/override.css
  themes/digital.gov/static/css/custom.css
  themes/digital.gov/static/css/events.css
  themes/digital.gov/static/css/featured.css
  themes/digital.gov/static/css/front-matter.css
  themes/digital.gov/static/css/override.css
  themes/digital.gov/static/css/sitesusagov.css
  themes/digital.gov/static/css/video.css
  themes/digital.gov/static/js/events.js
  themes/digital.gov/static/js/external.js
  themes/digital.gov/static/js/front-matter.js
Labels: backend, design, event, frontend

#460 adding an issue template
  .github/issue_template.md
Labels: GitHub

#462 Added image to Gerry McGovern event page
  content/events/2018/2018-04-11-a-deep-dive-into-top-tasks-with-gerry-mcgovern.md
  data/images/gerry-mcgovern.yml
  static/img/proxy/gerry-mcgovern.jpg
Labels: event
