Repository GSA/digitalgov.gov, pull requests merged in 2018-07, with the labels that each got.

#673 Add new event: PLAIN Language
  content/events/2018/07/2018-07-11-plain-language-formsapalooza.md
Labels: event

#683 Add new event: FedRAMP Boundary Guidance
  content/events/2018/07/2018-07-25-fedramp-boundary-guidance-response-industry-comment.md
Labels: event

#685 Add new event: API quarterly check-in
  content/events/2018/07/2018-07-11-us-government-api-community-practice-quarterly-checkin.md
Labels: event

#684 format header
  content/events/2018/07/2018-07-25-fedramp-boundary-guidance-response-industry-comment.md
Labels: event

#662 7/10: Accessibility for teams
  content/posts/2018/07/2018-07-10-introducing-accessibillity-teams.md
  data/images/accessibility-for-teams-1.yml
  data/images/accessibility-for-teams-2.yml
  data/images/accessibility-for-teams-3.yml
  data/images/accessibility-keyboard-access.yml
  data/images/accessibility-test-2.yml
  data/images/accessibility-test.yml
  data/top6.yml
  gulpfile.js
  package-lock.json
  package.json
  static/img/proxy/accessibility-for-teams-1.jpg
  static/img/proxy/accessibility-for-teams-2.jpg
  static/img/proxy/accessibility-for-teams-3.jpg
  static/img/proxy/accessibility-keyboard-access.jpg
  themes/digital.gov/layouts/partials/img-featured--home.html
  themes/digital.gov/layouts/shortcodes/img.html
Labels: ---- HOLD ----, accessibility, editorial/content

#696 Hold f/ 7/17: Experiments in Tweaking Agile for UX
  content/posts/2018/07/2018-07-17-experiments-in-tweaking-agile-for-ux.md
  data/images/agile-ux-ex1.yml
  data/images/agile-ux-ex2.yml
  data/images/agile-ux-ex3.yml
  data/images/agile-ux-ex4.yml
  data/images/agile-ux-title.yml
  static/img/proxy/agile-ux-ex1.jpg
  static/img/proxy/agile-ux-ex2.jpg
  static/img/proxy/agile-ux-ex3.jpg
  static/img/proxy/agile-ux-ex4.jpg
  static/img/proxy/agile-ux-title.jpg
Labels: ---- HOLD ----, blog, editorial/content

#700 Fixing Updated timestamp bug
  content/about.md
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/js/external.js
Labels: :octocat: GitHub, bug

#706 Multilingual COP name change
  content/events/2017/10/2017-10-24-online-cut-through-noise-really-connect-with-your-spanishlanguage-audience-on-social-media.md
  content/posts/2014/05/2014-05-27-trends-on-tuesday-hispanic-millennials-provide-insight-on-mobile-future.md
  content/posts/2014/07/2014-07-01-multilingual-digital-content.md
  content/posts/2014/07/2014-07-11-why-marketing-to-u-s-hispanics-is-like-the-offside-rule-in-soccer.md
  content/posts/2014/09/2014-09-30-trends-on-tuesday-meet-the-mobile-power-users.md
  content/posts/2014/12/2014-12-05-promoting-womens-health-through-dynamic-multilingual-content.md
  content/posts/2015/01/2015-01-15-spanish-language-mobile-apps-from-gobierno-usa-gov.md
  content/posts/2016/01/2016-01-08-somossocial-bilingual-twitter-chats-how-to-do-them-effectively.md
  content/posts/2016/04/2016-04-08-transcreation-why-do-we-need-it.md
  content/posts/2016/04/2016-04-14-the-usagov-bilingual-style-guide-is-now-online.md
  content/posts/2016/11/2016-11-17-webinar-recap-social-media-plus-stakeholder-engagement-equals-outreach-success.md
  content/posts/2017/06/2017-06-30-webinar-recap-plain-language-action-and-information-network-plain-june-meeting.md
  content/resources/index.md
  data/tag.yml
Labels: backend, editorial/content

#716 Add new event: Emerging Technology Leadership Series
  content/events/2018/07/2018-07-30-emerging-technology-leadership-series-mina-hanna-ai-for-government-services.md
Labels: ecto, event

#720 Add new event: Performance Goals for Government Services
  content/events/2018/08/2018-08-06-performance-goals-for-government-services-interagency-emerging-citizen-technology-meeting-aug-2018.md
Labels: ecto, event
