Repository GSA/digitalgov.gov, pull requests merged in 2018-06, with the labels that each got.

#630 New author
  data/people/authors/jessica-skretch.yml
Labels: author, blog

#632 test SlideShare embed
  content/posts/2012/07/2012-07-13-next-in-our-mobile-webinar-series-mobile-first.md
Labels: blog, editorial/content

#631 new USGS agile author
  data/people/authors/andrew-j-stauffer.yml
Labels: author, blog

#617 Terms of Service / Page Update
  config.yml
  config_dev.yml
  content/resources/agency-points-of-contact-for-federal-compatible-terms-of-service-agreements.md
  content/resources/chatwing-federal-terms-of-service.md
  content/resources/classmarker-federal-terms-of-service.md
  content/resources/eventbrite-federal-terms-of-service.md
  content/resources/federal-compatible-terms-of-service-agreements.md
  content/resources/getting-started-with-your-contact-center.md
  content/resources/github-federal-terms-of-service.md
  content/resources/govloop-federal-terms-of-service.md
  content/resources/hackpad-federal-terms-of-service.md
  content/resources/ideascale-federal-terms-of-service.md
  content/resources/index.md
  content/resources/instagram-federal-terms-of-service.md
  content/resources/mandrill-federal-terms-of-service.md
  content/resources/measured-voice-federal-terms-of-service.md
  content/resources/my-commetrics-federal-terms-of-service.md
  content/resources/negotiated-terms-of-service-agreements.md
  content/resources/news-genius-federal-terms-of-service.md
  content/resources/pinterest-federal-terms-of-service.md
  content/resources/quora-federal-terms-of-service.md
  content/resources/slideshare-federal-terms-of-service.md
  content/resources/socialoomph-federal-terms-of-service.md
  content/resources/stack-exchange-federal-terms-of-service.md
  content/resources/storify-federal-terms-of-service.md
  content/resources/surveymonkey-federal-terms-of-service.md
  content/resources/thunderclap-federal-terms-of-service.md
  content/resources/tint-federal-terms-of-service.md
  content/resources/trello-federal-terms-of-service.md
  content/resources/twitter-federal-terms-of-service.md
  content/resources/uservoice-federal-terms-of-service.md
  content/resources/vine-federal-terms-of-service.md
  content/services/dap.md
  content/style-guide.md
  data/guidenav/termsofservice.yml
  data/termsofservice.yml
  data/termsofservicepoc.yml
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/docs/baseof.html
  themes/digital.gov/layouts/guide/single.html
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/layouts/partials/page-notice.html
  themes/digital.gov/layouts/partials/post-meta--feedback.html
  themes/digital.gov/layouts/partials/toc.html
  themes/digital.gov/layouts/shortcodes/termsofservice-compatible.html
  themes/digital.gov/layouts/shortcodes/termsofservice-inactive.html
  themes/digital.gov/layouts/shortcodes/termsofservice-poc-cabinet.html
  themes/digital.gov/layouts/shortcodes/termsofservice-poc-noncabinet.html
  themes/digital.gov/layouts/shortcodes/tos-file.html
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/css/toc.css
  themes/digital.gov/static/img/icon-gdoc.png
  themes/digital.gov/static/img/icon-pdf.png
  themes/digital.gov/static/img/icon-word.png
  themes/digital.gov/static/js/external.js
Labels: ---- HOLD ----, terms of service

#645 Fixing Images in IE
  themes/digital.gov/layouts/docs/baseof.html
  themes/digital.gov/layouts/events/baseof.html
  themes/digital.gov/layouts/shortcodes/img-right.html
  themes/digital.gov/layouts/shortcodes/img.html
Labels: bug, frontend

#646 USWDS July Event
  content/events/2018/07/2018-07-06-a-first-look-at-uswds-20.md
  data/images/preview-uswds-2-0.yml
  static/img/proxy/preview-uswds-2-0.jpg
Labels: event, uswds

#653 Re-work last updated bar
  content/resources/agency-points-of-contact-for-federal-compatible-terms-of-service-agreements.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
  content/resources/federal-compatible-terms-of-service-agreements.md
  content/resources/negotiated-terms-of-service-agreements.md
  themes/digital.gov/layouts/guide/single.html
  themes/digital.gov/layouts/partials/last-updated.html
  themes/digital.gov/layouts/partials/page-notice.html
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/img/clock-icon.png
Labels: design, frontend

#654 Re-worked Top 6 Stories on the homepage
  data/top6.yml
  themes/digital.gov/layouts/index.html
  themes/digital.gov/layouts/partials/body-top.html
  themes/digital.gov/layouts/partials/body-top6.html
  themes/digital.gov/layouts/partials/footer-end-scripts.html
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/layouts/partials/nav-fixed-navbar.html
  themes/digital.gov/layouts/partials/news-featured.html
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/css/top6.css
  themes/digital.gov/static/css/video.css
  themes/digital.gov/static/img/play-btn-active.png
  themes/digital.gov/static/img/play-btn.png
Labels: backend, design, frontend

#626 DRAFT: Results-Oriented Accountability for Grants
  content/communities/index.md
  content/communities/results-oriented-accountability-for-grants.md
  data/images/presidents-managment-agenda.yml
  static/img/proxy/presidents-managment-agenda.jpg
Labels: ---- HOLD ----, communities, editorial/content

#657 Branch-specific Edit Button
  .gitignore
  package.json
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/docs/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/guide/single.html
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/layouts/partials/post-meta--feedback.html
  themes/digital.gov/layouts/partials/set-env.html
  themes/digital.gov/layouts/posts/single.html
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/img/git-branch.png
  themes/digital.gov/static/img/git-branch.svg
  themes/digital.gov/static/js/external.js
Labels: :octocat: GitHub, workflow

#658 Page details overlay
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/docs/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/guide/single.html
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/layouts/partials/page-details.html
  themes/digital.gov/layouts/posts/single.html
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/css/page-details.css
  themes/digital.gov/static/js/external.js
Labels: backend, workflow

#659 Add new post: Water-Scrum-Fall in a Hierarchical and Departmentalized…
  content/posts/2018/06/2018-06-26-how-one-team-making-transition-agile.md
  data/images/agile-flow-600.yml
  data/top6.yml
  static/img/proxy/agile-flow-600.jpg
Labels: ---- HOLD ----, blog, editorial/content

#661 Fixing LastMod in Sitemap
  config.yml
  config_dev.yml
Labels: backend, bug

#663 Add new event: What You Need to Know: Required Prize Reporting to Congress
  content/events/2018/07/2018-07-10-what-you-need-know-required-prize-reporting-congress.md
Labels: ---- HOLD ----, event

#669 Update 2018-07-20-plain-language-summit.md
  content/events/2018/07/2018-07-20-plain-language-summit.md
Labels: editorial/content, event
