Repository GSA/digitalgov.gov, pull requests merged in 2018-11, with the labels that each got.

#825 Light edits to DotGov post
  content/posts/2018/10/2018-10-29-gsa-steps-up-security-for-dotgov.md
Labels: blog, editorial/content

#827 Add new post 11/2: HHS PIF - Health Tech Sprint
  content/posts/2018/11/2018-11-02-health-tech-sprint-aims-at-improving-care-access-experience.md
  data/images/bot.yml
  data/top6.yml
  static/img/proxy/bot.jpg
Labels: blog, editorial/content

#831 Create principles-viewport.md
  content/resources/mobile/principles/principles-viewport.md
Labels: mobile, resources

#850 Add new event: December PLAIN Meeting and Holiday Gathering
  content/events/2018/12/2018-12-12-december-plain-meeting-holiday-gathering.md
Labels: event

#854 Create principles-tap-targets.md
  content/resources/mobile/principles/principles-tap-targets.md
Labels: guide, mobile, resources

#858 Revert "Light edits to DotGov post"
  content/posts/2018/10/2018-10-29-gsa-steps-up-security-for-dotgov.md
Labels: editorial/content
