Repository GSA/digitalgov.gov, pull requests merged in 2018-03, with the labels that each got.

#421 Spanish Lang. Style Guide pg: minor corrections
  content/resources/spanish-language-style-guide-and-glossaries.md
Labels: editorial/content, resources

#479 Fixing email link in Plain event page
  content/events/2018/2018-03-14-infographics-plain-language-considerations.md
Labels: bug

#483 Addition
  content/resources/agency-points-of-contact-for-federal-compatible-terms-of-service-agreements.md
Labels: editorial/content, resources

#488 Add new event: Conversations on Public Impact
  content/events/2018/2018-03-21-conversations-on-public-impact-how-data-trusts-can-preserve-protect-your-digital-initiatives.md
Labels: event

#490 Clean up past events
  themes/digital.gov/layouts/events/past.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/partials/body-featured-events.html
  themes/digital.gov/layouts/partials/event-actions.html
  themes/digital.gov/static/css/custom.css
Labels: event

#486 HOLD New post for 3/7: Redesigning an Intranet Site
  content/posts/2018/03/2018-03-07-redesigning-an-intranet-site-final-stages-launch-lessons-learned.md
  data/images/featured-301-x-212-nih-logo-national-institutes-of-health.yml
  data/images/nih-nccih-intranet-hp-redesign-jan-2018.yml
  data/images/nih-nccih-intranet-hr-redesign-jan-2018.yml
  static/img/proxy/featured-301-x-212-nih-logo-national-institutes-of-health.jpg
  static/img/proxy/nih-nccih-intranet-hp-redesign-jan-2018.jpg
  static/img/proxy/nih-nccih-intranet-hr-redesign-jan-2018.jpg
Labels: blog, editorial/content

#498 Updating YouTube ID for Jerry McGovern Event
  content/events/2018/2018-04-11-a-deep-dive-into-top-tasks-with-gerry-mcgovern.md
Labels: YouTube, bug

#499 "Add to calendar" description fix
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/partials/event-actions.html
  themes/digital.gov/layouts/partials/event-stage.html
Labels: event

#504 3/13 Add new post: Thinking About Going Agile
  content/posts/2018/03/2018-03-13-thinking-about-going-agile-consider-mass-training-facilitate-change.md
  data/images/ux-training-class.yml
  static/img/proxy/ux-training-class.jpg
Labels: blog, editorial/content

#507 Fixed character decoding issue in events listing
  themes/digital.gov/layouts/partials/event--item.html
  themes/digital.gov/layouts/partials/sidebar--recentPosts.html
Labels: bug, event

#510 removed extra ) in last paragraph
  content/posts/2017/09/2017-09-27-data-briefing-how-build-a-chatbot-in-a-weekend.md
Labels: blog, editorial/content

#509 3/14 Add new post: The Data Briefing
  content/posts/2018/03/2018-03-13-data-briefing-value-federal-government-data.md
  data/images/analytics-data-reports.yml
  static/img/proxy/analytics-data-reports.jpg
Labels: blog

#520 Updating new YouTube ID
  content/events/2018/2018-03-13-new-release-fedramp-continuous-monitoring-documents.md
Labels: bug

#518 Fixing chat box embed
  themes/digital.gov/layouts/partials/event-stage.html
  themes/digital.gov/static/js/events.js
Labels: bug

#519 Updating Design System info
  content/about.md
Labels: editorial/content

#532 Improved Feedback email
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/partials/post-meta--feedback.html
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/img/GitHub-Mark-Light-32px.png
  themes/digital.gov/static/img/GitHub-Mark-Light-64px.png
  themes/digital.gov/static/js/external.js
Labels: GitHub, look and feel
