Repository GSA/digitalgov.gov, pull requests merged in 2018-05, with the labels that each got.

#583 Post redirect fixes
  content/services/dap.md
  data/social.yml
  themes/digital.gov/layouts/_default/terms.html
  themes/digital.gov/layouts/partials/all-posts-feed.html
  themes/digital.gov/layouts/partials/event-stage.html
  themes/digital.gov/layouts/partials/footer-end-scripts.html
  themes/digital.gov/layouts/partials/head-comment.html
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/layouts/partials/nav-catnav.html
  themes/digital.gov/layouts/partials/nav-fixed-navbar.html
  themes/digital.gov/layouts/partials/notice-bar.html
  themes/digital.gov/layouts/partials/post-meta--feedback.html
  themes/digital.gov/layouts/partials/post-meta.html
  themes/digital.gov/layouts/sitemap.xml
  themes/digital.gov/static/css/notice-bar.css
  themes/digital.gov/static/js/1962994(1).js
Labels: ---- HOLD ----, redirects

#590 CFTC updates from agency
  content/resources/content-management-systems-used-by-government-agencies.md
Labels: editorial/content

#588 Add new event: Free and Open Source in Govt.
  content/events/2018/06/2018-06-07-free-open-source-software-in-government-with-codemil.md
  data/images/dds-logo.yml
  static/img/proxy/dds-logo.jpg
Labels: ---- HOLD ----, event

#600 Add new event: This is How We Work Together — with Brad Frost
  content/events/2018/05/2018-05-15-this-how-we-work-together-with-brad-frost.md
  content/events/2018/06/2018-06-14-usability-testing-with-steve-krug.md
  data/images/steve-krug.yml
  static/img/proxy/steve-krug.jpg
Labels: ---- HOLD ----

#605 Add new event: An Overview of the Technology Modernization Fund
  content/events/2018/05/2018-05-22-an-overview-technology-modernization-fund-tmf.md
Labels: ---- HOLD ----, event

#615 HOLD —Add new event: Funding the Future
  content/events/2018/06/2018-06-08-funding-future-technology-modernization-fund-proposal-workshop.md
Labels: ---- HOLD ----, event

#618 Added in new TOS from Flickr
  content/resources/negotiated-terms-of-service-agreements.md
Labels: terms of service
