Repository GSA/digitalgov.gov, pull requests merged in 2018-04, with the labels that each got.

#534 Data Cabinet Community Page
  content/communities/data-cabinet.md
  content/communities/index.md
Labels: communities

#538 4/2 cross post: for 4/3 Partnership Toolkit event
  content/posts/2018/04/2018-04-02-marketing-government-through-agency-partnerships.md
  data/images/usagov-marketing.yml
  static/img/proxy/usagov-marketing.jpg
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/layouts/posts/single.html
  themes/digital.gov/static/css/entry.css
Labels: blog

#539 HOLD 4/3 post: 5 Benefits With Agile Methods
  content/posts/2018/04/2018-04-03-thinking-about-going-agile-5-benefits-your-office-will-reap-with-agile-methods.md
  data/images/agile-project-planning.yml
  static/img/proxy/agile-project-planning.jpg
  themes/digital.gov/static/js/all-images.js
Labels: blog

#530 Fixed the URLs in the RSS feed
  themes/digital.gov/layouts/partials/all-posts-feed.html
Labels: bug

#543 Updated featured image
  content/posts/2018/04/2018-04-02-marketing-government-through-agency-partnerships.md
Labels: --- READY ---

#542 Fixed feedback box
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/docs/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/partials/post-meta--feedback.html
  themes/digital.gov/layouts/posts/single.html
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/css/events.css
Labels: --- READY ---, bug

#546 fix to .File.Path for GitHub edit button
  themes/digital.gov/layouts/partials/post-meta--feedback.html
Labels: backend, bug

#545 Event Page: YouTube chat + Video Embed fixes
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/partials/body-featured-events.html
  themes/digital.gov/layouts/partials/event-stage.html
  themes/digital.gov/static/css/events.css
Labels: --- READY ---, event

#548 Update data-cabinet sign up info
  content/communities/data-cabinet.md
Labels: communities, editorial/content

#549 Add new event: U.S. Web Design System Monthly Call
  content/events/2018/04/2018-04-27-us-web-design-system-monthly-call.md
  data/events.yml
Labels: event, uswds

#552 fixing typo in feedback box
  themes/digital.gov/layouts/partials/post-meta--feedback.html
Labels: typo

#553 Add new event: Federal Emerging Technology Public Meeting
  content/events/2018/04/2018-04-11-us-federal-emerging-technology-public-meeting.md
Labels: --- READY ---, event

#559 fixed time
  content/events/2018/04/2018-04-11-us-federal-emerging-technology-public-meeting.md
Labels: editorial/content, event

#562 Added YouTube conditional to DAP script
  themes/digital.gov/layouts/partials/head.html
Labels: analytics/metrics, frontend

#550 added OG:Video tag
  content/events/2018/04/2018-04-11-a-deep-dive-into-top-tasks-with-gerry-mcgovern.md
  data/images/event-top-tasks.yml
  static/img/proxy/event-top-tasks.jpg
  themes/digital.gov/layouts/partials/head.html
Labels: event, frontend, live video, social, video

#564 Added NASA to the list of eCPIC agencies
  content/services/electronic-capital-planning-and-investment-control-ecpic.md
Labels: editorial/content

#566 Fixes to go with redirect
  content/services/dap.md
  themes/digital.gov/layouts/_default/terms.html
  themes/digital.gov/layouts/partials/all-posts-feed.html
  themes/digital.gov/layouts/partials/event-stage.html
  themes/digital.gov/layouts/partials/footer-end-scripts.html
  themes/digital.gov/layouts/partials/head-comment.html
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/layouts/partials/nav-catnav.html
  themes/digital.gov/layouts/partials/nav-fixed-navbar.html
  themes/digital.gov/layouts/partials/notice-bar.html
  themes/digital.gov/layouts/partials/post-meta--feedback.html
  themes/digital.gov/layouts/partials/post-meta.html
  themes/digital.gov/layouts/sitemap.xml
  themes/digital.gov/static/css/notice-bar.css
  themes/digital.gov/static/js/1962994(1).js
Labels: ---- HOLD ----

#568 added digital registry notice
  content/services/u-s-digital-registry.md
Labels: ---- HOLD ----, u.s. digital registry

#569 Add new event: Search Basics
  content/events/2018/05/2018-05-03-an-introduction-searchgov.md
Labels: ---- HOLD ----, search

#577 Update 2018-04-27-us-web-design-system-monthly-call.md
  content/events/2018/04/2018-04-27-us-web-design-system-monthly-call.md
Labels: editorial/content

#580 added missing attribution
  content/posts/2014/06/2014-06-30-social-media-accessibility-issues-and-solutions.md
Labels: editorial/content, images

#582 HR and fixed spacing at end
  content/posts/2015/01/2015-01-28-the-api-briefing-nasa-and-usps-explore-the-holographic-computing-frontier.md
Labels: editorial/content
