Repository GSA/digitalgov.gov, pull requests merged in 2019-07, with the labels that each got.

#1131 Add new event: American Tech Series, Part Two
  content/events/2019/07/2019-07-23-american-tech-series-part-two-advancing-usercentric-design-in-government.md
Labels: event

#1135 adding captioning link
  content/events/2019/07/2019-07-23-american-tech-series-part-two-advancing-usercentric-design-in-government.md
Labels: event

#1136 Upload 6/12 PLAIN Transcript
  static/pdf/PLAIN-06122019-Transcript.pdf
Labels: event

#1137 change in PIF participant
  content/events/2019/07/2019-07-23-american-tech-series-part-two-advancing-usercentric-design-in-government.md
Labels: event

#1138 Add transcript to 6/12 event page
  content/events/2019/06/2019-06-12-how-develop-an-agency-brand-voice-that-connects-with-customers-online.md
Labels: editorial / content, event

#1139 Add new event: Machine Learning
  content/events/2019/07/2019-07-25-machine-learning-how-bureau-labor-statistics-did-it.md
Labels: event

#1140 Upload UX Summit transcripts
  static/pdf/Design1-Bauer-NYC-Government.pdf
  static/pdf/Design2-Lenger-Color-UX.pdf
  static/pdf/Design3-Oskow-Design-Systems.pdf
  static/pdf/Management1-Panel-Remote-Teams.pdf
  static/pdf/Management2-Faied-McHarg-Digital-Skills.pdf
  static/pdf/Management3-Richman-CDC-Digital-First.pdf
  static/pdf/Methods2-Adams-Accessible-Experience-First.pdf
  static/pdf/Methods3-Faiferlick-User-Documentation.pdf
Labels: editorial / content, event

#1142 Add links to UX Summit videos and transcripts
  content/events/2019/05/2019-05-15-2019-government-ux-summit.md
Labels: editorial / content, event

#1141 copy update
  content/events/2019/07/2019-07-09-data-storytelling-with-presidential-innovation-fellows.md
Labels: event

#1143 Add new event: DevOps COP Monthly Meeting
  content/events/2019/07/2019-07-23-devops-cop-monthly-meeting.md
Labels: event

#1144 added cop meeting registration
  content/communities/devops.md
Labels: event

#1147 adding public listserv join option
  content/communities/devops.md
Labels: communities

#1149 Add new event: An Introduction to 10x and How to Get Your Idea Funded
  content/events/2019/07/2019-07-17-an-introduction-10x-how-get-your-idea-funded.md
Labels: event

#1152 Update 2019-07-18-us-web-design-system-july-monthly-call.md
  content/events/2019/07/2019-07-18-us-web-design-system-july-monthly-call.md
Labels: editorial / content, event

#1153 Upload link to YouTube video
  content/events/2019/07/2019-07-09-federal-crowdsourcing-webinar-series-episode-4-open-opportunities.md
Labels: editorial / content, event

#1154 Add new event: Plain Language August Training Class
  content/events/2019/08/2019-08-14-plain-language-august-training-class.md
Labels: event

#1157 Event: Challengegov Episode 5: by the people
  content/events/2019/08/2019-08-13-federal-crowdsourcing-webinar-series-episode-5-by-the-people.md
  content/events/2019/08/2019-08-14-plain-language-august-training-class.md
  data/images/challengegov-card-episode-5.yml
  static/img/proxy/challengegov-card-episode-5.jpeg
Labels: event

#1158 Update 2019-08-13-federal-crowdsourcing-webinar-series-episode-5-by-t…
  content/events/2019/08/2019-08-13-federal-crowdsourcing-webinar-series-episode-5-by-the-people.md
Labels: event

#1163 Add links to UX Summit slides
  content/events/2019/05/2019-05-15-2019-government-ux-summit.md
Labels: editorial / content, event

#1161 update on copy
  content/events/2019/07/2019-07-23-american-tech-series-part-two-advancing-usercentric-design-in-government.md
Labels: editorial / content, event

#1164 added youtube id
  content/events/2019/07/2019-07-24-dap-learning-series-misunderstood-metrics.md
Labels: event, video

#1150 New Subscribe and Contribute pages
  config.yml
  config_dev.yml
  content/about/about.md
  content/about/contribute.md
  content/about/join.md
  content/about/subscribe.md
  content/posts/2013/05/2013-05-23-make-mobile-gov-with-the-mobile-application-development-program.md
  content/posts/2014/02/2014-02-26-open-for-innovation-in-digitalgov.md
  content/posts/2014/09/2014-09-12-digitalgov-gov-six-months-later.md
  content/posts/2015/02/2015-02-03-let-us-share-your-events.md
  content/posts/2015/07/2015-07-15-whats-in-a-name-communities-in-the-public-and-private-sectors.md
  content/posts/2015/10/2015-10-21-the-white-house-back-to-the-future-day-and-the-road-to-innovation.md
  content/posts/2016/01/2016-01-13-the-data-briefing-2016-trends-that-could-affect-federal-government-data.md
  content/posts/2016/09/2016-09-30-creating-wall-sized-interaction-at-the-smithsonians-national-air-and-space-museum.md
  content/posts/2016/12/2016-12-01-lessons-learned-evaluating-video-content.md
  content/posts/2017/11/2017-11-14-a-better-digitalgov.md
  readme.md
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/partials/footer--info.html
  themes/digital.gov/layouts/shortcodes/hs-form-contribute.html
  themes/digital.gov/layouts/shortcodes/hs-form-subscribe.html
  themes/digital.gov/static/css/custom.css
  themes/digital.gov/static/css/enlightened-styles.css
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/css/events.css
  themes/digital.gov/static/css/override.css
Labels: documentation, editorial / content

#1167 Updated with correct registration link
  content/events/2019/07/2019-07-23-american-tech-series-part-two-advancing-usercentric-design-in-government.md
Labels: editorial / content, event

#1166 Add new event: A Deep Dive Into the Innovative Methods Behind “The Gu…
  content/events/2019/08/2019-08-28-a-deep-dive-into-guide-paperwork-reduction-act.md
  data/images/pra-event-card.yml
  static/img/proxy/pra-event-card.jpeg
Labels: event

#1170 Add link to Aviva Oskow slides
  content/events/2019/05/2019-05-15-2019-government-ux-summit.md
Labels: editorial / content, event

#1171 video upload
  content/events/2019/07/2019-07-10-federal-plain-language-report-card-planning.md
Labels: event

#1173 removal of youtube
  content/events/2019/08/2019-08-21-dap-learning-series-a-deep-dive-into-audience-reports.md
Labels: event

#1176 removal of youtube
  content/events/2019/11/2019-11-20-dap-learning-series-site-analysis-live.md
Labels: editorial / content, event

#1175 removal of youtube
  content/events/2019/10/2019-10-23-dap-learning-series-a-deep-dive-into-behavior-reports.md
Labels: editorial / content, event

#1174 removal of youtube
  content/events/2019/09/2019-09-25-dap-learning-series-a-deep-dive-into-acquisition-reports.md
Labels: editorial / content, event

#1178 update youtube id
  content/events/2019/07/2019-07-10-federal-plain-language-report-card-planning.md
Labels: editorial / content, event

#1180 Add new event: SocialGov Talks
  content/events/2019/08/2019-08-29-socialgov-talks-leveraging-pop-culture-with-paul-lester-doe.md
Labels: event

#1183 Add new event: SocialGov Talks
  content/events/2019/08/2019-08-21-socialgov-talks-tips-for-linkedin-content-strategy-with-matt-ross.md
Labels: event

#1184 Update 2019-08-29-socialgov-talks-leveraging-pop-culture-with-paul-le…
  content/events/2019/08/2019-08-29-socialgov-talks-leveraging-pop-culture-with-paul-lester-doe.md
Labels: editorial / content, event

#1185 Change "online" to "zoom"
  content/events/2019/08/2019-08-13-federal-crowdsourcing-webinar-series-episode-5-by-the-people.md
Labels: editorial / content, event

#1186 Change "online" to "zoom"
  content/events/2019/08/2019-08-21-socialgov-talks-tips-for-linkedin-content-strategy-with-matt-ross.md
Labels: editorial / content, event

#1187 Change "online" to "zoom"
  content/events/2019/08/2019-08-28-a-deep-dive-into-guide-paperwork-reduction-act.md
Labels: editorial / content, event

#1188 Change "online" to "zoom"
  content/events/2019/08/2019-08-29-socialgov-talks-leveraging-pop-culture-with-paul-lester-doe.md
Labels: editorial / content, event

#1189 Post YouTube video
  content/events/2019/07/2019-07-25-machine-learning-how-bureau-labor-statistics-did-it.md
Labels: event

#1191 Adding video
  content/events/2019/07/2019-07-23-devops-cop-monthly-meeting.md
Labels: editorial / content, event

#1192 Add Arva Adams slides to UX Summit Page
  content/events/2019/05/2019-05-15-2019-government-ux-summit.md
Labels: editorial / content, event

#1179 Adding Video of the event
  content/events/2019/07/2019-07-18-us-web-design-system-july-monthly-call.md
Labels: editorial / content, event

#1198 Post Kristal Byrd slides to UX Summit event page
  content/events/2019/05/2019-05-15-2019-government-ux-summit.md
Labels: event

#1145 minor update: multilingual cop page
  content/communities/multilingual.md
Labels: ---- HOLD ----, communities, editorial / content, multilingual

#1201 Adds the summary to past events
  themes/digital.gov/layouts/events/past.html
Labels: design, event
