Repository GSA/digitalgov.gov, pull requests merged in 2019-06, with the labels that each got.

#1082 Adding images for events
  content/events/2019/06/2019-06-14-us-government-open-innovation-summit-transformation-through-citizen-science-prize-competitions.md
  content/events/2019/06/2019-06-25-american-tech-series-part-one-why-leave-private-sector.md
  data/images/americantech.yml
  data/images/open-innovation-summit-lockup.yml
  static/img/proxy/americantech.jpeg
  static/img/proxy/open-innovation-summit-lockup.jpeg
Labels: event, images

#1083 Updating managers list
  content/communities/challenges-prizes.md
Labels: communities

#1084 Updating the copy on the Open Innovation Summit
  content/events/2019/06/2019-06-14-us-government-open-innovation-summit-transformation-through-citizen-science-prize-competitions.md
Labels: event

#1091 Hackathon updates
  content/events/2019/06/2019-06-19-gsa-customer-experience-cx-hackathon.md
  data/images/esri-screenshot-1.yml
  data/images/esri-screenshot-2.yml
  data/images/esri-screenshot-3.yml
  static/img/proxy/esri-screenshot-1.jpeg
  static/img/proxy/esri-screenshot-2.jpeg
  static/img/proxy/esri-screenshot-3.jpeg
Labels: event

#1092 Community list
  content/communities/accessibility.md
  content/communities/agile-lean.md
  content/communities/apis.md
  content/communities/challenges-prizes.md
  content/communities/crowdsourcing-and-citizen-science.md
  content/communities/customer-experience-community.md
  content/communities/government-contact-center-council.md
  content/communities/mobilegov.md
  content/communities/multilingual.md
  content/communities/open-data.md
  content/communities/open-gov.md
  content/communities/plain-language-community-of-practice.md
  content/communities/results-oriented-accountability-for-grants.md
  content/communities/rpa-community.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/video.md
  content/communities/web-managers-forum.md
  themes/digital.gov/layouts/communities/list.json.json
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/communities/single.json.json
  themes/digital.gov/layouts/partials/core/usa-banner.html
Labels: api, communities

#1093 Weights and Aliases to APIs
  themes/digital.gov/layouts/_default/list.json.json
  themes/digital.gov/layouts/_default/single.json.json
  themes/digital.gov/layouts/communities/list.json.json
  themes/digital.gov/layouts/communities/single.json.json
  themes/digital.gov/layouts/events/list.json.json
  themes/digital.gov/layouts/events/single.json.json
  themes/digital.gov/layouts/shortcodes/api-authors.html
  themes/digital.gov/layouts/shortcodes/api-topics.html
Labels: api, workflow

#1075 aligning legacy-img-right images
  content/posts/2016/07/2016-07-28-widgets-mobile-apps-and-sms-essential-agency-tools-for-summer-heat-safety-and-hurricane-season.md
  themes/digital.gov/layouts/shortcodes/legacy-img-right.html
  themes/digital.gov/src/uswds/scss/_content.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: DEMO, frontend, images

#1095 Creating July Monthly USWDS Event
  content/events/2019/07/2019-07-18-us-web-design-system-july-monthly-call.md
Labels: event

#1094 Creating June USWDS Event
  content/events/2019/06/2019-06-20-us-web-design-system-june-monthly-call.md
Labels: event

#1096 6/13 Add new post: Building Trust with Users Through Open Communicati…
  content/posts/2019/06/2019-06-13-building-trust-with-users-through-open-communication-feedback.md
  data/images/fema-mobile-app-home.yml
  data/images/fema-mobile-app.yml
  data/top6.yml
  static/img/proxy/fema-mobile-app-home.jpeg
  static/img/proxy/fema-mobile-app.jpeg
Labels: editorial / content, mobile

#1098 Update 2019-06-20-us-web-design-system-june-monthly-call.md
  content/events/2019/06/2019-06-20-us-web-design-system-june-monthly-call.md
Labels: event

#1104 Update 2019-07-18-us-web-design-system-july-monthly-call.md
  content/events/2019/07/2019-07-18-us-web-design-system-july-monthly-call.md
Labels: event

#1099 Add new post: Introducing a Guide to the Paperwork Reduction Act
  content/posts/2019/06/2019-06-18-introducing-a-guide-paperwork-reduction-act.md
  data/images/pra-guide-launch.yml
  data/people/authors/amanda-costello.yml
  data/people/authors/elizabeth-ayer.yml
  data/people/authors/sharon-mar.yml
  data/top6.yml
  static/img/proxy/pra-guide-launch.jpeg
Labels: editorial / content, guide

#1105 update on language
  content/events/2019/06/2019-06-25-american-tech-series-part-one-why-leave-private-sector.md
Labels: event

#1107 update to open innovation summit page
  content/events/2019/06/2019-06-14-us-government-open-innovation-summit-transformation-through-citizen-science-prize-competitions.md
Labels: ---- HOLD ----, event

#1108 Add new event: A SocialGov Community of Practice Meeting
  content/events/2019/07/2019-07-11-sharpen-your-social-skills-for-summer.md
  data/images/socialgov-summer-skills.yml
  static/img/proxy/socialgov-summer-skills.jpeg
Labels: event

#1114 removal of youtube
  content/events/2019/06/2019-06-20-us-web-design-system-june-monthly-call.md
Labels: event

#1113 Update 2019-07-11-sharpen-your-social-skills-for-summer.md
  content/events/2019/07/2019-07-11-sharpen-your-social-skills-for-summer.md
Labels: event

#1112 Update 2019-07-11-sharpen-your-social-skills-for-summer.md
  content/events/2019/07/2019-07-11-sharpen-your-social-skills-for-summer.md
Labels: event

#1120 Updating Event Page to Add Video
  content/events/2019/06/2019-06-20-us-web-design-system-june-monthly-call.md
Labels: event

#1115 Update 2019-07-18-us-web-design-system-july-monthly-call.md
  content/events/2019/07/2019-07-18-us-web-design-system-july-monthly-call.md
Labels: event

#1121 Add new event: Federal Crowdsourcing Webinar Series, Episode 4
  content/events/2019/07/2019-07-09-federal-crowdsourcing-webinar-series-episode-4-open-opportunities.md
Labels: event

#1122 Update 2019-07-11-sharpen-your-social-skills-for-summer.md
  content/events/2019/07/2019-07-11-sharpen-your-social-skills-for-summer.md
Labels: event

#1124 Meeting cadence language change
  content/communities/devops.md
Labels: event

#1129 adding youtube video
  content/events/2019/06/2019-06-26-dap-learning-series-agency-analytics-governance.md
Labels: event

#1130 removal of captioning link
  content/events/2019/06/2019-06-26-dap-learning-series-agency-analytics-governance.md
Labels: event

#1097 Add new event: Data Storytelling with the Presidential Innovation Fel…
  content/events/2019/07/2019-07-09-data-storytelling-with-presidential-innovation-fellows.md
Labels: event
