Repository GSA/digitalgov.gov, pull requests merged in 2019-04, with the labels that each got.

#975 Add new event: Crowdsourcing for Access
  content/events/2019/04/2019-04-23-crowdsourcing-for-access-engagement-at-library-congress.md
Labels: event

#976 Add new post: Web Analytics
  content/posts/2019/04/2019-04-04-web-analytics-why-users-metric-just-got-more-complicated.md
  data/images/dap-new-returning.yml
  data/images/dap-new-visitor-returning-visitor.yml
  data/images/dap-users-new-users.yml
  data/top6.yml
  static/img/proxy/dap-new-returning.jpeg
  static/img/proxy/dap-new-visitor-returning-visitor.jpeg
  static/img/proxy/dap-users-new-users.jpeg
Labels: blog, editorial/content

#978 Add Aditi Rao as guild co-lead
  content/events/2019/04/2019-04-09-caroline-jarrett-on-how-design-a-better-form.md
Labels: event

#977 4/8, noon - Add new post: Introducing USWDS 2
  content/posts/2019/04/2019-04-08-introducing-uswds-2.md
  data/images/uswds-2-illio-accessible-color-system-alt.yml
  data/images/uswds-2-illio-built-to-grow-alt.yml
  data/images/uswds-2-illio-easier-incremental-adoption-alt.yml
  data/images/uswds-2-illio-expressive-theming-alt.yml
  data/images/uswds-2-illio-feature-image-black.yml
  data/images/uswds-2-illio-feature-image.yml
  data/images/uswds-2-illio-powerful-utility-classes-alt.yml
  data/images/uswds-2-illio-practical-design-tokens-alt.yml
  data/images/uswds-2-illio-public-sans-hello-alt.yml
  data/images/uswds-2-illio-simplified-12-column-layout-grid-alt.yml
  data/people/authors/dan-williams.yml
  data/top6.yml
  static/img/proxy/uswds-2-illio-accessible-color-system-alt.jpeg
  static/img/proxy/uswds-2-illio-built-to-grow-alt.jpeg
  static/img/proxy/uswds-2-illio-easier-incremental-adoption-alt.jpeg
  static/img/proxy/uswds-2-illio-expressive-theming-alt.jpeg
  static/img/proxy/uswds-2-illio-feature-image-black.jpeg
  static/img/proxy/uswds-2-illio-feature-image.jpeg
  static/img/proxy/uswds-2-illio-powerful-utility-classes-alt.jpeg
  static/img/proxy/uswds-2-illio-practical-design-tokens-alt.jpeg
  static/img/proxy/uswds-2-illio-public-sans-hello-alt.jpeg
  static/img/proxy/uswds-2-illio-simplified-12-column-layout-grid-alt.jpeg
  static/img/proxy/uswds-2-illio1.jpeg
  static/img/proxy/uswds-2-illio10.jpeg
  static/img/proxy/uswds-2-illio2.jpeg
  static/img/proxy/uswds-2-illio3.jpeg
  static/img/proxy/uswds-2-illio4.jpeg
  static/img/proxy/uswds-2-illio5.jpeg
  static/img/proxy/uswds-2-illio6.jpeg
  static/img/proxy/uswds-2-illio7.jpeg
  static/img/proxy/uswds-2-illio8.jpeg
  static/img/proxy/uswds-2-illio9.jpeg
  themes/digital.gov/layouts/partials/sidebar--events.html
  themes/digital.gov/layouts/partials/sidebar--recentPosts.html
  themes/digital.gov/layouts/partials/sidebar--relatedCommunities.html
  themes/digital.gov/static/css/enlightened-styles.css
  themes/digital.gov/static/css/entry.css
  themes/digital.gov/static/css/federalist-additions.css
  themes/digital.gov/static/css/override.css
  themes/digital.gov/static/css/style-font.css
Labels: blog

#983 Add new post: Presidential Innovation Fellows Join FDA to Advance Dig…
  content/posts/2019/04/2019-04-09-presidential-innovation-fellows-join-fda-advance-digital-health.md
  data/images/pif-raab-goldel.yml
  data/people/authors/rana-saad.yml
  data/people/authors/robert-goldel.yml
  data/top6.yml
  static/img/proxy/pif-raab-goldel.jpeg
Labels: blog

#990 Add new event: Indexing with Search
  content/events/2019/04/2019-04-25-indexing-with-searchgov.md
  data/images/searchdotgovlogo.yml
  static/img/proxy/searchdotgovlogo.jpeg
Labels: event

#992 Update 2019-04-25-indexing-with-searchgov.md
  content/events/2019/04/2019-04-25-indexing-with-searchgov.md
Labels: event

#993 Add link to presentation slides
  content/events/2019/04/2019-04-17-an-introduction-us-data-federation.md
Labels: event

#994 Update agenda
  content/events/2019/05/2019-05-15-2019-government-ux-summit.md
Labels: event

#998 Add new event: Federal Crowdsourcing Webinar Series, Episode 2
  content/events/2019/05/2019-05-14-federal-crowdsourcing-webinar-series-episode-2-challengegov.md
Labels: event
