Repository GSA/digitalgov.gov, pull requests merged in 2019-05, with the labels that each got.

#751 update README
  readme.md
Labels: :octocat: GitHub

#1002 Update provided for Jessie Buerlein's title
  content/events/2019/05/2019-05-14-federal-crowdsourcing-webinar-series-episode-2-challengegov.md
Labels: editorial / content, event

#1005 Add new event: How to Develop an Agency Brand Voice That Connects Wit…
  content/events/2019/06/2019-06-12-how-develop-an-agency-brand-voice-that-connects-with-customers-online.md
Labels: event

#1006 added image
  content/events/2019/06/2019-06-12-how-develop-an-agency-brand-voice-that-connects-with-customers-online.md
Labels: event, images

#1009 Add language noting that sessions will be recorded
  content/events/2019/05/2019-05-15-2019-government-ux-summit.md
Labels: event

#997 Draft of RPA Community
  content/communities/_index.md
  content/communities/rpa-community.md
Labels: ---- HOLD ----

#1011 5/7 Add new post: Two Complementary Teams With the Same Goal
  content/posts/2019/05/2019-05-07-two-complementary-teams-with-same-goal.md
  data/images/pif-18f-graphic.yml
  data/images/pif-lightning-talks.yml
  data/top6.yml
  static/img/proxy/pif-18f-graphic.jpeg
  static/img/proxy/pif-lightning-talks.jpeg
Labels: editorial / content

#1013 Update top6.yml
  data/top6.yml
Labels: editorial / content

#1021 Clean up page content
  content/resources/guidelines-for-improving-digital-services.md
Labels: content cleanup

#1017 Reduce events items count on homepage
  config.yml
  config_dev.yml
  themes/digital.gov/layouts/partials/core/home/events_featured.html
Labels: frontend

#1015 Reduce news count on homepage
  config.yml
  config_dev.yml
  themes/digital.gov/layouts/partials/core/home/news_featured.html
Labels: :heavy_check_mark: ready, frontend

#1024 Add new post: Introducing the New RPA Community of Practice
  content/communities/rpa-community.md
  content/posts/2019/05/2019-05-08-introducing-new-rpa-community-practice.md
  data/images/rpa-bots.yml
  data/images/rpa-stock-photo-2.yml
  data/images/rpa-stock-photo.yml
  data/people/authors/ed-burrows.yml
  data/top6.yml
  static/img/proxy/ai-rpa-ipopba-gettyimages-1022887882.jpeg
  static/img/proxy/rpa-bots.jpeg
  static/img/proxy/rpa-stock-photo-2.jpeg
  static/img/proxy/rpa-stock-photo.jpeg
Labels: editorial / content

#1014 Add external link indicator to external links
  themes/digital.gov/src/uswds/scss/_content.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: :heavy_check_mark: ready, frontend

#1016 Remove Video Player button from cards
  publishing.md
  themes/digital.gov/layouts/events/card-event-past.html
Labels: frontend, ux, video

#1025 PIF headline edit
  content/posts/2019/05/2019-05-07-two-complementary-teams-with-same-goal.md
Labels: editorial / content

#1026 Add new event: Introduction to Search
  content/events/2019/06/2019-06-12-introduction-searchgov.md
Labels: event

#1027 Add new event: Federal Crowdsourcing Webinar Series, Episode 3
  content/events/2019/06/2019-06-11-federal-crowdsourcing-webinar-series-episode-3-opportunity-project.md
Labels: event

#1028 Update 2019-06-12-introduction-searchgov.md
  content/events/2019/06/2019-06-12-introduction-searchgov.md
Labels: event

#1031 Adding opportunity project logo to event
  content/events/2019/06/2019-06-11-federal-crowdsourcing-webinar-series-episode-3-opportunity-project.md
  data/images/opportunity-project.yml
  static/img/proxy/opportunity-project.jpeg
Labels: event

#1032 New top and homepage
  config.yml
  config_dev.yml
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/events/card-event-past.html
  themes/digital.gov/layouts/home/list.html
  themes/digital.gov/layouts/partials/core/header.html
  themes/digital.gov/layouts/partials/core/home/news_featured.html
  themes/digital.gov/layouts/partials/core/home/resources_featured.html
  themes/digital.gov/layouts/partials/core/search-bar.html
  themes/digital.gov/layouts/partials/core/tag-line.html
  themes/digital.gov/layouts/posts/card-article.html
  themes/digital.gov/layouts/posts/card-elsewhere.html
  themes/digital.gov/src/js/tag-line.js
  themes/digital.gov/src/uswds/_uswds-theme-typography.scss
  themes/digital.gov/src/uswds/scss/_article.scss
  themes/digital.gov/src/uswds/scss/_authors-list-short.scss
  themes/digital.gov/src/uswds/scss/_card-elsewhere.scss
  themes/digital.gov/src/uswds/scss/_card-event.scss
  themes/digital.gov/src/uswds/scss/_card.scss
  themes/digital.gov/src/uswds/scss/_header.scss
  themes/digital.gov/src/uswds/scss/_news.scss
  themes/digital.gov/src/uswds/scss/_search-bar.scss
  themes/digital.gov/src/uswds/scss/_tag-line.scss
  themes/digital.gov/src/uswds/scss/_video.scss
  themes/digital.gov/src/uswds/scss/base.scss
  themes/digital.gov/src/uswds/scss/home/_news.scss
  themes/digital.gov/static/dist/base.js
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
  themes/digital.gov/static/img/digitalgov-guide.svg
  themes/digital.gov/static/img/digitalgov-logo-black.svg
  themes/digital.gov/static/img/play-btn-round-hover.png
  themes/digital.gov/static/img/play-btn-round.png
Labels: design, frontend

#1035 New news / posts listing page
  content/posts/_index.md
  themes/digital.gov/layouts/partials/core/home/news_featured.html
  themes/digital.gov/layouts/posts/list.html
  themes/digital.gov/src/uswds/scss/_article.scss
  themes/digital.gov/src/uswds/scss/_news.scss
  themes/digital.gov/src/uswds/scss/_posts.scss
  themes/digital.gov/src/uswds/scss/base.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: design, frontend

#1041 Add new event: USWDS May Office Hours
  content/events/2019/05/2019-05-23-us-web-design-system-may-monthly-call.md
Labels: event

#1038 Add new event: Mobile Community of Practice Spring Meeting
  content/events/2019/05/2019-05-28-mobile-community-practice-spring-meeting.md
Labels: event

#1042 Update 2019-05-21-2019-virtual-student-federal-service-vsfs-info-sess…
  content/events/2019/05/2019-05-21-2019-virtual-student-federal-service-vsfs-info-session.md
Labels: event

#1043 GSA Hackathon Event Page
  content/events/2019/06/2019-06-19-gsa-customer-experience-cx-hackathon.md
  data/images/gsa-hackathon-2019.yml
  static/img/proxy/gsa-hackathon-2019.jpeg
  static/pdf/round-1-GSA-Judging-Form.pdf
  static/pdf/round-2-GSA-Judging-Form.pdf
  themes/digital.gov/layouts/shortcodes/box.html
  themes/digital.gov/layouts/shortcodes/note.html
  themes/digital.gov/static/css/events.css
Labels: ---- HOLD ----, event

#1045 Hosted by text on event cards
  config.yml
  config_dev.yml
  themes/digital.gov/layouts/events/card-event-past.html
  themes/digital.gov/layouts/events/card-event.html
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/home/list.html
  themes/digital.gov/layouts/partials/core/get_clicks.html
  themes/digital.gov/layouts/partials/core/home/events_featured.html
  themes/digital.gov/layouts/partials/core/home/news_featured.html
  themes/digital.gov/layouts/posts/card-article.html
  themes/digital.gov/layouts/posts/card-blurb.html
  themes/digital.gov/layouts/posts/card-elsewhere.html
  themes/digital.gov/src/js/mobile-nav.js
  themes/digital.gov/src/uswds/scss/_article.scss
  themes/digital.gov/src/uswds/scss/_authors-list-short.scss
  themes/digital.gov/src/uswds/scss/_card-article.scss
  themes/digital.gov/src/uswds/scss/_card-elsewhere.scss
  themes/digital.gov/src/uswds/scss/_card-event.scss
  themes/digital.gov/src/uswds/scss/_card.scss
  themes/digital.gov/src/uswds/scss/_paper.scss
  themes/digital.gov/src/uswds/scss/_posts.scss
  themes/digital.gov/src/uswds/scss/_stream.scss
  themes/digital.gov/src/uswds/scss/_topic-buttons.scss
  themes/digital.gov/src/uswds/scss/base.scss
  themes/digital.gov/src/uswds/scss/home/_events.scss
  themes/digital.gov/static/dist/base.js
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: design, event

#1046 Archiving the data cabinet community
  content/_archived/data-cabinet.md
  content/communities/_index.md
Labels: communities

#1049 changing event from YouTube LIVE to Zoom
  content/events/2019/05/2019-05-23-us-web-design-system-may-monthly-call.md
Labels: event

#1047 Update 2019-05-28-mobile-community-practice-spring-meeting.md
  content/events/2019/05/2019-05-28-mobile-community-practice-spring-meeting.md
Labels: event

#1051 update HUGO version
  .hugo-version
Labels: backend

#1058 Add new event: USG Open Innovation Summit
  content/events/2019/06/2019-06-14-us-government-open-innovation-summit-transformation-through-citizen-science-prize-competitions.md
Labels: event

#1061 Update 2019-06-14-us-government-open-innovation-summit-transformation…
  content/events/2019/06/2019-06-14-us-government-open-innovation-summit-transformation-through-citizen-science-prize-competitions.md
Labels: event

#1067 Add new event: Executive Core Qualifications
  content/events/2019/06/2019-06-10-executive-core-qualifications-ecqs-how-assess-achieve-demonstrate-ecqs.md
Labels: event
