Repository GSA/digitalgov.gov, pull requests merged in 2019-02, with the labels that each got.

#898 Add new post: Introducing the 2019 Presidential Innovation Fellows
  content/posts/2019/02/2019-02-14-introducing-2019-presidential-innovation-fellows.md
  data/images/pif-2019-card.yml
  data/images/pif-2019.yml
  data/images/pif-team-2019.yml
  data/top6.yml
  static/img/proxy/pif-2019-card.jpeg
  static/img/proxy/pif-2019.jpeg
  static/img/proxy/pif-team-2019.jpeg
Labels: blog, editorial/content

#865 Removing widgets from Footer
  themes/digital.gov/layouts/partials/footer-widgets.html
Labels: bug

#901 Add new event: Dalia El-Shimy on Mixed Methods Design Research
  content/events/2019/02/2019-02-27-dalia-elshimy-on-mixed-methods-design-research.md
  data/images/dalia-el-shimy.yml
  static/img/proxy/dalia-el-shimy.jpeg
Labels: event

#896 Create principles-configuration.md
  content/resources/mobile/principles/principles-configuration.md
Labels: guide, mobile, resources

#907 Add new post: How a Health Tech Sprint Inspired An AI Ecosystem
  content/posts/2019/02/2019-02-27-how-a-health-tech-sprint-inspired-an-ai-ecosystem.md
  data/images/pif-ai-open-data.yml
  data/top6.yml
  gulpfile.js
  static/img/proxy/pif-ai-open-data.jpeg
Labels: editorial/content
