Repository GSA/digitalgov.gov, pull requests merged in 2019-08, with the labels that each got.

#1196 Adding subscribe card image to featured img
  content/about/subscribe.md
  data/images/subscribe-card-1.yml
  static/img/proxy/subscribe-card-1.jpeg
Labels: images

#1204 Add new event:
  content/events/2019/08/2019-08-15-us-web-design-system-aug-monthly-call.md
Labels: event, uswds

#1193 8/5 new post: Bianchi - A Successful, Vibrant, and Productive Career …
  content/posts/2019/08/2019-08-05-a-successful-vibrant-productive-career-for-federal-employees.md
  data/images/nina-bianchi-img1.yml
  data/images/nina-bianchi-img2.yml
  data/images/nina-bianchi-img3.yml
  data/top6.yml
  static/img/proxy/nina-bianchi-1.jpeg
  static/img/proxy/nina-bianchi-2.jpeg
  static/img/proxy/nina-bianchi-3.jpeg
  static/img/proxy/nina-bianchi-img1.jpeg
  static/img/proxy/nina-bianchi-img2.jpeg
  static/img/proxy/nina-bianchi-img3.jpeg
Labels: ---- HOLD ----, editorial / content

#1162 Update Challenge COP Title
  content/communities/_index.md
Labels: editorial / content

#1210 Add new event: 9/3 RPA Industry Day
  content/events/2019/09/2019-09-03-federal-robotic-process-automation-industry-day.md
Labels: event

#1212 Add new event: 9/3 Quantifying the Value of Innovation
  content/events/2019/09/2019-09-03-quantifying-value-innovation.md
Labels: event

#1215 Event: Plain Summit 2019
  content/events/2019/09/2019-09-05-plain-language-summit.md
  data/images/card-plain-language-summit-2019.yml
  static/img/proxy/card-plain-language-summit-2019.jpeg
Labels: event

#1214 adding RPA Image to event
  content/events/2019/09/2019-09-03-federal-robotic-process-automation-industry-day.md
  data/images/rpa-industry-day-card-2.yml
  data/images/rpa-industry-day-card.yml
  static/img/proxy/rpa-industry-day-card-2.jpeg
  static/img/proxy/rpa-industry-day-card.jpeg
Labels: event, images

#1194 added image card to SocialGov event
  content/events/2019/08/2019-08-21-socialgov-talks-tips-for-linkedin-content-strategy-with-matt-ross.md
  data/images/socialgov-linkedin-2.yml
  data/images/socialgov-linkedin-content-strategy.yml
  static/img/proxy/socialgov-linkedin-2.jpeg
  static/img/proxy/socialgov-linkedin-content-strategy.jpeg
Labels: event

#1165 images for PIF homecoming post
  data/images/pif-homecoming-1.yml
  data/images/pif-homecoming-2.yml
  data/images/pif-homecoming-3.yml
  data/images/pif-homecoming-4.yml
  data/images/pif-homecoming-5.yml
  data/images/pif-homecoming-6.yml
  data/images/pif-homecoming-7.yml
  data/images/pif-homecoming-8.yml
  static/img/proxy/pif-homecoming-1.jpeg
  static/img/proxy/pif-homecoming-2.jpeg
  static/img/proxy/pif-homecoming-3.jpeg
  static/img/proxy/pif-homecoming-4.jpeg
  static/img/proxy/pif-homecoming-5.jpeg
  static/img/proxy/pif-homecoming-6.jpeg
  static/img/proxy/pif-homecoming-7.jpeg
  static/img/proxy/pif-homecoming-8.jpeg
Labels: editorial / content

#1217 Update room number
  content/events/2019/08/2019-08-14-plain-language-august-training-class.md
Labels: event

#1219 8/8 new post: What the PIFs Have Been Up to in 2019
  content/posts/2019/08/2019-08-09-what-pifs-have-been-up-in-2019.md
Labels: editorial / content

#1222 Cleaning up Required Web Content and Links page
  content/resources/_index.md
  content/resources/required-web-content-and-links.md
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/src/scss/old_css/_entry.scss
  themes/digital.gov/src/scss/old_css/_events.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: content cleanup, editorial / content

#1221 Fixing bug with menu in header on mobile
  themes/digital.gov/src/scss/old_css/_header.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: bug

#1216 Fixing author pages
  themes/digital.gov/src/scss/old_css/_custom.scss
  themes/digital.gov/src/scss/old_css/_footer.scss
  themes/digital.gov/src/scss/old_css/_toc.scss
  themes/digital.gov/src/scss/old_css/_video.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: bug

#1224 addition of youtube, deletion of captioning, zoom
  content/events/2019/08/2019-08-13-federal-crowdsourcing-webinar-series-episode-5-by-the-people.md
Labels: editorial / content, event

#1225 Fixing the GSA tag line
  themes/digital.gov/src/scss/old_css/_header.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: bug

#1227 Add new event: DevOps Community of Practice Monthly Meeting: The New Recreation.gov
  content/events/2019/08/2019-08-27-devops-community-practice-monthly-meeting.md
Labels: event

#1228 added zoom boilerplate language
  content/events/2019/08/2019-08-27-devops-community-practice-monthly-meeting.md
Labels: editorial / content, event

#1244 Re-organize USWDS folders
  config/gulp/uswds.js
  themes/digital.gov/layouts/partials/head.html
  themes/digital.gov/src/scss/old_css/old.scss
  themes/digital.gov/src/scss/old_css/styles-legacy.scss
  themes/digital.gov/src/scss/styles.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-color.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-components.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-custom-styles.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-general.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-spacing.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-typography.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-utilities.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: frontend

#1248 Post youtube video
  content/events/2019/08/2019-08-21-socialgov-talks-tips-for-linkedin-content-strategy-with-matt-ross.md
Labels: event

#1256 adding on_hold to pull event from feed
  content/events/2019/08/2019-08-29-socialgov-talks-leveraging-pop-culture-with-paul-lester-doe.md
  content/events/2019/09/2019-09-03-quantifying-value-innovation.md
  themes/digital.gov/layouts/events/list.html
Labels: bug

#1254 adding new zoom recording language
  content/events/2019/08/2019-08-28-a-deep-dive-into-guide-paperwork-reduction-act.md
  content/events/2019/08/2019-08-29-socialgov-talks-leveraging-pop-culture-with-paul-lester-doe.md
  content/events/2019/09/2019-09-03-quantifying-value-innovation.md
  content/events/2019/09/2019-09-05-plain-language-summit.md
  content/events/2019/09/2019-09-25-dap-learning-series-a-deep-dive-into-acquisition-reports.md
  content/events/2019/10/2019-10-23-dap-learning-series-a-deep-dive-into-behavior-reports.md
  content/events/2019/11/2019-11-20-dap-learning-series-site-analysis-live.md
Labels: event

#1261 Add new event: U
  content/events/2019/09/2019-09-19-us-web-design-system-september-monthly-call.md
Labels: event
