Repository GSA/digitalgov.gov, pull requests merged in 2019-11, with the labels that each got.

#1442 21st Century IDEA Resource page
  content/resources/21st-century-integrated-digital-experience-act.md
  content/resources/_index.md
  themes/digital.gov/layouts/resources/single.html
Labels: IDEA Act, resources

#1443 Add new post: Let’s Talk 21st Century IDEA
  content/posts/2019/11/2019-11-04-lets-talk-21st-century-idea.md
  data/images/21c-idea-icon-w600sq.yml
  data/images/this-weeks-idea-card.yml
  data/top6.yml
  static/img/proxy/21c-idea-icon-w600sq.jpeg
  static/img/proxy/this-weeks-idea-card.jpeg
Labels: IDEA Act, editorial / content

#1439 Spaced last paragraph from author info. paragraph
  content/posts/2014/10/2014-10-06-user-acceptance-testing-versus-usability-testing-whats-the-dif.md
Labels: content cleanup, look and feel

#1441 Spaced last paragraph and author info. paragraph
  content/posts/2014/08/2014-08-22-api-usability-case-study-openfda.md
Labels: content cleanup, look and feel

#1445 adding a 21c card for social sharing
  content/resources/21st-century-integrated-digital-experience-act.md
  data/images/21st-century-idea-resource-card.yml
  static/img/proxy/21st-century-idea-resource-card.jpeg
Labels: needs title card, resources

#1447 Update 2019-11-12-national-language-service-corps-can-fulfill-your-tr…
  content/events/2019/11/2019-11-12-national-language-service-corps-can-fulfill-your-translation-needs.md
Labels: editorial / content, event

#1446 fixing duplicate quote and italics issue
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: copy fix

#1438 Spaced last paragraph from author info. paragraph
  content/posts/2014/08/2014-08-29-system-usability-scale-improving-products-since-1986.md
Labels: content cleanup, look and feel

#1460 Update 2019-10-30-federal-crowdsourcing-webinar-series-episode-6-fedr…
  content/events/2019/10/2019-10-30-federal-crowdsourcing-webinar-series-episode-6-fedramp-ideation.md
Labels: event

#1462 Adding event card and photo to DevOps Event
  content/events/2019/11/2019-11-19-jez-humble-building-scaling-high-performing-technology-organizations.md
  data/images/devops-jez-humble.yml
  data/images/jez-humble.yml
  static/img/proxy/devops-jez-humble.jpeg
  static/img/proxy/jez-humble.jpeg
Labels: event, needs title card

#1466 Update 2019-11-07-happy-3rd-birthday-codegov-what-weve-learned-three-…
  content/events/2019/11/2019-11-07-happy-3rd-birthday-codegov-what-weve-learned-three-years-in.md
Labels: event

#1430 Adding the Federal Web Council page
  content/resources/federal-web-council.md
  themes/digital.gov/src/scss/old_css/_enlightened-styles.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
Labels: resources

#1477 Added space between last two paragraphs
  content/posts/2014/06/2014-06-05-cdcs-digital-front-door-goes-responsive.md
Labels: content cleanup, look and feel

#1478 Added space between last two paragraphs
  content/posts/2014/06/2014-06-06-consumer-action-handbook-usability-case-study.md
Labels: content cleanup, look and feel

#1480 Added space between last two paragraphs
  content/posts/2014/07/2014-07-18-improving-content-increasing-participation-a-nara-usability-case-study.md
Labels: content cleanup, look and feel

#1481 Added space between last two paragraphs
  content/posts/2014/08/2014-08-19-redesigning-with-customer-feedback-child-support-enforcement-usability-case-study.md
Labels: content cleanup, look and feel

#1494 11/19 SocialGov Talk
  content/events/2019/11/2019-11-19-socialgov-talk-reaching-small-businesses-in-digital-environment.md
Labels: event

#1500 adding a pull request template
  .github/pull_request_template.md
Labels: workflow

#1507 Update 2019-11-12-national-language-service-corps-can-fulfill-your-tr…
  content/events/2019/11/2019-11-12-national-language-service-corps-can-fulfill-your-translation-needs.md
Labels: event

#1502 update HUGO to 5.9.1
  .hugo-version
Labels: Hugo

#1512 adding youtube
  content/events/2019/11/2019-11-13-ginny-redish-how-collaborate-on-strategies.md
Labels: editorial / content, event

#1514 Update 2019-11-19-socialgov-talk-reaching-small-businesses-in-digital…
  content/events/2019/11/2019-11-19-socialgov-talk-reaching-small-businesses-in-digital-environment.md
Labels: event

#1515 Add new post: Building the Elements That Earn Trust
  content/posts/2019/11/2019-11-12-meet-your-federal-web-council.md
  content/posts/2019/11/2019-11-18-building-elements-that-earn-trust.md
  data/images/this-weeks-idea-card-wk3.yml
  data/images/this-weeks-idea-icon-wk3.yml
  data/top6.yml
  static/img/proxy/this-weeks-idea-card-wk3.jpeg
  static/img/proxy/this-weeks-idea-icon-wk3.jpeg
  themes/digital.gov/layouts/shortcodes/card-prompt.html
  themes/digital.gov/layouts/shortcodes/card-quote.html
  themes/digital.gov/src/scss/old_css/shortcodes/_card-prompt.scss
  themes/digital.gov/src/scss/old_css/shortcodes/_card-quote.scss
  themes/digital.gov/src/scss/old_css/styles-legacy.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
Labels: editorial / content

#1519 Add new post: IT Modernization Apprenticeship Experience
  content/posts/2019/11/2019-11-19-it-modernization-apprenticeship-experience-breaking-down-workforce-innovation-barriers-at-usda.md
  data/images/coe-apprenticeship-01.yml
  data/images/coe-apprenticeship-02.yml
  data/images/coe-apprenticeship-03.yml
  data/images/coe-apprenticeship-04.yml
  data/images/coe-apprenticeship-05.yml
  data/images/coe-apprenticeship-06.yml
  data/images/coe-apprenticeship-07.yml
  static/img/proxy/coe-apprenticeship-01.jpeg
  static/img/proxy/coe-apprenticeship-02.jpeg
  static/img/proxy/coe-apprenticeship-03.jpeg
  static/img/proxy/coe-apprenticeship-04.jpeg
  static/img/proxy/coe-apprenticeship-05.jpeg
  static/img/proxy/coe-apprenticeship-06.jpeg
  static/img/proxy/coe-apprenticeship-07.jpeg
Labels: editorial / content

#1524 Update and rename 2019-11-19-it-modernization-apprenticeship-experien…
  content/posts/2019/11/2019-11-20-it-modernization-apprenticeship-experience-breaking-down-workforce-innovation-barriers-at-usda.md
Labels: editorial / content

#1525 Update top6.yml
  data/top6.yml
Labels: editorial / content

#1526 Update 2019-11-19-intro-ab-testing-cop.md
  content/events/2019/11/2019-11-19-intro-ab-testing-cop.md
Labels: event

#1532 Update 2019-11-19-socialgov-talk-reaching-small-businesses-in-digital…
  content/events/2019/11/2019-11-19-socialgov-talk-reaching-small-businesses-in-digital-environment.md
Labels: event

#1552 Show past events on event page
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/src/scss/old_css/_events.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
  themes/digital.gov/static/js/events.js
Labels: Dev: frontend

#1554 adding a check around events, when there are no current events
  content/events/2019/12/2019-12-03-devops-holiday-special-event-nicolas-chaillan.md
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/partials/body-featured-events.html
Labels: Dev: Template Logic

#1555 Updating DEMO with the latest changes from Master
  .hugo-version
  content/communities/devops.md
  content/communities/uswds.md
  content/events/2019/10/2019-10-17-socialgov-fall-meeting-podcasting.md
  content/events/2019/11/2019-11-08-intro-kanban-i.md
  content/events/2019/11/2019-11-08-intro-kanban-ii.md
  content/events/2019/11/2019-11-12-national-language-service-corps-can-fulfill-your-translation-needs.md
  content/events/2019/11/2019-11-13-ginny-redish-how-collaborate-on-strategies.md
  content/events/2019/11/2019-11-19-intro-ab-testing-cop.md
  content/events/2019/11/2019-11-19-jez-humble-building-scaling-high-performing-technology-organizations.md
  content/events/2019/11/2019-11-19-socialgov-talk-reaching-small-businesses-in-digital-environment.md
  content/events/2019/11/2019-11-20-dap-learning-series-site-analysis-live.md
  content/events/2019/11/2019-11-21-us-web-design-system-november-monthly-call.md
  content/events/2019/11/2019-11-22-nist-director-rob-dimeo-learning-communicate-complex-data.md
  content/events/2019/12/2019-12-03-devops-holiday-special-event-nicolas-chaillan.md
  content/posts/2011/11/2011-11-28-battle-royale-mobile-web-versus-mobile-apps.md
  content/posts/2012/07/2012-07-11-aids-gov-responsive-design.md
  content/posts/2019/11/2019-11-12-meet-your-federal-web-council.md
  content/posts/2019/11/2019-11-18-building-elements-that-earn-trust.md
  content/posts/2019/11/2019-11-20-it-modernization-apprenticeship-experience-breaking-down-workforce-innovation-barriers-at-usda.md
  content/resources/_index.md
  content/resources/open-opportunities.md
  content/services/dap/_index.md
  data/images/coe-apprenticeship-01.yml
  data/images/coe-apprenticeship-02.yml
  data/images/coe-apprenticeship-03.yml
  data/images/coe-apprenticeship-04.yml
  data/images/coe-apprenticeship-05.yml
  data/images/coe-apprenticeship-06.yml
  data/images/coe-apprenticeship-07.yml
  data/images/coe-apprenticeship-08.yml
  data/images/this-weeks-idea-card-wk3.yml
  data/images/this-weeks-idea-icon-wk3.yml
  data/people/authors/stephanie-santana.yml
  data/tag.yml
  data/top6.yml
  static/img/proxy/coe-apprenticeship-01.jpeg
  static/img/proxy/coe-apprenticeship-02.jpeg
  static/img/proxy/coe-apprenticeship-03.jpeg
  static/img/proxy/coe-apprenticeship-04.jpeg
  static/img/proxy/coe-apprenticeship-05.jpeg
  static/img/proxy/coe-apprenticeship-06.jpeg
  static/img/proxy/coe-apprenticeship-07.jpeg
  static/img/proxy/coe-apprenticeship-08.jpeg
  static/img/proxy/this-weeks-idea-card-wk3.jpeg
  static/img/proxy/this-weeks-idea-icon-wk3.jpeg
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/partials/core/head.html
  themes/digital.gov/layouts/shortcodes/card-prompt.html
  themes/digital.gov/layouts/shortcodes/card-quote.html
  themes/digital.gov/src/scss/old_css/shortcodes/_card-prompt.scss
  themes/digital.gov/src/scss/old_css/shortcodes/_card-quote.scss
  themes/digital.gov/src/scss/old_css/styles-legacy.scss
Labels: Project: DEMO

#1556 Update 2011-11-28-battle-royale-mobile-web-versus-mobile-apps.md
  content/posts/2011/11/2011-11-28-battle-royale-mobile-web-versus-mobile-apps.md
Labels: Bug, Content: Images

#1559 fixing right-aligned legacy images
  content/posts/2011/11/2011-11-28-battle-royale-mobile-web-versus-mobile-apps.md
  themes/digital.gov/layouts/posts/single.html
  themes/digital.gov/layouts/shortcodes/legacy-img-right.html
  themes/digital.gov/src/scss/old_css/_federalist-additions.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
Labels: Bug, Bug: broken links, Content: Images

#1560 Add new event: USWDS December Monthly Call
  content/events/2019/12/2019-12-19-uswds-december-monthly-call.md
Labels: Content: Events

#1561 Add new event: USWDS January Monthly Call
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
Labels: Content: Events

#1566 Update 2019-12-19-uswds-december-monthly-call.md
  content/events/2019/12/2019-12-19-uswds-december-monthly-call.md
Labels: Content: Events

#1565 Update 2020-01-16-uswds-january-monthly-call.md
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
Labels: Content: Events

#1531 Elevate the GSA presence on Digital.gov
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/events/card-event-past.html
  themes/digital.gov/layouts/partials/core/agency-banner.html
  themes/digital.gov/layouts/partials/core/header.html
  themes/digital.gov/layouts/partials/core/home/resources_featured.html
  themes/digital.gov/layouts/posts/card-article.html
  themes/digital.gov/src/scss/new/_agency-banner.scss
  themes/digital.gov/src/scss/new/_buttons.scss
  themes/digital.gov/src/scss/new/_card-event.scss
  themes/digital.gov/src/scss/new/_card.scss
  themes/digital.gov/src/scss/new/_events.scss
  themes/digital.gov/src/scss/new/_gov-banner.scss
  themes/digital.gov/src/scss/new/_guides.scss
  themes/digital.gov/src/scss/new/_header.scss
  themes/digital.gov/src/scss/new/_posts.scss
  themes/digital.gov/src/scss/new/_promos.scss
  themes/digital.gov/src/scss/new/_related_communities.scss
  themes/digital.gov/src/scss/new/_related_promos.scss
  themes/digital.gov/src/scss/new/_search-bar.scss
  themes/digital.gov/src/scss/new/_topic-buttons.scss
  themes/digital.gov/src/scss/new/_topics-sidebar.scss
  themes/digital.gov/src/scss/new/_video.scss
  themes/digital.gov/src/scss/new/home/_events.scss
  themes/digital.gov/src/scss/new/home/_resources_featured.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-color.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Design, Dev: U.S. Web Design System, Project: DEMO
