Repository GSA/digitalgov.gov, pull requests merged in 2019-10, with the labels that each got.

#1318 Update 2019-10-17-socialgov-fall-meeting-podcasting.md
  content/events/2019/10/2019-10-17-socialgov-fall-meeting-podcasting.md
Labels: event

#1317 Update HUGO version to 0.58.3
  .hugo-version
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/list.json.json
Labels: Federalist, Hugo, backend

#1315 edits to readme
  .circleci/config.yml
  readme.md
Labels: DevOps

#1325 removing fed only language
  content/communities/a-b-testing.md
Labels: communities

#1245 Adding the USWDS community page
  content/communities/_index.md
  content/communities/uswds.md
  data/images/uswds-logo.yml
  static/img/proxy/uswds-logo.jpeg
Labels: ---- HOLD ----, communities, uswds

#1132 adding PIF image
  content/events/2019/07/2019-07-09-data-storytelling-with-presidential-innovation-fellows.md
  data/images/pif-data-storytelling-workshop.yml
  static/img/proxy/pif-data-storytelling-workshop.jpeg
Labels: event, images

#1328 Update 2019-09-26-socialgov-talks-leveraging-pop-culture-with-paul-le…
  content/events/2019/09/2019-09-26-socialgov-talks-leveraging-pop-culture-with-paul-lester-doe.md
Labels: event

#1330 opening up to public
  content/communities/a-b-testing.md
Labels: communities

#1335 Event is being rescheduled
  content/events/2019/10/2019-10-08-federal-crowdsourcing-webinar-series-episode-6-fedramp-ideation.md
Labels: event

#1316 Updating the header on DEMO
  config.yml
  content/resources/an-introduction-us-web-design-system.md
  content/resources/required-web-content-and-links.md
  package-lock.json
  readme.md
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/events/card-event-past.html
  themes/digital.gov/layouts/home.html
  themes/digital.gov/layouts/partials/core/header-two.html
  themes/digital.gov/layouts/partials/core/header.html
  themes/digital.gov/layouts/partials/core/home/resources_featured.html
  themes/digital.gov/layouts/partials/core/mobile-nav.html
  themes/digital.gov/layouts/partials/core/resources_featured.html
  themes/digital.gov/layouts/partials/core/tag-line.html
  themes/digital.gov/layouts/partials/core/usa-banner.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/src/js/mobile-nav.js
  themes/digital.gov/src/js/tag-line.js
  themes/digital.gov/src/js/testing.js
  themes/digital.gov/src/scss/new/_buttons.scss
  themes/digital.gov/src/scss/new/_gov-banner.scss
  themes/digital.gov/src/scss/new/_header.scss
  themes/digital.gov/src/scss/new/_list-collection.scss
  themes/digital.gov/src/scss/new/_mobile-nav.scss
  themes/digital.gov/src/scss/new/_paper.scss
  themes/digital.gov/src/scss/new/_search-bar.scss
  themes/digital.gov/src/scss/new/_taxonomy.scss
  themes/digital.gov/src/scss/new/home/_resources_featured.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-color.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-components.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-typography.scss
  themes/digital.gov/static/dist/base.js
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
  themes/digital.gov/static/img/digit-100-black.svg
  themes/digital.gov/static/img/digit-100-white.svg
  themes/digital.gov/static/img/digit-100.svg
Labels: DEMO, accessibility, design

#1322 adding link to required links
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: editorial / content

#1302 Fixing Guide Nav
  themes/digital.gov/layouts/_default/list.json.json
  themes/digital.gov/layouts/partials/guide-nav.html
  themes/digital.gov/src/scss/old_css/_guide-nav.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
Labels: dap, frontend, guide

#1349 change of COP managers
  content/communities/rpa-community.md
Labels: communities

#1352 Add new event: USWDS
  content/events/2019/10/2019-10-17--us-web-design-system-october-monthly-call.md
Labels: event, uswds

#1357 Update 2019-10-17--us-web-design-system-october-monthly-call.md
  content/events/2019/10/2019-10-17--us-web-design-system-october-monthly-call.md
Labels: event

#1359 adding zoom as an event type in event generator
  content/pages/new-event.html
Labels: editorial / content, event

#1363 Update 2019-10-17-socialgov-fall-meeting-podcasting.md
  content/events/2019/10/2019-10-17-socialgov-fall-meeting-podcasting.md
Labels: event

#1362 10/10 blog post: Money Adventure App, pt 2
  content/posts/2019/10/2019-10-10-a-new-version-frbs-money-adventure-app-helps-expand-digital-outreach.md
  data/images/fed-reserve-app-1.yml
  data/images/fed-reserve-app-2.yml
  data/top6.yml
  static/img/proxy/fed-reserve-app-1.jpeg
  static/img/proxy/fed-reserve-app-2.jpeg
Labels: editorial / content

#1368 adding in footnotes shortcode
  themes/digital.gov/layouts/shortcodes/footnote.html
  themes/digital.gov/src/scss/old_css/shortcodes/_footnote.scss
  themes/digital.gov/src/scss/old_css/styles-legacy.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
Labels: design, editorial / content

#1327 Update required-web-content-and-links.md
  content/resources/required-web-content-and-links.md
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
Labels: resources

#1371 update copy for the RPA community page
  content/communities/rpa-community.md
Labels: communities

#1358 adding images to event pages
  content/events/2019/10/2019-10-15-using-neural-machine-translation-for-multilingual-communication.md
  content/events/2019/10/2019-10-17-socialgov-fall-meeting-podcasting.md
  data/images/multilingual-neural-machine-translation.yml
  data/images/socialgov-podcasting.yml
  static/img/proxy/multilingual-neural-machine-translation.jpeg
  static/img/proxy/socialgov-podcasting.jpeg
  themes/digital.gov/src/scss/old_css/_header.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
Labels: event, images

#1374 Add new event: Political Savvy - Why It’s Important and How to Master It
  content/events/2019/11/2019-11-01-political-savvy-why-its-important-how-master-it.md
Labels: event

#1375 adding missing colon on heading
  content/events/2019/10/2019-10-17-socialgov-fall-meeting-podcasting.md
Labels: typo

#1383 Update 2019-10-30-federal-crowdsourcing-webinar-series-episode-6-fedr…
  content/events/2019/10/2019-10-30-federal-crowdsourcing-webinar-series-episode-6-fedramp-ideation.md
Labels: event

#1388 The National Language Service Corps Can Fulfill Your Translation Needs
  content/events/2019/11/2019-11-12-national-language-service-corps-can-fulfill-your-translation-needs.md
Labels: communities, event, multilingual

#1384 Intro to A/B Testing CoP
  content/events/2019/11/2019-11-19-intro-ab-testing-cop.md
Labels: communities, event

#1395 removal of live captioning link
  content/events/2019/07/2019-07-17-an-introduction-10x-how-get-your-idea-funded.md
Labels: editorial / content, event

#1398 Add new event: Happy 3rd Birthday, Code.Gov! What We’ve Learned Three Years In
  content/events/2019/11/2019-11-07-happy-3rd-birthday-codegov-what-weve-learned-three-years-in.md
Labels: event

#1401 Update 2019-10-16-study-design-developing-a-citizen-science-project-t…
  content/events/2019/10/2019-10-16-study-design-developing-a-citizen-science-project-that-delivers-results.md
Labels: event

#1405 Update 2019-10-17-socialgov-fall-meeting-podcasting.md
  content/events/2019/10/2019-10-17-socialgov-fall-meeting-podcasting.md
Labels: event

#1407 Update 2019-11-07-happy-3rd-birthday-codegov-what-weve-learned-three-…
  content/events/2019/11/2019-11-07-happy-3rd-birthday-codegov-what-weve-learned-three-years-in.md
Labels: event

#1408 Add new event: Ginny Redish
  content/events/2019/11/2019-11-13-ginny-redish-how-collaborate-on-strategies.md
Labels: event

#1415 Remove AddThis from the site
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/guide/single.html
  themes/digital.gov/layouts/partials/footer-end-scripts.html
  themes/digital.gov/layouts/posts/single.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/src/scss/old_css/_federalist-additions.scss
  themes/digital.gov/src/scss/old_css/_override.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: frontend, privacy, security

#1421 adding in a redirect for a dap page
  content/services/dap/become-a-dap-certified-analyst.md
Labels: bug

#1429 Update Community pages
  content/communities/_index.md
  content/communities/artificial-intelligence.md
  content/communities/blockchain.md
  content/communities/social-media.md
  content/communities/virtual-and-augmented-reality.md
Labels: communities

#1399 18F Agile Series Events
  content/events/2019/11/2019-11-04-foundations-agile-i.md
  content/events/2019/11/2019-11-05-foundations-agile-ii.md
  content/events/2019/11/2019-11-08-basic-scrum-i.md
  content/events/2019/11/2019-11-08-basic-scrum-ii.md
  content/events/2019/11/2019-11-08-intro-kanban-i.md
  content/events/2019/11/2019-11-08-intro-kanban-ii.md
  content/images/agile-foundations-part-1.png
  content/images/agile-foundations-part-2.png
  content/images/agile-kanban-part-1.png
  content/images/agile-kanban-part-2.png
  content/images/agile-scrum-part-1.png
  content/images/agile-scrum-part-2.png
  data/images/agile-foundations-part-1.yml
  data/images/agile-foundations-part-2.yml
  data/images/agile-kanban-part-1.yml
  data/images/agile-kanban-part-2.yml
  data/images/agile-scrum-part-1.yml
  data/images/agile-scrum-part-2.yml
  static/img/proxy/agile-foundations-part-1.jpeg
  static/img/proxy/agile-foundations-part-2.jpeg
  static/img/proxy/agile-kanban-part-1.jpeg
  static/img/proxy/agile-kanban-part-2.jpeg
  static/img/proxy/agile-scrum-part-1.jpeg
  static/img/proxy/agile-scrum-part-2.jpeg
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/src/scss/old_css/_enlightened-styles.scss
  themes/digital.gov/src/scss/old_css/shortcodes/_box.scss
  themes/digital.gov/static/dist/styles-legacy.css
  themes/digital.gov/static/dist/styles-legacy.css.map
Labels: event
