Repository GSA/digitalgov.gov, pull requests merged in 2020-04, with the labels that each got.

#2316 Add files via upload
  static/pdf/MobileGov-Making-a-Mobile-Friendly-Website-Using-the-ADAPT-Model_a11y.pdf
Labels: Content: Events, Content: PDFs

#2317 Update 2020-02-25-making-a-mobilefriendly-website-using-adapt.md
  content/events/2020/02/2020-02-25-making-a-mobilefriendly-website-using-adapt.md
Labels: Content: Events, Content: PDFs

#2296 Update connected-government-act.md
  content/resources/connected-government-act.md
Labels: Content: Resource

#2319 adding two new sections
  content/resources/coronavirus-covid19-guidance-for-us-government.md
Labels: Content: Resource

#2320 Update 2020-03-31-intro-cloud-foundry-on-cloudgov.md
  content/events/2020/03/2020-03-31-intro-cloud-foundry-on-cloudgov.md
Labels: Content: Events

#2324 New authors: John McLaughlin
  content/authors/john-mclaughlin/_index.md
Labels: Content: Authors

#2326 Update _index.md
  content/authors/john-mclaughlin/_index.md
Labels: Content: Authors

#2327 4/7 New news: Spring Cleaning Tips for Web Content
  content/news/2020/04/2020-04-07-spring-cleaning-tips-for-web-content.md
Labels: Content: Blog post

#2328 Update 2020-04-07-you-a-product-manager-though-you.md
  content/events/2020/04/2020-04-07-you-a-product-manager-though-you.md
Labels: Content: Events

#2330 updating event copy
  content/events/2020/04/2020-04-16-uswds-monthly-call-april-2020.md
Labels: Content: Events

#2287 Consolidating templates we use for listing pages
  themes/digital.gov/layouts/home.html
  themes/digital.gov/layouts/partials/core/collection.html
  themes/digital.gov/layouts/partials/core/get_communities.html
  themes/digital.gov/layouts/partials/core/get_community_managers.html
  themes/digital.gov/layouts/partials/core/get_services.html
  themes/digital.gov/layouts/partials/core/home/resources_featured.html
  themes/digital.gov/layouts/partials/core/list_related_communities.html
  themes/digital.gov/layouts/partials/core/list_related_promos.html
  themes/digital.gov/layouts/partials/core/list_related_resources.html
  themes/digital.gov/layouts/partials/core/list_related_services.html
  themes/digital.gov/layouts/partials/core/resources_featured.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/src/scss/new/_collection.scss
  themes/digital.gov/src/scss/new/_resources.scss
  themes/digital.gov/src/scss/new/_resources_featured.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Template Logic

#2314 Fixing the GOV banner on images page
  themes/digital.gov/layouts/partials/core/head.html
Labels: Content: Images, Dev: frontend, [issue type] bug

#2335 Removing Zoom Language
  content/events/2020/02/2020-02-23-dap-learning-series-an-introduction-basics.md
Labels: Content: Events

#2334 Remove Zoom Language
  content/events/2020/04/2020-04-16-uswds-monthly-call-april-2020.md
Labels: Content: Events

#2333 Removing Zoom as an option
  content/events/2020/04/2020-04-15-accessibility-intersection-between-plain-language-508.md
Labels: Content: Events

#2337 New authors: Kara Reinsel
  content/authors/kara-reinsel/_index.md
Labels: Content: Authors

#2336 New events: Cloud.gov for Product Managers
  content/events/2020/04/2020-04-22-cloudgov-for-product-managers.md
Labels: Content: Events

#2340 update on member #
  content/communities/artificial-intelligence.md
Labels: Content: Communities

#2341 adding events
  content/communities/artificial-intelligence.md
Labels: Content: Communities

#2343 New events: The Hero's Journey for Re-Skilling Talent (And Other Digi…
  content/events/2020/04/2020-04-28-heros-journey-for-reskilling-talent-other.md
Labels: Content: Events

#2345 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: 21st Century IDEA, Content: Resource

#2350 Create author bio partial
  themes/digital.gov/layouts/authors/list.json.json
  themes/digital.gov/layouts/partials/api/bio.html
  themes/digital.gov/layouts/shortcodes/api-authors.html
Labels: Dev: apis

#2349 fixing host language
  content/events/2020/04/2020-04-28-heros-journey-for-reskilling-talent-other.md
Labels: Content: Events

#2348 adding new upcoming event
  content/communities/devops.md
Labels: Content: Events

#2346 New news: Continuous Learning for Product Managers
  content/news/2020/03/2020-03-24-continuous-learning-for-product-managers.md
Labels: Content: Blog post

#2353 New news:
  content/news/2020/04/2020-04-09-.md
Labels: Content: Blog post

#2321 Fixing Cloud.gov links
  content/events/2020/03/2020-03-31-intro-cloud-foundry-on-cloudgov.md
Labels: Content: Events

#2356 Update and rename 2020-04-09-.md to 2020-04-09-18f-here-help-during-c…
  content/news/2020/04/2020-04-09-.md
  content/news/2020/04/2020-04-09-18f-here-help-during-critical-times.md
Labels: Content: Blog post

#2369 New events: SocialGov Virtual Spring Session
  content/events/2020/04/2020-04-29-socialgov-virtual-spring-session.md
Labels: Content: Events

#2373 Update 2020-04-09-18f-here-help-during-critical-times.md
  content/news/2020/04/2020-04-09-18f-here-help-during-critical-times.md
Labels: Content: Blog post

#2372 Update 2020-03-24-press-or-say-1-usagov-expands.md
  content/news/2020/03/2020-03-24-press-or-say-1-usagov-expands.md
Labels: Content: Blog post

#2371 Update 2020-03-24-continuous-learning-for-product-managers.md
  content/news/2020/03/2020-03-24-continuous-learning-for-product-managers.md
Labels: Content: Blog post

#2374 Update 2016-04-18-the-content-corner-branches-stick-to-the-vine.md
  content/news/2016/04/2016-04-18-the-content-corner-branches-stick-to-the-vine.md
Labels: Bug: Content Cleanup, Content: Blog post, Dev: Migration

#2375 Update 2014-12-08-2nd-u-s-public-participation-playbook-draft-respond…
  content/news/2014/12/2014-12-08-2nd-u-s-public-participation-playbook-draft-responds-to-public-contributions.md
Labels: Bug: Content Cleanup, Content: Blog post, Dev: Migration

#2376 Update 2016-04-18-the-content-corner-branches-stick-to-the-vine.md
  content/news/2016/04/2016-04-18-the-content-corner-branches-stick-to-the-vine.md
Labels: Bug: broken links, Content: Blog post

#2378 change to png format
  data/images/gettyimages-1073019390.yml
  static/img/proxy/gettyimages-1073019390.jpeg
Labels: Content: Images

#2380 Update 2016-09-08-looking-back-and-looking-forward-the-future-of-publ…
  content/news/2016/09/2016-09-08-looking-back-and-looking-forward-the-future-of-public-safety-communications-in-the-post-911-era-a-video-series.md
Labels: Content: Blog post, Content: Video + YouTube

#2357 adding speakers to copy
  content/events/2018/07/2018-07-16-emerging-technology-leadership-series-brian-behlendorf-blockchain.md
Labels: Content: Authors

#2360 adding speakers to page
  content/events/2018/07/2018-07-26-civic-service-design-tools-tactics.md
Labels: Content: Authors

#2362 adding speakers
  content/events/2018/07/2018-07-30-emerging-technology-leadership-series-mina-hanna-ai-for-government-services.md
Labels: Content: Authors

#2363 adding speakers
  content/events/2018/09/2018-09-20-dap-learning-series-writing-custom-javascript-for-tag-managers.md
Labels: Content: Authors

#2381 New events: The Average American Reader Needs You to Write (Even More…
  content/events/2020/05/2020-05-13-average-american-reader-needs-you-write.md
Labels: Content: Events

#2347 New CoP: open source
  content/communities/open-source.md
Labels: Content: Communities

#2386 remove placeholder in search bar
  themes/digital.gov/layouts/partials/core/header.html
  themes/digital.gov/layouts/partials/core/search-bar.html
Labels: Dev: frontend, code.gov

#2368 Build scripts
  .gitignore
  config/gulp/scripts.js
  config/gulp/uswds.js
  gulpfile.js
  package-lock.json
  package.json
  readme.md
  themes/digital.gov/static/dist/base.js
  themes/digital.gov/static/dist/clicks.js
  themes/digital.gov/static/dist/edit-this.js
  themes/digital.gov/static/dist/github.js
  themes/digital.gov/static/dist/guidenav.js
  themes/digital.gov/static/dist/jquery.min.js
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
  themes/digital.gov/static/dist/uswds.js
  themes/digital.gov/static/dist/uswds.min.js
  themes/digital.gov/static/dist/uswds.min.js.map
  themes/digital.gov/static/uswds/js/uswds.js
  themes/digital.gov/static/uswds/js/uswds.min.js
  themes/digital.gov/static/uswds/js/uswds.min.js.map
Labels: Dev: Dependencies, Dev: GitHub + Federalist

#2391 Add files via upload
  static/pdf/10x-FY20-Round-1-Selected-Projects.pdf
Labels: Content: PDFs

#2393 4/15 New news: 10x Announces 25 Projects to Start Phase One
  content/news/2020/04/2020-04-15-10x-announces-25-projects-start-phase.md
Labels: Content: Blog post

#2394 Update 2020-04-15-10x-announces-25-projects-start-phase.md
  content/news/2020/04/2020-04-15-10x-announces-25-projects-start-phase.md
Labels: Content: Blog post

#2396 Update 2018-12-18-emerging-technology-leadership-series-laura-manley-…
  content/events/2018/12/2018-12-18-emerging-technology-leadership-series-laura-manley-harvard-technology-public-purpose-project.md
Labels: Content: Topics

#2397 Update 2018-07-30-emerging-technology-leadership-series-mina-hanna-ai…
  content/events/2018/07/2018-07-30-emerging-technology-leadership-series-mina-hanna-ai-for-government-services.md
Labels: Content: Topics

#2398 Update 2018-04-11-us-federal-emerging-technology-public-meeting.md
  content/events/2018/04/2018-04-11-us-federal-emerging-technology-public-meeting.md
Labels: Content: Topics

#2395 Update 2020-01-27-10x-project-lightning-talks.md
  content/events/2020/01/2020-01-27-10x-project-lightning-talks.md
Labels: Content: Topics

#2400 Update 2017-09-27-data-briefing-how-build-a-chatbot-in-a-weekend.md
  content/news/2017/09/2017-09-27-data-briefing-how-build-a-chatbot-in-a-weekend.md
Labels: Content: Topics

#2401 Update resource
  content/resources/coronavirus-covid19-guidance-for-us-government.md
  themes/digital.gov/layouts/shortcodes/accordion.html
  themes/digital.gov/src/scss/new/shortcodes/_accordion.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Content: Resource, Dev: frontend

#1085 Adding open source community page
  content/communities/open-source.md
Labels: :hand: HOLD, Content: Communities

#2402 Add new section to checklist-of-requirements-for-federal-digital-services
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#2403 Update blockchain.md
  content/communities/blockchain.md
Labels: Content: Communities

#2364 adding speakers
  content/events/2018/09/2018-09-27-a-conversation-with-evan-papp.md
Labels: Content: Authors

#2365 adding speakers
  content/events/2018/10/2018-10-30-fedramps-resources-for-csps.md
Labels: Content: Authors

#2366 adding speakers to page
  content/events/2018/11/2018-11-14-fedramp-updates-3pao-requirements.md
Labels: Content: Authors

#2409 Update open-data.md
  content/communities/open-data.md
Labels: Content: Communities

#2383 adding bio for Ashley Mahan
  content/authors/ashley-mahan/_index.md
Labels: Content: Authors

#2384 adding speaker to event
  content/events/2018/11/2018-11-06-fedramps-resources-for-agencies.md
Labels: Content: Authors

#2389 adding speakers to event
  content/events/2018/12/2018-12-18-emerging-technology-leadership-series-laura-manley-harvard-technology-public-purpose-project.md
Labels: Content: Authors

#2390 adding speakers to event
  content/events/2019/02/2019-02-27-dalia-elshimy-on-mixed-methods-design-research.md
Labels: Content: Authors

#2392 New authors: Megan Miller
  content/authors/megan-miller/_index.md
Labels: Content: Authors

#2408 adding speaker
  content/events/2018/11/2018-11-15-fedramps-resources-for-3paos.md
Labels: Content: Authors

#2411 Updates to open source community and bio pages
  content/authors/joseph-castle/_index.md
  content/communities/open-source.md
Labels: Content: Authors, Content: Communities, Size: minutes

#2412 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#2413 Update overview-of-the-privacy-act-of-1974-2015-edition.md
  content/resources/overview-of-the-privacy-act-of-1974-2015-edition.md
Labels: Content: Resource

#2414 Update open-data.md
  content/communities/open-data.md
Labels: Content: Communities

#2418 New topics: This Week's IDEA
  content/topics/this-weeks-idea/_index.md
Labels: Content: Topics

#2420 New authors: Rhett Skelton
  content/authors/rhett-skelton/_index.md
Labels: Content: Authors

#2433 Update 2019-11-04-lets-talk-21st-century-idea.md
  content/news/2019/11/2019-11-04-lets-talk-21st-century-idea.md
Labels: Content: Topics

#2431 Update 2019-12-11-an-introduction-accessibility.md
  content/news/2019/12/2019-12-11-an-introduction-accessibility.md
Labels: Content: Topics

#2432 Update 2019-11-18-building-elements-that-earn-trust.md
  content/news/2019/11/2019-11-18-building-elements-that-earn-trust.md
Labels: Content: Topics

#2429 Update 2019-11-12-meet-your-federal-web-council.md
  content/news/2019/11/2019-11-12-meet-your-federal-web-council.md
Labels: Content: Topics

#2430 Update 2020-04-07-spring-cleaning-tips-for-web-content.md
  content/news/2020/04/2020-04-07-spring-cleaning-tips-for-web-content.md
Labels: Content: Topics

#2434 Update 2020-01-30-adopting-uswds-one-step-at-time.md
  content/news/2020/01/2020-01-30-adopting-uswds-one-step-at-time.md
Labels: Content: Topics

#2438 New events: Federal Crowdsourcing Webinar Series, Episode 9: A Match …
  content/events/2020/04/2020-04-27-federal-crowdsourcing-webinar-series-episode-9.md
Labels: Content: Events

#2435 Update and rename content/events/2020/04/2020-04-16-federal-source-co…
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Content: Events, [status] Changes requested

#2443 Update 2020-04-14-how-utilize-open-source-jupyter-project.md
  content/events/2020/04/2020-04-14-how-utilize-open-source-jupyter-project.md
Labels: Content: Video + YouTube

#2450 Update 2020-01-27-searchgov-2019-in-review.md
  content/news/2020/01/2020-01-27-searchgov-2019-in-review.md
Labels: Bug: Content Cleanup, Content: Blog post

#2452 New news: USAGov Outreach
  content/news/2020/04/2020-04-21-.md
Labels: Content: Blog post

#2456 Update 2020-04-21-.md
  content/news/2020/04/2020-04-21-.md
Labels: Content: Blog post

#2461 Update 2020-04-21-.md
  content/news/2020/04/2020-04-21-.md
Labels: Content: Blog post

#2454 4/22 New news: 18F USWDS field guide
  content/news/2020/04/2020-04-22-.md
Labels: Content: Blog post

#2453 4/22 New news: Strengthen Your Organization's Vision Through Collaboration
  content/news/2020/04/2020-04-22-strengthen-your-organizations-vision-through-collaboration.md
Labels: Content: Blog post

#2455 Update 2020-04-29-socialgov-virtual-spring-session.md
  content/events/2020/04/2020-04-29-socialgov-virtual-spring-session.md
Labels: Content: Events

#2422 adding authors
  content/events/2019/03/2019-03-20-understanding-sessions-vs-unique-pageviews.md
Labels: Content: Authors

#2423 New authors: Caroline Jarrett
  content/authors/caroline-jarrett/_index.md
Labels: Content: Authors

#2424 adding authors
  content/events/2019/04/2019-04-09-federal-crowdsourcing-mobilize-citizen-scientists.md
Labels: Content: Authors

#2425 New authors: Christopher "Chip" Crane
  content/authors/christopher-chip-crane/_index.md
Labels: Content: Authors

#2426 New authors: Dr. Julie Kinn
  content/authors/dr-julie-kinn/_index.md
Labels: Content: Authors

#2427 New authors: Julia Lindpaintner
  content/authors/julia-lindpaintner/_index.md
Labels: Content: Authors

#2428 New authors: Amy Mok
  content/authors/amy-mok/_index.md
Labels: Content: Authors

#2466 New authors: GSA Office of Customer Experience
  content/authors/gsa-office-customer-experience/_index.md
Labels: Content: Authors

#2467 OCE CX image
  data/images/oce-cx-buying-guide-cover.yml
  static/img/proxy/oce-cx-buying-guide-cover.jpeg
Labels: Content: Images

#2464 New authors: Dr. Emily Shen
  content/authors/dr-emily-shen/_index.md
Labels: Content: Authors

#2469 New events: Dr. Emily Shen on Secure Multi-Party Computation
  content/events/2020/05/2020-05-05-dr-emily-shen-on-secure.md
Labels: Content: Events

#2465 Update and rename 2020-04-07-you-a-product-manager-though-you.md to 2…
  content/events/2020/04/2020-05-06-you-a-product-manager-though-you.md
Labels: Content: Events

#2475 Update 2020-04-22-strengthen-your-organizations-vision-through-collab…
  content/news/2020/04/2020-04-22-strengthen-your-organizations-vision-through-collaboration.md
Labels: Content: Blog post

#2478 remove m-05-04
  content/resources/policies-for-federal-agency-public-websites-m-05-04.md
Labels: Content: Redirects, Content: Resource

#2441 New authors: Kelly Osborn
  content/authors/kelly-osborn/_index.md
Labels: Content: Authors, Content: Events

#2479 move file to May folder
  content/events/2020/05/2020-05-06-you-a-product-manager-though-you.md
Labels: Content: Events

#2480 adding apr 7 -- to be removed
  content/events/2020/04/2020-04-07-you-a-product-manager-though-you.md
Labels: Content: Events

#2481 deleted apr 7th for redirect to may 6th
  content/events/2020/04/2020-04-07-you-a-product-manager-though-you.md
Labels: Content: Events, Content: Redirects

#2482 Update 2020-05-06-you-a-product-manager-though-you.md
  content/events/2020/05/2020-05-06-you-a-product-manager-though-you.md
Labels: Content: Events, Content: Redirects

#2436 Update Rhett's Author _index.md
  content/authors/rhett-skelton/_index.md
Labels: Content: Authors, [status] Changes requested

#2477 4/24 New news: Experimenting Micro-Purchase Threshold
  content/news/2020/04/2020-04-24-experimenting-with-micropurchase-threshold.md
Labels: Content: Blog post

#2474 4/24 New news: A Guide For Agencies Building CX Capacity
  content/news/2020/04/2020-04-24-a-guide-for-agencies-building-cx.md
Labels: :hand: HOLD, Content: Blog post

#2484 Update 2020-04-24-a-guide-for-agencies-building-cx.md
  content/news/2020/04/2020-04-24-a-guide-for-agencies-building-cx.md
Labels: Content: Blog post

#2485 Update 2020-04-24-experimenting-with-micropurchase-threshold.md
  content/news/2020/04/2020-04-24-experimenting-with-micropurchase-threshold.md
Labels: Content: Blog post

#2486 Add web guidance to resource
  content/resources/coronavirus-covid19-guidance-for-us-government.md
Labels: Content: Resource

#2483 New news: Connecting Americans to Coronavirus Information Online
  content/news/2020/04/2020-04-24-connecting-americans-coronavirus-information-online.md
Labels: Content: Blog post

#2490 Update 2020-05-06-you-a-product-manager-though-you.md
  content/events/2020/05/2020-05-06-you-a-product-manager-though-you.md
Labels: Content: Events

#2472 Update video platform
  content/events/2017/10/2017-10-12-dap-learning-series-visualizing-analytics-data-part-2.md
  content/events/2018/01/2018-01-26-us-web-design-standards-monthly-users-call.md
  content/events/2018/11/2018-11-14-responding-federal-plain-language-report-card.md
  content/events/2018/12/2018-12-12-december-plain-meeting-holiday-gathering.md
  content/events/2019/11/2019-11-08-basic-scrum-i.md
  content/events/2019/11/2019-11-08-basic-scrum-ii.md
  content/events/2019/11/2019-11-08-intro-kanban-i.md
  content/events/2019/11/2019-11-08-intro-kanban-ii.md
  content/events/2019/11/2019-11-21-us-web-design-system-november-monthly-call.md
  content/events/2019/12/2019-12-19-uswds-december-monthly-call.md
  content/events/2020/01/2020-01-08-plain-language-in-2020.md
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
  content/events/2020/02/2020-02-11-federal-crowdsourcing-webinar-series-episode-7.md
  content/events/2020/02/2020-02-19-dap-learning-series-youtube-event-option.md
  content/events/2020/02/2020-02-23-dap-learning-series-an-introduction-basics.md
  content/events/2020/02/2020-02-25-dap-learning-series-justifying-web-analysts.md
  content/events/2020/02/2020-02-25-moving-from-agile-towards-devops-with.md
  content/events/2020/02/2020-02-27-survey-translation-inclusion-end-users-in.md
  content/events/2020/03/2020-03-03-mitigating-bias-while-building-research-practices.md
  content/events/2020/03/2020-03-06-rpa-community-practice-cop-march-all.md
  content/events/2020/03/2020-03-10-federal-crowdsourcing-webinar-series-episode-8.md
  content/events/2020/03/2020-03-11-katherine-spivey-on-readability-audits-government.md
  content/events/2020/03/2020-03-25-navigating-acquisition-procurement-for-artificial-intelligence.md
  content/events/2020/03/2020-03-25-why-i-love-my-agile-team.md
  content/events/2020/03/2020-03-31-intro-cloud-foundry-on-cloudgov.md
  content/events/2020/04/2020-04-08-hosting-successful-live-events-by-federal.md
  content/events/2020/04/2020-04-22-cloudgov-for-product-managers.md
  content/events/2020/04/2020-04-28-heros-journey-for-reskilling-talent-other.md
  content/events/2020/05/2020-05-12-government-ux-summit.md
  content/events/2020/05/2020-05-21-uswds-monthly-call-may-2020.md
  content/events/2020/05/2020-05-27-dap-learning-series-become-a-dap.md
  content/events/2020/06/2020-06-18-uswds-monthly-call-june-2020.md
  content/events/2020/06/2020-06-24-dap-learning-series-shifting-your-metrics.md
  content/events/2020/07/2020-07-16-uswds-monthly-call-july-2020.md
  content/events/2020/07/2020-07-23-dap-learning-series-lessons-from-canadaca.md
  content/events/2020/08/2020-08-20-uswds-monthly-call-august-2020.md
  content/events/2020/08/2020-08-26-dap-analytics-case-study-part-1.md
  content/events/2020/08/2020-09-24-dap-analytics-case-study-part-2.md
  content/events/2020/09/2020-09-17-uswds-monthly-call-september-2020.md
  content/events/2020/10/2020-10-15-uswds-monthly-call-october-2020.md
  content/events/2020/10/2020-10-21-analytics-case-study-part-3-action.md
  content/events/2020/11/2020-11-19-uswds-monthly-call-november-2020.md
Labels: Content: Events

#2410 Update email address on Communities page
  themes/digital.gov/layouts/communities/list.html
Labels: Content: Communities

#2495 Copy Update - /event/2020/05/05/dr-emily-shen-on-secure/
  content/events/2020/05/2020-05-05-dr-emily-shen-on-secure.md
Labels: Content: Events

#2494 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource

#2493 Update 2012-05-07-find-free-video-stock-footage.md
  content/news/2012/05/2012-05-07-find-free-video-stock-footage.md
Labels: Bug: broken links, Content: Images

#2492 Update 2020-04-22-strengthen-your-organizations-vision-through-collab…
  content/news/2020/04/2020-04-22-strengthen-your-organizations-vision-through-collaboration.md
Labels: Content: Blog post

#2491 Update About page
  content/about/_index.md
Labels: Content: General site

#2500 Updates to Summit page
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Content: Events

#2447 New authors: Leonardo Favario
  content/authors/leonardo-favario/_index.md
Labels: Content: Authors, Content: Events

#2457 New authors: Shonna Evans-Thompson
  content/authors/shonna-evansthompson/_index.md
Labels: Content: Authors

#2459 New authors: Laura Szakmary
  content/authors/laura-szakmary/_index.md
Labels: Content: Authors

#2460 New authors: Kyra Stewart
  content/authors/kyra-stewart/_index.md
Labels: Content: Authors

#2462 New authors: Thomas Santucci
  content/authors/thomas-santucci/_index.md
Labels: Content: Authors

#2463 New authors: Guy Cavallo
  content/authors/guy-cavallo/_index.md
Labels: Content: Authors

#2498 Ashley Mahan - updating author bio
  content/authors/ashley-mahan/_index.md
Labels: Content: Authors

#2502 New authors: Lauren Algee
  content/authors/lauren-algee/_index.md
Labels: Content: Authors

#2497 Matt Goodrich - updating author bio
  content/authors/matt-goodrich/_index.md
Labels: Content: Authors

#2507 Update 2020-04-22-cloudgov-for-product-managers.md
  content/events/2020/04/2020-04-22-cloudgov-for-product-managers.md
Labels: Content: Events

#2524 Update resource page
  content/resources/coronavirus-covid19-guidance-for-us-government.md
Labels: Content: Resource
