Repository GSA/digitalgov.gov, pull requests merged in 2020-06, with the labels that each got.

#2702 Update 2020-06-09-federal-crowdsourcing-webinar-series-episode-11.md
  content/events/2020/06/2020-06-09-federal-crowdsourcing-webinar-series-episode-11.md
Labels: Content: Events

#2703 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource

#2699 Update pull_request_template.md
  .github/pull_request_template.md
Labels: Dev: GitHub + Federalist

#2696 Add digital analyst
  content/news/2020/05/2020-05-27-whos-on-your-digital-dream-team.md
Labels: Content: Blog post

#2685 New authors: William Bagakoyo
  content/authors/william-bagakoyo/_index.md
Labels: Content: Authors

#2683 New authors: James Mejia
  content/authors/james-mejia/_index.md
Labels: Content: Authors

#2594 New authors: Laura Larrimore
  content/authors/laura-larrimore/_index.md
Labels: Content: Authors

#2567 New authors: Camille Tucker
  content/authors/camille-tucker/_index.md
Labels: Content: Authors

#2573 New authors: Graham Bagget
  content/authors/graham-bagget/_index.md
Labels: Content: Authors

#2541 New authors: Jim Reuter
  content/authors/jim-reuter/_index.md
Labels: Content: Authors, [status] Changes requested

#2711 New authors: Rotimi Abimbola
  content/authors/rotimi-abimbola/_index.md
Labels: Content: Authors

#2595 New authors: Rachel DeLange
  content/authors/rachel-delange/_index.md
Labels: Content: Authors, [status] Changes requested

#2593 New authors: Terry Lemons
  content/authors/terry-lemons/_index.md
Labels: Content: Authors, [status] Changes requested

#2592 New authors: Sara Eguren
  content/authors/sara-eguren/_index.md
Labels: Content: Authors, [status] Changes requested

#2590 New authors: Robin Materese
  content/authors/robin-materese/_index.md
Labels: Content: Authors, [status] Changes requested

#2589 New authors: Riley Wilson
  content/authors/riley-wilson/_index.md
Labels: Content: Authors, [status] Changes requested

#2591 New authors: Jessica Brown
  content/authors/jessica-brown/_index.md
Labels: Content: Authors, [status] Changes requested

#2714 Adding-Kyra-Stewart-Bio
  content/authors/kyra-stewart/_index.md
Labels: Content: Authors

#2713 New authors: Shila Cooch
  content/authors/shila-cooch/_index.md
Labels: Content: Authors

#2710 New authors: Sarah Moffat
  content/authors/sarah-moffat/_index.md
Labels: Content: Authors

#2704 New events: Women In IT Panel #1
  content/events/2020/06/2020-06-10-women-in-it-panel-1.md
Labels: Content: Events

#2705 New authors: Krista Kinnard
  content/authors/krista-kinnard/_index.md
Labels: Content: Authors

#2719 Update 2020-06-10-women-in-it-panel-1.md
  content/events/2020/06/2020-06-10-women-in-it-panel-1.md
Labels: Bug: broken links

#2722 Update 2020-06-10-women-in-it-panel-1.md
  content/events/2020/06/2020-06-10-women-in-it-panel-1.md
Labels: Content: Events

#2721 New authors: David Corwin
  content/authors/david-corwin/_index.md
Labels: Content: Authors

#2716 New authors: Julie Strothman
  content/authors/julie-strothman/_index.md
Labels: Content: Authors

#2715 New authors: Matt Dobson
  content/authors/matt-dobson/_index.md
Labels: Content: Authors

#2718 AI CoP Manager Update
  content/communities/artificial-intelligence.md
Labels: Content: Communities

#2706 Update 2020-04-29-socialgov-virtual-spring-session.md
  content/events/2020/04/2020-04-29-socialgov-virtual-spring-session.md
Labels: Content: Video + YouTube

#2516 Update 2020-02-23-dap-learning-series-an-introduction-basics.md
  content/events/2020/02/2020-02-23-dap-learning-series-an-introduction-basics.md
Labels: Content: Events, [status] Changes requested

#2554 New authors: Dr. Kelvin Droegemeier
  content/authors/dr-kelvin-droegemeier/_index.md
Labels: Content: Authors, [status] Changes requested

#2559 New authors: Alex Measure
  content/authors/alex-measure/_index.md
Labels: Content: Authors, [status] Changes requested

#2576 New authors: Julie Vastine
  content/authors/julie-vastine/_index.md
Labels: Content: Authors

#2580 New authors: Christopher M. Wurst
  content/authors/christopher-m-wurst/_index.md
Labels: Content: Authors

#2584 New authors: Hyejin Hickey
  content/authors/hyejin-hickey/_index.md
Labels: Content: Authors, [status] Changes requested

#2359 adding speakers
  content/events/2018/07/2018-07-20-plain-language-summit.md
Labels: Content: Authors

#2717 New authors: Mark Trammell
  content/authors/mark-trammell/_index.md
Labels: Content: Authors

#2707 Update 2020-06-18-uswds-monthly-call-june-2020.md
  content/events/2020/06/2020-06-18-uswds-monthly-call-june-2020.md
Labels: Content: Events

#2724 New authors: Derek Masaki
  content/authors/derek-masaki/_index.md
Labels: Content: Authors

#2726 Update 2020-06-09-federal-crowdsourcing-webinar-series-episode-11.md
  content/events/2020/06/2020-06-09-federal-crowdsourcing-webinar-series-episode-11.md
Labels: Content: Events

#2473 Updating duplicate text in host section
  content/events/2020/05/2020-05-05-dr-emily-shen-on-secure.md
Labels: Content: Events

#2723 Update post
  content/news/2020/05/2020-05-11-experimenting-with-specialannouncement-markup.md
  data/images/rich-results-in-serp.yml
  data/images/rich-results-test.yml
  data/images/search-console-data.yml
  static/img/proxy/rich-results-in-serp.jpeg
  static/img/proxy/rich-results-test.jpeg
  static/img/proxy/search-console-data.jpeg
Labels: Content: Blog post

#2747 New authors: Peter Roland
  content/authors/peter-roland/_index.md
Labels: Content: Authors

#2745 New authors: Alicia Rouault
  content/authors/alicia-rouault/_index.md
Labels: Content: Authors

#2744 New authors: Ben Judy
  content/authors/ben-judy/_index.md
Labels: Content: Authors

#2746 New authors: Shaudi Hosseini
  content/authors/shaudi-hosseini/_index.md
Labels: Content: Authors

#2751 Update page weights
  content/news/2020/05/2020-05-11-whats-new-in-uswds-270.md
  content/news/2020/05/2020-05-12-promote-continuity-better-support-customer-journeys.md
  content/news/2020/05/2020-05-20-tapping-into-seo-how-government-websites.md
  content/news/2020/05/2020-05-27-federal-source-code-study-series.md
  content/news/2020/05/2020-05-27-whos-on-your-digital-dream-team.md
Labels: Bug: Content Cleanup

#2743 New authors: Mike Gintz
  content/authors/mike-gintz/_index.md
Labels: Content: Authors

#2742 New authors: John Pull
  content/authors/john-pull/_index.md
Labels: Content: Authors

#2741 Update _index.md
  content/authors/angela-smithers/_index.md
Labels: Content: Authors

#2740 New authors: Maya Rhodan
  content/authors/maya-rhodan/_index.md
Labels: Content: Authors

#2738 New authors: Margo Kabel
  content/authors/margo-kabel/_index.md
Labels: Content: Authors

#2737 New authors: Caroline Kyungae Smith
  content/authors/caroline-kyungae-smith/_index.md
Labels: Content: Authors

#2736 New authors: Katherine B Nammacher
  content/authors/katherine-b-nammacher/_index.md
Labels: Content: Authors

#2735 New authors: Sarah Rigdon
  content/authors/sarah-rigdon/_index.md
Labels: Content: Authors

#2733 New authors: Andrew Do
  content/authors/andrew-do/_index.md
Labels: Content: Authors

#2732 New authors: Kristin Taylor
  content/authors/kristin-taylor/_index.md
Labels: Content: Authors

#2731 New authors: Christy Hermansen
  content/authors/christy-hermansen/_index.md
Labels: Content: Authors

#2730 New authors: Brooke Dine
  content/authors/brooke-dine/_index.md
Labels: Content: Authors

#2729 New authors: Katie Kline
  content/authors/katie-kline/_index.md
Labels: Content: Authors

#2761 Add 10x submit button to event
  content/events/2020/06/2020-06-30-10x-project-lightning-talks-2020.md
Labels: Content: Events

#2765 New authors: Major Taylor M. Wilson
  content/authors/major-taylor-m-wilson/_index.md
Labels: Content: Authors

#2766 New events: Air Force COOL and 18F: Partnership and Flight Operations…
  content/events/2020/06/2020-06-23-air-force-cool-18f-partnership-flight.md
Labels: Content: Events

#2768 New events: Women In Federal IT & Cyber Conference Networking Session #1
  content/events/2020/06/2020-06-17-women-in-federal-it-cyber.md
Labels: Content: Events

#2769 Update guidance page
  content/resources/coronavirus-covid19-guidance-for-us-government.md
Labels: Content: Resource

#2770 rename and alias: a11y CoP
  content/communities/it-accessibility-section-508.md
Labels: Content: Communities, Dev: frontend

#2771 new speaker images
  data/images/julie-strothman.yml
  data/images/matt-dobson.yml
  static/img/proxy/julie-strothman.jpeg
  static/img/proxy/matt-dobson.jpeg
Labels: Content: Images

#2773 Update julie-strothman.yml
  data/images/julie-strothman.yml
Labels: Content: Authors, Content: Images

#2772 Update it-accessibility-section-508.md
  content/communities/it-accessibility-section-508.md
Labels: Content: Communities

#2776 Update matt-dobson.yml
  data/images/matt-dobson.yml
Labels: Content: Authors, Content: Images

#2767 editing FCSW #11 information
  content/events/2020/06/2020-06-09-federal-crowdsourcing-webinar-series-episode-11.md
Labels: Content: Events

#2734 New authors: Jo Dwyer
  content/authors/jo-dwyer/_index.md
Labels: Content: Authors

#2777 Update for June event
  content/communities/devops.md
Labels: Content: Communities

#2779 Update 2020-04-15-accessibility-intersection-between-plain-language-5…
  content/events/2020/04/2020-04-15-accessibility-intersection-between-plain-language-508.md
Labels: Bug: Content Cleanup, Bug: broken links

#2781 update on join language
  content/communities/federal-leadership-professional-development.md
Labels: Content: Communities

#2774 New post: IDEA #11
  content/news/2020/06/2020-06-16-build-sites-to-address-the-entire-user-journey.md
  data/images/journey-map-ice-cream.yml
  static/img/proxy/journey-map-ice-cream.jpeg
Labels: Content: Blog post

#2783 add short_url
  content/news/2020/06/2020-06-16-build-sites-to-address-the-entire-user-journey.md
Labels: Content: Blog post

#1905 MVP of Digital.gov Style guide
  content/about/contribute.md
  content/about/style-guide.md
  themes/digital.gov/layouts/partials/core/guides/guide-nav.html
  themes/digital.gov/layouts/shortcodes/asset-img.html
  themes/digital.gov/layouts/shortcodes/author.html
  themes/digital.gov/layouts/shortcodes/box.html
  themes/digital.gov/layouts/shortcodes/theme-img.html
  themes/digital.gov/src/scss/new/_content.scss
  themes/digital.gov/src/scss/new/guides/_guide-nav.scss
  themes/digital.gov/src/scss/new/shortcodes/_asset-img.scss
  themes/digital.gov/src/scss/new/shortcodes/_box.scss
  themes/digital.gov/src/scss/new/shortcodes/_theme-img.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Documentation

#2785 New authors: Karen Matragrano
  content/authors/karen-matragrano/_index.md
Labels: Content: Authors

#2775 New events: Making Remote Work Work for Journey Mapping
  content/events/2020/07/2020-07-09-making-remote-work-work-for-journey.md
Labels: Content: Events

#2790 Update multilingual.md
  content/communities/multilingual.md
Labels: Content: Communities

#2789 update style guide
  content/about/contribute.md
  content/about/style-guide.md
  themes/digital.gov/layouts/partials/core/guides/guide-nav.html
  themes/digital.gov/layouts/shortcodes/asset-img.html
  themes/digital.gov/layouts/shortcodes/box.html
  themes/digital.gov/layouts/shortcodes/theme-img.html
  themes/digital.gov/src/scss/new/_content.scss
  themes/digital.gov/src/scss/new/guides/_guide-nav.scss
  themes/digital.gov/src/scss/new/shortcodes/_asset-img.scss
  themes/digital.gov/src/scss/new/shortcodes/_box.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Content: General site, Dev: Design, Dev: frontend

#2739 New authors: Anthony J Schulzetenberg
  content/authors/anthony-j-schulzetenberg/_index.md
Labels: Content: Authors

#2791 New authors: Malaika Carpenter
  content/authors/malaika-carpenter/_index.md
Labels: Content: Authors

#2764 Update 2020-06-23-short-case-study-ab-testing-for.md
  content/events/2020/06/2020-06-23-short-case-study-ab-testing-for.md
Labels: Content: Authors

#2763 Update _index.md
  content/authors/peter-rowland/_index.md
  content/events/2020/06/2020-06-30-10x-project-lightning-talks-2020.md
Labels: Content: Authors

#2786 New authors: Wanda Jones-Heath
  content/authors/wanda-jonesheath/_index.md
Labels: Content: Authors

#2787 New authors: Ravoyne "Ray" Payton
  content/authors/ravoyne-ray-payton/_index.md
Labels: Content: Authors

#2788 New authors: Nancy Kreidler
  content/authors/nancy-kreidler/_index.md
Labels: Content: Authors

#2784 New events: Women In Federal IT & Cyber Conference Panel Discussion #…
  content/events/2020/07/2020-07-16-women-in-federal-it-cyber.md
Labels: Content: Events

#2795 Add purple logo variant
  content/about/style-guide.md
  readme.md
  themes/digital.gov/layouts/partials/core/guides/guide-header.html
  themes/digital.gov/static/img/digit.png
  themes/digital.gov/static/img/digitalgov-logo-purple.png
  themes/digital.gov/static/img/digitalgov-logo-purple.svg
  themes/digital.gov/static/img/digitalgov-logo.svg
  themes/digital.gov/static/img/icons/favicon-16x16.png
  themes/digital.gov/static/img/icons/favicon-32x32.png
  themes/digital.gov/static/img/icons/favicon.ico
Labels: Dev: Design, Dev: frontend

#2793 Fix color contrast
  themes/digital.gov/src/scss/new/_community-info.scss
  themes/digital.gov/src/scss/new/_edit-this.scss
  themes/digital.gov/src/scss/new/_usa_anchor.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-general.scss
Labels: Dev: Accessibility, Dev: Design, Dev: frontend

#2797 Update branching
  .github/workflows/pr-preview-link.yml
  themes/digital.gov/layouts/partials/core/set-env.html
  themes/digital.gov/src/js/common/github.js
  themes/digital.gov/src/js/stream-images.js
Labels: Dev: GitHub + Federalist

#2800 Update 2020-06-18-2020-census-language-support-in-59.md
  content/events/2020/06/2020-06-18-2020-census-language-support-in-59.md
Labels: Content: Video + YouTube

#2799 Update 2020-06-11-how-usagov-en-espaol-uses-quantitative.md
  content/events/2020/06/2020-06-11-how-usagov-en-espaol-uses-quantitative.md
Labels: Content: Video + YouTube

#2798 New events: Federal Report Card Update
  content/events/2020/07/2020-07-15-federal-report-card-update.md
Labels: Content: Events

#2801 Fix 21cIDEA broken link
  content/news/2019/11/2019-11-18-building-elements-that-earn-trust.md
Labels: Bug: Content Cleanup

#2802 New link post: Making .gov More Secure by Default
  content/news/2020/06/2020-06-22-making-gov-more-secure-by-default.md
Labels: Content: Blog post

#2803 Update 2020-06-16-building-for-21st-century-web-with.md
  content/events/2020/06/2020-06-16-building-for-21st-century-web-with.md
Labels: Content: Video + YouTube

#2805 Update _index.md
  content/authors/david-lipscomb/_index.md
Labels: Content: Authors

#2804 Update 2020-06-18-2020-census-language-support-in-59.md
  content/events/2020/06/2020-06-18-2020-census-language-support-in-59.md
Labels: Content: Topics

#2792 New resources: An Introduction to Github with Malaika Carpenter
  content/resources/an-introduction-github.md
Labels: Content: Resource

#2807 New link post: Intro to GitHub for Content Creation with Malaika Carpenter
  content/news/2020/06/2020-06-23-intro-github-for-content-creation-with.md
Labels: Content: Blog post

#2808 Update 2020-06-22-making-gov-more-secure-by-default.md
  content/news/2020/06/2020-06-22-making-gov-more-secure-by-default.md
Labels: Bug: Content Cleanup

#2806 New events: 2020 Government UX Summit
  content/events/2020/07/2020-07-28-2020-government-ux-summit.md
  data/images/2020-ux-summit.yml
  static/img/proxy/2020-ux-summit.jpeg
Labels: Content: Events

#2812 Update 2020-06-23-short-case-study-ab-testing-for.md
  content/events/2020/06/2020-06-23-short-case-study-ab-testing-for.md
Labels: Content: Video + YouTube

#2816 Update 2020-06-24-dap-learning-series-shifting-your-metrics.md
  content/events/2020/06/2020-06-24-dap-learning-series-shifting-your-metrics.md
Labels: Content: Video + YouTube

#2813 New authors: Nicolas Pjontek
  content/authors/nicolas-pjontek/_index.md
Labels: Content: Authors

#2794 New sources: Section508.gov
  content/news/2020/06/2020-06-26-mapping-wcag-20-functional-performance-criteria.md
  content/sources/source_section508gov.md
Labels: Content: Blog post, Content: Source

#2829 New authors: Laura Gerhardt
  content/authors/laura-gerhardt/_index.md
Labels: Content: Authors

#2828 New authors: Austin Hernandez
  content/authors/austin-hernandez/_index.md
Labels: Content: Authors

#2830 Updating June USWDS Event Page
  content/events/2020/06/2020-06-18-uswds-monthly-call-design-modernization-importance.md
Labels: Content: Events

#2831 6/30 New news: Bringing Our Humanity to Work: 5 Ingredients for a Del…
  content/news/2020/06/2020-06-30-bringing-our-humanity-work-5-ingredients.md
Labels: Content: Blog post

#2834 Update 2020-06-30-bringing-our-humanity-work-5-ingredients.md
  content/news/2020/06/2020-06-30-bringing-our-humanity-work-5-ingredients.md
Labels: Content: Blog post

#2837 Update 2020-06-23-air-force-cool-18f-partnership-flight.md
  content/events/2020/06/2020-06-23-air-force-cool-18f-partnership-flight.md
Labels: Content: Video + YouTube

#2836 New events: A Technical Overview of cloud.gov
  content/events/2020/07/2020-07-15-a-technical-overview-cloudgov.md
Labels: Content: Events
