Repository GSA/digitalgov.gov, pull requests merged in 2020-11, with the labels that each got.

#3390 Update Service “service_opm_labs”
  content/services/service_opm_labs.md
Labels: Content: Tools and Services, netlify-cms/draft

#3392 Update Service “service_pulse”
  content/services/service_pulse.md
Labels: Content: Tools and Services, netlify-cms/draft

#3391 Create Service “service_centers-of-excellence”
  content/services/service_centers-of-excellence.md
Labels: Content: Tools and Services, netlify-cms/draft

#3395 Create Author “abraham-marinez/_index”
  content/authors/abraham-marinez/_index.md
Labels: netlify-cms/draft

#3394 Create Author “willa/_index”
  content/authors/willa/_index.md
Labels: netlify-cms/draft

#3399 Update GitHub Stale Issue bot
  .github/workflows/close-stale-issue.yml
Labels: Dev: DevOps

#3400 Update Federalist Preview bot
  .github/workflows/pr-preview-link.yml
Labels: Dev: DevOps

#3402 NIST and ITL cyber logos
  data/images/nist-itl-twitter-cyber-logo.yml
  data/images/nist-twitter-logo.yml
  static/img/proxy/nist-itl-twitter-cyber-logo.jpeg
  static/img/proxy/nist-twitter-logo.jpeg
Labels: Content: Images

#3397 adding AI spelling and authors
  content/events/2020/10/2020-10-20-overview-of-nist-initiatives-on-ai-standards-principles-and-critical-ai-issues.md
Labels: Content: Events

#3401 Add state-of-federal-rpa.pdf
  static/pdf/state-of-federal-rpa.pdf
Labels: Content: PDFs

#3403 Update 2014-06-30-508-accessible-videos-how-to-make-audio-description…
  content/news/2014/06/2014-06-30-508-accessible-videos-how-to-make-audio-descriptions.md
Labels: Content: Blog post, Dev: Migration

#3404 Update 2020-10-20-overview-of-nist-initiatives-on-ai-standards-princi…
  content/events/2020/10/2020-10-20-overview-of-nist-initiatives-on-ai-standards-principles-and-critical-ai-issues.md
Labels: Content: Events

#3398 Create Event “2020/11/2020-11-03-practical-tips-for-accessible-content-and-multilingual-websites”
  content/events/2020/11/2020-11-03-practical-tips-for-accessible-content-and-multilingual-websites.md
Labels: netlify-cms/draft

#3405 Update 2013-06-26-making-multimedia-section-508-compliant-and-accessi…
  content/news/2013/06/2013-06-26-making-multimedia-section-508-compliant-and-accessible.md
Labels: Content: Blog post, Dev: Migration

#3408 updated members total
  content/communities/multilingual.md
Labels: Content: Communities

#2182 Touchpoints feedback form (v1)
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/partials/core/feedback.html
  themes/digital.gov/layouts/partials/core/touchpoints_feedback.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/src/scss/new/_page-data.scss
  themes/digital.gov/src/scss/new/_touchpoints_feedback.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: Design, Dev: Template Logic, Dev: U.S. Web Design System, feedback

#3412 Adding youtube video
  content/events/2020/10/2020-10-09-federal-crowdsourcing-webinar-series-episode-15-10x-transforming-technology-through-agile-investments.md
Labels: Content: Events

#3410 adding youtube
  content/events/2020/10/2020-10-20-overview-of-nist-initiatives-on-ai-standards-principles-and-critical-ai-issues.md
Labels: Content: Events

#3414 Create Event “2020/11/2020-11-09-uswds-monthly-call-november-2020”
  content/events/2020/11/2020-11-09-uswds-monthly-call-november-2020.md
Labels: netlify-cms/draft

#3416 Create Author “wendy-a-f-g-stengel/_index”
  content/authors/wendy-a-f-g-stengel/_index.md
Labels: Content: Authors, netlify-cms/draft

#3417 Update artificial-intelligence.md
  content/communities/artificial-intelligence.md
Labels: Content: Communities

#3419 remove duplicate
  content/events/2020/11/2020-11-09-uswds-monthly-call-november-2020.md
  content/events/2020/11/2020-11-19-uswds-monthly-call-november-2020.md
Labels: Content: Events

#3420 Update 2020-11-03-practical-tips-for-accessible-content-and-multiling…
  content/events/2020/11/2020-11-03-practical-tips-for-accessible-content-and-multilingual-websites.md
Labels: Content: Events

#3421 Create Author “alexander-turgeon/_index”
  content/authors/alexander-turgeon/_index.md
Labels: Content: Authors, netlify-cms/draft

#3423 Added 2 authors
  content/events/2020/10/2020-10-20-customer-experience-continuous-improvement-the-usps-digital-approach.md
Labels: Content: Events

#3424 fix name
  content/authors/matt-petrowsk/_index.md
  content/authors/matt-petrowski/_index.md
Labels: Content: Authors

#3425 Update 2020-10-20-customer-experience-continuous-improvement-the-usps…
  content/events/2020/10/2020-10-20-customer-experience-continuous-improvement-the-usps-digital-approach.md
Labels: Content: Authors, Content: Events

#3426 Added new presenter's bio
  content/events/2020/11/2020-11-03-practical-tips-for-accessible-content-and-multilingual-websites.md
Labels: Content: Events

#3350 Retire lost-and-found-mapping-page.md
  content/about/lost-and-found-mapping-page.md
Labels: Bug: Content Cleanup

#3429 Updates from LG
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource

#3409 Add State of Federal RPA Report page to RPA Guide
  content/guides/rpa/state-of-federal-rpa.md
  content/resources/guide-robotic-process-automation.md
  data/images/state-of-federal-rpa.yml
  static/img/proxy/rpa-program-growth-fy19.jpeg
  static/img/proxy/state-of-federal-rpa.jpeg
Labels: Content: Guide

#3431 Create Author “alyssa-feola/_index”
  content/authors/alyssa-feola/_index.md
Labels: netlify-cms/draft

#3427 Added videos
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
Labels: Content: Events

#3433 Update 2020-10-01-plain-language-summit-2020.md
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
Labels: Content: Events

#3432 Create Author “aidan-feldman/_index”
  content/authors/aidan-feldman/_index.md
Labels: Content: Authors, netlify-cms/draft

#3437 Create Image upload “content-images-_inbox-rpa-state-update-png”
  data/images/rpa-state-update.yml
  static/img/proxy/rpa-state-update.jpeg
Labels: netlify-cms/draft

#3438 Update uswds.md
  content/communities/uswds.md
Labels: Content: Communities

#3443 Added links to videos and slides
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
Labels: Content: Events

#3445 updating how to join CoP
  content/communities/customer-experience-community.md
Labels: Content: Communities

#3444 Update mobile-application-development-program.md
  content/resources/mobile-application-development-program.md
Labels: Bug: broken links

#3446 Update federal-web-council.md
  content/resources/federal-web-council.md
Labels: Content: Resource

#3447 Create Event “2020/11/2020-11-25-federal-social-week-2020”
  content/events/2020/11/2020-11-25-federal-social-week-2020.md
Labels: netlify-cms/pending_review

#3450 Added YouTube video
  content/events/2020/11/2020-11-09-uswds-monthly-call-november-2020.md
Labels: Content: Events

#3452 fix favicon bug
  themes/digital.gov/layouts/shortcodes/termsofservice-compatible.html
  themes/digital.gov/layouts/shortcodes/termsofservice-inactive.html
Labels: Dev: frontend

#3436 Create Blog Post “2020/11/2020-11-19-state-of-federal-rpa-report-adoption-and-impact-of-robotic-process-automation-in-the-federal-government”
  content/news/2020/11/2020-11-30-state-of-federal-rpa-report-adoption-and-impact-of-robotic-process-automation-in-the-federal-government.md
  data/images/rpa-state-update.yml
  static/img/proxy/rpa-state-update.jpeg
Labels: :hand: HOLD, Content: Blog post, netlify-cms/draft

#3453 Update Services nav to Tools
  config.yml
Labels: Dev: GitHub + Federalist
