Repository GSA/digitalgov.gov, pull requests merged in 2020-10, with the labels that each got.

#3290 typo fix and slight wording changes
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Bug: Content Cleanup, Content: Events

#3292 Fix missing icons, usa banner design
  themes/digital.gov/src/scss/new/_gov-banner.scss
  themes/digital.gov/static/uswds/img/chevron.svg
Labels: Dev: U.S. Web Design System, Dev: frontend, Hacktoberfest

#3294 Updates to Summit agenda and bios
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Content: Events

#3295 Updates bio information for FSC Summit
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Content: Events

#3296 Update subscribe.md
  content/about/subscribe.md
Labels: Content: General site

#3298 Hugo bind for development server access
  package.json
Labels: Dev: Workflow

#3301 Added Dan and Aidan bios to FSCSummit event page
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Content: Events

#3302 member updates for IAAF-related CoP
  content/communities/it-accessibility-section-508.md
  content/communities/mobilegov.md
  content/communities/plain-language-community-of-practice.md
  content/communities/uswds.md
  content/communities/video.md
  content/communities/web-managers-forum.md
Labels: Content: Communities

#3303 Add a11y event statement
  themes/digital.gov/layouts/events/stage-adobe_connect.html
  themes/digital.gov/layouts/events/stage-google.html
  themes/digital.gov/layouts/events/stage-zoom.html
Labels: Dev: Template Logic

#3308 Updates to FSCSummit agenda and bios
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Content: Events

#3310 More updates to the FSCSummit event page
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Content: Events

#3311 Updates to Summit content
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Content: Events

#3291 Create Event “2020/10/2020-10-01-plain-language-summit-2020”
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
Labels: :hand: HOLD, netlify-cms/draft

#3315 Update customer-experience-community.md
  content/communities/customer-experience-community.md
Labels: Content: Communities

#3313 Create Author “ron-bronson/_index”
  content/authors/ron-bronson/_index.md
Labels: netlify-cms/pending_publish

#3312 Update Event “2020/10/2020-10-15-uswds-monthly-call-october-2020”
  content/events/2020/10/2020-10-15-uswds-monthly-call-october-2020.md
Labels: netlify-cms/pending_publish

#3316 Create Event “2020/10/2020-10-09-federal-crowdsourcing-webinar-series-episode-15-10x-transforming-technology-through-agile-investments”
  content/events/2020/10/2020-10-09-federal-crowdsourcing-webinar-series-episode-15-10x-transforming-technology-through-agile-investments.md
Labels: Content: Events, netlify-cms/draft

#3320 Create Source “source_digital-analytics-program”
  content/sources/source_dap.md
Labels: Content: Source, netlify-cms/draft

#3319 Update 2020-10-01-plain-language-summit-2020.md
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
Labels: Content: Events

#3323 add dap link post
  content/news/2020/10/2020-10-13-digital-analytics-program-releases-web-analytics-playbook.md
Labels: Content: Blog post, Content: Digital Analytics Program (DAP)

#3328 Update 2020-10-09-federal-crowdsourcing-webinar-series-episode-15-10x…
  content/events/2020/10/2020-10-09-federal-crowdsourcing-webinar-series-episode-15-10x-transforming-technology-through-agile-investments.md
Labels: Content: Events

#3318 Fixing HTML errors
  content/news/2012/11/2012-11-30-socialgov-summit-highlights-accessibility-challenges.md
  content/news/2013/04/2013-04-30-apis-in-government.md
  content/news/2013/05/2013-05-30-social-securitys-mobile-website.md
  content/news/2013/09/2013-09-12-mobile-products-for-national-preparedness-month.md
  content/news/2013/10/2013-10-30-content-management-systems-toolkit.md
  content/news/2013/12/2013-12-10-trends-on-tuesday-mobile-gaming-habits.md
  content/news/2013/12/2013-12-31-trends-on-tuesday-federal-agency-mobile-gov-trends-in-2013.md
  content/news/2014/02/2014-02-26-double-digit-crowdsourcing-competitions-launch-in-february.md
  content/news/2014/02/2014-02-26-open-for-innovation-in-digitalgov.md
  content/news/2014/03/2014-03-04-trends-on-tuesday-global-mobile-data-traffic-nearly-doubles-in-2013.md
  content/news/2014/09/2014-09-12-digitalgov-gov-six-months-later.md
Labels: Bug: Content Cleanup, hacktoberfest-accepted

#3324 Create Author “abby-covert/_index”
  content/authors/abby-covert/_index.md
Labels: Content: Authors, netlify-cms/draft

#3325 Create Author “bethany-blakey/_index”
  content/authors/bethany-blakey/_index.md
Labels: Content: Authors, netlify-cms/draft

#3326 Create Author “mark-m-mchale/_index”
  content/authors/mark-m-mchale/_index.md
Labels: Content: Authors, netlify-cms/draft

#3327 Create Author “scott-kubie/_index”
  content/authors/scott-kubie/_index.md
Labels: Content: Authors, netlify-cms/draft

#3329 Update become-a-dap-certified-analyst.md
  content/guides/dap/become-a-dap-certified-analyst.md
Labels: Content: General site

#3330 Update _index.md
  content/guides/dap/_index.md
Labels: Content: General site

#3331 Create Author “dr-kaeli-yuen/_index”
  content/authors/dr-kaeli-yuen/_index.md
Labels: Content: Authors, netlify-cms/draft

#3332 Create Author “likhitha-patha/_index”
  content/authors/likhitha-patha/_index.md
Labels: Content: Authors, netlify-cms/draft

#3333 Create Blog Post “2020/10/2020-10-15-product-lessons-from-the-front-lines-of-covid-19-civic-tech-response”
  content/news/2020/10/2020-10-16-product-lessons-from-the-front-lines-of-covid-19-civic-tech-response.md
  data/images/chatbot-phone.yml
  data/images/hero-image.yml
  data/images/kaeli.yml
  data/images/likhitha.yml
  data/images/telehealth-website.yml
  static/img/proxy/chatbot-phone.jpeg
  static/img/proxy/hero-image.jpeg
  static/img/proxy/kaeli.jpeg
  static/img/proxy/likhitha.jpeg
  static/img/proxy/telehealth-website.jpeg
Labels: Content: Blog post, netlify-cms/draft

#3337 Update Blog Post “2020/10/2020-10-16-product-lessons-from-the-front-lines-of-covid-19-civic-tech-response”
  content/news/2020/10/2020-10-16-product-lessons-from-the-front-lines-of-covid-19-civic-tech-response.md
Labels: netlify-cms/draft

#3340 Update 2020-10-01-plain-language-summit-2020.md
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
Labels: Content: Events

#3339 #2440 fix linkedin links for authors
  content/authors/amin-mehr/_index.md
  content/authors/bridget-fields/_index.md
  content/authors/joseph-castle/_index.md
  content/authors/michelle-mcnellis/_index.md
  content/authors/nikki-zeichner/_index.md
  content/authors/omid-ghaffari-tabrizi/_index.md
Labels: Bug: broken links

#3342 Create Author “elham-tabassi/_index”
  content/authors/elham-tabassi/_index.md
Labels: netlify-cms/draft

#3343 Create Author “mark-przybocki/_index”
  content/authors/mark-przybocki/_index.md
Labels: netlify-cms/draft

#3344 Update _index.md
  content/authors/omid-ghaffari-tabrizi/_index.md
Labels: Content: Authors

#3341 Create Event “2020/10/2020-10-20-overview-of-nist-initiatives-on-ai-standards-principles-and-critical-ai-issues”
  content/events/2020/10/2020-10-20-overview-of-nist-initiatives-on-ai-standards-principles-and-critical-ai-issues.md
Labels: netlify-cms/draft

#3348 Add crazyegg script
  themes/digital.gov/layouts/partials/core/head.html
Labels: Dev: frontend

#3345 Create Author “matt-petrowsk/_index”
  content/authors/matt-petrowsk/_index.md
Labels: Content: Authors, netlify-cms/draft

#3346 Create Author “jeff-pass/_index”
  content/authors/jeff-pass/_index.md
Labels: Content: Authors, netlify-cms/draft

#3352 Update 2020-10-15-uswds-monthly-call-october-2020.md
  content/events/2020/10/2020-10-15-uswds-monthly-call-october-2020.md
Labels: Content: Video + YouTube

#3353 Create Author “donna-roy/_index”
  content/authors/donna-roy/_index.md
Labels: Content: Authors, netlify-cms/draft

#3354 Create Author “renata-spinks/_index”
  content/authors/renata-spinks/_index.md
Labels: Content: Authors, netlify-cms/draft

#3349 Update federal-social-media-accessibility-toolkit-hackpad.md
  content/resources/federal-social-media-accessibility-toolkit-hackpad.md
Labels: Bug: broken links

#3347 Create Event “2020/10/2020-10-20-customer-experience-continuous-improvement-the-usps-digital-approach”
  content/events/2020/10/2020-10-20-customer-experience-continuous-improvement-the-usps-digital-approach.md
Labels: Content: Events, netlify-cms/draft

#3357 Update 2012-06-08-usdas-ask-karen.md
  content/news/2012/06/2012-06-08-usdas-ask-karen.md
Labels: Content: Blog post, Content: Images, Dev: Migration

#3358 Update content-management-systems-used-by-government-agencies.md
  content/resources/content-management-systems-used-by-government-agencies.md
Labels: Content: Resource

#3355 Create Event “2020/10/2020-10-22-women-in-federal-it-cyber-conference-panel-discussion-4-veterans-day”
  content/events/2020/10/2020-10-22-women-in-federal-it-cyber-conference-panel-discussion-4-veterans-day.md
Labels: Content: Events, netlify-cms/draft

#3360 Create Author “ashley-owens/_index”
  content/authors/ashley-owens/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3361 Create Author “rebecca-refoy/_index”
  content/authors/rebecca-refoy/_index.md
Labels: Content: Authors, netlify-cms/pending_review

#3363 img for first d kaufmann
  data/images/kayfmann-fraud-404.yml
  static/img/proxy/kayfmann-fraud-404.jpeg
Labels: Content: Images

#3364 img for 2nd blog
  data/images/kaufmann-404-page-spike.yml
  static/img/proxy/kaufmann-404-page-spike.jpeg
Labels: Content: Images

#3366 fix filename
  data/images/kaufmann-fraud-404.yml
  static/img/proxy/kaufmann-fraud-404.jpeg
Labels: Content: Images

#3367 Update kaufmann-404-page-spike.yml
  data/images/kaufmann-404-page-spike.yml
Labels: Content: Images

#3369 fix alt text
  data/images/kaufmann-404-page-spike.yml
  data/images/kayfmann-fraud-404.yml
Labels: Content: Images

#3375 Standardize site header
  themes/digital.gov/layouts/_default/baseof.html
Labels: Dev: frontend

#3368 Change the max-width to full
  themes/digital.gov/src/scss/new/shortcodes/_card-policy.scss
Labels: Dev: Design

#3365 DK 1 - 10/26 blog: True Crime Detectives: How We Used Free Web Metrics Tools To Uncover a Cybersecurity Incident
  content/news/2020/10/2020-10-24-true-crime-detectives-how-we-used-free-web-metrics-tools-to-uncover-a-cybersecurity-incident.md
Labels: :hand: HOLD, Content: Blog post, netlify-cms/pending_review

#3377 img for dbpa
  data/images/strategy-implementation-metal-gears-etiammos-istock-getty-images-plus-668233520.yml
  static/img/proxy/strategy-implementation-metal-gears-etiammos-istock-getty-images-plus-668233520.jpeg
Labels: Content: Images

#3362 10/26 - Create Blog Post - Discovery BPA Evaluation Process: How to Operationalize this Practice
  content/news/2020/10/2020-10-24-discovery-bpa-evaluation-process-how-to-operationalize-this-practice.md
Labels: :hand: HOLD, Content: Blog post, netlify-cms/pending_review

#3380 Update 2020-10-24-true-crime-detectives-how-we-used-free-web-metrics-…
  content/news/2020/10/2020-10-24-true-crime-detectives-how-we-used-free-web-metrics-tools-to-uncover-a-cybersecurity-incident.md
Labels: Content: Blog post

#3381 bpa short url
  content/news/2020/10/2020-10-24-discovery-bpa-evaluation-process-how-to-operationalize-this-practice.md
Labels: Content: Blog post

#3382 AO location
  content/authors/ashley-owens/_index.md
Labels: Content: Authors

#3383 Update 2020-10-24-discovery-bpa-evaluation-process-how-to-operational…
  content/news/2020/10/2020-10-24-discovery-bpa-evaluation-process-how-to-operationalize-this-practice.md
Labels: Content: Blog post, Content: Images

#3370 DK 2 - 10/27 Blog: Zero Pageviews Is Your Goal: Finding Problem Pages with Website Analytics
  content/news/2020/10/2020-10-24-zero-pageviews-is-your-goal-finding-problem-pages-with-website-analytics.md
Labels: :hand: HOLD, Content: Blog post, netlify-cms/pending_review

#3386 Update 2020-10-24-zero-pageviews-is-your-goal-finding-problem-pages-w…
  content/news/2020/10/2020-10-24-zero-pageviews-is-your-goal-finding-problem-pages-with-website-analytics.md
Labels: Content: Blog post

#3387 making cop open to public
  content/communities/plain-language-community-of-practice.md
Labels: Content: Communities
