Repository GSA/digitalgov.gov, pull requests merged in 2020-12, with the labels that each got.

#3244 Redirect USWDS CoP page
  content/communities/uswds.md
  content/services/service_uswds.md
Labels: Content: Communities

#3455 Create Resource “deceptive-design-how-to-identify-and-combat-consequence-design”
  content/resources/deceptive-design-how-to-identify-and-combat-consequence-design.md
Labels: Content: Blog post, Content: Resource, netlify-cms/draft

#3458 Updated Willa's Bio
  content/events/2020/11/2020-11-03-practical-tips-for-accessible-content-and-multilingual-websites.md
Labels: Content: Events

#3459 Update Author “willa/_index”
  content/authors/willa/_index.md
Labels: Content: Authors, netlify-cms/draft

#3396 Create Blog Post “2020/11/2020-11-03-federal-student-aid’s-new-virtual-assistant-offers-model-for-improved-customer-service-in-government”
  content/news/2020/11/2020-12-07-federal-student-aid’s-new-virtual-assistant-offers-model-for-improved-customer-service-in-government.md
  data/images/aidan-hero-image.yml
  static/img/proxy/aidan-hero-image.jpeg
Labels: :hand: HOLD, netlify-cms/draft

#3462 Update 2020-11-25-federal-social-week-2020.md
  content/events/2020/11/2020-11-25-federal-social-week-2020.md
  data/images/social-media-week-2020.yml
  static/img/proxy/social-media-week-2020.jpeg
Labels: Content: Events

#3464 make colors more consistent
  themes/digital.gov/src/scss/new/_news.scss
  themes/digital.gov/src/scss/new/_promos.scss
  themes/digital.gov/src/scss/new/_related_promos.scss
  themes/digital.gov/src/scss/new/_resources.scss
  themes/digital.gov/src/scss/new/_services-directory.scss
  themes/digital.gov/src/scss/new/_topics-sidebar.scss
  themes/digital.gov/src/scss/new/_touchpoints_feedback.scss
  themes/digital.gov/src/scss/new/shortcodes/_box.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-color.scss
Labels: Dev: Design

#3466 Update 2020-12-04-archivist-memorandum-to-agency-heads-on-presidentia…
  content/news/2020/12/2020-12-04-archivist-memorandum-to-agency-heads-on-presidential-transition.md
  content/sources/source_nara.md
  static/logos/nara-logo.png
Labels: Content: Blog post

#3465 Create Blog Post “2020/12/2020-12-04-archivist-memorandum-to-agency-heads-on-presidential-transition”
  content/news/2020/12/2020-12-04-archivist-memorandum-to-agency-heads-on-presidential-transition.md
  content/sources/source_nara.md
  static/logos/nara-logo.png
Labels: netlify-cms/pending_publish

#3461 New post: Federal Student Aid’s New Virtual Assistant Offers Model for Improved Customer Service in Government
  content/news/2020/11/2020-12-07-federal-student-aid’s-new-virtual-assistant-offers-model-for-improved-customer-service-in-government.md
  data/images/aidan-hero-image.yml
  static/img/proxy/aidan-hero-image.jpeg
Labels: Content: Blog post

#3469 Create Image upload “content-images-_inbox-aidan-hero-image-png”
  data/images/aidan-hero-image.yml
  static/img/proxy/aidan-hero-image.jpeg
Labels: netlify-cms/draft

#3470 fix quotes
  data/images/aidan-hero-image.yml
Labels: [issue type] bug

#3471 Update Blog Post “2020/11/2020-12-07-federal-student-aid’s-new-virtual-assistant-offers-model-for-improved-customer-service-in-government”
  content/news/2020/11/2020-12-07-federal-student-aid’s-new-virtual-assistant-offers-model-for-improved-customer-service-in-government.md
Labels: netlify-cms/draft

#3474 PDF Slides for Multilingual Event
  static/pdf/2020-12-03-practical-tips-for-accessible-content-and-multilingual-websites.pdf
Labels: Content: PDFs

#3473 Update multilingual.md
  content/communities/multilingual.md
Labels: Content: Communities

#3478 Create Image upload “content-images-_inbox-uswds-dec-call-png”
  data/images/uswds-dec-call.yml
  static/img/proxy/uswds-dec-call.jpeg
Labels: Content: Images, netlify-cms/pending_publish

#3479 Create Event “2020/12/2020-12-11-uswds-monthly-call-december-2020”
  content/events/2020/12/2020-12-11-uswds-monthly-call-december-2020.md
Labels: Content: Events, netlify-cms/draft

#3482 Update 2020-12-11-uswds-monthly-call-december-2020.md
  content/events/2020/12/2020-12-11-uswds-monthly-call-december-2020.md
Labels: Content: Events, Content: Images

#3481 Create Blog Post “2020/12/2020-12-11-tts-bug-bounty-program-3-year-review”
  content/news/2020/12/2020-12-11-tts-bug-bounty-program-3-year-review.md
  data/images/bug-bounty-timeline.yml
  data/images/bug-bounty1.yml
  data/images/bug-bounty2.yml
  data/images/bug-bounty3.yml
  data/images/bug-bounty4.yml
  data/images/bug-bounty5.yml
  static/img/proxy/bug-bounty-timeline.jpeg
  static/img/proxy/bug-bounty1.jpeg
  static/img/proxy/bug-bounty2.jpeg
  static/img/proxy/bug-bounty3.jpeg
  static/img/proxy/bug-bounty4.jpeg
  static/img/proxy/bug-bounty5.jpeg
Labels: Content: Blog post, netlify-cms/draft

#3457 updating copy
  content/events/2020/11/2020-11-25-federal-social-week-2020.md
Labels: Content: Events

#3477 update to hugo 0.79.0
  .circleci/config.yml
  .hugo-version
  readme.md
Labels: Dev: frontend

#3486 Update _index.md
  content/authors/jeremyzilar/_index.md
Labels: Content: Authors

#3487 Update 2013-09-24-trends-on-tuesday-pew-cell-phone-activities-report.md
  content/news/2013/09/2013-09-24-trends-on-tuesday-pew-cell-phone-activities-report.md
Labels: Content: Blog post, Content: Images

#3484 Added video and slides
  content/events/2020/11/2020-11-03-practical-tips-for-accessible-content-and-multilingual-websites.md
Labels: Content: Events

#3485 a few minor tweaks to the Bug Bounty blog post
  content/news/2020/12/2020-12-11-tts-bug-bounty-program-3-year-review.md
Labels: Content: Blog post

#3492 Added video and slides
  content/events/2020/10/2020-10-20-customer-experience-continuous-improvement-the-usps-digital-approach.md
Labels: Content: Events

#3491 Create Author “erica-kritt/_index”
  content/authors/erica-kritt/_index.md
Labels: netlify-cms/pending_publish

#3493 Create Blog Post “2020/12/2020-12-18-deceptive-design-how-to-identify-and-combat-consequence-design”
  content/news/2020/12/2020-12-18-deceptive-design-how-to-identify-and-combat-consequence-design.md
Labels: Content: Blog post, netlify-cms/pending_review

#3494 Create Blog Post “2020/12/2020-12-19-a-dashboard-for-privacy-offices”
  content/news/2020/12/2020-12-19-a-dashboard-for-privacy-offices.md
Labels: Content: Blog post, netlify-cms/pending_review

#3498 delete duplicate
  content/news/2020/12/2020-12-18-deceptive-design-how-to-identify-and-combat-consequence-design.md
Labels: Bug: Content Cleanup

#3497 Create Blog Post “2020/12/2020-12-21-deceptive-design-how-to-identify-and-combat-consequence-design”
  content/news/2020/12/2020-12-21-deceptive-design-how-to-identify-and-combat-consequence-design.md
Labels: Content: Blog post, netlify-cms/pending_review

#3499 new source for news
  content/sources/source_datagov.md
Labels: Content: Images, Content: Source

#3501 update datagov source
  content/sources/source_datagov.md
Labels: Content: Source

#3500 Create Blog Post “2020/12/2020-12-21-covid-19-is-complex-as-is-covid-19-open-data”
  content/news/2020/12/2020-12-21-covid-19-is-complex-as-is-covid-19-open-data.md
Labels: Content: Blog post, netlify-cms/pending_review

#3502 Create Event “2020/12/2020-12-21-how-to-navigate-challenges-to-successfully-a-b-test-your-emails”
  content/events/2020/12/2020-12-21-how-to-navigate-challenges-to-successfully-a-b-test-your-emails.md
Labels: netlify-cms/pending_review

#3504 Create Resource “how-to-build-an-analytics-strategy”
  content/resources/how-to-build-an-analytics-strategy.md
Labels: Content: Resource, netlify-cms/pending_review

#3508 Update 2020-12-21-deceptive-design-how-to-identify-and-combat-consequ…
  content/news/2020/12/2020-12-21-deceptive-design-how-to-identify-and-combat-consequence-design.md
Labels: Content: Blog post

#3509 Update 2020-12-21-deceptive-design-how-to-identify-and-combat-consequ…
  content/news/2020/12/2020-12-21-deceptive-design-how-to-identify-and-combat-consequence-design.md
Labels: Content: Blog post

#3510 Update nara-guidance-on-managing-social-media-records.md
  content/resources/nara-guidance-on-managing-social-media-records.md
Labels: Content: Resource

#3511 Update nara-guidance-on-managing-social-media-records.md
  content/resources/nara-guidance-on-managing-social-media-records.md
Labels: Content: Resource

#3512 Create Blog Post “2020/12/2020-12-23-how-to-build-an-analytics-strategy-1”
  content/news/2020/12/2020-12-23-how-to-build-an-analytics-strategy-1.md
Labels: Content: Blog post, netlify-cms/pending_review

#3515 Update _index.md
  content/authors/victoria-wales/_index.md
Labels: Content: Authors

#3514 Update _index.md
  content/authors/nina-bianchi/_index.md
Labels: Content: Authors

#3516 Create Blog Post “2020/12/2020-12-28-become-a-dap-certified-analyst”
  content/news/2020/12/2020-12-28-become-a-dap-certified-analyst.md
Labels: Content: Blog post, netlify-cms/pending_review

#3517 Update _index.md
  content/authors/tlowden/_index.md
Labels: Content: Authors

#3505 Ks proofer 1
  content/news/2014/04/2014-04-01-digital-analytics-program-dap-oceans-of-data.md
Labels: Bug: Content Cleanup

#3506 Ks proofer 2
  content/news/2014/03/2014-03-28-plain-language-page-titles-more-important-than-ever.md
  content/news/2014/05/2014-05-19-sign-up-for-digitalgov-citizen-services-summit-friday-may-30.md
  content/news/2014/06/2014-06-03-harnessing-the-power-of-many-digitalgov-summit-panels-recap.md
  content/news/2014/11/2014-11-04-a-picture-is-worth-a-thousand-tokens-part-ii.md
  content/news/2014/11/2014-11-07-welcome-to-user-experience-month.md
  content/news/2014/12/2014-12-23-challenges-round-up.md
Labels: Bug: Content Cleanup

#3518 2 new imgs for coe
  data/images/coe-modern-federal-apprenticeship-video-1200x630.yml
  data/images/coe-modern-federal-apprenticeship-video-1900x980.yml
  static/img/proxy/coe-modern-federal-apprenticeship-video-1200x630.jpeg
  static/img/proxy/coe-modern-federal-apprenticeship-video-1900x980.jpeg
Labels: Content: Images

#3519 Fixed 2015 News Contents
  content/news/2015/02/2015-02-24-digital-analytics-program-among-finalists-for-igniting-innovation-award.md
  content/news/2015/03/2015-03-12-the-new-fedramp-gov-is-here.md
  content/news/2015/03/2015-03-19-turning-government-data-into-better-public-service.md
  content/news/2015/06/2015-06-03-taking-the-pulse-of-the-federal-governments-web-presence.md
Labels: Bug: Content Cleanup

#3522 Create Event “2020/12/2020-12-29-2020-federal-report-card-briefing”
  content/events/2020/12/2020-12-29-2020-federal-report-card-briefing.md
Labels: netlify-cms/draft

#3520 Fixed Html tag issues
  content/news/2015/09/2015-09-02-https-and-other-ranking-factors-what-impacts-the-seo-of-government-websites.md
Labels: Bug: Content Cleanup

#3524 pl report card 2020 img
  data/images/plain-language-report-card-2020.yml
  static/img/proxy/plain-language-report-card-2020.jpeg
Labels: Content: Images

#3525 gao images
  static/logos/GAO-icon.png
  static/logos/GAO-logo.png
Labels: Content: Images, Content: Source

#3527 gao news source
  content/sources/source_gao.md
Labels: Content: Source

#3526 Added video
  content/events/2020/12/2020-12-11-uswds-monthly-call-december-2020.md
Labels: Content: Events

#3528 Update 2020-12-29-2020-federal-report-card-briefing.md
  content/events/2020/12/2020-12-29-2020-federal-report-card-briefing.md
Labels: Content: Events, Content: Images

#3529 Create Blog Post “2020/12/2020-12-29-best-practices-for-agile-adoption-and-implementation”
  content/news/2020/12/2020-12-29-best-practices-for-agile-adoption-and-implementation.md
Labels: Content: Blog post, netlify-cms/pending_review

#3530 Update source_gao.md
  content/sources/source_gao.md
Labels: Content: Images, Content: Source

#3537 Create Blog Post “2020/12/2020-12-30-transition-post-1-general-resources-from-nara-and-gsa”
  content/news/2020/12/2020-12-30-transition-post-1-general-resources-from-nara-and-gsa.md
Labels: Content: Blog post, netlify-cms/pending_review

#3536 Create Blog Post “2020/12/2020-12-30-transition-post-2-entrance-and-exit-checklists-for-senior-officials”
  content/news/2020/12/2020-12-30-transition-post-2-entrance-and-exit-checklists-for-senior-officials.md
Labels: Content: Blog post, netlify-cms/pending_review

#3535 Create Blog Post “2020/12/2020-12-30-transition-post-3-managing-official-email-and-social-media-accounts”
  content/news/2020/12/2020-12-30-transition-post-3-managing-official-email-and-social-media-accounts.md
Labels: Content: Blog post, netlify-cms/pending_review

#3534 Create Blog Post “2020/12/2020-12-30-transition-post-4-president-elect-transition-team-materials”
  content/news/2020/12/2020-12-30-transition-post-4-president-elect-transition-team-materials.md
Labels: Content: Blog post, netlify-cms/pending_review

#3538 Update 2015-09-16-speed-matters-optimizing-your-website-for-maximum-p…
  content/news/2015/09/2015-09-16-speed-matters-optimizing-your-website-for-maximum-performance.md
Labels: Content: Blog post, Content: Video + YouTube
