Repository GSA/digitalgov.gov, pull requests merged in 2020-02, with the labels that each got.

#1931 adding metadata
  content/resources/intro-accessibility.md
Labels: Bug: Content Cleanup

#1942 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Dev: Documentation

#1946 Event: removing draft, making public
  content/events/2019/10/2019-10-30-federal-crowdsourcing-webinar-series-episode-6-fedramp-ideation.md
Labels: Bug

#1947 Add license file
  LICENSE.md
Labels: Dev: Documentation

#1949 updating USWDS Event description and title
  content/events/2020/02/2020-02-20-uswds-monthly-call.md
Labels: Content: Events

#1948 Update 2020-01-14-socialgov-winter-meeting.md
  content/events/2020/01/2020-01-14-socialgov-winter-meeting.md
Labels: Content: Events

#1950 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Dev: Documentation

#1952 Update 2020-01-28-panel-discussion-how-agencies-spreading-best.md
  content/events/2020/01/2020-01-28-panel-discussion-how-agencies-spreading-best.md
Labels: Content: Events

#1953 Update devops.md
  content/communities/devops.md
Labels: Content: Events

#1944 Update 2020-02-11-federal-crowdsourcing-webinar-series-episode-7.md
  content/events/2020/02/2020-02-11-federal-crowdsourcing-webinar-series-episode-7.md
Labels: ---- HOLD ----, Content: Events

#1959 New events: Moving From Agile Towards DevOps With a Small Team
  content/events/2020/02/2020-02-25-moving-from-agile-towards-devops-with.md
Labels: Content: Events

#1960 Update devops.md
  content/communities/devops.md
Labels: Content: Events

#1958 update sitemap with redirect
  content/sitemap.md
Labels: Content: Redirects

#1961 New events: DAP Learning Series: The YouTube Event Option
  content/events/2020/02/2020-02-19-dap-learning-series-youtube-event-option.md
Labels: Content: Events

#1965 New events: Reaching America’s Veterans in the Digital Space
  content/events/2020/02/2020-02-13-reaching-americas-veterans-in-digital-space.md
Labels: Content: Events

#1970 Update _index.md
  content/authors/ammie-farraj-feijoo/_index.md
Labels: Content: Authors

#1971 Update termsofservice.yml
  data/termsofservice.yml
Labels: Content: Resource

#1972 Update termsofservicepoc.yml
  data/termsofservicepoc.yml
Labels: Content: Resource

#1975 Update devops.md
  content/communities/devops.md
Labels: Content: Communities

#1968 Fixing broken link
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Bug: broken links

#1974 New events: DAP Learning Series: Justifying the Web Analyst's Role in…
  content/events/2020/02/2020-02-25-dap-learning-series-justifying-web-analysts.md
Labels: Content: Events

#1973 Update 2020-01-27-10x-project-lightning-talks.md
  content/events/2020/01/2020-01-27-10x-project-lightning-talks.md
Labels: Content: Events

#1963 2/11: New posts: Deep Dive into the UX Field
  content/posts/2020/02/2020-02-11-deep-dive-into-ux-field.md
  data/images/ux-nrrd-logo.yml
  data/images/ux-onnr-logo.yml
  static/img/proxy/ux-nrrd-logo.jpeg
  static/img/proxy/ux-onnr-logo.jpeg
Labels: ---- HOLD ----, Content: Blog post

#1988 Update 2020-02-11-deep-dive-into-ux-field.md
  content/posts/2020/02/2020-02-11-deep-dive-into-ux-field.md
Labels: Content: Blog post

#1991 Update 2020-01-30-adopting-uswds-one-step-at-time.md
  content/posts/2020/01/2020-01-30-adopting-uswds-one-step-at-time.md
Labels: Content: Blog post

#1986 Fixing topics API
  content/events/2019/11/2019-11-19-socialgov-talk-reaching-small-businesses-in-digital-environment.md
Labels: Bug, Dev: apis

#1990 Added space between last 2 paragraphs
  content/posts/2016/06/2016-06-09-welcome-to-the-new-dhs-gov.md
Labels: Bug: Content Cleanup

#2007 Tagging site
  content/events/2018/01/2018-01-09-responding-to-a-disaster-how-usagov-helped-shape-the-digital-response-in-puerto-rico.md
Labels: Content: Events

#2004 Updating Tags and Speakers
  content/events/2017/11/2017-11-15-fedramp-tailored-overview-finalized-new-baseline.md
Labels: Content: Events

#2002 Updating Event Page with Tags and Presenters
  content/events/2017/10/2017-10-12-dap-learning-series-visualizing-analytics-data-part-2.md
Labels: Content: Events

#2005 Tagging
  content/events/2017/10/2017-10-24-online-cut-through-noise-really-connect-with-your-spanishlanguage-audience-on-social-media.md
Labels: Content: Events

#2008 adding tag
  content/events/2018/01/2018-01-10-january-plain-monthly-meeting.md
Labels: Content: Events

#2012 adding tags
  content/events/2018/02/2018-02-15-dap-learning-series-digital-analytics-program-101.md
Labels: Content: Events

#2011 adding tags
  content/events/2017/10/2017-10-11-an-around-world-recap-plain-monthly-meeting.md
Labels: Content: Events

#2010 tagging presenters
  content/events/2018/01/2018-01-26-us-web-design-standards-monthly-users-call.md
Labels: Content: Events

#1993 New events: DAP Learning Series: An Introduction to the Basics
  content/events/2020/02/2020-02-23-dap-learning-series-an-introduction-basics.md
Labels: Content: Events

#1999 New events: DAP: Analytics Case Study Part 2: Analysis
  content/events/2020/08/2020-09-24-dap-analytics-case-study-part-2.md
Labels: Content: Events

#1998 New events: DAP: Analytics Case Study Part 1: Assessment
  content/events/2020/08/2020-08-26-dap-analytics-case-study-part-1.md
Labels: Content: Events

#1997 New events: DAP Learning Series: Lessons From Canada.ca
  content/events/2020/07/2020-07-23-dap-learning-series-lessons-from-canadaca.md
Labels: Content: Events

#1996 New events: DAP Learning Series: Shifting Your Metrics Mindset
  content/events/2020/06/2020-06-24-dap-learning-series-shifting-your-metrics.md
Labels: Content: Events

#2000 New events: Analytics Case Study Part 3: Action
  content/events/2020/10/2020-10-21-analytics-case-study-part-3-action.md
Labels: Content: Events

#2014 adding topics and presenters
  content/events/2020/01/2020-01-14-socialgov-winter-meeting.md
Labels: Content: Events

#2018 Update 2020-02-13-reaching-americas-veterans-in-digital-space.md
  content/events/2020/02/2020-02-13-reaching-americas-veterans-in-digital-space.md
Labels: Content: Events

#2013 New short post: Even with a design system, you still need a designer
  content/posts/2020/02/2020-02-13-even-with-a-design-system-you.md
Labels: Content: Blog post

#1994 New events: Making a Mobile-Friendly Website Using the ADAPT Model
  content/events/2020/02/2020-02-25-making-a-mobilefriendly-website-using-adapt.md
Labels: Size: minutes

#2020 XML / RSS Redirect
  config.yml
  content/feed.md
  content/pages/feed.md
  docs/common-regex.txt
  readme.md
Labels: Dev: Template Logic

#2030 tagging page
  content/events/2018/03/2018-03-22-dap-learning-series-analytics-events-deep-dive.md
Labels: Content: Events

#2029 adding in speaker
  content/events/2018/03/2018-03-21-conversations-on-public-impact-how-data-trusts-can-preserve-protect-your-digital-initiatives.md
Labels: Content: Events

#2028 New events: Mitigating Bias While Building Research Practices
  content/events/2020/03/2020-03-03-mitigating-bias-while-building-research-practices.md
Labels: Content: Events

#2031 Update 2020-02-19-dap-learning-series-youtube-event-option.md
  content/events/2020/02/2020-02-19-dap-learning-series-youtube-event-option.md
Labels: Content: Events

#2032 Update 2020-02-11-federal-crowdsourcing-webinar-series-episode-7.md
  content/events/2020/02/2020-02-11-federal-crowdsourcing-webinar-series-episode-7.md
Labels: Content: Events

#2034 New authors: David Warren
  content/authors/david-warren/_index.md
Labels: Content: Authors

#2006 Adding speakers to event
  content/events/2017/12/2017-12-12-workshop-making-government-websites-with-github-federalist-us-web-design-standards.md
Labels: Content: Events

#2035 New events: Federal Source Code Summit: Building Coding Communities
  content/events/2020/04/2020-04-16-federal-source-code-summit-building-coding.md
Labels: Content: Events

#2036 Update 2020-03-03-mitigating-bias-while-building-research-practices.md
  content/events/2020/03/2020-03-03-mitigating-bias-while-building-research-practices.md
Labels: Content: Events

#2037 Update open-government-directive.md
  content/resources/open-government-directive.md
Labels: Content: Resource

#2038 Update 2020-02-19-dap-learning-series-youtube-event-option.md
  content/events/2020/02/2020-02-19-dap-learning-series-youtube-event-option.md
Labels: Content: Events

#2039 Update open-government-directive.md
  content/resources/open-government-directive.md
Labels: Bug: broken links, Content: Resource

#2041 Update 2020-04-16-federal-source-code-summit-building-coding.md
  content/events/2020/04/2020-04-16-federal-source-code-summit-building-coding.md
Labels: Content: Events

#2045 Update uswds feb20 event
  content/events/2020/02/2020-02-20-uswds-monthly-call.md
Labels: Content: Events

#2048 New events: USWDS Monthly Call - March 2020
  content/events/2020/03/2020-03-19 14:30-uswds-monthly-call-march-2020.md
Labels: Content: Events

#2053 Update _index.md
  content/authors/brian-fox/_index.md
Labels: Content: Authors

#2046 Adding a redirect for old URL
  content/resources/intro-accessibility.md
Labels: Content: Redirects

#2056 New events: USWDS Monthly Call - April 2020
  content/events/2020/03/2020-03-19-uswds-monthly-call-march-2020.md
  content/events/2020/04/2020-04-16-uswds-monthly-call-april-2020.md
  content/events/2020/05/2020-05-21-uswds-monthly-call-may-2020.md
  content/events/2020/06/2020-06-18-uswds-monthly-call-june-2020.md
  content/events/2020/07/2020-07-16-uswds-monthly-call-july-2020.md
  content/events/2020/08/2020-08-20-uswds-monthly-call-august-2020.md
  content/events/2020/09/2020-09-17-uswds-monthly-call-september-2020.md
  content/events/2020/10/2020-10-15-uswds-monthly-call-october-2020.md
  content/events/2020/11/2020-11-19-uswds-monthly-call-november-2020.md
Labels: Content: Events

#2058 New events: Readability Audits of Government Websites w/Katherine Spivey
  content/events/2020/03/2020-03-11-katherine-spivey-on-readability-audits-government.md
Labels: Content: Events

#2059 New events: RPA Community of Practice March All-Hands Meeting
  content/events/2020/03/2020-03-06-rpa-community-practice-cop-march-all.md
Labels: Content: Events

#2057 Blog post for new event; 2020 Government UX Summit
  content/events/2020/05/2020-05-12-government-ux-summit.md
  content/posts/2020/02/2020-02-26-call-for-government-ux-summit.md
  data/images/ux-government-summit-2020.yml
  static/img/proxy/ux-government-summit-2020.jpeg
Labels: Content: Blog post, Content: Events

#1851 Adding a list of All Resources by topic
  content/topics/accessibility/_index.md
  content/topics/agile/_index.md
  content/topics/code/_index.md
  content/topics/content/_index.md
  content/topics/cx/_index.md
  content/topics/data/_index.md
  content/topics/design/_index.md
  content/topics/devops/_index.md
  content/topics/metrics/_index.md
  content/topics/mobile/_index.md
  content/topics/product-management/_index.md
  content/topics/social-media/_index.md
  content/topics/user-experience/_index.md
  content/topics/uswds/_index.md
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/topics/terms.html
  themes/digital.gov/src/scss/new/_resources.scss
  themes/digital.gov/src/scss/new/_topics-sidebar.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Content: Resource, Dev: Template Logic

#2061 Changing the link to the RPA playbook
  content/communities/rpa-community.md
  static/pdf/rpa-playbook.pdf
Labels: Content: Communities

#2068 Update _index.md
  content/authors/omid-ghaffari-tabrizi/_index.md
Labels: Content: Authors

#2069 New authors: Mark Hopson
  content/authors/mark-hopson/_index.md
Labels: Content: Authors

#2070 New authors: Michelle McNellis
  content/authors/michelle-mcnellis/_index.md
Labels: Content: Authors

#2062 removes XML pages for single pages
  config.yml
Labels: Dev: Template Logic

#1937 A11y fixes
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/home.html
  themes/digital.gov/layouts/partials/core/header.html
  themes/digital.gov/src/scss/new/home/_resources_featured.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Accessibility

#2064 adding mobile tag, editing source URL
  content/resources/how-track-performance.md
Labels: Content: Resource

#1841 Edits to the preview bar on preview pages
  themes/digital.gov/layouts/partials/core/notice-bar.html
Labels: Dev: frontend

#2075 Update 2020-02-25-moving-from-agile-towards-devops-with.md
  content/events/2020/02/2020-02-25-moving-from-agile-towards-devops-with.md
Labels: Content: Events
