Repository GSA/digitalgov.gov, pull requests merged in 2020-01, with the labels that each got.

#1748 Newsletter page fix
  content/about/subscribe.md
  content/pages/newsletter.md
Labels: Bug: broken links

#1750 New events: Plain Language in 2020
  content/events/2020/01/2020-01-08-plain-language-in-2020.md
Labels: Content: Events

#1754 adding markdownify to summary
  content/posts/2013/04/2013-04-25-government-must-respond-rapidly-to-social-media-hacking.md
  content/posts/2013/05/2013-05-09-we-the-people-api.md
  content/posts/2014/01/2014-01-09-top-eight-best-practices-for-federal-contact-centers.md
  content/posts/2014/03/2014-03-21-announcing-beta-usgs-gov.md
  content/posts/2014/05/2014-05-15-defense-finance-and-accounting-service-goes-responsive.md
  content/posts/2014/05/2014-05-19-video-blog-part-2-sarah-crane-usa-gov.md
  content/posts/2014/05/2014-05-27-video-blog-part-3-sarah-crane-usa-gov.md
  content/posts/2014/05/2014-05-30-digitalgov-citizen-services-summit-a-success.md
  content/posts/2014/06/2014-06-09-what-structured-content-can-do-for-you-webinar-recap.md
  content/posts/2014/06/2014-06-25-case-studies-in-thunderclap.md
  content/posts/2014/07/2014-07-02-the-api-briefing-apis-come-in-many-data-flavors.md
  content/posts/2014/08/2014-08-11-the-power-of-email-marketing.md
  content/posts/2014/09/2014-09-22-usgs-picture-puzzle-do-you-see-changes-to-the-coast.md
  content/posts/2014/10/2014-10-15-the-api-briefing-epas-water-quality-portal-api-merges-three-data-streams.md
  content/posts/2014/12/2014-12-08-2nd-u-s-public-participation-playbook-draft-responds-to-public-contributions.md
  content/posts/2014/12/2014-12-18-10-years-of-digital-government-a-retrospective.md
  content/posts/2015/01/2015-01-20-usgs-where-citizen-science-is-for-the-birds.md
  content/posts/2015/01/2015-01-30-social-video-making-sense-of-the-facebook-and-youtube-platforms.md
  content/posts/2015/04/2015-04-09-new-usgs-app-helps-save-the-piping-plovers.md
  content/posts/2015/04/2015-04-22-the-api-briefing-making-a-difference-one-microtask-at-a-time.md
  content/posts/2015/04/2015-04-24-sharing-the-essentials-of-animated-gifs-for-public-services.md
  content/posts/2015/06/2015-06-05-monthly-theme-building-evaluating-and-improving-government-services-through-social-media.md
  content/posts/2015/06/2015-06-26-tweets-earthquakes.md
  content/posts/2015/07/2015-07-30-usgs-is-asking-if-you-felt-it-latest-earthquakes.md
  content/posts/2015/08/2015-08-25-digitalgov-podcast-the-secrets-behind-cia-social-media.md
  content/posts/2015/10/2015-10-08-white-house-kicks-off-challenge-gov-anniversary-with-wealth-of-new-prize-competitions.md
  content/posts/2015/12/2015-12-16-challenges-crowdsourcing-citizen-science-whats-the-dif.md
  content/posts/2016/07/2016-07-19-unlocking-the-promise-of-broadband-for-all-americans.md
  content/posts/2016/09/2016-09-29-nasa-open-gov-plan-2016-outline.md
  content/posts/2016/11/2016-11-02-the-digital-transition-how-the-presidential-transition-works-in-the-social-media-age.md
  themes/digital.gov/layouts/_default/list.json.json
  themes/digital.gov/layouts/_default/single.json.json
Labels: Bug, Dev: apis

#1782 Agile CoP - fix subject line
  content/communities/agile-lean.md
Labels: Content: Communities

#1783 Updating event page feedback box
  content/events/2020/01/2020-01-08-plain-language-in-2020.md
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/partials/core/feedback.html
  themes/digital.gov/src/scss/new/_feedback.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Template Logic, Dev: frontend

#1780 New events: SocialGov Winter Meeting
  content/events/2020/01/2020-01-14-socialgov-winter-meeting.md
  data/images/katherine-spivey.yml
  data/images/laura-larrimore.yml
  data/images/riley-wilson.yml
  data/images/robin-materese.yml
  data/images/socialgov-winter-event-2020.yml
  static/img/proxy/katherine-spivey.jpeg
  static/img/proxy/laura-larrimore.jpeg
  static/img/proxy/riley-wilson.jpeg
  static/img/proxy/robin-materese.jpeg
  static/img/proxy/socialgov-winter-event-2020.jpeg
  themes/digital.gov/src/scss/new/_images.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Content: Events

#1787 Adding a new 404 page template
  content/404-error.md
  content/404/index.md
  themes/digital.gov/layouts/404.html
  themes/digital.gov/layouts/_default/single.html
Labels: Dev: GitHub + Federalist, Dev: Template Logic

#1788 New resources: Tips for Starting Your Customer Experience Journey
  content/resources/omb-circular-a11-section-280-managing.md
  content/resources/tips-for-starting-your-customer-experience.md
  content/sources/source_performancegov.md
  static/logos/_icons/performancegov.png
  static/logos/performancegov.png
Labels: Content: Resource

#1785 Fixing captions on ZOOM events
  themes/digital.gov/layouts/events/captions.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/events/stage-zoom.html
  themes/digital.gov/src/scss/new/_buttons.scss
  themes/digital.gov/src/scss/new/_events.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Template Logic

#1790 Add Support for Primary Image
  content/posts/2020/01/2020-01-08-a-look-at-new-gsagov.md
  themes/digital.gov/layouts/_default/list.json.json
  themes/digital.gov/layouts/_default/single.json.json
  themes/digital.gov/layouts/communities/list.json.json
  themes/digital.gov/layouts/communities/single.json.json
  themes/digital.gov/layouts/events/list.json.json
  themes/digital.gov/layouts/events/single.json.json
  themes/digital.gov/layouts/partials/api/primary_image.html
  themes/digital.gov/layouts/partials/core/head.html
  themes/digital.gov/layouts/partials/core/img-featured.html
Labels: Dev: Template Logic

#1779 New topics: RPA
  content/communities/rpa-community.md
  content/events/2019/09/2019-09-03-federal-robotic-process-automation-industry-day.md
  content/posts/2019/05/2019-05-08-introducing-new-rpa-community-practice.md
  content/topics/rpa/_index.md
Labels: Content: Topics

#1784 Adding authors to event pages
  themes/digital.gov/layouts/events/single.html
Labels: Dev: Template Logic, Dev: frontend

#1789 adding in a redirect
  content/posts/2014/12/2014-12-08-from-taste-testers-to-explorers-developing-personas-for-open-opportunities.md
Labels: Content: Redirects

#1791 Update 2020-01-16-uswds-january-monthly-call.md
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
Labels: Content: Events

#1795 New events: Panel discussion: “How agencies are spreading best practi…
  content/events/2020/01/2020-01-28-panel-discussion-how-agencies-spreading-best.md
Labels: Content: Events

#1803 Fixes the APIs to remove text from empty values
  themes/digital.gov/layouts/_default/list.json.json
  themes/digital.gov/layouts/_default/single.json.json
  themes/digital.gov/layouts/communities/list.json.json
  themes/digital.gov/layouts/communities/single.json.json
  themes/digital.gov/layouts/events/list.json.json
  themes/digital.gov/layouts/events/single.json.json
  themes/digital.gov/layouts/partials/api/featured_image.html
  themes/digital.gov/layouts/partials/api/youtube_id.html
Labels: Bug, Dev: apis

#1802 Update 2019-12-19-uswds-december-monthly-call.md
  content/events/2019/12/2019-12-19-uswds-december-monthly-call.md
Labels: Content: Events

#1805 Update 2020-01-16-uswds-january-monthly-call.md
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
Labels: Content: Events

#1804 Adding in topics
  content/events/2019/12/2019-12-03-devops-holiday-special-event-nicolas-chaillan.md
Labels: Content: Events

#1796 adding topics to USWDS event
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
Labels: ---- HOLD ----

#1808 added space between last two paragraphs
  content/posts/2015/11/2015-11-23-the-content-corner-good-ux-needs-good-content.md
Labels: Bug: Content Cleanup

#1814 adding captions to APIs
  themes/digital.gov/layouts/events/list.json.json
  themes/digital.gov/layouts/events/single.json.json
  themes/digital.gov/layouts/partials/api/captions.html
Labels: Dev: apis

#1824 added space between last 3 paragraphs
  content/posts/2016/05/2016-05-23-kids-gov-reenvisioned.md
Labels: Bug: Content Cleanup

#1810 Update US Digital Registry page
  content/services/service_us-digital-registry.md
Labels: Content: Tools and Services

#1830 new author image partial
  content/authors/jeremyzilar/_index.md
  themes/digital.gov/layouts/partials/core/get_author_image.html
  themes/digital.gov/layouts/partials/core/get_authors.html
  themes/digital.gov/layouts/partials/core/get_authors_short.html
Labels: Dev: Template Logic

#1835 Update USWDS Email address
  content/communities/uswds.md
Labels: Content: Communities

#1836 Abstracting the 'community list' as a partial
  themes/digital.gov/layouts/communities/list.json.json
  themes/digital.gov/layouts/communities/single.json.json
  themes/digital.gov/layouts/partials/api/community_lists.html
Labels: Bug, Dev: apis

#1775 Updating community managers
  content/authors/digitalgov-team/_index.md
  content/communities/web-managers-forum.md
  themes/digital.gov/layouts/communities/single.html
Labels: ---- HOLD ----, Content: Communities

#1847 New events: USWDS Monthly Call
  content/events/2020/02/2020-02-20-uswds-monthly-call.md
Labels: Content: Events

#1848 New events: 10x Project Lightning Talks
  content/events/2020/01/2020-01-27-10x-project-lightning-talks.md
Labels: Content: Events

#1849 New topic: 21st Century IDEA
  content/events/2019/12/2019-12-19-uswds-december-monthly-call.md
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
  content/events/2020/02/2020-02-20-uswds-monthly-call.md
  content/posts/2019/11/2019-11-04-lets-talk-21st-century-idea.md
  content/posts/2019/11/2019-11-12-meet-your-federal-web-council.md
  content/posts/2019/11/2019-11-18-building-elements-that-earn-trust.md
  content/posts/2019/12/2019-12-11-an-introduction-accessibility.md
  content/posts/2019/12/2019-12-19-a-new-digitalgov.md
  content/posts/2019/12/2019-12-19-uswds-maturity-model.md
  content/resources/21st-century-integrated-digital-experience-act.md
  content/resources/federal-web-council.md
  content/topics/21st-century-idea/_index.md
Labels: Content: Topics

#1831 Fixing the clicks display
  themes/digital.gov/layouts/partials/core/get_clicks.html
  themes/digital.gov/src/js/clicks.js
  themes/digital.gov/src/scss/new/_article.scss
  themes/digital.gov/src/scss/new/_clicks.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/dist/base.js
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Template Logic, Dev: frontend

#1850 New resources: USWDS Maturity Model
  content/resources/an-introduction-us-web-design-system.md
  content/resources/uswds-maturity-model.md
  content/topics/uswds/_index.md
Labels: Content: Resource

#1840 New posts: Taking a Look at the USAGov Analytics Dashboard
  content/posts/2020/01/2020-01-16-taking-a-look-at-usagov-analytics.md
Labels: Content: Blog post

#1854 added YouTube for USWDS January '20 mtg
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
Labels: Content: Events

#1856 Update 2016-09-29-voices-of-veterans-introducing-personas-to-better-u…
  content/posts/2016/09/2016-09-29-voices-of-veterans-introducing-personas-to-better-understand-our-customers.md
Labels: Content: Blog post

#1858 New topics: Public Sans
  content/topics/public-sans/_index.md
Labels: Content: Topics

#1857 Adding USWDS featured images + topics to events
  content/events/2019/05/2019-05-23-us-web-design-system-may-monthly-call.md
  content/events/2019/06/2019-06-20-us-web-design-system-june-monthly-call.md
  content/events/2019/07/2019-07-18-us-web-design-system-july-monthly-call.md
  content/events/2019/08/2019-08-15-us-web-design-system-aug-monthly-call.md
  content/events/2019/09/2019-09-19-us-web-design-system-september-monthly-call.md
  content/events/2019/10/2019-10-17-us-web-design-system-october-monthly-call.md
  content/events/2019/11/2019-11-21-us-web-design-system-november-monthly-call.md
  content/events/2019/12/2019-12-19-uswds-december-monthly-call.md
  content/posts/2019/04/2019-04-08-introducing-uswds-2.md
  data/images/uswds-06-june.yml
  data/images/uswds-07-july.yml
  data/images/uswds-08-august.yml
  data/images/uswds-09-september.yml
  data/images/uswds-10-obtober.yml
  data/images/uswds-11-november.yml
  static/img/proxy/uswds-06-june.jpeg
  static/img/proxy/uswds-07-july.jpeg
  static/img/proxy/uswds-08-august.jpeg
  static/img/proxy/uswds-09-september.jpeg
  static/img/proxy/uswds-10-obtober.jpeg
  static/img/proxy/uswds-11-november.jpeg
Labels: Content: Images, Content: Topics

#1859 Adding USWDS footer on events
  content/events/2020/01/2020-01-16-uswds-january-monthly-call.md
  content/events/2020/02/2020-02-20-uswds-monthly-call.md
Labels: Content: Events

#1861 adding the 10x logo to the event page
  content/events/2020/01/2020-01-27-10x-project-lightning-talks.md
  data/images/10x-logo.yml
  static/img/proxy/10x-logo.jpeg
Labels: Content: Events, Content: Images

#1864 Update 2020-01-28-panel-discussion-how-agencies-spreading-best.md
  content/events/2020/01/2020-01-28-panel-discussion-how-agencies-spreading-best.md
Labels: Content: Events

#1863 Update 2020-01-27-10x-project-lightning-talks.md
  content/events/2020/01/2020-01-27-10x-project-lightning-talks.md
Labels: Content: Events

#1867 Update Cahoe author page
  content/authors/will-cahoe/_index.md
Labels: Content: Authors

#1865 Update Nico author page
  content/authors/nico-papafil/_index.md
Labels: Content: Authors

#1866 Update Sarah C author page
  content/authors/sarah-crane/_index.md
Labels: Content: Authors

#1862 1/21 New post: Veterans Employment Challenge
  content/posts/2020/01/2020-01-21-agencies-on-a-mission-match-service-members.md
  data/images/challenge-veterans-employment-challenge.yml
  static/img/proxy/challenge-veterans-employment-challenge.jpeg
Labels: Content: Blog post

#1871 New authors: Jarah Meador
  content/authors/jarah-meador/_index.md
Labels: Content: Authors

#1869 1/22 New post: 10 Employee Engagement Experiences to Foster Collabora…
  content/posts/2020/01/2020-01-22-10-employee-engagement-experiences-foster-collaboration.md
  data/images/coe-employee-engagement-cal-invite.yml
  data/images/coe-employee-engagement-conference-room.yml
  data/images/coe-employee-engagement-gems-hud.yml
  data/images/coe-employee-engagement-lunch.yml
  data/images/coe-employee-engagement-rooftop.yml
  data/images/coe-employee-engagement-unicorn-flyer.yml
  static/img/proxy/coe-employee-engagement-cal-invite.jpeg
  static/img/proxy/coe-employee-engagement-conference-room.jpeg
  static/img/proxy/coe-employee-engagement-gems-hud.jpeg
  static/img/proxy/coe-employee-engagement-lunch.jpeg
  static/img/proxy/coe-employee-engagement-rooftop.jpeg
  static/img/proxy/coe-employee-engagement-unicorn-flyer.jpeg
Labels: Content: Blog post

#1872 Update 2020-01-21-agencies-on-a-mission-match-service-members.md
  content/posts/2020/01/2020-01-21-agencies-on-a-mission-match-service-members.md
Labels: Content: Authors, Content: Blog post

#1875 Update 2020-01-22-10-employee-engagement-experiences-foster-collabora…
  content/posts/2020/01/2020-01-22-10-employee-engagement-experiences-foster-collaboration.md
Labels: Content: Blog post

#1877 Change to line 44
  content/posts/2020/01/2020-01-21-agencies-on-a-mission-match-service-members.md
Labels: Content: Blog post

#1876 Corrected extra capitalization on line 43
  content/services/service_mobile-testing-program.md
Labels: Content: Tools and Services

#1873 New posts: Login.gov surpassed has 20 million registered users
  content/posts/2020/01/2020-01-22-logingov-surpassed-has-20-million-registered.md
  static/logos/login-gov.png
  themes/digital.gov/layouts/posts/card-elsewhere.html
Labels: Content: Blog post

#1881 Adding website standards links
  content/posts/2020/01/2020-01-23-website-standards.md
  content/resources/21st-century-integrated-digital-experience-act.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
  content/resources/website-standards.md
  content/sources/source_gsa.md
  content/topics/policy/_index.md
  static/logos/_icons/gsa-logo.png
  static/logos/gsa-logo.png
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/src/scss/new/_content.scss
  themes/digital.gov/src/scss/new/shortcodes/_card-policy.scss
  themes/digital.gov/src/scss/new/shortcodes/_highlight.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-typography.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Content: Blog post, Content: Resource, Content: Topics

#1885 fixing the permalink on service pages
  themes/digital.gov/layouts/services/list.html
Labels: Bug

#1890 Update _index.md
  content/authors/nina-bianchi/_index.md
Labels: Content: Authors

#1880 Update lines 83 and 93
  content/services/service_challengegov.md
Labels: Bug: Content Cleanup, Content: Tools and Services

#1891 Making the guide nav more narrow
  themes/digital.gov/layouts/guides/list.html
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/src/scss/new/guides/_guide-nav.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Design, Dev: frontend

#1874 fixing the text in the bug button
  themes/digital.gov/layouts/_default/baseof.html
Labels: Bug

#1892 Updating the RPA playbook
  content/communities/rpa-community.md
  static/pdf/rpa-playbook-v1.1.pdf
Labels: Content: Communities

#1897 New posts: Search.gov: 2019 in Review
  content/posts/2020/01/2020-01-27-searchgov-2019-in-review.md
  content/sources/source_searchgov.md
  static/logos/_icons/searchgov.png
  static/logos/searchgov.png
Labels: Content: Blog post

#1900 Fixes a spacing issue for short posts in the news stream
  themes/digital.gov/layouts/posts/card-elsewhere.html
  themes/digital.gov/src/scss/new/_card-elsewhere.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Bug, Dev: Design, Dev: frontend

#1898 New events: Survey Translation and the Inclusion of End Users in the …
  content/events/2020/02/2020-02-27-survey-translation-inclusion-end-users-in.md
Labels: Content: Events

#1903 Short URL was missing
  content/posts/2019/11/2019-11-20-it-modernization-apprenticeship-experience-breaking-down-workforce-innovation-barriers-at-usda.md
Labels: Content: Blog post

#1902 Short URL was missing
  content/posts/2019/11/2019-11-18-building-elements-that-earn-trust.md
Labels: Content: Blog post

#1901 Adding missing images
  content/posts/2020/01/2020-01-22-10-employee-engagement-experiences-foster-collaboration.md
  data/images/coe-employee-engagement-learning-lab.yml
  data/images/coe-employee-engagement-two-people.yml
  static/img/proxy/coe-employee-engagement-learning-lab.jpeg
  static/img/proxy/coe-employee-engagement-two-people.jpeg
Labels: Content: Images

#1907 Add DevOps topic
  content/events/2019/07/2019-07-23-devops-cop-monthly-meeting.md
Labels: Content: Events

#1909 add topic
  content/posts/2016/08/2016-08-17-the-data-briefing-devops-and-containers-and-why-they-are-important-to-transforming-federal-government-it.md
Labels: Content: Blog post

#1917 topic, fix spacing
  content/posts/2016/08/2016-08-24-the-data-briefing-microservices-and-serverless-apps-a-new-direction-for-federal-government-mobile-apps.md
Labels: Content: Blog post

#1916 add devops topic
  content/posts/2014/04/2014-04-10-policyops-a-better-way-to-create-and-implement-government-policies-and-programs.md
Labels: Content: Blog post

#1908 Add DevOps topic
  content/events/2019/09/2019-09-24-devops-community-monthly-meeting-decennial-census.md
Labels: Content: Events

#1911 Fix typo, add topic
  content/events/2019/10/2019-10-22-october-devops-cop-meeting.md
Labels: Content: Events

#1915 add topic
  content/posts/2018/09/2018-09-19-want-a-more-innovative-agency-encourage-employees-to-experiment.md
Labels: Content: Blog post

#1920 New authors: Ben Peterson
  content/authors/ben-peterson/ben-peterson_index.md
Labels: Content: Authors

#1921 Update 2019-10-22-october-devops-cop-meeting.md
  content/events/2019/10/2019-10-22-october-devops-cop-meeting.md
Labels: Content: Events

#1914 add topic
  content/events/2019/11/2019-11-19-jez-humble-building-scaling-high-performing-technology-organizations.md
Labels: Content: Events

#1910 Typo fix
  content/events/2019/12/2019-12-03-devops-holiday-special-event-nicolas-chaillan.md
Labels: Content: Events

#1919 1/28 New 10x post: Improving the Experience of Federal Grant Reporting
  content/authors/ben-peterson/_index.md
  content/posts/2020/01/2020-01-28-improving-experience-federal-grant-reporting.md
Labels: Content: Blog post

#1912 fix typo, add topic
  content/events/2019/08/2019-08-27-devops-community-practice-monthly-meeting.md
Labels: Content: Events

#1913 add topic
  content/events/2020/01/2020-01-28-panel-discussion-how-agencies-spreading-best.md
Labels: Content: Events

#1918 Fixing Guide nav permalinks
  data/guidenav/_example.yml
  data/guidenav/mobile-principles.yml
  themes/digital.gov/layouts/partials/core/guides/guide-nav.html
Labels: Bug, Content: Guide, Dev: Template Logic, Docs: style guide

#1923 Fixing formatting on cyber vandalism toolkit
  content/resources/readiness-recovery-response-social-media-cyber-vandalism-toolkit.md
Labels: Bug: Content Cleanup

#1926 removing page footer copy on Contribute page
  content/about/contribute.md
Labels: Bug: Content Cleanup

#1924 Updating USWDS to 2.4.0 from 2.3.1
  package-lock.json
  package.json
  themes/digital.gov/src/scss/uswds/_uswds-theme-color.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-components.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-general.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-spacing.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-typography.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-utilities.scss
  themes/digital.gov/src/scss/uswds/styles.scss
Labels: Dev: GitHub + Federalist

#1928 New posts: Adopting the USWDS, One Step at Time
  content/posts/2020/01/2020-01-30-adopting-uswds-one-step-at-time.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
  data/images/this-weeks-idea-card-wk6.yml
  data/images/this-weeks-idea-icon-wk6.yml
  data/images/uswds-baseball.yml
  data/images/uswds-maturity-model.yml
  data/images/uswds-side-by-side.yml
  static/img/proxy/this-weeks-idea-card-wk6.jpeg
  static/img/proxy/this-weeks-idea-icon-wk6.jpeg
  static/img/proxy/uswds-baseball.jpeg
  static/img/proxy/uswds-maturity-model.jpeg
  static/img/proxy/uswds-side-by-side.jpeg
  themes/digital.gov/layouts/posts/single.html
  themes/digital.gov/layouts/shortcodes/card-quote.html
  themes/digital.gov/layouts/shortcodes/note.html
  themes/digital.gov/src/scss/new/_content.scss
  themes/digital.gov/src/scss/new/_images.scss
  themes/digital.gov/src/scss/new/shortcodes/_card-quote.scss
  themes/digital.gov/src/scss/new/shortcodes/_note.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-typography.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Content: Blog post

#1932 Challenge & Prize button link update
  content/services/service_challengegov.md
Labels: Content: Tools and Services

#1935 adding in a redirect
  content/posts/2020/01/2020-01-30-adopting-uswds-one-step-at-time.md
Labels: Bug: broken links, Content: Redirects

#1936 Add pa11y for accessibility testing
  .pa11yci
  package-lock.json
  package.json
  readme.md
Labels: Dev: frontend

#1939 changes the sitemap priority
  config.yml
Labels: Dev: Search, Dev: Template Logic

#1943 Update eight-principles-mobile-friendliness.md
  content/resources/eight-principles-mobile-friendliness.md
Labels: Content: Communities, Content: Resource

#1941 New events: Federal Crowdsourcing Webinar Series Episode 7: Crowdsour…
  content/events/2020/02/2020-02-11-federal-crowdsourcing-webinar-series-episode-7.md
Labels: Content: Events
