Repository GSA/digitalgov.gov, pull requests merged in 2020-03, with the labels that each got.

#2081 Update 2020-02-27-survey-translation-inclusion-end-users-in.md
  content/events/2020/02/2020-02-27-survey-translation-inclusion-end-users-in.md
Labels: Content: Events

#2083 New authors: Anna Medina
  content/authors/anna-medina/_index.md
Labels: Content: Authors

#2085 New authors: Laureen Laglagaron
  content/authors/laureen-laglagaron/_index.md
Labels: Content: Authors

#2080 New events: Leveraging Robotic Process Automation (RPA) to Transform …
  content/events/2020/04/2020-04-02-leveraging-robotic-process-automation-rpa-transform.md
Labels: Content: Events

#2088 New authors: Bryce Spivey
  content/authors/bryce-spivey/_index.md
Labels: Content: Authors

#2091 Update 2020-04-02-leveraging-robotic-process-automation-rpa-transform.md
  content/events/2020/04/2020-04-02-leveraging-robotic-process-automation-rpa-transform.md
Labels: ---- HOLD ----, Content: Events

#2092 New authors: Liz Pucci
  content/authors/liz-pucci/_index.md
Labels: Content: Authors

#2084 New authors: Michael Mulé
  content/authors/michael-mul/_index.md
Labels: Content: Authors

#2079 Update 2020-03-06-rpa-community-practice-cop-march-all.md
  content/events/2020/03/2020-03-06-rpa-community-practice-cop-march-all.md
Labels: Content: Events

#2076 Update devops.md
  content/communities/devops.md
Labels: Content: Events

#2066 New authors: Bridget Fields
  content/authors/bridget-fields/_index.md
Labels: Content: Authors

#2087 New authors: John Hamilton
  content/authors/john-hamilton/_index.md
Labels: Content: Authors

#2090 adding youtube link
  content/events/2020/02/2020-02-25-making-a-mobilefriendly-website-using-adapt.md
Labels: Content: Events

#2093 Update 2020-02-13-reaching-americas-veterans-in-digital-space.md
  content/events/2020/02/2020-02-13-reaching-americas-veterans-in-digital-space.md
Labels: Content: Events

#2094 Update 2016-03-07-the-content-corner-how-google-judges-your-content.md
  content/news/2016/03/2016-03-07-the-content-corner-how-google-judges-your-content.md
Labels: Content: Blog post

#2095 New authors: Eddie Tejeda
  content/authors/eddie-tejeda/_index.md
Labels: Content: Authors

#2097 Update stale issue action
  .github/workflows/close-stale-issue.yml
Labels: Dev: GitHub + Federalist

#2107 New authors: Ann Meceda
  content/authors/ann-meceda/_index.md
Labels: Content: Authors

#2108 New authors: Gerry McGovern
  content/authors/gerry-mcgovern/_index.md
Labels: Content: Authors

#2103 New authors: Keith Porcaro
  content/authors/keith-porcaro/_index.md
Labels: Content: Authors

#2102 New authors: Kathryn Sosbe
  content/authors/kathryn-sosbe/_index.md
Labels: Content: Authors

#2104 New authors: Molly Cain
  content/authors/molly-cain/_index.md
Labels: Content: Authors

#2106 New authors: Jennifer Hoover
  content/authors/jennifer-hoover/_index.md
Labels: Content: Authors

#2105 Update artificial-intelligence.md
  content/communities/artificial-intelligence.md
Labels: Content: Events

#2115 New authors: Elizabeth Cain
  content/authors/elizabeth-cain/_index.md
Labels: Content: Authors

#2134 New authors: Jordan Kasper
  content/authors/jordan-kasper/_index.md
Labels: Content: Authors

#2133 New authors: Ari Chivukula
  content/authors/ari-chivukula/_index.md
Labels: Content: Authors

#2131 New authors: Emma Perron
  content/authors/emma-perron/_index.md
Labels: Content: Authors

#2140 Update 2020-02-26-call-for-government-ux-summit.md
  content/news/2020/02/2020-02-26-call-for-government-ux-summit.md
Labels: Content: Blog post

#2130 New authors: Steve Krug
  content/authors/steve-krug/_index.md
Labels: Content: Authors

#2129 New authors: Brad Frost
  content/authors/brad-frost/_index.md
Labels: Content: Authors

#2128 New authors: Andre DeFontaine
  content/authors/andre-defontaine/_index.md
Labels: Content: Authors

#2127 New authors: Jennifer Shieh
  content/authors/jennifer-shieh/_index.md
Labels: Content: Authors

#2125 New authors: Debbie Bucci
  content/authors/debbie-bucci/_index.md
Labels: Content: Authors

#2123 New authors: Kate Appel
  content/authors/kate-appel/_index.md
Labels: Content: Authors

#2121 New authors: Jim Thompson
  content/authors/jim-thompson/_index.md
Labels: Content: Authors

#2120 New authors: Nathan Dietz
  content/authors/nathan-dietz/_index.md
Labels: Content: Authors

#2137 Update artificial-intelligence.md
  content/communities/artificial-intelligence.md
Labels: Content: Events

#2119 New authors: Toby Egan
  content/authors/toby-egan/_index.md
Labels: Content: Authors

#2118 New authors: Nora Dempsey
  content/authors/nora-dempsey/_index.md
Labels: Content: Authors

#2126 New authors: Shirley Han
  content/authors/shirley-han/_index.md
Labels: Content: Authors

#2141 Update 2020-02-25-dap-learning-series-justifying-web-analysts.md
  content/events/2020/02/2020-02-25-dap-learning-series-justifying-web-analysts.md
Labels: Content: Events

#2143 New events: Federal Crowdsourcing Webinar Series, Episode 8: How NASA…
  content/events/2020/02/2020-02-11-federal-crowdsourcing-webinar-series-episode-7.md
  content/events/2020/03/2020-03-10-federal-crowdsourcing-webinar-series-episode-8.md
  data/images/challenge-card-episode-7.yml
  data/images/challenge-card-episode-8.yml
  data/images/nasa-work-logo.yml
  static/img/proxy/challenge-card-episode-7.jpeg
  static/img/proxy/challenge-card-episode-8.jpeg
  static/img/proxy/nasa-work-logo.jpeg
Labels: Content: Events

#2096 New authors: Joe Castle
  content/authors/joe-castle/_index.md
Labels: Content: Authors

#2152 Update _index.md
  content/authors/bridget-fields/_index.md
Labels: Content: Authors, Content: Images

#2160 Update federal-compatible-terms-of-service-agreements.md
  content/resources/federal-compatible-terms-of-service-agreements.md
Labels: Content: Resource

#2159 Update rpa-community.md
  content/communities/rpa-community.md
Labels: Content: Events

#2158 Update 2020-02-26-call-for-government-ux-summit.md
  content/news/2020/02/2020-02-26-call-for-government-ux-summit.md
Labels: Content: Events

#2116 New events: Hosting Successful Live Events, by the Federal Aviation A…
  content/events/2020/04/2020-04-08-hosting-successful-live-events-by-federal.md
  data/images/alison-duquette.yml
  data/images/allison-lepage.yml
  data/images/kristen-alsop.yml
  data/images/social-gov-live.yml
  static/img/proxy/alison-duquette.jpeg
  static/img/proxy/allison-lepage.jpeg
  static/img/proxy/kristen-alsop.jpeg
  static/img/proxy/social-gov-live.jpeg
Labels: Content: Events

#2154 Add files via upload
  static/pdf/GSA-TTS_Personal-README-template.pdf
Labels: Content: PDFs

#2157 show all topics on pages with topics list
  themes/digital.gov/layouts/partials/core/get_topics.html
Labels: Content: Topics, Dev: Template Logic, Dev: frontend

#2138 adding speakers and new topics
  content/events/2018/07/2018-07-12-an-inside-look-at-how-fbi-develops-engaging-video.md
Labels: Content: Events

#2122 New authors: Craig Jolley
  content/authors/craig-jolley/_index.md
Labels: Content: Authors

#2113 adding speakers to event page
  content/events/2018/04/2018-04-11-us-federal-emerging-technology-public-meeting.md
Labels: Content: Events

#2132 adding in tags and speakers
  content/events/2018/06/2018-06-07-dap-learning-series-using-search-console.md
Labels: Content: Events

#2124 New authors: Andrew Hait
  content/authors/andrew-hait/_index.md
Labels: Content: Authors

#2161 fixing encoding in author names
  themes/digital.gov/layouts/authors/list.html
  themes/digital.gov/layouts/authors/terms.html
Labels: Bug: broken links, Dev: Template Logic

#2166 Update 2020-02-26-call-for-government-ux-summit.md
  content/news/2020/02/2020-02-26-call-for-government-ux-summit.md
Labels: Content: Events

#2147 New events: Navigating acquisition and procurement for artificial int…
  content/events/2020/03/2020-03-25-navigating-acquisition-procurement-for-artificial-intelligence.md
  data/images/keith-nakasone.yml
  data/images/omid-ghaffari-tabrizi.yml
  package-lock.json
  static/img/proxy/keith-nakasone.jpeg
  static/img/proxy/omid-ghaffari-tabrizi.jpeg
Labels: Content: Events

#2165 Add preview link action
  .github/workflows/pr-preview-link.yml
Labels: Dev: GitHub + Federalist

#2169 Update 2020-03-03-mitigating-bias-while-building-research-practices.md
  content/events/2020/03/2020-03-03-mitigating-bias-while-building-research-practices.md
Labels: Content: Events

#2170 Update 2020-03-25-navigating-acquisition-procurement-for-artificial-i…
  content/events/2020/03/2020-03-25-navigating-acquisition-procurement-for-artificial-intelligence.md
  data/images/eric-ewing.yml
  static/img/proxy/eric-ewing.jpeg
Labels: Content: Events

#2171 adding in event description
  content/events/2020/03/2020-03-19-uswds-monthly-call-march-2020.md
Labels: Content: Events

#2174 Update 2017-09-28-finding-usability-testers-tips-from-an-army-recruit…
  content/news/2017/09/2017-09-28-finding-usability-testers-tips-from-an-army-recruiter.md
Labels: Content: Blog post

#2175 New events: Intro to Cloud Foundry on Cloud.gov
  content/events/2020/03/2020-03-31-intro-cloud-foundry-on-cloudgov.md
  data/images/cloud-gov.yml
  data/images/cloudgov-intro-to-cloud-foundry.yml
  data/images/cloudgov-logo.yml
  static/img/proxy/cloud-gov.jpeg
  static/img/proxy/cloudgov-intro-to-cloud-foundry.jpeg
  static/img/proxy/cloudgov-logo.jpeg
Labels: Content: Events

#2176 Update _index.md
  content/authors/ammie-farraj-feijoo/_index.md
Labels: Content: Authors

#2184 Update 2020-03-25-navigating-acquisition-procurement-for-artificial-i…
  content/events/2020/03/2020-03-25-navigating-acquisition-procurement-for-artificial-intelligence.md
Labels: Content: Events

#2151 3/11 New news: Learning Culture: 10 Personalized Employee Experiences
  content/news/2020/03/2020-03-11-learning-culture-10-personalized-employee-experiences.md
  data/images/learning-culture-candid-interviews.yml
  data/images/learning-culture-coffee-chats.yml
  data/images/learning-culture-employee-talks.yml
  data/images/learning-culture-fun-awards.yml
  data/images/learning-culture-journal.yml
  data/images/learning-culture-learning-labs.yml
  data/images/learning-culture-mentor-day.yml
  data/images/learning-culture-photo-wall.yml
  static/img/proxy/learning-culture-candid-interviews.jpeg
  static/img/proxy/learning-culture-coffee-chats.jpeg
  static/img/proxy/learning-culture-employee-talks.jpeg
  static/img/proxy/learning-culture-fun-awards.jpeg
  static/img/proxy/learning-culture-journal.jpeg
  static/img/proxy/learning-culture-learning-labs.jpeg
  static/img/proxy/learning-culture-mentor-day.jpeg
  static/img/proxy/learning-culture-photo-wall.jpeg
Labels: ---- HOLD ----, Content: Blog post, Content: Images

#2187 Update accessibility.md
  content/communities/accessibility.md
Labels: Content: Communities

#2194 adding speaker
  content/events/2018/05/2018-05-16-get-know-virtual-student-federal-service.md
Labels: Content: Authors

#2192 Update 2018-05-15-this-how-we-work-together-with-brad-frost.md
  content/events/2018/05/2018-05-15-this-how-we-work-together-with-brad-frost.md
Labels: Content: Authors

#2193 Update 2018-05-29-how-search-engines-index-your-websites.md
  content/events/2018/05/2018-05-29-how-search-engines-index-your-websites.md
Labels: Content: Authors

#2197 Update 2018-03-13-new-release-fedramp-continuous-monitoring-documents.md
  content/events/2018/03/2018-03-13-new-release-fedramp-continuous-monitoring-documents.md
Labels: Content: Authors

#2196 Update 2018-03-14-infographics-plain-language-considerations.md
  content/events/2018/03/2018-03-14-infographics-plain-language-considerations.md
Labels: Content: Authors

#2189 Update 2018-06-08-funding-future-technology-modernization-fund-propos…
  content/events/2018/06/2018-06-08-funding-future-technology-modernization-fund-proposal-workshop.md
Labels: Content: Authors

#2198 adding author
  content/events/2018/07/2018-07-10-what-you-need-know-required-prize-reporting-congress.md
Labels: Content: Authors

#2200 New authors: Ashley Mahan
  content/authors/ashley-mahan/_index.md
Labels: Content: Authors

#2199 New authors: Brian Behlendorf
  content/authors/brian-behlendorf/_index.md
Labels: Content: Authors

#2195 adding authors
  content/events/2018/05/2018-05-15-federal-challenge-prize-community-practice-quarterly-meeting.md
Labels: Content: Authors

#2188 Update 2020-02-26-call-for-government-ux-summit.md
  content/news/2020/02/2020-02-26-call-for-government-ux-summit.md
Labels: Content: Blog post, Content: Events

#2225 New authors: Dalia El-Shimy
  content/authors/dalia-elshimy/_index.md
Labels: Content: Authors

#2222 New authors: Laurie Southerton
  content/authors/laurie-southerton/_index.md
Labels: Content: Authors

#2223 New authors: Laura Manley
  content/authors/laura-manley/_index.md
Labels: Content: Authors

#2221 Update 2018-11-07-dap-learning-series-basics-ab-testing-part-2.md
  content/events/2018/11/2018-11-07-dap-learning-series-basics-ab-testing-part-2.md
Labels: Content: Authors

#2219 New authors: Claire Bukovac
  content/authors/claire-bukovac/_index.md
Labels: Content: Authors

#2218 New authors: Ryan Hoesing
  content/authors/ryan-hoesing/_index.md
Labels: Content: Authors

#2153 Rename / organize topics-list files
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/home/training_featured.html
  themes/digital.gov/layouts/partials/core/list-topics.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/src/scss/new/_list-topics.scss
  themes/digital.gov/src/scss/new/_topic-buttons.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: frontend

#2203 New authors: Donna Garland
  content/authors/donna-garland/_index.md
Labels: Content: Authors

#2205 New authors: Eric Kanter
  content/authors/eric-kanter/_index.md
Labels: Content: Authors

#2202 New authors: Ginny Redish
  content/authors/ginny-redish/_index.md
Labels: Content: Authors

#2204 New authors: Anne Meeker
  content/authors/anne-meeker/_index.md
Labels: Content: Authors

#2206 New authors: Meredith Larson
  content/authors/meredith-larson/_index.md
Labels: Content: Authors

#2216 New authors: Evan Matthew Papp
  content/authors/evan-matthew-papp/_index.md
Labels: Content: Authors

#2215 New authors: Mike Hessling
  content/authors/mike-hessling/_index.md
Labels: Content: Authors

#2210 New authors: Emily Herrick
  content/authors/emily-herrick/_index.md
Labels: Content: Authors

#2209 New authors: Caroline Bauer
  content/authors/caroline-bauer/_index.md
Labels: Content: Authors

#2208 New authors: Mari Nakano
  content/authors/mari-nakano/_index.md
Labels: Content: Authors

#2177 adding the newsletter signup bar back to the site
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/partials/core/newsletter-signup.html
  themes/digital.gov/layouts/partials/core/newsletter_signup.html
  themes/digital.gov/src/scss/new/_newsletter-signup.scss
  themes/digital.gov/src/scss/new/_newsletter.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/src/scss/uswds/_uswds-theme-general.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Content: newsletter, Dev: Template Logic

#2217 Update 2018-10-17-dap-learning-series-creating-goals-conversions.md
  content/events/2018/10/2018-10-17-dap-learning-series-creating-goals-conversions.md
Labels: Content: Authors

#2224 Update 2019-02-19-analyzing-web-metrics-for-federal-privacy-professio…
  content/events/2019/02/2019-02-19-analyzing-web-metrics-for-federal-privacy-professionals.md
Labels: Content: Authors

#2220 Update 2018-11-01-dap-learning-series-basics-ab-testing-part-1.md
  content/events/2018/11/2018-11-01-dap-learning-series-basics-ab-testing-part-1.md
Labels: Content: Authors

#2185 New events: Writing for the Accessible Web
  content/authors/ryan-johnson/_index.md
  content/events/2020/03/2020-03-20-writing-for-accessible-web.md
Labels: Content: Events

#2212 New authors: Mina Hanna
  content/authors/mina-hanna/_index.md
Labels: Content: Authors

#2211 Update 2018-08-06-performance-goals-for-government-services-interagen…
  content/events/2018/08/2018-08-06-performance-goals-for-government-services-interagency-emerging-citizen-technology-meeting-aug-2018.md
Labels: Content: Authors

#2201 Update 2018-07-18-dap-learning-series-analytics-accessibility.md
  content/events/2018/07/2018-07-18-dap-learning-series-analytics-accessibility.md
Labels: Content: Authors

#2191 Update 2018-06-07-free-open-source-software-in-government-with-codemi…
  content/events/2018/06/2018-06-07-free-open-source-software-in-government-with-codemil.md
Labels: Content: Authors

#2207 New authors: Joe Kimble
  content/authors/joe-kimble/_index.md
Labels: Content: Authors

#2180 New Resource page top + search
  content/resources/_index.md
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/communities/list.html
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/news/list.html
  themes/digital.gov/layouts/partials/core/guides/guide-page-head.html
  themes/digital.gov/layouts/partials/core/header-flat.html
  themes/digital.gov/layouts/partials/core/home/news_featured.html
  themes/digital.gov/layouts/partials/core/search-bar.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/services/list.html
  themes/digital.gov/src/scss/new/_header.scss
  themes/digital.gov/src/scss/new/_news.scss
  themes/digital.gov/src/scss/new/_page-head.scss
  themes/digital.gov/src/scss/new/_resources.scss
  themes/digital.gov/src/scss/new/_resources_featured.scss
  themes/digital.gov/src/scss/new/_search-bar.scss
  themes/digital.gov/src/scss/new/_services.scss
  themes/digital.gov/src/scss/new/_topic-buttons.scss
  themes/digital.gov/src/scss/new/guides/_guide-page-head.scss
  themes/digital.gov/src/scss/new/home/_communities.scss
  themes/digital.gov/src/scss/new/home/_events.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Content: Resource, Dev: Design, Dev: Search

#2227 fixing a background color issue on the single resource pages
  themes/digital.gov/src/scss/new/_resources.scss
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: [issue type] bug

#2181 Changing feedback template file
  themes/digital.gov/layouts/404.html
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/docs/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/feedback.html
  themes/digital.gov/layouts/partials/core/page-data.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/src/js/github.js
  themes/digital.gov/src/scss/new/_page-data.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/dist/base.js
  themes/digital.gov/static/dist/styles.css
  themes/digital.gov/static/dist/styles.css.map
Labels: Dev: Template Logic

#2228 Switch to shortcode for YouTube embed
  content/news/2015/10/2015-10-30-digitalgov-summit-recap-innovation-through-customer-experience.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#2232 New events: Why I Love My Agile Team!
  content/events/2020/03/2020-03-25-why-i-love-my-agile-team.md
Labels: Content: Events

#2240 Update 2020-02-25-making-a-mobilefriendly-website-using-adapt.md
  content/events/2020/02/2020-02-25-making-a-mobilefriendly-website-using-adapt.md
Labels: Content: Events

#2238 updating title of event
  content/events/2020/03/2020-03-19-uswds-monthly-call-march-2020.md
Labels: Content: Events

#2237 Update devops.md
  content/communities/devops.md
Labels: Content: Events

#2231 New Leadership community page
  content/authors/kim-m-wittenberg/_index.md
  content/communities/federal-leadership-professional-development.md
Labels: Content: Communities

#2213 Update 2018-08-15-dap-learning-series-an-introduction-basics.md
  content/events/2018/08/2018-08-15-dap-learning-series-an-introduction-basics.md
Labels: Content: Authors

#2214 New authors: Lauren Ancona
  content/authors/lauren-ancona/_index.md
Labels: Content: Authors

#2239 Update 2020-03-11-katherine-spivey-on-readability-audits-government.md
  content/events/2020/03/2020-03-11-katherine-spivey-on-readability-audits-government.md
Labels: Content: Events

#2235 3/16 news: Updates on 21st Century IDEA
  content/news/2020/03/2020-03-17-updates-on-21st-century-idea-key.md
Labels: Content: Blog post

#2242 New authors: Skippy Williams
  content/authors/skippy-williams/_index.md
Labels: Content: Events

#2241 New events: You Are a Product Manager (Though You May Not Know It)
  content/events/2020/04/2020-04-07-you-a-product-manager-though-you.md
Labels: Content: Events

#2244 Update 2020-03-10-federal-crowdsourcing-webinar-series-episode-8.md
  content/events/2020/03/2020-03-10-federal-crowdsourcing-webinar-series-episode-8.md
Labels: Content: Events

#2245 New authors: Matt Harmon
  content/authors/matt-harmon/_index.md
Labels: Content: Authors

#2248 Update 2020-04-16-federal-source-code-summit-building-coding.md
  content/events/2020/04/2020-04-16-federal-source-code-summit-building-coding.md
Labels: Content: Events

#2250 Update 2020-03-10-federal-crowdsourcing-webinar-series-episode-8.md
  content/events/2020/03/2020-03-10-federal-crowdsourcing-webinar-series-episode-8.md
Labels: Content: Events

#2257 updating the weight sorting on featured resources
  themes/digital.gov/layouts/partials/core/resources_featured.html
Labels: Dev: Template Logic

#2264 Update service_usagov-short-urls.md
  content/services/service_usagov-short-urls.md
Labels: Content: Tools and Services

#2273 Postpone: 2020-04-08-hosting-successful-live-events-by-federal.md
  content/events/2020/04/2020-04-08-hosting-successful-live-events-by-federal.md
Labels: :hand: HOLD, Content: Events

#2274 adding video URL
  content/events/2020/03/2020-03-20-writing-for-accessible-web.md
Labels: Content: Events

#2271 adding video url
  content/events/2020/03/2020-03-19-uswds-monthly-call-march-2020.md
Labels: Content: Events

#2249 Fix ToS issues
  data/termsofservice.yml
Labels: Content: Resource

#2270 Update agency-points-of-contact-for-federal-compatible-terms-of-servi…
  content/resources/agency-points-of-contact-for-federal-compatible-terms-of-service-agreements.md
Labels: Bug: Content Cleanup

#2277 Update Let's Encrypt type in termsofservice.yml
  data/termsofservice.yml
Labels: Content: Resource

#2262 New authors: Eric Ewing
  content/authors/eric-ewing/_index.md
Labels: Content: Authors

#2276 New resource link to OMB M-20-19
  content/resources/guide-paperwork-reduction-act.md
  content/resources/omb-circular-a-130.md
  content/resources/omb-m-17-06.md
  content/resources/omb-m-20-19.md
  content/sources/source_whitehouse.md
  static/logos/whitehouse-icon.png
  static/logos/whitehouse-logo.png
Labels: Content: Resource

#2251 New events: Accessibility: The Intersection Between Plain Language an…
  content/events/2020/04/2020-04-15-accessibility-intersection-between-plain-language-508.md
Labels: Content: Events

#2269 Update required-web-content-and-links.md
  content/resources/required-web-content-and-links.md
Labels: Bug: Content Cleanup

#2268 Update 2015-08-25-trends-on-tuesday-web-standards-advocate-advises-ad…
  content/news/2015/08/2015-08-25-trends-on-tuesday-web-standards-advocate-advises-adaptive-web-design-for-government-sites.md
Labels: Bug: Content Cleanup

#2267 Update 2014-01-09-top-eight-best-practices-for-federal-contact-center…
  content/news/2014/01/2014-01-09-top-eight-best-practices-for-federal-contact-centers.md
Labels: Bug: Content Cleanup

#2286 fixing the list of related services
  themes/digital.gov/layouts/partials/core/list_related_services.html
Labels: Bug: broken links, Dev: Template Logic

#2282 updating tense language
  content/events/2020/03/2020-03-20-writing-for-accessible-web.md
Labels: Content: Events

#2284 New authors: Albinko Hasic
  content/authors/albinko-hasic/_index.md
Labels: Content: Authors

#2285 updating tense language
  content/events/2020/03/2020-03-19-uswds-monthly-call-march-2020.md
Labels: Content: Events

#2265 Remove extra anchors
  content/news/2015/05/2015-05-07-spoiler-alert-usdas-foodkeeper-app-helps-americans-avoid-wasting-good-food.md
  content/news/2015/05/2015-05-14-from-startup-to-veteran-ceo-new-businessusa-app-has-you-covered.md
  content/news/2015/05/2015-05-28-ice-wields-smartphones-in-fight-against-child-exploitation.md
  content/news/2017/04/2017-04-26-a-deeper-look-into-the-usda-gov-website-redesign.md
Labels: Bug: Content Cleanup

#2294 New news: Press or Say 1: USAGov Expands Its Use of Interactive Voice…
  content/news/2020/03/2020-03-24-press-or-say-1-usagov-expands.md
Labels: Content: Blog post

#2295 Update 2020-03-24-press-or-say-1-usagov-expands.md
  content/news/2020/03/2020-03-24-press-or-say-1-usagov-expands.md
Labels: Content: Blog post

#2304 Update 2020-03-25-why-i-love-my-agile-team.md
  content/events/2020/03/2020-03-25-why-i-love-my-agile-team.md
Labels: Content: Events

#2261 New authors: Keith Nakasone
  content/authors/keith-nakasone/_index.md
Labels: Content: Authors

#2272 New events: How to Utilize the Open Source Jupyter Project for your R…
  content/events/2020/04/2020-04-14-how-utilize-open-source-jupyter-project.md
Labels: :hand: HOLD, Content: Events
