Repository GSA/digitalgov.gov, pull requests merged in 2021-07, with the labels that each got.

#4016 Create Author “marisa-levine/_index”
  content/authors/marisa-levine/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4017 Create Author “patty-beirne/_index”
  content/authors/patty-beirne/_index.md
Labels: netlify-cms/pending_publish

#4013 Create Image upload “content-images-_inbox-wcm-july-title-card-png”
  data/images/wcm-july-title-card.yml
  static/img/proxy/wcm-july-title-card.jpg
Labels: netlify-cms/pending_publish

#4015 Create Event “2021/07/2021-07-02-digital-meets-culture-getting-your-culture-in-line-with-your-digital-strategy”
  content/events/2021/07/2021-07-02-digital-meets-culture-getting-your-culture-in-line-with-your-digital-strategy.md
Labels: netlify-cms/draft

#4018 Create Author “holly-chandler/_index”
  content/authors/holly-chandler/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4019 Update content-management-systems-used-by-government-agencies.md
  content/resources/content-management-systems-used-by-government-agencies.md
Labels: Content: Resource

#4020 Update _index.md
  content/about/_index.md
Labels: Content: General site

#4022 Create Community “web-analytics-and-optimization”
  content/communities/web-analytics-and-optimization.md
Labels: Content: Communities, netlify-cms/draft

#4024 Create Image upload “content-images-_inbox-dap-july-event-title-card-png”
  data/images/dap-july-event-title-card.yml
  static/img/proxy/dap-july-event-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4026 Update Author “lakshmi-grama/_index”
  content/authors/lakshmi-grama/_index.md
Labels: netlify-cms/pending_publish

#4028 Create Blog Post “2021/07/2021-07-08-gsa-launches-new-innovation-adoption-community-of-practice”
  content/news/2021/07/2021-07-08-gsa-launches-new-innovation-adoption-community-of-practice.md
Labels: Content: Blog post, netlify-cms/draft

#4032 Create Author “ann-marie-regan/_index”
  content/authors/ann-marie-regan/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4033 Create Author “alex-glade/_index”
  content/authors/alex-glade/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4034 Update challenges-prizes.md
  content/communities/challenges-prizes.md
Labels: Content: Communities

#4035 Create Blog Post “2021/07/2021-07-08-gsa-launches-new-innovation-adoption-community-of-practice”
  content/news/2021/07/2021-07-08-gsa-launches-new-innovation-adoption-community-of-practice.md
Labels: Content: Blog post, netlify-cms/draft

#4038 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#4040 Update coronavirus-covid19-guidance-for-us-government.md
  content/resources/coronavirus-covid19-guidance-for-us-government.md
Labels: Content: Resource

#4039 Update 2021-07-02-digital-meets-culture-getting-your-culture-in-line-…
  content/events/2021/07/2021-07-02-digital-meets-culture-getting-your-culture-in-line-with-your-digital-strategy.md
Labels: Content: Events

#4041 Update Author “alex-glade/_index”
  content/authors/alex-glade/_index.md
Labels: netlify-cms/pending_publish

#4042 Create Event “2021/07/2021-07-12-fedramp-dap-case-study-part-1-assessing-analytics-strategy”
  content/events/2021/07/2021-07-12-fedramp-dap-case-study-part-1-assessing-analytics-strategy.md
Labels: netlify-cms/pending_publish

#4045 Update common-questions-about-dap.md
  content/guides/dap/common-questions-about-dap.md
Labels: Content: Guide

#4044 Update _index.md
  content/guides/dap/_index.md
Labels: Content: Guide

#4043 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#4051 Create Image upload “content-images-_inbox-dap-september-event-title-card-png”
  data/images/dap-september-event-title-card.yml
  static/img/proxy/dap-september-event-title-card.jpg
Labels: netlify-cms/pending_publish

#4052 Update 2021-05-28-plain-language-webinar-using-words-to-build-better-…
  content/events/2021/05/2021-05-28-plain-language-webinar-using-words-to-build-better-digital-experiences.md
Labels: Content: Events

#4053 Create Blog Post “2021/07/2021-07-14-twitter-chats-as-effective-outreach-a-reflection-on-national-consumer-protection-week-2021”
  content/news/2021/07/2021-07-14-twitter-chats-as-effective-outreach-a-reflection-on-national-consumer-protection-week-2021.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4056 Update digitalgov-university.md
  content/about/digitalgov-university.md
Labels: Content: General site

#4049 Update web-analytics-and-optimization.md
  content/communities/web-analytics-and-optimization.md
Labels: Content: Communities

#4057 Create Image upload “content-images-_inbox-andrey-suslov-shutterstock-1199480788-png”
  data/images/andrey-suslov-shutterstock-1199480788.yml
  static/img/proxy/andrey-suslov-shutterstock-1199480788.jpg
Labels: netlify-cms/draft

#4059 Update coronavirus-covid19-guidance-for-us-government.md
  content/resources/coronavirus-covid19-guidance-for-us-government.md
Labels: Content: Resource

#4058 Update a-b-testing.md
  content/communities/a-b-testing.md
Labels: Content: Communities

#4060 Create Author “federal-rpa-community-of-practice/_index”
  content/authors/federal-rpa-community-of-practice/_index.md
Labels: netlify-cms/pending_publish

#4055 Update 2019-11-19-intro-ab-testing-cop.md
  content/events/2019/11/2019-11-19-intro-ab-testing-cop.md
Labels: Bug: Content Cleanup, Content: Events

#4066 Update 2021-03-02-security-is-everyones-job-delivering-secure-usable-…
  content/news/2021/03/2021-03-02-security-is-everyones-job-delivering-secure-usable-login-for-government.md
Labels: Bug: Content Cleanup, Content: Blog post

#4061 Update 2014-03-26-measuring-user-experience-a-few-tips.md
  content/news/2014/03/2014-03-26-measuring-user-experience-a-few-tips.md
Labels: Bug: Content Cleanup, Content: Blog post

#4067 Create Blog Post “2021/07/2021-07-22-gsa-future-focus-web-scraping”
  content/news/2021/07/2021-07-22-gsa-future-focus-web-scraping.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4030 update version
  .hugo-version
  package-lock.json
Labels: :hand: HOLD

#4068 Update required-web-content-and-links.md
  content/resources/required-web-content-and-links.md
Labels: Content: Resource

#4069 Create Author “mara-goldberg/_index”
  content/authors/mara-goldberg/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4071 Update 2021-06-11-developing-a-data-driven-roadmap.md
  content/news/2021/06/2021-06-11-developing-a-data-driven-roadmap.md
Labels: Bug: Content Cleanup, Content: Blog post

#4072 Update _index.md
  content/authors/laura-larrimore/_index.md
Labels: Content: Authors

#4079 Create Blog Post “2021/07/2021-07-27-6-ways-translation-glossaries-help-agencies-succeed-in-sharing-information”
  content/news/2021/07/2021-07-27-6-ways-translation-glossaries-help-agencies-succeed-in-sharing-information.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4076 fedrampdapcasestudy
  static/files/fedramp-dap-casestudy-one.pptx
Labels: Content: Events, Content: Other files

#4074 Added video
  content/events/2021/06/2021-06-08-uswds-monthly-call-june-2021.md
Labels: Content: Events

#4087 Create Image upload “content-images-_inbox-innovation-adoption-title-card-png”
  content/images/_inbox/oh-hai.png
  data/images/innovation-adoption-title-card.yml
  data/images/oh-hai.yml
  static/img/proxy/innovation-adoption-title-card.jpg
  static/img/proxy/oh-hai.jpg
Labels: Content: Events, Content: Images, netlify-cms/pending_publish
