Repository GSA/digitalgov.gov, pull requests merged in 2021-06, with the labels that each got.

#3915 Added video
  content/events/2021/04/2021-04-30-accessible-digital-content-tips-and-tricks.md
Labels: Content: Events

#3917 Create Event “2021/06/2021-06-03-2021-user-experience-summit”
  content/events/2021/06/2021-06-03-2021-user-experience-summit.md
Labels: Content: Events

#3920 Create Author “sofya-savkina/_index”
  content/authors/sofya-savkina/_index.md
Labels: Content: Authors, netlify-cms/draft

#3921 Create Blog Post “2021/06/2021-06-08-deep-fakes-and-social-media-a-q-a-with-alex-cohen”
  content/news/2021/06/2021-06-08-deep-fakes-and-social-media-a-q-a-with-alex-cohen.md
Labels: netlify-cms/pending_publish

#3924 Create Author “wanmei-ou/_index”
  content/authors/wanmei-ou/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3923 Create Event “2021/06/2021-06-08-uswds-monthly-call-june-2021”
  content/events/2021/06/2021-06-08-uswds-monthly-call-june-2021.md
Labels: Content: Events, netlify-cms/draft

#3925 Create Blog Post “2021/06/2021-06-08-innovating-across-highly-regulated-industries-and-the-federal-government”
  content/news/2021/06/2021-06-08-innovating-across-highly-regulated-industries-and-the-federal-government.md
Labels: Content: Blog post, netlify-cms/pending_publish

#3884 Create Image upload “content-images-_inbox-challenge-spotlight-chat-sba-titlecard-png”
  data/images/challenge-spotlight-chat-sba-titlecard.yml
  static/img/proxy/challenge-spotlight-chat-sba-titlecard.jpg
Labels: Content: Images, netlify-cms/pending_publish

#3906 Create Image upload “content-images-_inbox-plainlanguage-june-event-title-card-png”
  data/images/plainlanguage-june-event-title-card.yml
  static/img/proxy/plainlanguage-june-event-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#3926 Create Image upload “content-images-_inbox-wanmei-ou-ife-event-png”
  data/images/wanmei-ou-ife-event.yml
  static/img/proxy/wanmei-ou-ife-event.jpg
Labels: Content: Images, netlify-cms/pending_publish

#3928 Create Image upload “content-images-_inbox-multilingual-huddle-cfpb-homepage-vietnamese-png”
  data/images/multilingual-huddle-cfpb-homepage-vietnamese.yml
  static/img/proxy/multilingual-huddle-cfpb-homepage-vietnamese.jpg
Labels: Content: Images, netlify-cms/pending_publish

#3930 Create Author “andy-welfle/_index”
  content/authors/andy-welfle/_index.md
Labels: netlify-cms/pending_publish

#3936 Create Image upload “content-images-_inbox-plainlanguage-july-event-title-card-png”
  data/images/plainlanguage-july-event-title-card.yml
  static/img/proxy/plainlanguage-july-event-title-card.jpg
Labels: netlify-cms/pending_publish

#3938 Create Author “babatunde-oguntade/_index”
  content/authors/babatunde-oguntade/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3940 Create Author “paul-shute/_index”
  content/authors/paul-shute/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3941 Update _index.md
  content/authors/paul-shute/_index.md
Labels: Content: Authors

#3939 Create Blog Post “2021/06/2021-06-11-developing-a-data-driven-roadmap”
  content/news/2021/06/2021-06-11-developing-a-data-driven-roadmap.md
Labels: Content: Blog post, netlify-cms/pending_publish

#3942 Update 2021-06-11-developing-a-data-driven-roadmap.md
  content/news/2021/06/2021-06-11-developing-a-data-driven-roadmap.md
Labels: Content: Blog post

#3943 Create Blog Post “2021/06/2021-06-14-making-it-easier-for-people-to-find-federal-agencies”
  content/news/2021/06/2021-06-14-making-it-easier-for-people-to-find-federal-agencies.md
Labels: Content: Blog post, netlify-cms/pending_publish

#3945 Update 2021-06-11-developing-a-data-driven-roadmap.md
  content/news/2021/06/2021-06-11-developing-a-data-driven-roadmap.md
Labels: Content: Blog post

#3947 Create Resource “multilingual-huddle-designing-for-translation”
  content/resources/multilingual-huddle-designing-for-translation.md
Labels: Content: Resource, netlify-cms/pending_publish

#3948 Update author profile on Digitalgov
  content/authors/victoria-wales/_index.md
Labels: Content: Authors

#3951 Added slides
  content/events/2021/06/2021-06-08-uswds-monthly-call-june-2021.md
Labels: Content: Events

#3952 Update 2021-06-11-developing-a-data-driven-roadmap.md
  content/news/2021/06/2021-06-11-developing-a-data-driven-roadmap.md
Labels: Content: Blog post

#3954 Update _index.md
  content/authors/victoria-wales/_index.md
Labels: Content: Authors

#3957 Create Author “robert-flaherty/_index”
  content/authors/robert-flaherty/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3958 overturning-precedent-uxsummit-schilf
  static/files/overturning-precedent-uxsummit-schilf.pptx
Labels: Content: Other files

#3959 equity-centered-design-julieben_file upload
  static/files/equity-centered-design-julieben.pptx
Labels: Content: Other files

#3969 Create Event “2021/06/2021-06-22-digital-strategy-at-1600-pennsylvania-avenue-q-a-with-rob-flaherty-white-house-director-of-digital-strategy”
  content/events/2021/06/2021-06-22-digital-strategy-at-1600-pennsylvania-avenue-q-a-with-rob-flaherty-white-house-director-of-digital-strategy.md
Labels: Content: Events, netlify-cms/draft

#3955 Update 2021-06-11-developing-a-data-driven-roadmap.md
  content/news/2021/06/2021-06-11-developing-a-data-driven-roadmap.md
Labels: Content: Blog post

#3972 Create Event “2021/06/2021-06-22-using-plain-language-to-tell-our-stories”
  content/events/2021/06/2021-06-22-using-plain-language-to-tell-our-stories.md
Labels: netlify-cms/pending_publish

#3974 Update 2013-03-07-gsa-fas-qr-code.md
  content/news/2013/03/2013-03-07-gsa-fas-qr-code.md
Labels: Bug: Content Cleanup

#3975 Update 2014-10-06-trends-on-tuesday-are-qr-codes-still-relevant.md
  content/news/2014/10/2014-10-06-trends-on-tuesday-are-qr-codes-still-relevant.md
Labels: Bug: Content Cleanup

#3973 Update 2013-02-14-qr-codes.md
  content/news/2013/02/2013-02-14-qr-codes.md
Labels: Bug: Content Cleanup

#3989 Create Author “vanessa-watters/_index”
  content/authors/vanessa-watters/_index.md
Labels: netlify-cms/draft

#3990 Create Author “tina-chen/_index”
  content/authors/tina-chen/_index.md
Labels: netlify-cms/draft

#3991 Create Author “julia-begley/_index”
  content/authors/julia-begley/_index.md
Labels: netlify-cms/draft

#3988 Create Community “innovation-adoption”
  content/communities/innovation-adoption.md
Labels: Content: Communities, netlify-cms/draft

#4002 Update innovation-adoption.md
  content/communities/innovation-adoption.md
Labels: Content: Communities

#4003 Add files via upload
  static/pdf/patient-powered-innovation-final.pdf
Labels: Content: PDFs

#4004 Update innovation-adoption.md
  content/communities/innovation-adoption.md
Labels: Content: Communities

#4005 Added video
  content/events/2021/05/2021-05-28-plain-language-webinar-using-words-to-build-better-digital-experiences.md
Labels: Content: Events

#4006 Create Blog Post “2021/06/2021-06-29-your-experience-matters”
  content/news/2021/06/2021-06-29-your-experience-matters.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4007 Update digitalgov-university.md
  content/about/digitalgov-university.md
Labels: Content: Events

#4008 add page weight
  content/resources/customer-experience-toolkit.md
Labels: Content: Resource
