Repository GSA/digitalgov.gov, pull requests merged in 2021-11, with the labels that each got.

#4320 Create Blog Post “2021/11/2021-11-01-start-your-tech-career-in-government-as-a-u-s-digital-corps-fellow”
  content/news/2021/11/2021-11-01-start-your-tech-career-in-government-as-a-u-s-digital-corps-fellow.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4322 Update 2017-08-28-government-launches-login-gov-to-simplify-access-to…
  content/news/2017/08/2017-08-28-government-launches-login-gov-to-simplify-access-to-public-services.md
Labels: Bug: Content Cleanup, Content: Blog post

#4323 Update 2016-12-02-the-future-of-technology-at-gsa.md
  content/news/2016/12/2016-12-02-the-future-of-technology-at-gsa.md
Labels: Bug: Content Cleanup

#4321 Update 2018-12-10-us-digital-service-instagram.md
  content/news/2018/12/2018-12-10-us-digital-service-instagram.md
Labels: Content: Blog post

#4324 Update 2014-11-03-keeping-peace-corps-volunteers-healthy-one-text-at-…
  content/news/2014/11/2014-11-03-keeping-peace-corps-volunteers-healthy-one-text-at-a-time.md
Labels: Bug: Content Cleanup, Content: Blog post

#4325 Update 2015-09-18-under-the-hood-building-a-new-college-scorecard-wit…
  content/news/2015/09/2015-09-18-under-the-hood-building-a-new-college-scorecard-with-students.md
Labels: Bug: Content Cleanup, Content: Blog post

#4326 Update 2016-04-06-three-teams-using-the-draft-u-s-web-design-standard…
  content/news/2016/04/2016-04-06-three-teams-using-the-draft-u-s-web-design-standards-talk-about-their-experiences.md
Labels: Bug: Content Cleanup

#4327 Update 2015-03-13-us-canada-and-mexico-collaborate-to-improve-open-go…
  content/news/2015/03/2015-03-13-us-canada-and-mexico-collaborate-to-improve-open-government-and-digital-services.md
Labels: Bug: Content Cleanup

#4318 Create Image upload “content-images-_inbox-build-a-brighter-future-u-s-digital-corps-800-png”
  data/images/build-a-brighter-future-u-s-digital-corps-800.yml
  static/img/proxy/build-a-brighter-future-u-s-digital-corps-800.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4319 Create Image upload “content-images-_inbox-apply-now-u-s-digital-corps-1200-png”
  data/images/apply-now-u-s-digital-corps-1200.yml
  static/img/proxy/apply-now-u-s-digital-corps-1200.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4328 Update 2021-11-01-start-your-tech-career-in-government-as-a-u-s-digit…
  content/news/2021/11/2021-11-01-start-your-tech-career-in-government-as-a-u-s-digital-corps-fellow.md
Labels: Content: Images, Content: Blog post

#4331 Add files via upload
  telework-and-hybrid-successful-strategies.pptx
Labels: Content: Events

#4334 Add files via upload - pptx for Successful Strategies for Telework and Hybrid Work Environments
  static/files/successful-strategies-telework-hybrid-work-environments.pptx
Labels: Content: Other files

#4335 Update 2021-10-28-successful-strategies-for-telework-and-hybrid-work-…
  content/events/2021/10/2021-10-28-successful-strategies-for-telework-and-hybrid-work-environments.md
Labels: Content: Events, Content: Other files

#4337 Create Author “gabby-fratanduono-king/_index”
  content/authors/gabby-fratanduono-king/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4338 Create Blog Post “2021/11/2021-11-05-webinar-recap-u-s-web-design-system-september-2021-monthly-call”
  content/news/2021/11/2021-11-05-webinar-recap-u-s-web-design-system-september-2021-monthly-call.md
Labels: Content: Blog post, netlify-cms/draft

#4340 Create Author “jon-roberts/_index”
  content/authors/jon-roberts/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4339 Added recap/blog post link
  content/events/2021/09/2021-09-02-uswds-monthly-call-september-2021.md
Labels: Content: Events

#4341 Create Author “patrick-kigongo/_index”
  content/authors/patrick-kigongo/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4342 Update 2021-09-02-spotlight-chat-planning-a-federal-prize-competition.md
  content/news/2021/09/2021-09-02-spotlight-chat-planning-a-federal-prize-competition.md
Labels: Content: Topics, Content: Blog post

#4343 Update 2021-11-05-webinar-recap-u-s-web-design-system-september-2021-…
  content/news/2021/11/2021-11-05-webinar-recap-u-s-web-design-system-september-2021-monthly-call.md
Labels: Content: Topics, Content: Blog post

#4344 Update 2021-11-05-webinar-recap-u-s-web-design-system-september-2021-…
  content/news/2021/11/2021-11-05-webinar-recap-u-s-web-design-system-september-2021-monthly-call.md
Labels: Content: Events, Content: Blog post

#4349 Create Image upload “content-images-_inbox-anil-chaudry-with-army-colleagues-veterans-day-2021-1200-png”
  data/images/anil-chaudry-with-army-colleagues-veterans-day-2021-1200.yml
  static/img/proxy/anil-chaudry-with-army-colleagues-veterans-day-2021-1200.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4350 Create Image upload “content-images-_inbox-anil-chaudry-veterans-day-2021-600-png”
  data/images/anil-chaudry-veterans-day-2021-600.yml
  static/img/proxy/anil-chaudry-veterans-day-2021-600.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4353 Create Image upload “content-images-_inbox-tom-black-veterans-day-2021-600-png”
  data/images/tom-black-veterans-day-2021-600.yml
  static/img/proxy/tom-black-veterans-day-2021-600.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4352 Create Image upload “content-images-_inbox-adrianna-valenti-veterans-day-2021-600-png”
  data/images/adrianna-valenti-veterans-day-2021-600.yml
  static/img/proxy/adrianna-valenti-veterans-day-2021-600.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4359 Cms 1636570195916/image upload/content images inbox adrianna valenti plane veterans day 2021 1200 png
  data/images/adrianna-valenti-plane-veterans-day-2021-1200.yml
  static/img/proxy/adrianna-valenti-plane-veterans-day-2021-1200.jpg
Labels: Content: Images

#4354 Create Image upload “content-images-_inbox-pif-george-chewning-600-png”
  data/images/pif-george-chewning-600.yml
  static/img/proxy/pif-george-chewning-600.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4363 Create Blog Post “2021/11/2021-11-10-tts-reflects-why-i-continue-to-serve”
  content/news/2021/11/2021-11-10-tts-reflects-why-i-continue-to-serve.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4346 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#4364 Create Image upload “content-images-_inbox-december-plain-language-report-card-title-card-png”
  data/images/december-plain-language-report-card-title-card.yml
  static/img/proxy/december-plain-language-report-card-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4365 Update contribute.md
  content/about/contribute.md
Labels: Content: General site

#4366 Update 2021-08-18-fedramp-dap-case-study-part-2-reporting-and-decisio…
  content/events/2021/08/2021-08-18-fedramp-dap-case-study-part-2-reporting-and-decision-making.md
Labels: Content: Events, Content: Other files

#4367 Update 2021-07-12-fedramp-dap-case-study-part-1-assessing-analytics-s…
  content/events/2021/07/2021-07-12-fedramp-dap-case-study-part-1-assessing-analytics-strategy.md
Labels: Content: Events, Content: Other files

#4368 Update 2015-11-10-creating-connection-with-instagram.md
  content/news/2015/11/2015-11-10-creating-connection-with-instagram.md
Labels: Bug: broken links

#4371 Create Image upload “content-images-_inbox-challenge-gov-2021-logo-1200-png”
  data/images/challenge-gov-2021-logo-1200.yml
  static/img/proxy/challenge-gov-2021-logo-1200.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4370 Create Image upload “content-images-_inbox-challenge-gov-2021-logo-600-png”
  data/images/challenge-gov-2021-logo-600.yml
  static/img/proxy/challenge-gov-2021-logo-600.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4362 Script for USWDS Oct MC
  content/events/2021/10/2021-10-07-uswds-monthly-call-october-2021.md
Labels: Content: Events

#4369 Create Blog Post “2021/11/2021-11-15-webinar-recap-u-s-web-design-system-october-2021-monthly-call”
  content/news/2021/11/2021-11-15-webinar-recap-u-s-web-design-system-october-2021-monthly-call.md
Labels: Content: Blog post, netlify-cms/draft

#4372 Update challenges-prizes.md
  content/communities/challenges-prizes.md
Labels: Content: Images, Content: Communities

#4373 Create Image upload “content-images-_inbox-uswds-interfaces-dark-1200x630-png”
  data/images/uswds-interfaces-dark-1200x630.yml
  static/img/proxy/uswds-interfaces-dark-1200x630.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4374 Update 2021-11-15-webinar-recap-u-s-web-design-system-october-2021-mo…
  content/news/2021/11/2021-11-15-webinar-recap-u-s-web-design-system-october-2021-monthly-call.md
Labels: Content: Images, Content: Blog post

#4375 Added blog post
  content/events/2021/10/2021-10-07-uswds-monthly-call-october-2021.md
Labels: Content: Events

#4376 Update _index.md
  content/authors/toni-bonitto/_index.md
Labels: Content: Authors

#4377 Create Event “2021/11/2021-11-16-results-of-the-2021-federal-report-card”
  content/events/2021/11/2021-11-16-results-of-the-2021-federal-report-card.md
Labels: Content: Events, netlify-cms/pending_publish

#4378 Update 2021-11-16-results-of-the-2021-federal-report-card.md
  content/events/2021/11/2021-11-16-results-of-the-2021-federal-report-card.md
Labels: Content: Events

#4381 Create Blog Post “2021/11/2021-11-18-far-updated-to-add-revised-section-508-standards-for-information-and-communication-technology”
  content/news/2021/11/2021-11-18-far-updated-to-add-revised-section-508-standards-for-information-and-communication-technology.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4380 Create Blog Post “2021/11/2021-11-18-learn-how-to-create-an-accessible-meeting”
  content/news/2021/11/2021-11-18-learn-how-to-create-an-accessible-meeting.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4382 Create Blog Post “2021/11/2021-11-18-navigating-atos”
  content/news/2021/11/2021-11-18-navigating-atos.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4383 Create Blog Post “2021/11/2021-11-18-the-weekly-ship-what-it-is-why-useful-and-how-to-create-your-own”
  content/news/2021/11/2021-11-18-the-weekly-ship-what-it-is-why-useful-and-how-to-create-your-own.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4384 Update 2020-08-06-women-in-federal-it-cyber.md
  content/events/2020/08/2020-08-06-women-in-federal-it-cyber.md
Labels: Content: Events, Content: Topics

#4385 Update 2020-07-23-women-in-federal-it-cyber.md
  content/events/2020/07/2020-07-23-women-in-federal-it-cyber.md
Labels: Content: Events, Content: Topics

#4387 Update 2020-07-16-women-in-federal-it-cyber.md
  content/events/2020/07/2020-07-16-women-in-federal-it-cyber.md
Labels: Content: Events, Content: Topics

#4386 Update 2020-06-17-women-in-federal-it-cyber.md
  content/events/2020/06/2020-06-17-women-in-federal-it-cyber.md
Labels: Content: Events, Content: Topics

#4390 Update 2012-08-12-agile-sprinting-to-digital-governance-recommendatio…
  content/news/2012/08/2012-08-12-agile-sprinting-to-digital-governance-recommendations.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#4391 Update 2015-10-09-how-agencies-can-support-employee-professional-deve…
  content/news/2015/10/2015-10-09-how-agencies-can-support-employee-professional-development.md
Labels: Content: Images, Bug: Content Cleanup, Content: Topics, Content: Blog post

#4392 Update 2013-05-23-make-mobile-gov-with-the-mobile-application-develop…
  content/news/2013/05/2013-05-23-make-mobile-gov-with-the-mobile-application-development-program.md
Labels: Content: Images, Bug: Content Cleanup, Content: Topics, Content: Blog post

#4389 Update 2020-03-06-rpa-community-practice-cop-march-all.md
  content/events/2020/03/2020-03-06-rpa-community-practice-cop-march-all.md
Labels: Content: Events, Content: Topics

#4395 Update 2021-03-02-security-is-everyones-job-delivering-secure-usable-…
  content/news/2021/03/2021-03-02-security-is-everyones-job-delivering-secure-usable-login-for-government.md
Labels: Content: Blog post

#4394 Update federal-web-council.md
  content/resources/federal-web-council.md
Labels: Content: Communities

#4396 Create Blog Post “2021/11/2021-11-23-cio-handbook”
  content/news/2021/11/2021-11-23-cio-handbook.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4397 Update CoP lead
  content/communities/artificial-intelligence.md
Labels: Content: Communities, Content: Authors

#4398 fix M-11-26 link
  content/resources/social-media-web-based-interactive-technologies-and-the-paperwork-reduction-act.md
Labels: Content: Resource, Bug: broken links
