Repository GSA/digitalgov.gov, pull requests merged in 2021-10, with the labels that each got.

#4243 Create Author “javier-chavez/_index”
  content/authors/javier-chavez/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4242 Create Image upload “content-images-_inbox-multilingual-october-event-title-card-jpg”
  data/images/multilingual-october-event-title-card.yml
  static/img/proxy/multilingual-october-event-title-card.jpg
Labels: netlify-cms/pending_publish

#4245 Create Event “2021/10/2021-10-01-how-to-best-connect-with-your-spanish-speaking-audience-during-an-emergency”
  content/events/2021/10/2021-10-01-how-to-best-connect-with-your-spanish-speaking-audience-during-an-emergency.md
Labels: netlify-cms/pending_publish

#4250 Create Image upload “content-images-_inbox-shawnique-morrison-480-png”
  data/images/shawnique-morrison-480.yml
  static/img/proxy/shawnique-morrison-480.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4252 Create Image upload “content-images-_inbox-kelley-confer-png”
  data/images/kelley-confer.yml
  static/img/proxy/kelley-confer.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4251 Create Image upload “content-images-_inbox-fedora-braverman-headshot-jpg”
  data/images/fedora-braverman-headshot.yml
  static/img/proxy/fedora-braverman-headshot.jpg
Labels: netlify-cms/draft

#4253 Create Author “kathryn-mullan/_index”
  content/authors/kathryn-mullan/_index.md
Labels: Content: Authors, netlify-cms/draft

#4254 Create Author “usagov-outreach-team/_index”
  content/authors/usagov-outreach-team/_index.md
Labels: netlify-cms/pending_publish

#4259 Create Image upload “content-images-_inbox-hispanic-heritage-month-2021-usagov-en-espanol-png”
  data/images/hispanic-heritage-month-2021-usagov-en-espanol.yml
  static/img/proxy/hispanic-heritage-month-2021-usagov-en-espanol.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4258 Create Image upload “content-images-_inbox-usagov-en-espanol-logo-png”
  data/images/usagov-en-espanol-logo.yml
  static/img/proxy/usagov-en-espanol-logo.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4316 Update _index.md
  content/authors/david-siegrist/_index.md
Labels: Content: Authors

#4315 Update _index.md
  content/authors/jeannette-bruno/_index.md
Labels: Content: Authors
