Repository GSA/digitalgov.gov, pull requests merged in 2021-09, with the labels that each got.

#4188 Create Blog Post “2021/09/2021-09-01-building-a-bureau-wide-usability-collaboration-group-lessons-learned-from-the-u-s-geological-survey”
  content/news/2021/09/2021-09-01-building-a-bureau-wide-usability-collaboration-group-lessons-learned-from-the-u-s-geological-survey.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4189 Update it-accessibility-section-508.md
  content/communities/it-accessibility-section-508.md
Labels: Content: Communities

#4192 Add files via upload
  static/pdf/rpt-rapid-process-transformation-handbook-final-08-12-2021.pdf
Labels: Content: PDFs

#4191 Update 2021-08-18-fedramp-dap-case-study-part-2-reporting-and-decisio…
  content/events/2021/08/2021-08-18-fedramp-dap-case-study-part-2-reporting-and-decision-making.md
Labels: Content: Events, Content: Other files

#4193 Update 2021-09-01-building-a-bureau-wide-usability-collaboration-grou…
  content/news/2021/09/2021-09-01-building-a-bureau-wide-usability-collaboration-group-lessons-learned-from-the-u-s-geological-survey.md
Labels: Content: Redirects, Content: Blog post

#4194 Added first video
  content/events/2021/06/2021-06-03-2021-user-experience-summit.md
Labels: Content: Events

#4198 Create Author “quinn-slayton/_index”
  content/authors/quinn-slayton/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4197 Create Event “2021/09/2021-09-02-uswds-monthly-call-september-2021”
  content/events/2021/09/2021-09-02-uswds-monthly-call-september-2021.md
Labels: Content: Events, netlify-cms/draft

#4196 Create Blog Post “2021/09/2021-09-02-planning-a-federal-prize-competition”
  content/news/2021/09/2021-09-02-planning-a-federal-prize-competition.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4199 Update 2021-09-02-planning-a-federal-prize-competition.md
  content/news/2021/09/2021-09-02-planning-a-federal-prize-competition.md
Labels: Content: Authors, Content: Blog post

#4200 Create 2021-09-02-spotlight-chat-planning-a-federal-prize-competition.md
  content/news/2021/09/2021-09-02-spotlight-chat-planning-a-federal-prize-competition.md
Labels: Content: Blog post

#4202 Update 2021-09-02-spotlight-chat-planning-a-federal-prize-competition.md
  content/news/2021/09/2021-09-02-spotlight-chat-planning-a-federal-prize-competition.md
Labels: Content: Blog post

#4203 Create Blog Post “2021/09/2021-09-07-introducing-the-u-s-digital-corps”
  content/news/2021/09/2021-09-07-introducing-the-u-s-digital-corps.md
Labels: netlify-cms/draft

#4204 Create Blog Post “2021/09/2021-09-07-gsa-future-focus-it-innovation”
  content/news/2021/09/2021-09-07-gsa-future-focus-it-innovation.md
Labels: Content: Blog post, netlify-cms/draft

#4205 Added another UX Summit video
  content/events/2021/06/2021-06-03-2021-user-experience-summit.md
Labels: Content: Events

#4207 Create Image upload “content-images-_inbox-plain-language-september-event-title-card-jpg”
  data/images/plain-language-september-event-title-card.yml
  static/img/proxy/plain-language-september-event-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4209 Create Event “2021/09/2021-09-14-2021-federal-plain-language-summit”
  content/events/2021/09/2021-09-14-2021-federal-plain-language-summit.md
Labels: Content: Events, netlify-cms/pending_publish

#4217 Added PPT
  content/events/2021/09/2021-09-02-uswds-monthly-call-september-2021.md
Labels: Content: Events

#4221 Add files via upload
  static/files/plain-language-summit-online-glossaries.pptx
Labels: Content: Events, Content: Other files

#4237 Update _index.md
  content/authors/dahianna-salazar-foreman/_index.md
Labels: Content: Authors

#4239 Create Image upload “content-images-_inbox-digital-meets-culture-recap-png”
  data/images/digital-meets-culture-recap.yml
  static/img/proxy/digital-meets-culture-recap.jpg
Labels: netlify-cms/pending_publish

#4241 Create Image upload “content-images-_inbox-sheev-dave-500-png”
  data/images/sheev-dave-500.yml
  static/img/proxy/sheev-dave-500.jpg
Labels: netlify-cms/pending_publish

#4240 Create Image upload “content-images-_inbox-tim-lowden-500-png”
  data/images/tim-lowden-500.yml
  static/img/proxy/tim-lowden-500.jpg
Labels: netlify-cms/pending_publish

#4238 Create Blog Post “2021/09/2021-09-28-digital-meets-culture-getting-your-culture-in-line-with-your-digital-strategy”
  content/news/2021/09/2021-09-28-digital-meets-culture-getting-your-culture-in-line-with-your-digital-strategy.md
Labels: Content: Blog post, netlify-cms/pending_publish
