Repository GSA/digitalgov.gov, pull requests merged in 2021-04, with the labels that each got.

#3757 Update 2013-06-26-making-multimedia-section-508-compliant-and-accessi…
  content/news/2013/06/2013-06-26-making-multimedia-section-508-compliant-and-accessible.md
Labels: Bug: Content Cleanup

#3762 Create Blog Post “2021/04/2021-04-01-building-a-user-centered-data-strategy”
  content/news/2021/04/2021-04-01-building-a-user-centered-data-strategy.md
Labels: Content: Blog post, netlify-cms/pending_publish

#3761 Video and PDF to event page
  content/events/2021/02/2021-02-01-tag-managers-part-2-configuration-framework.md
Labels: Content: Events

#3760 Create Author “emily-parkhurst/_index”
  content/authors/emily-parkhurst/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3759 Create Author “craig-connelly/_index”
  content/authors/craig-connelly/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3758 Create Author “jeremy-glenn/_index”
  content/authors/jeremy-glenn/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3763 Update intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Resource

#3764 Update _index.md
  content/authors/ruxi-giura/_index.md
Labels: Content: Authors

#3769 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#3766 Create Event “2021/04/2021-04-05-challenge-and-prize-spotlight-chat-with-national-institute-of-standards-and-technology-nist”
  content/events/2021/04/2021-04-05-challenge-and-prize-spotlight-chat-with-national-institute-of-standards-and-technology-nist.md
Labels: netlify-cms/pending_publish

#3771 Update multilingual.md
  content/communities/multilingual.md
Labels: Content: Communities

#3768 Create Blog Post “2021/04/2021-04-05-2020-in-review”
  content/news/2021/04/2021-04-05-2020-in-review.md
Labels: Content: Blog post, netlify-cms/pending_publish

#3770 Create Blog Post “2021/04/2021-04-06-using-chatbots-to-improve-customer-experience”
  content/news/2021/04/2021-04-06-using-chatbots-to-improve-customer-experience.md
Labels: Content: Blog post, netlify-cms/pending_publish

#3775 chatbot imgs
  data/images/fsa-aidan-owl-icon.yml
  data/images/fsa-aidan-virtual-assistant-desktop-mobile-examples.yml
  data/images/tsa-twitter-asktsa-icon.yml
  static/img/proxy/fsa-aidan-owl-icon.jpeg
  static/img/proxy/fsa-aidan-virtual-assistant-desktop-mobile-examples.jpeg
  static/img/proxy/tsa-twitter-asktsa-icon.jpeg
Labels: Content: Images

#3777 aidan cell img
  data/images/fsa-aidan-mobile.yml
  data/images/fsa-aidan-owl-icon.yml
  data/images/fsa-aidan-virtual-assistant-desktop-mobile-examples.yml
  data/images/tsa-twitter-asktsa-icon.yml
  static/img/proxy/fsa-aidan-mobile.jpeg
Labels: Content: Images

#3776 Update 2021-04-06-using-chatbots-to-improve-customer-experience.md
  content/news/2021/04/2021-04-06-using-chatbots-to-improve-customer-experience.md
Labels: Content: Blog post, Content: Images

#3785 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource

#3783 Create Author “author-gallow/_index”
  content/authors/author-gallow/_index.md
Labels: netlify-cms/draft

#3801 Update 2021-03-30-uswds-monthly-call-april-2021.md
  content/events/2021/03/2021-03-30-uswds-monthly-call-april-2021.md
Labels: Content: Events

#3802 Update link to TTS Code of Conduct
  content/communities/manage-listserv-subscription.md
Labels: Content: Communities

#3805 Update 2016-06-17-exciting-additions-to-analytics-usa-gov.md
  content/news/2016/06/2016-06-17-exciting-additions-to-analytics-usa-gov.md
Labels: Bug: Content Cleanup

#3806 Update 2017-08-14-20162017-mobile-analysis-mobile-device-trends-on-go…
  content/news/2017/08/2017-08-14-20162017-mobile-analysis-mobile-device-trends-on-government-websites.md
Labels: Bug: Content Cleanup

#3807 search dap covid imgs
  data/images/cdc-site-visits.yml
  data/images/covid-timeline-dap.yml
  data/images/health-searches-including-covid-19.yml
  data/images/health-searches-not-including-covid-19.yml
  data/images/overall-traffic-to-searchgov.yml
  data/images/two-device-usage-pie-charts-2019-to-2020-and-2020-to-2021.yml
  static/img/proxy/cdc-site-visits.jpeg
  static/img/proxy/covid-timeline-dap.jpeg
  static/img/proxy/health-searches-including-covid-19.jpeg
  static/img/proxy/health-searches-not-including-covid-19.jpeg
  static/img/proxy/overall-traffic-to-searchgov.jpeg
  static/img/proxy/two-device-usage-pie-charts-2019-to-2020-and-2020-to-2021.jpeg
Labels: Content: Images

#3804 Create Blog Post “2021/04/2021-04-16-the-federal-web-in-the-year-of-covid-19”
  content/news/2021/04/2021-04-16-the-federal-web-in-the-year-of-covid-19.md
Labels: Content: Blog post, netlify-cms/pending_publish

#3809 covid imgs alt and caption edits
  data/images/health-searches-including-covid-19.yml
  data/images/health-searches-not-including-covid-19.yml
Labels: Content: Images

#3808 Update 2021-04-16-the-federal-web-in-the-year-of-covid-19.md
  content/news/2021/04/2021-04-16-the-federal-web-in-the-year-of-covid-19.md
Labels: Content: Blog post, Content: Images

#3772 Adding Fedora as co-lead
  content/communities/multilingual.md
Labels: Content: Communities

#3779 Fedora Update
  content/authors/fedora-braverman/_index.md
Labels: Content: Authors

#3794 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#3787 Adding Ramirez as social media community lead
  content/communities/social-media.md
Labels: Content: Communities

#3812 Add touchpoints as a tool
  content/authors/ryan-wold/_index.md
  content/services/service_touchpoints.md
  static/logos/touchpoints-icon.png
  static/logos/touchpoints-logo.png
Labels: Content: Tools and Services

#3789 Delete ux-summit-2021.png
  ux-summit-2021.png
Labels: Bug: Content Cleanup

#3786 fix link to IAL2 PDF
  content/news/2021/03/2021-03-02-security-is-everyones-job-delivering-secure-usable-login-for-government.md
Labels: Bug: broken links

#3814 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource

#3811 Create Event “2021/04/2021-04-20-social-media-spring-session-2021”
  content/events/2021/04/2021-04-20-social-media-spring-session-2021.md
Labels: netlify-cms/pending_publish

#3816 Added video
  content/events/2021/03/2021-03-05-how-testing-your-documents-can-improve-plain-language-compliance.md
Labels: Content: Events

#3815 Added video
  content/events/2021/03/2021-03-30-uswds-monthly-call-april-2021.md
Labels: Content: Events

#3820 AS_RPA Lead
  content/communities/rpa-community.md
Labels: Content: Communities

#3819 Create Author “courtney-rogers/_index”
  content/authors/courtney-rogers/_index.md
Labels: netlify-cms/draft

#3823 Create Event “2021/04/2021-04-22-positioning-yourself-as-a-plain-language-editor”
  content/events/2021/04/2021-04-22-positioning-yourself-as-a-plain-language-editor.md
Labels: Content: Events, netlify-cms/draft

#3825 Create Blog Post “2021/04/2021-04-22-how-to-present-like-a-pro”
  content/news/2021/04/2021-04-22-how-to-present-like-a-pro.md
Labels: Content: Blog post, netlify-cms/pending_publish

#3828 Added video
  content/events/2021/04/2021-04-05-challenge-and-prize-spotlight-chat-with-national-institute-of-standards-and-technology-nist.md
Labels: Content: Events

#3830 Update how-to-present-like-a-pro.md
  content/resources/how-to-present-like-a-pro.md
Labels: Content: Resource

#3824 AS_SG member
  content/communities/social-media.md
Labels: Content: Communities

#3832 Create Author “alex-cohen/_index-1”
  content/authors/alex-cohen/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#3833 update netlify config
  themes/digital.gov/static/workflow/config.yml
Labels: Dev: Workflow

#3834 Update 2021-04-05-challenge-and-prize-spotlight-chat-with-national-in…
  content/events/2021/04/2021-04-05-challenge-and-prize-spotlight-chat-with-national-institute-of-standards-and-technology-nist.md
Labels: Content: Events

#3835 Create Event “2021/04/2021-04-27-deep-fakes-and-social-media”
  content/events/2021/04/2021-04-27-deep-fakes-and-social-media.md
Labels: Content: Events

#3836 Update post
  content/events/2021/04/2021-04-20-social-media-spring-session-2021.md
Labels: Bug: Content Cleanup

#3837 Create Author “matthew-payne/_index”
  content/authors/matthew-payne/_index.md
Labels: Content: Authors

#3839 Added PDF slides
  content/events/2021/03/2021-03-05-how-testing-your-documents-can-improve-plain-language-compliance.md
Labels: Content: Events

#3570 Ks listevents
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/partials/core/get-pastevents.html
  themes/digital.gov/layouts/partials/core/get-upcomingevents.html
Labels: Dev: Template Logic

#3843 Create Author “andrew-nielson/_index”
  content/authors/andrew-nielson/_index.md
Labels: Content: Authors, netlify-cms/draft

#3778 Add info on BOD 20-01
  content/resources/required-web-content-and-links.md
Labels: Content: Resource

#3844 Create Event “2021/04/2021-04-30-accessible-digital-content-tips-and-tricks”
  content/events/2021/04/2021-04-30-accessible-digital-content-tips-and-tricks.md
Labels: Content: Events, netlify-cms/draft
