Repository GSA/digitalgov.gov, pull requests merged in 2022-01, with the labels that each got.

#4463 Create Image upload “content-images-_inbox-nws-hazard-simplification-project-png”
  data/images/nws-hazard-simplification-project.yml
  static/img/proxy/nws-hazard-simplification-project.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4465 Create Author “rebecca-nelson/_index”
  content/authors/rebecca-nelson/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4470 1/4 Create Blog Post “2022/01/2022-01-03-webinar-recap-key-takeaways-on-simplifying-hazard-communications-with-plain-language”
  content/news/2022/01/2022-01-03-webinar-recap-key-takeaways-on-simplifying-hazard-communications-with-plain-language.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4474 Update 2022-01-03-webinar-recap-key-takeaways-on-simplifying-hazard-c…
  content/news/2022/01/2022-01-03-webinar-recap-key-takeaways-on-simplifying-hazard-communications-with-plain-language.md
Labels: Content: Blog post

#4476 Update 2021-12-15-plain-language-summit-recap-the-part-timer.md
  content/news/2021/12/2021-12-15-plain-language-summit-recap-the-part-timer.md
Labels: Content: Topics, Content: Blog post

#4477 Create Image upload “content-images-_inbox-covid-coronavirus-lawkeeper-istock-getty-images-plus-1214014551-png”
  data/images/covid-coronavirus-lawkeeper-istock-getty-images-plus-1214014551.yml
  static/img/proxy/covid-coronavirus-lawkeeper-istock-getty-images-plus-1214014551.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4478 Update 2022-01-03-webinar-recap-key-takeaways-on-simplifying-hazard-c…
  content/news/2022/01/2022-01-03-webinar-recap-key-takeaways-on-simplifying-hazard-communications-with-plain-language.md
Labels: Content: Blog post

#4475 Create Blog Post “2022/01/2022-01-04-keynote-speaker-recap-would-more-plain-language-have-saved-us-from-the-worst-of-the-pandemic”
  content/news/2022/01/2022-01-03-webinar-recap-key-takeaways-on-simplifying-hazard-communications-with-plain-language.md
  content/news/2022/01/2022-01-04-keynote-speaker-recap-would-more-plain-language-have-saved-us-from-the-worst-of-the-pandemic.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4479 Create Blog Post “2022/01/2022-01-04-new-epa-interactive-map-on-community-citizen-science”
  content/news/2022/01/2022-01-04-new-epa-interactive-map-on-community-citizen-science.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4481 Added 3 recap links
  content/events/2021/09/2021-09-14-2021-federal-plain-language-summit.md
Labels: Content: Events

#4482 Create Image upload “content-images-_inbox-gsa-small-biz-page-glossary-icons-schedules-gwacs-idiqs-png”
  data/images/gsa-small-biz-page-glossary-icons-schedules-gwacs-idiqs.yml
  static/img/proxy/gsa-small-biz-page-glossary-icons-schedules-gwacs-idiqs.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4484 Update omb-circular-a11-section-280-managing.md
  content/resources/omb-circular-a11-section-280-managing.md
Labels: Content: Resource, Bug: broken links

#4485 Update omb-memos-circulars-executive-orders-and-other-policies.md
  content/resources/omb-memos-circulars-executive-orders-and-other-policies.md
Labels: Content: Resource, Bug: broken links

#4487 Update omb-memos-circulars-executive-orders-and-other-policies.md
  content/resources/omb-memos-circulars-executive-orders-and-other-policies.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#4466 1/6 Create Blog Post “2022/01/2022-01-03-open-source-information-architecture-design-using-the-tools-you-have-to-conduct-card-sorting-and-tree-testing”
  content/news/2022/01/2022-01-03-open-source-information-architecture-design-using-the-tools-you-have-to-conduct-card-sorting-and-tree-testing.md
Labels: :hand: HOLD, Content: Blog post, netlify-cms/pending_publish

#4488 Create Image upload “content-images-_inbox-uswds-january-title-card-jpg”
  data/images/uswds-january-title-card.yml
  static/img/proxy/uswds-january-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4489 Create Event “2022/01/2022-01-06-uswds-monthly-call-january-2022”
  content/events/2022/01/2022-01-06-uswds-monthly-call-january-2022.md
Labels: Content: Events, netlify-cms/draft

#4493 Removing Jenn as an author
  content/communities/web-analytics-and-optimization.md
Labels: Content: Communities

#4502 Create Image upload “content-images-_inbox-icon-medium-sun-png”
  data/images/icon-medium-sun.yml
  static/img/proxy/icon-medium-sun.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4505 Create Image upload “content-images-_inbox-icon-medium-user-network-c-png”
  data/images/icon-medium-user-network-c.yml
  static/img/proxy/icon-medium-user-network-c.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4507 Create Image upload “content-images-_inbox-icon-medium-wind-png”
  data/images/icon-medium-wind.yml
  static/img/proxy/icon-medium-wind.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4506 Create Image upload “content-images-_inbox-icon-medium-users-png”
  data/images/icon-medium-users.yml
  static/img/proxy/icon-medium-users.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4508 Create Image upload “content-images-_inbox-icon-medium-heart-png”
  data/images/icon-medium-heart.yml
  static/img/proxy/icon-medium-heart.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4510 Create Image upload “content-images-_inbox-icon-medium-cloud-snow-png”
  data/images/icon-medium-cloud-snow.yml
  static/img/proxy/icon-medium-cloud-snow.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4504 Create Image upload “content-images-_inbox-icon-medium-moon-png”
  data/images/icon-medium-moon.yml
  static/img/proxy/icon-medium-moon.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4503 Add files via upload
  static/files/overcoming-your-fear-of-data-presentation.pptx
Labels: Content: Events, Content: Other files

#4514 Create Image upload “content-images-_inbox-icon-medium-gift-png”
  data/images/icon-medium-gift.yml
  static/img/proxy/icon-medium-gift.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4513 Create Image upload “content-images-_inbox-icon-medium-plant-full-grown-c-png”
  data/images/icon-medium-plant-full-grown-c.yml
  static/img/proxy/icon-medium-plant-full-grown-c.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4512 Create Image upload “content-images-_inbox-icon-medium-book-open-png”
  data/images/icon-medium-book-open.yml
  static/img/proxy/icon-medium-book-open.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4515 Update multilingual.md
  content/communities/multilingual.md
Labels: Content: Communities

#4509 Create Image upload “content-images-_inbox-icon-medium-cloud-rain-png”
  data/images/icon-medium-cloud-rain.yml
  static/img/proxy/icon-medium-cloud-rain.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4511 Create Image upload “content-images-_inbox-icon-medium-book-png”
  data/images/icon-medium-book.yml
  static/img/proxy/icon-medium-book.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4518 Create Image upload “content-images-_inbox-mastersergeant-istock-gettyimagesplus-1345799632-1200-png”
  data/images/mastersergeant-istock-gettyimagesplus-1345799632-1200.yml
  static/img/proxy/mastersergeant-istock-gettyimagesplus-1345799632-1200.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4519 Create Image upload “content-images-_inbox-icon-medium-blank-calendar-png”
  data/images/icon-medium-blank-calendar.yml
  static/img/proxy/icon-medium-blank-calendar.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4516 Create Blog Post “2022/01/2022-01-11-celebrating-digital-gov-communities-2021-in-review”
  content/news/2022/01/2022-01-11-celebrating-digital-gov-communities-2021-in-review.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4520 Update 2021-12-21-overcoming-your-fear-of-data.md
  content/events/2021/12/2021-12-21-overcoming-your-fear-of-data.md
Labels: Content: Events

#4521 Update plain-language-community-of-practice.md
  content/communities/plain-language-community-of-practice.md
Labels: Content: Authors

#4524 Update _index.md
  content/authors/gabrielle-perret/_index.md
Labels: Content: Authors

#4523 Create Author “miriam-vincent/_index”
  content/authors/miriam-vincent/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4525 Create Image upload “content-images-_inbox-checklist-topics-png”
  data/images/checklist-topics.yml
  static/img/proxy/checklist-topics.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4527 Create Image upload “content-images-_inbox-tutti-frutti-istock-getty-images-plus-1279167776-1200-png”
  data/images/tutti-frutti-istock-getty-images-plus-1279167776-1200.yml
  static/img/proxy/tutti-frutti-istock-getty-images-plus-1279167776-1200.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4528 Update plain-language-community-of-practice.md
  content/communities/plain-language-community-of-practice.md
Labels: Content: Communities, Content: Authors

#4530 Add files via upload
  static/files/overcoming-your-fear-of-data-updated-presentation.pptx
Labels: Content: Other files

#4529 Update 2021-06-22-digital-strategy-at-1600-pennsylvania-avenue-q-a-wi…
  content/events/2021/06/2021-06-22-digital-strategy-at-1600-pennsylvania-avenue-q-a-with-rob-flaherty-white-house-director-of-digital-strategy.md
Labels: Content: Events

#4531 Update 2021-12-21-overcoming-your-fear-of-data.md
  content/events/2021/12/2021-12-21-overcoming-your-fear-of-data.md
Labels: Content: Events, Content: Other files

#4532 Create Image upload “content-images-_inbox-ux-summmit-title-card-twenty-twenty-two-title-card-png”
  data/images/ux-summmit-title-card-twenty-twenty-two-title-card.yml
  static/img/proxy/ux-summmit-title-card-twenty-twenty-two-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4533 Added slides
  content/events/2022/01/2022-01-06-uswds-monthly-call-january-2022.md
Labels: Content: Events

#4535 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#4536 Create Blog Post “2022/01/2022-01-19-call-for-participation-2022-government-ux-summit”
  content/news/2022/01/2022-01-19-call-for-participation-2022-government-ux-summit.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4541 Update 2022-01-19-call-for-participation-2022-government-ux-summit.md
  content/news/2022/01/2022-01-19-call-for-participation-2022-government-ux-summit.md
Labels: Content: Blog post

#4540 Update best-practices-for-writing-for-accessible.md
  content/resources/best-practices-for-writing-for-accessible.md
Labels: Bug: Content Cleanup, Content: Blog post

#4546 Create Blog Post “2022/01/2022-01-21-the-customer-experience-symposium-series-a-thought-incubator-for-federal-cx-practitioners”
  content/news/2022/01/2022-01-21-the-customer-experience-symposium-series-a-thought-incubator-for-federal-cx-practitioners.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4544 Adding "2020" to the report button
  content/guides/rpa/state-of-federal-rpa.md
Labels: Content: Resource, Content: Guide

#4548 Create Image upload “content-images-_inbox-multilingual-panel-connect-in-emergency-png”
  data/images/multilingual-panel-connect-in-emergency.yml
  static/img/proxy/multilingual-panel-connect-in-emergency.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4549 Create Blog Post “2022/01/2022-01-24-webinar-recap-how-to-best-connect-with-your-spanish-speaking-audience-during-an-emergency”
  content/news/2022/01/2022-01-24-webinar-recap-how-to-best-connect-with-your-spanish-speaking-audience-during-an-emergency.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4550 Create Blog Post “2022/01/2022-01-25-new-improvements-to-regulations-gov-boost-transparency-and-engagement”
  content/news/2022/01/2022-01-25-new-improvements-to-regulations-gov-boost-transparency-and-engagement.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4553 Update electronic-capital-planning-and-investment-control-ecpic.md
  content/services/electronic-capital-planning-and-investment-control-ecpic.md
Labels: Content: Tools and Services, Bug: Content Cleanup

#4552 Adding 2021 RPA Report to the file repository
  static/files/state-of-federal-rpa-report-12-2021.pdf
Labels: Content: PDFs

#4555 Add files via upload
  static/pdf/state-of-federal-rpa-report-12-2021.pdf
Labels: Content: PDFs

#4554 Adding the 2021 RPA Report to the page
  content/guides/rpa/state-of-federal-rpa.md
Labels: Content: Resource, Content: Guide, Content: PDFs

#4556 Create Image upload “content-images-_inbox-rpa-melpomenem-istock-getty-images-1205300897-png”
  data/images/rpa-melpomenem-istock-getty-images-1205300897.yml
  static/img/proxy/rpa-melpomenem-istock-getty-images-1205300897.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4557 Deck code Update 2020-11-30-state-of-federal-rpa-report-adoption-and-impact-of-…
  content/news/2020/11/2020-11-30-state-of-federal-rpa-report-adoption-and-impact-of-robotic-process-automation-in-the-federal-government.md
Labels: Bug: Content Cleanup, Content: Blog post

#4538 Create Blog Post “2022/01/2022-01-20-assessing-the-state-of-federal-robotic-process-automation-rpa”
  content/news/2022/01/2022-01-20-assessing-the-state-of-federal-robotic-process-automation-rpa.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4559 Create Author “shawnique-morrison/_index”
  content/authors/shawnique-morrison/_index.md
Labels: netlify-cms/pending_publish

#4558 Create Author “danielle-lee/_index”
  content/authors/danielle-lee/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4560 Update 2021-05-21-8-ways-community-of-practice-cop-managers-can-impro…
  content/news/2021/05/2021-05-21-8-ways-community-of-practice-cop-managers-can-improve-member-engagement-on-listservs.md
Labels: Bug: Content Cleanup
