Repository GSA/digitalgov.gov, pull requests merged in 2022-07, with the labels that each got.

#5105 Update 2022-06-29-five-procurement-strategies-for-diverse-digital-ser…
  content/news/2022/06/2022-06-29-five-procurement-strategies-for-diverse-digital-services.md
Labels: Bug: Content Cleanup

#5107 Create Image upload “content-images-_inbox-white-house-gsa-open-innovation-forum-title-card-png”
  data/images/white-house-gsa-open-innovation-forum-title-card.yml
  static/img/proxy/white-house-gsa-open-innovation-forum-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5104 Adding YouTube video1 to UX Summit event page
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events, Content: Video + YouTube

#5110 Create Author “administrator-robin-carnahan/_index”
  content/authors/administrator-robin-carnahan/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5112 Create Author “dr-jedidah-isler/_index”
  content/authors/dr-jedidah-isler/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5108 Create Event “2022/07/2022-07-01-white-house-and-gsa-open-innovation-forum-building-equitable-partnerships”
  content/events/2022/07/2022-07-01-white-house-and-gsa-open-innovation-forum-building-equitable-partnerships.md
Labels: Content: Events, netlify-cms/pending_publish

#5115 Update 2013-07-15-digital-metrics-for-federal-agencies.md
  content/news/2013/07/2013-07-15-digital-metrics-for-federal-agencies.md
Labels: Bug: broken links

#5118 Update 2022-06-28-increase-your-impact-with-plain-language.md
  content/events/2022/06/2022-06-28-increase-your-impact-with-plain-language.md
Labels: Content: Events, Content: Other files

#5120 AS_Usability template removal
  content/resources/digitalgov-user-experience-program-usability-starter-kit.md
Labels: Bug: broken links

#5123 Create Author “alexis-lennon/_index”
  content/authors/alexis-lennon/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5127 Update _index.md
  content/authors/administrator-robin-carnahan/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5128 Update _index.md
  content/authors/dr-alondra-nelson/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5129 Update _index.md
  content/authors/dr-jedidah-isler/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5130 Create Image upload “content-images-_inbox-digitalgov-2022-card-v3-png”
  data/images/digitalgov-2022-card-v3.yml
  static/img/proxy/digitalgov-2022-card-v3.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5132 Create Event “2022/07/2022-07-14-how-effective-is-your-communication”
  content/events/2022/07/2022-07-14-how-effective-is-your-communication.md
Labels: Content: Events, netlify-cms/draft

#5133 Update 2022-07-14-how-effective-is-your-communication.md
  content/events/2022/07/2022-07-14-how-effective-is-your-communication.md
Labels: Content: Events

#5135 Create Blog Post “2022/07/2022-07-14-finding-post-award-balance-with-quality-assurance”
  content/news/2022/07/2022-07-14-finding-post-award-balance-with-quality-assurance.md
Labels: Content: Blog post, netlify-cms/draft

#5139 Create Blog Post “2022/07/2022-07-14-fedramp-penetration-test-guidance-updates”
  content/news/2022/07/2022-07-14-fedramp-penetration-test-guidance-updates.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5138 Create Blog Post “2022/07/2022-07-14-what-agile-looks-like-at-the-office-of-natural-resources-revenue”
  content/news/2022/07/2022-07-14-what-agile-looks-like-at-the-office-of-natural-resources-revenue.md
Labels: Content: Blog post, netlify-cms/draft

#5126 updated front matter with new summaries, added fields for shortname and acronym
  content/communities/federal-communicators-network.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
  themes/digital.gov/layouts/communities/list.html
  themes/digital.gov/src/scss/new/home/_communities.scss
Labels: Content: Communities, Bug: Content Cleanup

#5147 AS_WH GSA Slides
  content/events/2022/07/2022-07-01-white-house-and-gsa-open-innovation-forum-building-equitable-partnerships.md
Labels: Content: Events

#5148 Create Blog Post “2022/07/2022-07-15-content-design-for-beta-ada-gov-writing-for-action-and-flexibility”
  content/news/2022/07/2022-07-15-content-design-for-beta-ada-gov-writing-for-action-and-flexibility.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5119 added touchpoints form code
  logs.txt
  themes/digital.gov/layouts/404.html
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/guides/list.html
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/layouts/partials/core/page-data.html
  themes/digital.gov/layouts/partials/core/touchpoints-form.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/src/scss/new/_touchpoints-form.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: feedback, Content: General site

#5149 Create Blog Post “2022/07/2022-07-18-c-scrm-acquisition-community-of-practice-acop-interact-site”
  content/news/2022/07/2022-07-18-c-scrm-acquisition-community-of-practice-acop-interact-site.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5150 Create Blog Post “2022/07/2022-07-18-announcing-the-cx-maturity-model”
  content/news/2022/07/2022-07-18-announcing-the-cx-maturity-model.md
Labels: netlify-cms/pending_publish

#5154 Update 2022-07-01-white-house-and-gsa-open-innovation-forum-building-…
  content/events/2022/07/2022-07-01-white-house-and-gsa-open-innovation-forum-building-equitable-partnerships.md
Labels: Content: Events

#5153 Update 2013-12-20-gov-url-shorteners-and-how-to-use-them.md
  content/news/2013/12/2013-12-20-gov-url-shorteners-and-how-to-use-them.md
Labels: Bug: Content Cleanup, Content: Blog post

#5158 Create Author “ariel-gold/_index”
  content/authors/ariel-gold/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5159 Create Author “hunter-jones/_index”
  content/authors/hunter-jones/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5162 Create Author “chaitra-shenoy/_index”
  content/authors/chaitra-shenoy/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5163 Update Author “v-david-zvenyach/_index”
  content/authors/v-david-zvenyach/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5167 Update content-management-systems-used-by-government-agencies.md
  content/resources/content-management-systems-used-by-government-agencies.md
Labels: Content: Resource, Bug: Content Cleanup

#5168 AS_OSTP GSA OI slide replacement
  content/events/2022/07/2022-07-01-white-house-and-gsa-open-innovation-forum-building-equitable-partnerships.md
Labels: Content: Events

#5169 Update 2022-07-01-white-house-and-gsa-open-innovation-forum-building-…
  content/events/2022/07/2022-07-01-white-house-and-gsa-open-innovation-forum-building-equitable-partnerships.md
Labels: Content: Events, Content: Authors

#5172 Update _index.md
  content/authors/dr-jedidah-isler/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5176 Update _index.md
  content/authors/chaitra-shenoy/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5175 Update _index.md
  content/authors/liam-r-ofallon/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5174 Update _index.md
  content/authors/matthew-biggerstaff/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5177 Update plainlanguage-gov.md
  content/resources/plainlanguage-gov.md
Labels: Content: Resource, Bug: Content Cleanup

#5178 Update plain-writing-act-of-2010.md
  content/resources/plain-writing-act-of-2010.md
Labels: Content: Resource, Bug: Content Cleanup

#5179 Update omb-final-guidance-on-implementing-the-plain-writing-act-of-20…
  content/resources/omb-final-guidance-on-implementing-the-plain-writing-act-of-2010-m-11-15.md
Labels: Content: Resource, Bug: Content Cleanup

#5180 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource, Bug: Content Cleanup

#5181 Update federal-plain-language-guidelines.md
  content/resources/federal-plain-language-guidelines.md
Labels: Content: Resource, Bug: Content Cleanup

#5182 Update lessons-from-the-2021-federal-plain-language-report-card.md
  content/resources/lessons-from-the-2021-federal-plain-language-report-card.md
Labels: Content: Resource, Bug: Content Cleanup

#5183 Update 2022-05-24-2022-government-ux-summit.md
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events, Content: Video + YouTube

#5186 Create Image upload “content-images-_inbox-988-there-is-hope-couple-twitter-facebook-png”
  data/images/988-there-is-hope-couple-twitter-facebook.yml
  static/img/proxy/988-there-is-hope-couple-twitter-facebook.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5187 Create Author “samhsa/_index”
  content/authors/samhsa/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5184 Create Blog Post “2022/07/2022-07-22-senior-executives-are-the-allies-tech-teams-need-part-1”
  content/news/2022/07/2022-07-22-senior-executives-are-the-allies-tech-teams-need-part-1.md
Labels: netlify-cms/draft

#5185 Create Blog Post “2022/07/2022-07-22-988-suicide-crisis-lifeline-partner-toolkit”
  content/news/2022/07/2022-07-22-988-suicide-crisis-lifeline-partner-toolkit.md
Labels: netlify-cms/draft

#5189 Update 2012-digital-government-strategy-2.md
  content/resources/2012-digital-government-strategy-2.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#5190 Update 2012-digital-government-strategy.md
  content/resources/2012-digital-government-strategy.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#5188 Update 2012-08-29-digital-government-strategy-milestones-report.md
  content/news/2012/08/2012-08-29-digital-government-strategy-milestones-report.md
Labels: Bug: broken links, Content: Blog post

#5191 Create Image upload “content-images-_inbox-fcn-07-26-2022-effective-communication-png”
  data/images/fcn-07-26-2022-effective-communication.yml
  static/img/proxy/fcn-07-26-2022-effective-communication.jpg
Labels: netlify-cms/pending_publish

#5192 Update 2022-04-15-the-basics-of-buying-accessible-products-and-servic…
  content/events/2022/04/2022-04-15-the-basics-of-buying-accessible-products-and-services.md
Labels: Content: Events, Bug: Content Cleanup

#5193 Update agency-points-of-contact-for-federal-compatible-terms-of-servi…
  content/resources/agency-points-of-contact-for-federal-compatible-terms-of-service-agreements.md
Labels: Content: Resource, Bug: Content Cleanup

#5194 Added U.S. Access Board to the 508 standards title
  content/resources/section-508-standards-for-electronic-and-information-technology-2.md
Labels: Content: Resource, Bug: Content Cleanup

#5195 Updated link to the Act
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Bug: Content Cleanup

#5196 Added EO on DEIA
  content/resources/omb-memos-circulars-executive-orders-and-other-policies.md
Labels: Content: Resource, Bug: Content Cleanup

#5197 Create Resource “federal-acquisition-regulation-subpart-39-2-information-and-communication-technology”
  content/resources/federal-acquisition-regulation-subpart-39-2-information-and-communication-technology.md
Labels: Content: Resource, netlify-cms/pending_publish

#5198 Create Resource “accessibility-requirements-tool-art”
  content/resources/accessibility-requirements-tool-art.md
Labels: Content: Resource, netlify-cms/pending_publish

#5199 Create Resource “integrating-accessibility-into-agency-diversity-equity-inclusion-and-accessibility-deia-implementation-plans”
  content/resources/integrating-accessibility-into-agency-diversity-equity-inclusion-and-accessibility-deia-implementation-plans.md
Labels: Content: Resource, netlify-cms/pending_publish

#5200 Create Resource “tabular-comparison-of-the-previous-far-text-against-the-2021-update”
  content/resources/tabular-comparison-of-the-previous-far-text-against-the-2021-update.md
Labels: Content: Resource, netlify-cms/pending_publish

#5201 Create Author “shuly-babitz/_index”
  content/authors/shuly-babitz/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5203 Create Author “katy-karnell/_index”
  content/authors/katy-karnell/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5204 Create Author “donna-ledbetter/_index”
  content/authors/donna-ledbetter/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5205 Create Author “sheila-walsh/_index”
  content/authors/sheila-walsh/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5206 Create Author “heather-holland/_index”
  content/authors/heather-holland/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5209 Create Author “laura-rabuck/_index”
  content/authors/laura-rabuck/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5210 Create Author “stanley-dambroski/_index”
  content/authors/stanley-dambroski/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5212 Create Author “dr-rachel-bradley-montgomery/_index”
  content/authors/dr-rachel-bradley-montgomery/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5211 Create Author “stephanie-m-morrison-mph/_index”
  content/authors/stephanie-m-morrison-mph/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5214 Create Image upload “content-images-_inbox-uswds-monthly-call-august-title-card-png”
  data/images/uswds-monthly-call-august-title-card.yml
  static/img/proxy/uswds-monthly-call-august-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5207 Update customer-experience.md
  content/communities/customer-experience.md
Labels: Content: Communities, Bug: Content Cleanup

#5217 Create Image upload “content-images-_inbox-uswds-august-2022-monthly-call-title-card-png”
  data/images/uswds-august-2022-monthly-call-title-card.yml
  static/img/proxy/uswds-august-2022-monthly-call-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5225 Update negotiated-terms-of-service-agreements.md
  content/resources/negotiated-terms-of-service-agreements.md
Labels: Content: Resource, Bug: Content Cleanup

#5224 Create Author “meghan-o’meara/_index”
  content/authors/meghan-o’meara/_index.md
Labels: Content: Authors
