Repository GSA/digitalgov.gov, pull requests merged in 2022-06, with the labels that each got.

#4972 Update improving-the-accessibility-of-social-media-in-government.md
  content/resources/improving-the-accessibility-of-social-media-in-government.md
Labels: Content: Resource, Bug: broken links

#4973 Removing Speaker Nadia Hansen from UX Summit Agenda
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events

#4975 Update federal-social-media-accessibility-toolkit-hackpad.md
  content/resources/federal-social-media-accessibility-toolkit-hackpad.md
Labels: Content: Resource, Bug: broken links

#4977 Update guidelines-for-secure-use-of-social-media.md
  content/resources/guidelines-for-secure-use-of-social-media.md
Labels: Content: Resource

#4984 AS_ reframing-the-role-of-senior-leaders-in-design
  static/files/reframing-the-role-of-senior-leaders-in-design–ux-summit-22.pptx
Labels: Content: Events, Content: Other files

#4989 AS_Summit 22 Slides
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events

#4991 adding mega journey slides
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events

#4986 removed go.usa.gov & federal crowdsource mobile program from /services & /services/directory
  content/services/service_mobile-testing-program.md
Labels: Content: Tools and Services, Bug: Content Cleanup

#4992 AS_Drowning in Data Slides Summit Page
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events

#4993 AS_business-case-for-innovation-ux-summit-22
  static/files/business-case-for-innovation-ux-summit-22.pptx
Labels: Content: Events, Content: Other files

#4994 AS_low literacy slide ux summit
  static/files/designing-digital-products-for-adults-with-low-literacy-ux-summit-22.pptx
Labels: Content: Events, Content: Other files

#4995 AS_summit page business case and low literacy
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events

#4997 Update 2022-02-11-language-connections-tips-to-create-maintain-and-pr…
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events, Bug: Content Cleanup

#4999 AS_you are the user
  static/files/you-are-the-user-ux-summit-22.pptx
Labels: Content: Events, Content: Other files

#5000 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Bug: Content Cleanup

#5006 Update mobile-user-experience-guidelines-and-recommendations.md
  content/resources/mobile-user-experience-guidelines-and-recommendations.md
Labels: Bug: Content Cleanup

#5008 Update 2017-08-14-20162017-mobile-analysis-mobile-device-trends-on-go…
  content/news/2017/08/2017-08-14-20162017-mobile-analysis-mobile-device-trends-on-government-websites.md
Labels: Bug: Content Cleanup

#5004 Update 2013-12-16-the-test-case-write-it-once-test-many-times.md
  content/news/2013/12/2013-12-16-the-test-case-write-it-once-test-many-times.md
Labels: Bug: Content Cleanup

#5010 Update 2015-12-31-how-abmc-got-started-with-mobile-app-development.md
  content/news/2015/12/2015-12-31-how-abmc-got-started-with-mobile-app-development.md
Labels: Bug: Content Cleanup

#5009 Update 2016-11-28-gsa-presents-grace-hopper-day-hackathon.md
  content/news/2016/11/2016-11-28-gsa-presents-grace-hopper-day-hackathon.md
Labels: Bug: Content Cleanup

#5011 Update 2015-11-27-government-product-managers-play-a-key-role-in-ux.md
  content/news/2015/11/2015-11-27-government-product-managers-play-a-key-role-in-ux.md
Labels: Bug: Content Cleanup

#5012 Update 2015-08-31-mobile-content-less-is-more.md
  content/news/2015/08/2015-08-31-mobile-content-less-is-more.md
Labels: Bug: Content Cleanup

#5014 Update 2015-07-30-community-rock-star-round-up.md
  content/news/2015/07/2015-07-30-community-rock-star-round-up.md
Labels: Bug: Content Cleanup

#5016 Update 2015-06-09-the-emulator-dilemma-can-mobile-device-testing-be-c…
  content/news/2015/06/2015-06-09-the-emulator-dilemma-can-mobile-device-testing-be-completed-without-mobile-devices.md
Labels: Bug: Content Cleanup

#5017 Update 2015-03-31-trends-on-tuesday-smartphone-market-growth-makes-mo…
  content/news/2015/03/2015-03-31-trends-on-tuesday-smartphone-market-growth-makes-mobile-friendly-a-must.md
Labels: Bug: Content Cleanup

#5018 Update 2015-02-24-trends-on-tuesday-mobile-web-lessons-from-the-crowd…
  content/news/2015/02/2015-02-24-trends-on-tuesday-mobile-web-lessons-from-the-crowdsource-mobile-testing-program.md
Labels: Bug: Content Cleanup

#5020 Update 2015-01-13-trends-on-tuesday-responsive-web-design-implementat…
  content/news/2015/01/2015-01-13-trends-on-tuesday-responsive-web-design-implementation-happening-piecemeal.md
Labels: Bug: Content Cleanup

#5021 Update 2014-12-09-can-you-crowdsource-your-user-experience-research.md
  content/news/2014/12/2014-12-09-can-you-crowdsource-your-user-experience-research.md
Labels: Bug: Content Cleanup

#5022 Update 2014-10-28-trends-on-tuesday-8-ways-to-format-tables-for-respo…
  content/news/2014/10/2014-10-28-trends-on-tuesday-8-ways-to-format-tables-for-responsive-web-design.md
Labels: Bug: Content Cleanup

#5025 Update 2014-10-20-welcome-to-mobilegov-month-on-digitalgov.md
  content/news/2014/10/2014-10-20-welcome-to-mobilegov-month-on-digitalgov.md
Labels: Bug: Content Cleanup

#5026 Update 2014-08-13-photo-carousels-on-mobile-websites-use-with-caution.md
  content/news/2014/08/2014-08-13-photo-carousels-on-mobile-websites-use-with-caution.md
Labels: Bug: Content Cleanup

#5023 Update 2014-10-23-web-design-changes-let-the-metrics-be-your-guide.md
  content/news/2014/10/2014-10-23-web-design-changes-let-the-metrics-be-your-guide.md
Labels: Bug: Content Cleanup

#5029 Update 2014-05-20-trends-on-tuesday-larger-screen-smartphones-see-acc…
  content/news/2014/05/2014-05-20-trends-on-tuesday-larger-screen-smartphones-see-accelerated-shipments.md
Labels: Bug: Content Cleanup

#5028 Update 2014-03-25-trends-on-tuesday-testing-key-to-quality-mobile-pro…
  content/news/2014/03/2014-03-25-trends-on-tuesday-testing-key-to-quality-mobile-products.md
Labels: Bug: Content Cleanup

#5030 Update 2014-02-28-mobile-tester-usability-short-reads-learning-from-o…
  content/news/2014/02/2014-02-28-mobile-tester-usability-short-reads-learning-from-others-mistakes.md
Labels: Bug: Content Cleanup

#5031 Update 2013-10-29-which-devices-should-i-test-with.md
  content/news/2013/10/2013-10-29-which-devices-should-i-test-with.md
Labels: Bug: Content Cleanup

#5027 AS_redesign slides update
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events

#5037 Update 2015-01-29-how-government-will-accelerate-anytime-anywhere-ser…
  content/news/2015/01/2015-01-29-how-government-will-accelerate-anytime-anywhere-services-and-information-in-2015.md
Labels: Bug: Content Cleanup

#5038 Update 2013-08-22-mobile-product-testing-guidelines.md
  content/news/2013/08/2013-08-22-mobile-product-testing-guidelines.md
Labels: Bug: Content Cleanup

#5039 Update 2013-11-21-mobile-product-compatibility-and-functional-testing…
  content/news/2013/11/2013-11-21-mobile-product-compatibility-and-functional-testing-101.md
Labels: Bug: Content Cleanup

#5040 Update 2014-12-09-can-you-crowdsource-your-user-experience-research.md
  content/news/2014/12/2014-12-09-can-you-crowdsource-your-user-experience-research.md
Labels: Bug: Content Cleanup

#4976 added future & past events to /news and removed youtube filter
  themes/digital.gov/layouts/news/list.html
  themes/digital.gov/layouts/partials/core/home/news_featured.html
Labels: Dev: frontend, :hand: HOLD

#5043 Update 2020-08-21-2-lessons-tech-leaders-can-learn.md
  content/news/2020/08/2020-08-21-2-lessons-tech-leaders-can-learn.md
Labels: Bug: Content Cleanup

#5042 6/9: Create Blog Post “2022/06/2022-06-08-10x-announces-25-new-projects-launching-this-fiscal-year”
  content/news/2022/06/2022-06-08-10x-announces-25-new-projects-launching-this-fiscal-year.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5046 Create Event “2022/06/2022-06-08-uswds-monthly-call-june-2022”
  content/events/2022/06/2022-06-08-uswds-monthly-call-june-2022.md
Labels: netlify-cms/draft

#5053 Update service_mobile-testing-program.md
  content/services/service_mobile-testing-program.md
Labels: Content: Tools and Services, Bug: Content Cleanup

#5054 Create Blog Post “2022/06/2022-06-10-announcing-data-governance-charter-templates”
  content/news/2022/06/2022-06-10-announcing-data-governance-charter-templates.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5060 Create Blog Post “2022/06/2022-06-13-dhs-usability-testing-kit”
  content/news/2022/06/2022-06-13-dhs-usability-testing-kit.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5058 Update _index.md
  content/topics/mobile/_index.md
Labels: Content: Resource, Content: Redirects

#5061 Update 2016-07-21-confirming-the-cancellation-a-vha-ab-testing-quick-…
  content/news/2016/07/2016-07-21-confirming-the-cancellation-a-vha-ab-testing-quick-study.md
Labels: Bug: Content Cleanup

#5068 Update mobile-application-development-program.md
  content/resources/mobile-application-development-program.md
Labels: Content: Resource, Bug: Content Cleanup

#5069 Update service_mobile-testing-program.md
  content/services/service_mobile-testing-program.md
Labels: Content: Resource, Bug: Content Cleanup

#5070 Update service_mobile-testing-program.md
  content/services/service_mobile-testing-program.md
Labels: Content: Resource, Bug: Content Cleanup

#5072 Create Image upload “content-images-_inbox-a-b-testing-split-comparison-web-conversion-test-to-compare-interface-web-design-measure-bakhtiar-zein-royalty-free-getty-images-469994022-png”
  data/images/a-b-testing-split-comparison-web-conversion-test-to-compare-interface-web-design-measure-bakhtiar-zein-royalty-free-getty-images-469994022.yml
  static/img/proxy/a-b-testing-split-comparison-web-conversion-test-to-compare-interface-web-design-measure-bakhtiar-zein-royalty-free-getty-images-469994022.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5073 Create Image upload “content-images-_inbox-a-b-testing-split-comparison-web-conversion-test-bakhtiar-zein-royalty-free-getty-images-469994020-png”
  data/images/a-b-testing-split-comparison-web-conversion-test-bakhtiar-zein-royalty-free-getty-images-469994020.yml
  static/img/proxy/a-b-testing-split-comparison-web-conversion-test-bakhtiar-zein-royalty-free-getty-images-469994020.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5075 Update 2016-07-21-confirming-the-cancellation-a-vha-ab-testing-quick-…
  content/news/2016/07/2016-07-21-confirming-the-cancellation-a-vha-ab-testing-quick-study.md
Labels: Content: Images, Bug: Content Cleanup

#5076 Create Image upload “content-images-_inbox-uswds-june-2022-monthly-call-title-card-png-1”
  data/images/uswds-june-2022-monthly-call-title-card.yml
  static/img/proxy/uswds-june-2022-monthly-call-title-card.jpg
Labels: netlify-cms/pending_publish

#5077 AS_Ruxi update
  content/authors/ruxi-giura/_index.md
Labels: Content: Authors

#5081 Update 2022-04-04-optimization-case-study-performance-seo-and-accessi…
  content/events/2022/04/2022-04-04-optimization-case-study-performance-seo-and-accessibility-with-cfpb.md
Labels: Content: Events, Content: Video + YouTube

#5082 Add USWDS MC June 2022 slides
  content/events/2022/06/2022-06-08-uswds-monthly-call-june-2022.md
Labels: Content: Events

#5084 Create Author “daniel-yi/_index”
  content/authors/daniel-yi/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5094 Create Blog Post “2022/06/2022-06-22-what-is-customer-experience”
  content/news/2022/06/2022-06-22-what-is-customer-experience.md
Labels: Content: Blog post, netlify-cms/draft

#5093 Create Image upload “content-images-_inbox-archaeologist-and-student-excavating-mypurgatoryyears-royalty-free-getty-images-176511372-png”
  data/images/archaeologist-and-student-excavating-mypurgatoryyears-royalty-free-getty-images-176511372.yml
  static/img/proxy/archaeologist-and-student-excavating-mypurgatoryyears-royalty-free-getty-images-176511372.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5092 Update 2016-09-19-how-do-you-redesign-a-dinosaur-redesigning-an-intra…
  content/news/2016/09/2016-09-19-how-do-you-redesign-a-dinosaur-redesigning-an-intranet-site-the-beginning-stages.md
Labels: Bug: Content Cleanup, Content: Blog post

#5096 Create Author “stephen-carroll/_index”
  content/authors/stephen-carroll/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5097 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource, Bug: Content Cleanup

#5090 Add script to event page for USWDS June 2022
  content/events/2022/06/2022-06-08-uswds-monthly-call-june-2022.md
Labels: Content: Events

#5103 Create Image upload “content-images-_inbox-person-reviews-multiple-job-candidates-at-laptop-galeanu-mihai-istock-getty-images-1352834402-png”
  data/images/person-reviews-multiple-job-candidates-at-laptop-galeanu-mihai-istock-getty-images-1352834402.yml
  static/img/proxy/person-reviews-multiple-job-candidates-at-laptop-galeanu-mihai-istock-getty-images-1352834402.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5102 Create Blog Post “2022/06/2022-06-29-five-procurement-strategies-for-diverse-digital-services”
  content/news/2022/06/2022-06-29-five-procurement-strategies-for-diverse-digital-services.md
Labels: Content: Blog post, netlify-cms/pending_publish
