Repository GSA/digitalgov.gov, pull requests merged in 2022-02, with the labels that each got.

#4565 Create Author “deanna-mccray-james/_index”
  content/authors/deanna-mccray-james/_index.md
Labels: Content: Authors, netlify-cms/draft

#4564 Create Author “josie-anderson/_index”
  content/authors/josie-anderson/_index.md
Labels: Content: Authors, netlify-cms/draft

#4568 Update federal-communicators-network.md
  content/communities/federal-communicators-network.md
Labels: Content: Communities

#4567 Update _index.md
  content/authors/raashee-gupta-erry/_index.md
Labels: Content: Authors

#4563 small site scanning edits
  content/guides/site-scanning/_index.md
  content/guides/site-scanning/learn-more-about-the-program.md
  content/guides/site-scanning/understand-the-data.md
Labels: Content: Guide

#4571 Update 2021-10-01-how-to-best-connect-with-your-spanish-speaking-audi…
  content/events/2021/10/2021-10-01-how-to-best-connect-with-your-spanish-speaking-audience-during-an-emergency.md
Labels: Content: Events

#4575 Update 2022-01-19-call-for-participation-2022-government-ux-summit.md
  content/news/2022/01/2022-01-19-call-for-participation-2022-government-ux-summit.md
Labels: Content: Blog post

#4578 Update 2021-06-03-2021-user-experience-summit.md
  content/events/2021/06/2021-06-03-2021-user-experience-summit.md
Labels: Content: Events

#4583 Update Hugo tweet code 2016-04-18-the-content-corner-branches-stick-to-the-vine.md
  content/news/2016/04/2016-04-18-the-content-corner-branches-stick-to-the-vine.md
Labels: Bug: broken links, Content: Blog post

#4584 Update 2016-08-08-the-content-corner-on-the-fly-content-strategies-ro…
  content/news/2016/08/2016-08-08-the-content-corner-on-the-fly-content-strategies-round-offs-back-handsprings-and-double-twisting-layouts-not-required.md
Labels: Bug: Content Cleanup, Content: Blog post

#4586 Update 2020-06-30-bringing-our-humanity-work-5-ingredients.md
  content/news/2020/06/2020-06-30-bringing-our-humanity-work-5-ingredients.md
Labels: Bug: Content Cleanup, Content: Blog post

#4588 Update 2015-12-28-ocsits-2015-customer-survey-what-we-learned.md
  content/news/2015/12/2015-12-28-ocsits-2015-customer-survey-what-we-learned.md
Labels: Bug: Content Cleanup, Content: Blog post

#4589 Update and rename electronic-capital-planning-and-investment-control-…
  content/services/folio.md
Labels: Content: Tools and Services

#4597 Add alias for old eCPIC URL Update folio.md
  content/services/folio.md
Labels: Content: Redirects, Content: Tools and Services

#4595 AS_508 Redirect
  content/communities/it-accessibility-section-508.md
Labels: Content: Communities, Content: Redirects

#4534 Update government-customer-service-policies-requirements-1993-to-pres…
  content/resources/government-customer-service-policies-requirements-1993-to-present.md
Labels: Content: Resource

#4594 AS_FTIM Redirect
  content/communities/federal-technology-investment-management.md
Labels: Content: Communities, Content: Redirects

#4601 Update 2022-01-19-call-for-participation-2022-government-ux-summit.md
  content/news/2022/01/2022-01-19-call-for-participation-2022-government-ux-summit.md
Labels: Content: Blog post

#4598 newsletter confirmation message update
  themes/digital.gov/src/scss/new/_newsletter-signup.scss
Labels: Dev: Accessibility, Content: newsletter

#4608 Update 2021-03-02-security-is-everyones-job-delivering-secure-usable-…
  content/news/2021/03/2021-03-02-security-is-everyones-job-delivering-secure-usable-login-for-government.md
Labels: Bug: Content Cleanup, Content: Blog post

#4611 AS_Cloud redirect
  content/communities/cloud-infrastructure.md
Labels: Content: Communities, Content: Redirects

#4613 Create Event “2022/02/2022-02-11-uswds-monthly-call-february-2022”
  content/events/2022/02/2022-02-11-uswds-monthly-call-february-2022.md
Labels: Content: Events, netlify-cms/draft

#4592 USWDS December recap and script
  content/events/2021/12/2021-12-06-uswds-monthly-call-december-2021.md
Labels: Content: Events

#4619 Added slides
  content/events/2022/02/2022-02-11-uswds-monthly-call-february-2022.md
Labels: Content: Events

#4620 Update 2017-10-12-dap-learning-series-visualizing-analytics-data-part…
  content/events/2017/10/2017-10-12-dap-learning-series-visualizing-analytics-data-part-2.md
Labels: Content: Events, Bug: Content Cleanup

#4621 Slides for 2/24 Multilingual Event
  static/files/feb-2022-multilingual-event-lep.pptx
Labels: Content: Events

#4622 Update _index.md
  content/authors/michael-mule/_index.md
Labels: Content: Authors

#4624 Create Blog Post “2022/02/2022-02-22-search-gov-2021-year-in-review”
  content/news/2022/02/2022-02-22-search-gov-2021-year-in-review.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4623 Added slides
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events

#4625 Update manage-listserv-subscription.md
  content/communities/manage-listserv-subscription.md
Labels: Content: Communities

#4618 Removal of past events from community pages
  themes/digital.gov/layouts/communities/single.html
Labels: Dev: frontend, Content: Communities

#4630 Update rpa-community.md
  content/communities/rpa-community.md
Labels: Content: Communities

#4629 Create Image upload “content-images-_inbox-feb-2022-multilingual-language-connections-title-card-png”
  data/images/feb-2022-multilingual-language-connections-title-card.yml
  static/img/proxy/feb-2022-multilingual-language-connections-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4631 Update 2022-02-11-language-connections-tips-to-create-maintain-and-pr…
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events, Content: Images

#4633 Update 2022-02-11-language-connections-tips-to-create-maintain-and-pr…
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events, Content: PDFs

#4634 Update 2022-02-11-language-connections-tips-to-create-maintain-and-pr…
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events, Content: Other files

#4635 rename file to remove
  static/files/feb-2022-multilingual-event-lep-orig.pptx
Labels: Content: Other files

#4632 Updated link
  content/guides/dap/_index.md
Labels: Content: Guide, Content: Tools and Services, Bug: Content Cleanup

#4627 Update 2014-08-29-system-usability-scale-improving-products-since-198…
  content/news/2014/08/2014-08-29-system-usability-scale-improving-products-since-1986.md
Labels: Bug: broken links

#4640 Create Author “christie-chung/_index”
  content/authors/christie-chung/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4638 Delete feb-2022-multilingual-event-lep-orig.pptx
  static/files/feb-2022-multilingual-event-lep-orig.pptx
Labels: Content: Other files

#4641 Update social-media.md
  content/communities/social-media.md
Labels: Content: Communities

#4636 Remove package dependancies using Lodash early release
  config/gulp/img-prep.js
  package-lock.json
  package.json
Labels: Dev: Workflow
