Repository GSA/digitalgov.gov, pull requests merged in 2022-10, with the labels that each got.

#5432 Update federal-web-council.md
  content/resources/federal-web-council.md
Labels: Content: Resource

#5440 Create Image upload “content-images-_inbox-hhm-2022-edwin-png”
  data/images/hhm-2022-edwin.yml
  static/img/proxy/hhm-2022-edwin.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5439 Create Image upload “content-images-_inbox-hhm-2022-dahianna-png”
  data/images/hhm-2022-dahianna.yml
  static/img/proxy/hhm-2022-dahianna.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5438 Create Image upload “content-images-_inbox-hhm-2022-u-s-army-ww2-png”
  data/images/hhm-2022-u-s-army-ww2.yml
  static/img/proxy/hhm-2022-u-s-army-ww2.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5437 Create Image upload “content-images-_inbox-hhm-2022-rebeca-png”
  data/images/hhm-2022-rebeca.yml
  static/img/proxy/hhm-2022-rebeca.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5436 Create Image upload “content-images-_inbox-hhm-2022-austin-png”
  data/images/hhm-2022-austin.yml
  static/img/proxy/hhm-2022-austin.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5435 Create Image upload “content-images-_inbox-screencapture-civil-rights-justice-gov-png”
  data/images/screencapture-civil-rights-justice-gov.yml
  static/img/proxy/screencapture-civil-rights-justice-gov.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5434 Create Image upload “content-images-_inbox-screencapture-find-treatment-gov-png”
  data/images/screencapture-find-treatment-gov.yml
  static/img/proxy/screencapture-find-treatment-gov.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5433 Create Image upload “content-images-_inbox-screencapture-usa-gov-espanol-png”
  data/images/screencapture-usa-gov-espanol.yml
  static/img/proxy/screencapture-usa-gov-espanol.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5443 Update digitalgov-university.md
  content/about/digitalgov-university.md
Labels: Bug: Content Cleanup

#5451 Update 2018-11-07-dap-learning-series-basics-ab-testing-part-2.md
  content/events/2018/11/2018-11-07-dap-learning-series-basics-ab-testing-part-2.md
Labels: Bug: Content Cleanup, Bug: broken links

#5450 Update 2018-11-01-dap-learning-series-basics-ab-testing-part-1.md
  content/events/2018/11/2018-11-01-dap-learning-series-basics-ab-testing-part-1.md
Labels: Bug: Content Cleanup

#5448 Update 2021-01-28-tag-managers-part-1-the-data-layer.md
  content/events/2021/01/2021-01-28-tag-managers-part-1-the-data-layer.md
Labels: Bug: Content Cleanup

#5449 Update 2021-02-01-tag-managers-part-2-configuration-framework.md
  content/events/2021/02/2021-02-01-tag-managers-part-2-configuration-framework.md
Labels: Bug: Content Cleanup

#5454 Fix svg paths for icons
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/_default/images.html
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/authors/list.html
  themes/digital.gov/layouts/communities/archived.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/events/stage-adobe_connect.html
  themes/digital.gov/layouts/events/stage-google.html
  themes/digital.gov/layouts/events/stage-youtube-live.html
  themes/digital.gov/layouts/events/stage-zoom.html
  themes/digital.gov/layouts/home.html
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/community-join-with-form.html
  themes/digital.gov/layouts/partials/core/community-join-without-form.html
  themes/digital.gov/layouts/partials/core/footer.html
  themes/digital.gov/layouts/partials/core/get_related.html
  themes/digital.gov/layouts/partials/core/get_sharetools.html
  themes/digital.gov/layouts/partials/core/header.html
  themes/digital.gov/layouts/partials/core/home/events_featured.html
  themes/digital.gov/layouts/partials/core/home/news_featured.html
  themes/digital.gov/layouts/partials/core/home/topics_featured.html
  themes/digital.gov/layouts/partials/core/page-data.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/card-service-contact.html
  themes/digital.gov/layouts/services/list.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/layouts/shortcodes/accordion.html
  themes/digital.gov/layouts/shortcodes/asset-img.html
  themes/digital.gov/layouts/shortcodes/card-policy.html
  themes/digital.gov/layouts/shortcodes/card-prompt.html
  themes/digital.gov/layouts/shortcodes/list-resources.html
  themes/digital.gov/layouts/shortcodes/note.html
  themes/digital.gov/layouts/shortcodes/theme-img.html
  themes/digital.gov/layouts/topics/list.html
Labels: Dev: frontend

#5457 Update federal-communicators-network.md
  content/communities/federal-communicators-network.md
Labels: Content: Communities, Bug: Content Cleanup

#5458 Update multilingual.md
  content/communities/multilingual.md
Labels: Content: Communities, Bug: Content Cleanup

#5459 Update plain-language-community-of-practice.md
  content/communities/plain-language-community-of-practice.md
Labels: Content: Communities, Bug: Content Cleanup

#5460 Update social-media.md
  content/communities/social-media.md
Labels: Content: Communities, Bug: Content Cleanup

#5463 Update web-analytics-and-optimization.md
  content/communities/web-analytics-and-optimization.md
Labels: Content: Communities, Bug: Content Cleanup

#5462 Update web-managers-forum.md
  content/communities/web-managers-forum.md
Labels: Content: Communities, Bug: Content Cleanup

#5461 Update user-experience.md
  content/communities/user-experience.md
Labels: Content: Communities, Bug: Content Cleanup

#5455 Update alt text for SVG calendar icon on past events
  themes/digital.gov/layouts/events/card-event-past.html
Labels: Dev: frontend

#5416 Update alt text for "Get Started Building" & "Share" section of News
  themes/digital.gov/layouts/partials/core/get_related.html
  themes/digital.gov/layouts/partials/core/get_sharetools.html
Labels: Dev: Accessibility

#5464 Create Blog Post “2022/10/2022-10-07-taking-a-design-led-approach-to-digital-modernization”
  content/news/2022/10/2022-10-07-taking-a-design-led-approach-to-digital-modernization.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5456 Update alt text for icons in news & events section
  themes/digital.gov/layouts/authors/list.html
  themes/digital.gov/layouts/partials/core/get_authors_short.html
Labels: Dev: Accessibility

#5468 Create Image upload “content-images-_inbox-hhm-2022-laura-png”
  data/images/hhm-2022-laura.yml
  static/img/proxy/hhm-2022-laura.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5470 Create Image upload “content-images-_inbox-tts-hhm-yulia-novik-istock-getty-images-1402997939-copy-png”
  data/images/tts-hhm-yulia-novik-istock-getty-images-1402997939-copy.yml
  static/img/proxy/tts-hhm-yulia-novik-istock-getty-images-1402997939-copy.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5467 Create Blog Post “2022/10/2022-10-11-celebrating-hispanic-and-latinx-heritage-month-at-tts-an-intersection-of-identity-and-public-service”
  content/news/2022/10/2022-10-11-celebrating-hispanic-and-latinx-heritage-month-at-tts-an-intersection-of-identity-and-public-service.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5466 Update 2022-09-30-join-usagov-en-espanol-for-our-annual-hispanic-heri…
  content/news/2022/09/2022-09-30-join-usagov-en-espanol-for-our-annual-hispanic-heritage-month-twitter-chat.md
Labels: Bug: Content Cleanup

#5480 Create Image upload “content-images-_inbox-digital-marketing-concept-anyaberkut-istock-getty-images-1284549946-png”
  data/images/digital-marketing-concept-anyaberkut-istock-getty-images-1284549946.yml
  static/img/proxy/digital-marketing-concept-anyaberkut-istock-getty-images-1284549946.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5473 Create Blog Post “2022/10/2022-10-13-national-disability-employment-awareness-month-ndeam”
  content/news/2022/10/2022-10-13-national-disability-employment-awareness-month-ndeam.md
Labels: Content: Blog post, netlify-cms/draft

#5474 Create Blog Post “2022/10/2022-10-13-closing-the-disability-divide”
  content/news/2022/10/2022-10-13-closing-the-disability-divide.md
Labels: Content: Blog post, netlify-cms/draft

#5475 Create Blog Post “2022/10/2022-10-13-your-federal-front-door-usa-gov-and-usagov-en-espanol-are-focused-on-the-public”
  content/news/2022/10/2022-10-13-your-federal-front-door-usa-gov-and-usagov-en-espanol-are-focused-on-the-public.md
Labels: Content: Blog post, netlify-cms/draft

#5478 Fix extra padding on headers
  content/_archived/common-questions-about-dap-faq.md
  content/_archived/dap-digital-metrics-guidance-and-best-practices.md
  content/news/2013/11/2013-11-06-software-and-apps-challenges.md
  content/news/2014/09/2014-09-11-prepareathon-2014-disaster-preparedness-in-the-palm-of-your-hand.md
  content/news/2015/06/2015-06-05-using-section-508-guidance-to-improve-the-accessibility-of-government-services.md
  content/news/2015/12/2015-12-29-18f-reflects-on-their-most-meaningful-projects-in-2015.md
  content/news/2016/06/2016-06-02-open-data-democratizes-innovation.md
  content/news/2016/08/2016-08-18-the-right-tools-for-the-job-re-hosting-digitalgov-search-to-a-dynamic-infrastructure-environment.md
  content/news/2016/09/2016-09-02-quality-speed-and-lower-costs-yes-you-can-have-it-all.md
  content/news/2016/09/2016-09-06-a-domain-by-any-other-name-cnames-wildcard-records-and-another-level-of-indirection.md
  content/news/2016/09/2016-09-07-lets-encrypt-those-cnames-shall-we.md
  content/news/2016/09/2016-09-12-dnssec-vs-elastic-load-balancers-the-zone-apex-problem.md
  content/resources/improving-the-accessibility-of-social-media-in-government.md
  content/resources/mobile-user-experience-guidelines-and-recommendations.md
Labels: Content: Resource, Bug: Content Cleanup

#5476 Create Blog Post “2022/10/2022-10-13-cybersecurity-awareness-month”
  content/news/2022/10/2022-10-13-cybersecurity-awareness-month.md
Labels: Content: Blog post, netlify-cms/draft

#5482 Create Event “2022/10/2022-10-13-october-2022-uswds-monthly-call”
  content/events/2022/10/2022-10-13-october-2022-uswds-monthly-call.md
Labels: Content: Events, netlify-cms/draft

#5484 Update 2022-10-13-october-2022-uswds-monthly-call.md
  content/events/2022/10/2022-10-13-october-2022-uswds-monthly-call.md
Labels: Content: Events, Bug: Content Cleanup

#5483 Create Blog Post “2022/10/2022-10-14-sunrise-to-sunset-building-a-customer-centric-digital-ecosystem”
  content/news/2022/10/2022-10-14-sunrise-to-sunset-building-a-customer-centric-digital-ecosystem.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5489 Create Image upload “content-images-_inbox-hhm-latinx-identity-design-tech-government-yulia-novik-istock-getty-images-1403954524-png”
  data/images/hhm-latinx-identity-design-tech-government-yulia-novik-istock-getty-images-1403954524.yml
  static/img/proxy/hhm-latinx-identity-design-tech-government-yulia-novik-istock-getty-images-1403954524.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5486 Create Blog Post “2022/10/2022-10-14-latinx-identity-in-design-tech-and-government”
  content/news/2022/10/2022-10-14-latinx-identity-in-design-tech-and-government.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5490 Create Image upload “content-images-_inbox-hispanic-heritage-month-yulia-novik-istock-getty-images-1403954524-2-png”
  data/images/hispanic-heritage-month-yulia-novik-istock-getty-images-1403954524-2.yml
  static/img/proxy/hispanic-heritage-month-yulia-novik-istock-getty-images-1403954524-2.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5493 AS_RE author update
  content/authors/raashee-gupta-erry/_index.md
Labels: Content: Authors

#5494 AS_page update
  content/communities/federal-communicators-network.md
Labels: Content: Communities

#5492 Listserv update
  content/communities/rpa-community.md
Labels: Content: Communities

#5501 Create Blog Post “2022/10/2022-10-18-6-important-factors-to-consider-for-digital-advertising-in-government”
  content/news/2022/10/2022-10-18-6-important-factors-to-consider-for-digital-advertising-in-government.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5499 Create Blog Post “2022/10/2022-10-18-medicare-open-enrollment-period-outreach-media-materials”
  content/news/2022/10/2022-10-18-medicare-open-enrollment-period-outreach-media-materials.md
Labels: Content: Blog post, netlify-cms/draft

#5503 Transcript content type
  themes/digital.gov/static/workflow/config.yml
Labels: Dev: Workflow

#5472 Add short link post to workflow
  themes/digital.gov/static/workflow/config.yml
Labels: Dev: Workflow

#5506 Adding USWDS Monthly Call Oct 2022 ppt file link to the event page
  content/events/2022/10/2022-10-13-october-2022-uswds-monthly-call.md
Labels: Content: Events

#5513 Remove sitewide alert for hurricane ian
  content/resources/checklist-of-requirements-for-federal-digital-services.md
  content/resources/hurricane-ian-guidance-for-u-s-government-websites-and-social-media.md
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/partials/core/sitewide-alert.html
Labels: Bug: Content Cleanup

#5516 Create Author “alexander-wilson/_index”
  content/authors/alexander-wilson/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5495 AS_SM page update
  content/communities/social-media.md
Labels: Content: Communities

#5515 Create Blog Post “2022/10/2022-10-24-managing-stakeholder-feedback-lessons-from-experience”
  content/news/2022/10/2022-10-24-managing-stakeholder-feedback-lessons-from-experience.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5510 Adding video links to event page
  content/events/2022/09/2022-09-08-dhs-usability-testing-kit-so-easy-anyone-can-do-it.md
Labels: Content: Events, Content: Video + YouTube

#5519 Create Resource “department-of-homeland-security-usability-testing-kit”
  content/resources/department-of-homeland-security-usability-testing-kit.md
Labels: Content: Resource, netlify-cms/pending_publish

#5509 Update USA Banner markup
  themes/digital.gov/layouts/partials/core/usa-banner.html
Labels: Dev: Accessibility

#5520 Adding USWDS Oct 2022 script to event page
  content/events/2022/10/2022-10-13-october-2022-uswds-monthly-call.md
Labels: Content: Events

#5488 Adjust heading structure on News pages
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/get_authors.html
  themes/digital.gov/layouts/partials/core/get_related.html
  themes/digital.gov/layouts/partials/core/list-topics.html
  themes/digital.gov/src/scss/new/_promos.scss
Labels: Dev: Accessibility

#5529 Add event submission form
  content/about/digitalgov-university.md
Labels: Content: General site

#5531 Create Blog Post “2022/10/2022-10-28-incorporating-evaluation-into-digital-forms”
  content/news/2022/10/2022-10-28-incorporating-evaluation-into-digital-forms.md
Labels: Content: Blog post, netlify-cms/draft

#5532 Fix JS console error that's breaking YouTube thumbnails
  themes/digital.gov/src/js/common/subscribe.js
Labels: Content: Events, Bug: broken links
