Repository GSA/digitalgov.gov, pull requests merged in 2022-11, with the labels that each got.

#5538 Update manage-listserv-subscription.md
  content/communities/manage-listserv-subscription.md
Labels: Content: Communities, Bug: Content Cleanup, Content: General site

#5541 Create Image upload “content-images-_inbox-meredith-brown-u-s-digital-corps-png”
  data/images/meredith-brown-u-s-digital-corps.yml
  static/img/proxy/meredith-brown-u-s-digital-corps.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5543 Create Image upload “content-images-_inbox-va-jargon-madness-screenshot-png”
  data/images/va-jargon-madness-screenshot.yml
  static/img/proxy/va-jargon-madness-screenshot.jpg
Labels: netlify-cms/pending_publish

#5544 Create Image upload “content-images-_inbox-pl-quotes-sm2-madness-empty-tournament-competition-bracket-grid-oleksii-arseniuk-istock-getty-images-1074883916-png”
  data/images/pl-quotes-sm2-madness-empty-tournament-competition-bracket-grid-oleksii-arseniuk-istock-getty-images-1074883916.yml
  static/img/proxy/pl-quotes-sm2-madness-empty-tournament-competition-bracket-grid-oleksii-arseniuk-istock-getty-images-1074883916.jpg
Labels: netlify-cms/pending_publish

#5546 Create Author “joshua-hardy/_index”
  content/authors/joshua-hardy/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5548 Create Image upload “content-images-_inbox-va-jargon-madness-screenshot-2-png”
  data/images/va-jargon-madness-screenshot-2.yml
  static/img/proxy/va-jargon-madness-screenshot-2.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5547 Create Blog Post “2022/11/2022-11-08-jargon-madness-a-plain-language-exercise”
  content/news/2022/11/2022-11-08-jargon-madness-a-plain-language-exercise.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5549 Create Event “2022/11/2022-11-08-uswds-monthly-call-november-2022”
  content/events/2022/11/2022-11-08-uswds-monthly-call-november-2022.md
Labels: Content: Events

#5536 RPA CoP redirect
  content/communities/rpa-community.md
Labels: Content: Communities, Bug: Content Cleanup

#5552 Update 2022-11-08-jargon-madness-a-plain-language-exercise.md
  content/news/2022/11/2022-11-08-jargon-madness-a-plain-language-exercise.md
Labels: Content: Blog post

#5557 Create Image upload “content-images-_inbox-usagov-ux-test-reports-title-card-png”
  data/images/usagov-ux-test-reports-title-card.yml
  static/img/proxy/usagov-ux-test-reports-title-card.jpg
Labels: Content: Images

#5559 Update customer-experience.md
  content/communities/customer-experience.md
Labels: Content: Communities, Content: Redirects

#5560 Create Event “2022/11/2022-11-09-usagov-usability-test-reports”
  content/events/2022/11/2022-11-09-usagov-usability-test-reports.md
Labels: Content: Events

#5563 Update _index.md
  content/about/omb-pra/_index.md
Labels: Content: General site

#5564 Update paperwork-reduction-act-statement-event-newsletter-community-f…
  content/about/omb-pra/paperwork-reduction-act-statement-event-newsletter-community-feedback-surveys-06-30-2025.md
Labels: Content: General site

#5558 Move return to top link to footer landmark
  themes/digital.gov/layouts/partials/core/footer.html
Labels: Dev: Accessibility

#5568 Create Author “kenneth-myers/_index”
  content/authors/kenneth-myers/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5570 Create Image upload “content-images-_inbox-cyber-security-and-privacy-golden-sikorka-istock-getty-images-1358866874-png”
  data/images/cyber-security-and-privacy-golden-sikorka-istock-getty-images-1358866874.yml
  static/img/proxy/cyber-security-and-privacy-golden-sikorka-istock-getty-images-1358866874.jpg
Labels: netlify-cms/pending_publish

#5535 Transcript post updates
  themes/digital.gov/static/workflow/config.yml
Labels: Dev: Workflow

#5579 Update content-management-systems-used-by-government-agencies.md
  content/resources/content-management-systems-used-by-government-agencies.md
Labels: Content: Resource

#5569 Update required-web-content-and-links.md
  content/resources/required-web-content-and-links.md
Labels: Content: Resource, Bug: Content Cleanup

#5584 Adding slides to USAGov: Usability Test Reports event page
  content/events/2022/11/2022-11-09-usagov-usability-test-reports.md
Labels: Content: Events

#5585 Create Image upload “content-images-_inbox-us-digital-corps-accelerating-infrastructure-team-2022-png”
  data/images/us-digital-corps-accelerating-infrastructure-team-2022.yml
  static/img/proxy/us-digital-corps-accelerating-infrastructure-team-2022.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5586 Create Blog Post “2022/11/2022-11-16-implementing-equitable-data-to-ensure-government-works-for-the-public”
  content/news/2022/11/2022-11-16-implementing-equitable-data-to-ensure-government-works-for-the-public.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5587 Create Author “meredith-brown/_index”
  content/authors/meredith-brown/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5562 Improve pagination contrast
  themes/digital.gov/layouts/partials/core/pagination.html
  themes/digital.gov/src/scss/new/_stream.scss
Labels: Dev: Accessibility

#5588 remove dupl j clinton
  content/authors/jonanthan-clinton/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5577 Add brief description to "other communities"
  themes/digital.gov/layouts/communities/list.html
Labels: Content: Communities

#5589 Update an-introduction-github.md
  content/resources/an-introduction-github.md
Labels: Content: Resource, Bug: broken links

#5590 Create Community “it-acquisition”
  content/communities/it-acquisition.md
Labels: Content: Communities, netlify-cms/pending_publish

#5591 Add FAR pg to Acq topic
  content/resources/federal-acquisition-regulation-far.md
Labels: Content: Resource

#5592 Update it-acquisition.md
  content/communities/it-acquisition.md
Labels: Content: Communities, Content: Redirects

#5594 Adding slides to USWDS Monthly Call - November 2022 event page
  content/events/2022/11/2022-11-08-uswds-monthly-call-november-2022.md
Labels: Content: Events

#5596 Removing slides to replace with updated ver
  content/events/2022/11/2022-11-08-uswds-monthly-call-november-2022.md
Labels: Content: Events

#5603 Create Author “anastasia-gradova/_index”
  content/authors/anastasia-gradova/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5604 Create Author “isabel-laurenceau/_index”
  content/authors/isabel-laurenceau/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5605 Create Author “meenu-bhooshanan/_index”
  content/authors/meenu-bhooshanan/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5606 Create Author “samira-sadat/_index”
  content/authors/samira-sadat/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5609 Update guide-create-mobile-friendly-websites.md
  content/resources/guide-create-mobile-friendly-websites.md
Labels: Content: Resource, Bug: Content Cleanup

#5610 Update _index.md
  content/guides/mobile-principles/_index.md
Labels: Content: Resource, Bug: Content Cleanup

#5601 Create Image upload “content-images-_inbox-usdc-making-impact-at-scale-png”
  data/images/usdc-making-impact-at-scale.yml
  static/img/proxy/usdc-making-impact-at-scale.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5611 Update an-introduction-us-web-design-system.md
  content/resources/an-introduction-us-web-design-system.md
Labels: Content: Resource, Bug: Content Cleanup

#5612 Create Blog Post “2022/11/2022-11-22-improving-inclusion-continuously-how-we-iterated-on-our-bot-to-promote-more-inclusive-and-thoughtful-language”
  content/news/2022/11/2022-11-22-improving-inclusion-continuously-how-we-iterated-on-our-bot-to-promote-more-inclusive-and-thoughtful-language.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5613 Create Blog Post “2022/11/2022-11-22-sunsetting-go-usa-gov-final-user-statistics”
  content/news/2022/11/2022-11-22-sunsetting-go-usa-gov-final-user-statistics.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5614 Create Blog Post “2022/11/2022-11-22-10x-a-home-for-federal-innovators”
  content/news/2022/11/2022-11-22-10x-a-home-for-federal-innovators.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5615 Create Blog Post “2022/11/2022-11-25-making-impact-at-scale-software-engineering-in-the-federal-government”
  content/news/2022/11/2022-11-25-making-impact-at-scale-software-engineering-in-the-federal-government.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5616 Update 2022-11-25-making-impact-at-scale-software-engineering-in-the-…
  content/news/2022/11/2022-11-25-making-impact-at-scale-software-engineering-in-the-federal-government.md
Labels: Bug: Content Cleanup, Content: Blog post

#5617 Create Blog Post “2022/11/2022-11-25-accessibility-testing-for-onrr-gov”
  content/news/2022/11/2022-11-25-accessibility-testing-for-onrr-gov.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5618 Create Blog Post “2022/11/2022-11-25-inclusive-design-patterns-research-report”
  content/news/2022/11/2022-11-25-inclusive-design-patterns-research-report.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5619 Update service_uswds.md
  content/services/service_uswds.md
Labels: Content: Tools and Services, Bug: Content Cleanup

#5620 Update service_us-digital-registry.md
  content/services/service_us-digital-registry.md
Labels: Content: Tools and Services, Bug: Content Cleanup

#5621 Update service_dap.md
  content/services/service_dap.md
Labels: Content: Tools and Services, Bug: Content Cleanup

#5622 Update service_analytics-usa-gov.md
  content/services/service_analytics-usa-gov.md
Labels: Content: Tools and Services, Bug: Content Cleanup

#5627 Create Image upload “content-images-_inbox-2022-uswds-monthly-call-dec-title-card-png”
  data/images/2022-uswds-monthly-call-dec-title-card.yml
  static/img/proxy/2022-uswds-monthly-call-dec-title-card.jpg
Labels: Content: Images, netlify-cms/draft
