Repository GSA/digitalgov.gov, pull requests merged in 2022-05, with the labels that each got.

#4862 Create Image upload “content-images-_inbox-ask-aidan-chat-feedback-png”
  data/images/ask-aidan-chat-feedback.yml
  static/img/proxy/ask-aidan-chat-feedback.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4863 Create Author “christine-wilkes/_index”
  content/authors/christine-wilkes/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4864 Create Author “laura-nadel/_index”
  content/authors/laura-nadel/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4867 Create Image upload “content-images-_inbox-ask-aidan-chat-feedback-600-png”
  data/images/ask-aidan-chat-feedback-600.yml
  static/img/proxy/ask-aidan-chat-feedback-600.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4868 Create Image upload “content-images-_inbox-fafsa-ask-aidan-illustration-with-chat-screen-600-png”
  data/images/fafsa-ask-aidan-illustration-with-chat-screen-600.yml
  static/img/proxy/fafsa-ask-aidan-illustration-with-chat-screen-600.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4866 Create Blog Post “2022/05/2022-05-02-two-years-of-federal-student-aid-virtual-assistant-lead-to-lessons-learned-and-a-clear-vision-of-the-work-ahead”
  content/news/2022/05/2022-05-02-two-years-of-federal-student-aid-virtual-assistant-lead-to-lessons-learned-and-a-clear-vision-of-the-work-ahead.md
Labels: netlify-cms/draft

#4872 AS_G3C Redirect
  content/communities/government-contact-center-council.md
Labels: Content: Communities, Content: Redirects

#4873 AS_IA Redirect
  content/communities/innovation-adoption.md
Labels: Content: Communities, Content: Redirects

#4874 Update 2022-05-02-two-years-of-federal-student-aid-virtual-assistant-…
  content/news/2022/05/2022-05-02-two-years-of-federal-student-aid-virtual-assistant-lead-to-lessons-learned-and-a-clear-vision-of-the-work-ahead.md
Labels: Content: Images, Content: Blog post

#4876 Create Event “2022/05/2022-05-04-how-to-build-your-digital-dream-team”
  content/events/2022/05/2022-05-04-how-to-build-your-digital-dream-team.md
Labels: Content: Events, netlify-cms/draft

#4871 AS_AI Redirect
  content/communities/artificial-intelligence.md
Labels: Content: Communities, Content: Redirects

#4884 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource, Bug: broken links

#4883 JY_Adding Dan's script to USWDS Monthly Call - April 2022
  content/events/2022/04/2022-04-08-uswds-monthly-call-april-2022.md
Labels: Content: Events

#4885 Create Blog Post “2022/05/2022-05-10-usagov-content-design-team-2021-highlights”
  content/news/2022/05/2022-05-10-usagov-content-design-team-2021-highlights.md
Labels: Content: Blog post, netlify-cms/draft

#4888 Create Author “angeli-hawkins/_index”
  content/authors/angeli-hawkins/_index.md
Labels: netlify-cms/draft

#4887 Create Author “ken-kato/_index”
  content/authors/ken-kato/_index.md
Labels: netlify-cms/draft

#4889 AS_DevOps CoP Update
  content/communities/devops.md
Labels: Content: Communities

#4891 AS_Fed Lead Redirect
  content/communities/federal-leadership-professional-development.md
Labels: Content: Communities

#4892 AS_Grants Redirect
  content/communities/results-oriented-accountability-for-grants.md
Labels: Content: Communities

#4893 AS_DevOps Authors
  content/communities/devops.md
Labels: Content: Communities

#4894 AS_Video Update
  content/communities/video.md
Labels: Content: Communities

#4899 Update link for 2017 CEP report
  content/resources/privacy-preserving-collaboration-using-cryptography.md
Labels: Content: Resource

#4901 Create uswds-monthly-call-may-2022.pptx
  static/files/uswds-monthly-call-may-2022.pptx
Labels: Content: Events, Content: Other files

#4897 updated mailto links to display digitalgov@gsa.gov in link copy
  themes/digital.gov/layouts/partials/core/page-data.html
Labels: Dev: frontend

#4896 removed emails from non-federal authors
  content/authors/cliff-tyllick/_index.md
  content/authors/loren-siebert/_index.md
  content/authors/ryan-leisinger/_index.md
Labels: Content: Authors

#4904 Create Author “lashanda-hodge/_index”
  content/authors/lashanda-hodge/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4903 Update _index.md
  content/authors/aaron-stienstra/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#4905 Create Blog Post “2022/05/2022-05-19-finding-post-award-balance-with-quality-assurance”
  content/news/2022/05/2022-05-19-finding-post-award-balance-with-quality-assurance.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4906 removed 'host an event' buttons on home, /events, /news (#3854)
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/news/list.html
  themes/digital.gov/layouts/partials/core/home/events_featured.html
  themes/digital.gov/layouts/partials/core/home/news_featured.html
Labels: Bug: Content Cleanup

#4914 Update 2016-11-17-webinar-recap-social-media-plus-stakeholder-engagem…
  content/news/2016/11/2016-11-17-webinar-recap-social-media-plus-stakeholder-engagement-equals-outreach-success.md
Labels: Bug: Content Cleanup, Content: Blog post

#4911 Update improving-access-to-services-for-people-with-limited-english-p…
  content/resources/improving-access-to-services-for-people-with-limited-english-proficiency-e-o-13166.md
Labels: Content: Resource, Bug: Content Cleanup

#4916 Create Image upload “content-images-_inbox-maridav-istock-getty-images-plus-142396534-png”
  data/images/maridav-istock-getty-images-plus-142396534.yml
  static/img/proxy/maridav-istock-getty-images-plus-142396534.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4915 Create Image upload “content-images-_inbox-habla-espanol-maridav-istock-getty-images-plus-142396534-png”
  data/images/habla-espanol-maridav-istock-getty-images-plus-142396534.yml
  static/img/proxy/habla-espanol-maridav-istock-getty-images-plus-142396534.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4907 Create Blog Post “2022/05/2022-05-19-document-accessibility-getting-from-5-000-to-0”
  content/news/2022/05/2022-05-19-document-accessibility-getting-from-5-000-to-0.md
Labels: Content: Blog post, netlify-cms/draft

#4908 Create Blog Post “2022/05/2022-05-19-next-steps-for-section-508-compliance-at-the-office-of-natural-resources-revenue-stakeholder-interview-findings”
  content/news/2022/05/2022-05-19-next-steps-for-section-508-compliance-at-the-office-of-natural-resources-revenue-stakeholder-interview-findings.md
Labels: Content: Blog post, netlify-cms/draft

#4919 Update 2015-11-12-post-office-whenever-and-wherever-usps-mobile-app.md
  content/news/2015/11/2015-11-12-post-office-whenever-and-wherever-usps-mobile-app.md
Labels: Bug: Content Cleanup, Content: Blog post

#4917 Update 2013-07-01-whats-in-a-name-does-matter.md
  content/news/2013/07/2013-07-01-whats-in-a-name-does-matter.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#4927 Update _index.md
  content/authors/lashanda-hodge/_index.md
Labels: Content: Authors

#4924 Update 2016-01-29-case-study-ocsits-email-customer-survey-process.md
  content/news/2016/01/2016-01-29-case-study-ocsits-email-customer-survey-process.md
Labels: Content: Resource, Bug: broken links

#4923 Update customer-experience-toolkit.md
  content/resources/customer-experience-toolkit.md
Labels: Content: Resource, Bug: broken links

#4929 Update _index.md
  content/authors/michael-mule/_index.md
Labels: Content: Authors

#4930 Create Image upload “content-images-_inbox-equity-cx-trust-water-ripples-png”
  data/images/equity-cx-trust-water-ripples.yml
  static/img/proxy/equity-cx-trust-water-ripples.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4931 Create Image upload “content-images-_inbox-barriers-illustration-interaction-institute-for-social-change-by-angus-maguire-png”
  data/images/barriers-illustration-interaction-institute-for-social-change-by-angus-maguire.yml
  static/img/proxy/barriers-illustration-interaction-institute-for-social-change-by-angus-maguire.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4928 Create Image upload “content-images-_inbox-executive-order-13985-text-bubbles-png”
  data/images/executive-order-13985-text-bubbles.yml
  static/img/proxy/executive-order-13985-text-bubbles.jpg
Labels: Content: Images, netlify-cms/draft

#4933 Create Image upload “content-images-_inbox-translation-concept-mobile-jirsak-getty-images-plus-1027128864-crop-png”
  data/images/translation-concept-mobile-jirsak-getty-images-plus-1027128864-crop.yml
  static/img/proxy/translation-concept-mobile-jirsak-getty-images-plus-1027128864-crop.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4932 Create Blog Post “2022/05/2022-05-20-10-tips-to-create-maintain-and-present-non-english-digital-content-a-q-a-with-michael-mule”
  content/news/2022/05/2022-05-23-10-tips-to-create-maintain-and-present-non-english-digital-content-a-q-a-with-michael-mule.md
Labels: Content: Blog post, netlify-cms/draft

#4935 Adding the Q&A recap link
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events

#4944 Create Author “bryan-drenning/_index”
  content/authors/bryan-drenning/_index.md
Labels: Content: Authors, netlify-cms/draft

#4945 Create Author “todd-folts/_index”
  content/authors/todd-folts/_index.md
Labels: Content: Authors, netlify-cms/draft

#4949 Create Image upload “content-images-_inbox-barriers-illustration-interaction-institute-for-social-change-by-angus-maguire-lg-png”
  data/images/barriers-illustration-interaction-institute-for-social-change-by-angus-maguire-lg.yml
  static/img/proxy/barriers-illustration-interaction-institute-for-social-change-by-angus-maguire-lg.jpg
Labels: netlify-cms/pending_publish

#4950 Create Image upload “content-images-_inbox-customer-experience-chart-lg-png”
  data/images/customer-experience-chart-lg.yml
  static/img/proxy/customer-experience-chart-lg.jpg
Labels: netlify-cms/pending_publish

#4947 AS Video Leads
  content/communities/video.md
Labels: Content: Communities

#4946 Create Image upload “content-images-_inbox-ux-summmit-title-card-twenty-twenty-two-title-card-png”
  data/images/ux-summmit-title-card-twenty-twenty-two-title-card.yml
  static/img/proxy/ux-summmit-title-card-twenty-twenty-two-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4948 Create Resource “embedding-equity-in-civic-design-to-transform-customer-experience”
  content/resources/embedding-equity-in-civic-design-to-transform-customer-experience.md
Labels: Content: Resource, netlify-cms/pending_publish

#4951 Create Blog Post “2022/05/2022-05-23-equity-a-core-principle-of-customer-experience”
  content/news/2022/05/2022-05-23-equity-a-core-principle-of-customer-experience.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4952 Update embedding-equity-in-civic-design-to-transform-customer-experie…
  content/resources/embedding-equity-in-civic-design-to-transform-customer-experience.md
Labels: Content: Resource, Bug: Content Cleanup

#4957 Update embedding-equity-in-civic-design-to-transform-customer-experie…
  content/resources/embedding-equity-in-civic-design-to-transform-customer-experience.md
Labels: Bug: Content Cleanup, Content: Blog post

#4956 Adding BLS to Jean's author info
  content/authors/jean-fox/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#4954 Fixed the link to the Q&A blog post
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events, Content: Blog post

#4953 Create Event “2022/05/2022-05-24-2022-government-ux-summit”
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events, netlify-cms/draft

#4958 Create Blog Post “2022/05/2022-05-25-sunsetting-go-usa-gov-frequently-asked-questions”
  content/news/2022/05/2022-05-25-sunsetting-go-usa-gov-frequently-asked-questions.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4959 Create Community “identity-credential-and-access-management-icam”
  content/communities/identity-credential-and-access-management-icam.md
Labels: Content: Communities, netlify-cms/draft

#4960 Update requests from 3 presenters
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
Labels: Content: Events, Bug: Content Cleanup

#4961 Update m-10-22-guidance-for-online-use-of-web-measurement-and-customi…
  content/resources/m-10-22-guidance-for-online-use-of-web-measurement-and-customization-technologies.md
Labels: Content: Resource, Bug: broken links

#4962 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource, Bug: Content Cleanup

#4964 Create Image upload “content-images-_inbox-nasa-wallops-chris-perry-ladee-frog-photobomb-png”
  data/images/nasa-wallops-chris-perry-ladee-frog-photobomb.yml
  static/img/proxy/nasa-wallops-chris-perry-ladee-frog-photobomb.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4965 Update 2013-09-17-digital-analytics-program-goes-to-the-moon.md
  content/news/2013/09/2013-09-17-digital-analytics-program-goes-to-the-moon.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#4966 AS_Open Source Hide
  content/communities/open-source.md
Labels: Content: Communities

#4968 Create Image upload “content-images-_inbox-tmf-logo-screencap-1200-png”
  data/images/tmf-logo-screencap-1200.yml
  static/img/proxy/tmf-logo-screencap-1200.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4969 Create Blog Post “2022/05/2022-05-31-technology-boosting-tmf-investments-deliver-benefits-for-the-american-public”
  content/news/2022/05/2022-05-31-technology-boosting-tmf-investments-deliver-benefits-for-the-american-public.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4970 Update 2022-05-31-technology-boosting-tmf-investments-deliver-benefit…
  content/news/2022/05/2022-05-31-technology-boosting-tmf-investments-deliver-benefits-for-the-american-public.md
Labels: Content: Images, Content: Blog post
