Repository GSA/digitalgov.gov, pull requests merged in 2022-03, with the labels that each got.

#4652 Script for Jan USWDS MC
  content/events/2022/01/2022-01-06-uswds-monthly-call-january-2022.md
Labels: Content: Events

#4642 LEP slides: Removed notes & corrected file name
  feb-2022-multilingual-event-lep.pptx
Labels: Content: Events, Content: Other files

#4655 Update open-gov.md
  content/communities/open-gov.md
Labels: Content: Communities, Bug: broken links

#4658 upload lep pptx
  static/files/feb-2022-multilingual-event-lep.pptx
Labels: Content: Other files

#4659 add pptx slides link
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events, Content: Other files

#4660 Create anselm-bradford.png
  data/images/anselm-bradford.yml
  static/img/proxy/anselm-bradford.jpg
Labels: Content: Images

#4661 Create Blog Post “2022/03/2022-03-03-improving-acquisition-governmentwide-it-and-professional-services”
  content/news/2022/03/2022-03-03-improving-acquisition-governmentwide-it-and-professional-services.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4662 Added script
  content/events/2022/02/2022-02-11-uswds-monthly-call-february-2022.md
Labels: Content: Events

#4657 Create Image upload “content-images-_inbox-march-plain-language-content-teams-title-card-png”
  data/images/march-plain-language-content-teams-title-card.yml
  static/img/proxy/march-plain-language-content-teams-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4663 Create Event “2022/03/2022-03-04-plain-language-compassion-help-people-in-crisis”
  content/events/2022/03/2022-03-04-plain-language-compassion-help-people-in-crisis.md
Labels: Content: Events, netlify-cms/pending_publish

#4664 Create Image upload “content-images-_inbox-usdc-cfpb-civic-tech-title-card-png”
  data/images/usdc-cfpb-civic-tech-title-card.yml
  static/img/proxy/usdc-cfpb-civic-tech-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4666 Create Author “chris-kuang/_index”
  content/authors/chris-kuang/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4667 Create Blog Post “2022/03/2022-03-07-from-fellowship-to-full-time-how-a-cfpb-software-engineer-helped-protect-consumers-and-built-a-career-in-civic-tech”
  content/news/2022/03/2022-03-07-from-fellowship-to-full-time-how-a-cfpb-software-engineer-helped-protect-consumers-and-built-a-career-in-civic-tech.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4669 Update 2022-03-07-from-fellowship-to-full-time-how-a-cfpb-software-en…
  content/news/2022/03/2022-03-07-from-fellowship-to-full-time-how-a-cfpb-software-engineer-helped-protect-consumers-and-built-a-career-in-civic-tech.md
Labels: Content: Blog post

#4671 Create Image upload “content-images-_inbox-uswds-monthly-call-march-title-card-png”
  data/images/uswds-monthly-call-march-title-card.yml
  static/img/proxy/uswds-monthly-call-march-title-card.jpg
Labels: Content: Events, Content: Images, netlify-cms/pending_publish

#4676 Add files via upload
  static/pdf/FedRAMP-Branding-Guidance_June-2017.pdf
Labels: Bug: Content Cleanup, Content: PDFs

#4674 Create Image upload “content-images-_inbox-fedramp-2017-logo-png”
  data/images/fedramp-2017-logo.yml
  static/img/proxy/fedramp-2017-logo.jpg
Labels: Content: Images, Bug: Content Cleanup, netlify-cms/pending_publish

#4675 Create Image upload “content-images-_inbox-600-x-229-fedramp-5th-birthday-png”
  data/images/fedramp-5th-birthday.yml
  static/img/proxy/fedramp-5th-birthday.jpg
Labels: Content: Images, Bug: Content Cleanup, netlify-cms/pending_publish

#4672 March PL event slides
  static/files/plain-language-and-compassion-march-event-slides.pptx
Labels: Content: Other files

#4668 AS_UX Lead
  content/communities/user-experience.md
Labels: Content: Communities, Content: Authors

#4680 Update 2017-06-13-fedramp-5th-anniversary.md
  content/news/2017/06/2017-06-13-fedramp-5th-anniversary.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#4681 Update 2022-03-04-plain-language-compassion-help-people-in-crisis.md
  content/events/2022/03/2022-03-04-plain-language-compassion-help-people-in-crisis.md
Labels: Content: Events, Content: Other files

#4678 Create Image upload “content-images-_inbox-65-x-65-on-the-air-tower-only-radio-broadcasting-design-elements-looper_cro-istock-thinkstock-482334395-png”
  data/images/on-the-air-tower-only-radio-broadcasting-design-elements-looper-cro-istock-thinkstock-482334395.yml
  static/img/proxy/on-the-air-tower-only-radio-broadcasting-design-elements-looper-cro-istock-thinkstock-482334395.jpg
Labels: Content: Images, Bug: Content Cleanup, netlify-cms/pending_publish

#4677 Create Image upload “content-images-_inbox-250-x-167-woman-with-headphones-working-at-computer-fuse-thinkstock-78812233-png”
  data/images/woman-with-headphones-working-at-computer-fuse-thinkstock-78812233.yml
  static/img/proxy/woman-with-headphones-working-at-computer-fuse-thinkstock-78812233.jpg
Labels: Content: Images, Bug: Content Cleanup, netlify-cms/pending_publish

#4682 Update 2015-05-18-digitalgov-summit-live-from-the-comfort-of-your-des…
  content/news/2015/05/2015-05-18-digitalgov-summit-live-from-the-comfort-of-your-desk.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#4683 Create Image upload “content-images-_inbox-tts-black-history-month-2022-png”
  data/images/tts-black-history-month-2022.yml
  static/img/proxy/tts-black-history-month-2022.jpg
Labels: Content: Images, Content: Blog post, netlify-cms/pending_publish

#4684 Update web-analytics-and-optimization.md
  content/communities/web-analytics-and-optimization.md
Labels: Content: Communities, Content: Authors

#4685 Create Author “andy-chosak/_index”
  content/authors/andy-chosak/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4686 Create Author “sonna-kim/_index”
  content/authors/sonna-kim/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4679 Create Image upload “content-images-_inbox-plain-language-report-card-blog-image-png”
  data/images/plain-language-report-card-blog-image.yml
  static/img/proxy/plain-language-report-card-blog-image.jpg
Labels: Content: Images, Content: Blog post, netlify-cms/pending_publish

#4688 Create Author “robert-jolly/_index”
  content/authors/robert-jolly/_index.md
Labels: Content: Events, Content: Authors, netlify-cms/pending_publish

#4689 Create Image upload “content-images-_inbox-plain-language-report-card-covid-blog-image-png”
  data/images/plain-language-report-card-covid-blog-image.yml
  static/img/proxy/plain-language-report-card-covid-blog-image.jpg
Labels: Content: Images, Content: Resource, netlify-cms/pending_publish

#4687 Add `.html` file name extension as a suffix to partial and partialCached usage
  themes/digital.gov/layouts/404.html
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/_default/images.html
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/list.json.json
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/_default/single.json.json
  themes/digital.gov/layouts/_default/taxonomy.html
  themes/digital.gov/layouts/authors/list.json.json
  themes/digital.gov/layouts/communities/archived.html
  themes/digital.gov/layouts/communities/list.html
  themes/digital.gov/layouts/communities/list.json.json
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/communities/single.json.json
  themes/digital.gov/layouts/docs/single.html
  themes/digital.gov/layouts/events/card-event-past.html
  themes/digital.gov/layouts/events/list.json.json
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/events/single.json.json
  themes/digital.gov/layouts/guides/list.html
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/layouts/home.html
  themes/digital.gov/layouts/news/card-article.html
  themes/digital.gov/layouts/news/card-elsewhere.html
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/get_authors.html
  themes/digital.gov/layouts/partials/core/get_authors_short.html
  themes/digital.gov/layouts/partials/core/guides/guide-page-head.html
  themes/digital.gov/layouts/partials/core/home/training_featured.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/card-service-contact.html
  themes/digital.gov/layouts/services/card-service.html
  themes/digital.gov/layouts/services/directory.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/layouts/shortcodes/api-authors.html
  themes/digital.gov/layouts/shortcodes/guide-toc.html
  themes/digital.gov/layouts/sources/list.json.json
  themes/digital.gov/layouts/topics/list.html
Labels: :hand: HOLD

#4690 Create Image upload “content-images-_inbox-plain-language-report-card-needs-work-blog-image-png”
  data/images/plain-language-report-card-needs-work-blog-image.yml
  static/img/proxy/plain-language-report-card-needs-work-blog-image.jpg
Labels: Content: Images, Content: Resource, netlify-cms/pending_publish

#4695 Create Image upload “content-images-_inbox-2021-plain-language-report-card-slide-6-sba-covid-png”
  data/images/2021-plain-language-report-card-slide-6-sba-covid.yml
  static/img/proxy/2021-plain-language-report-card-slide-6-sba-covid.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4693 Create Image upload “content-images-_inbox-2021-plain-language-report-card-slide-8-dod-foia-png”
  data/images/2021-plain-language-report-card-slide-8-dod-foia.yml
  static/img/proxy/2021-plain-language-report-card-slide-8-dod-foia.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4691 Create Resource “lessons-from-the-2021-federal-plain-language-report-card”
  content/resources/lessons-from-the-2021-federal-plain-language-report-card.md
Labels: Content: Resource, netlify-cms/pending_publish

#4696 Create Blog Post “2022/03/2022-03-12-lessons-from-the-2021-federal-plain-language-report-card”
  content/news/2022/03/2022-03-12-lessons-from-the-2021-federal-plain-language-report-card.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4697 Create Image upload “content-images-_inbox-dr-maya-angelou-york-college-feb-4-2013-png”
  data/images/dr-maya-angelou-york-college-feb-4-2013.yml
  static/img/proxy/dr-maya-angelou-york-college-feb-4-2013.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4701 Update 2013-05-30-social-securitys-mobile-website.md
  content/news/2013/05/2013-05-30-social-securitys-mobile-website.md
Labels: Bug: Content Cleanup

#4699 Create Blog Post “2022/03/2022-03-14-celebrating-black-history-at-tts-reflections-on-the-challenges-of-the-past-and-present”
  content/news/2022/03/2022-03-14-celebrating-black-history-at-tts-reflections-on-the-challenges-of-the-past-and-present.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4702 Create Image upload “content-images-_inbox-march-content-managers-event-title-card-png”
  data/images/march-content-managers-event-title-card.yml
  static/img/proxy/march-content-managers-event-title-card.jpg
Labels: Content: Events, Content: Images, netlify-cms/pending_publish

#4703 Update 2013-05-30-social-securitys-mobile-website.md
  content/news/2013/05/2013-05-30-social-securitys-mobile-website.md
Labels: Bug: Content Cleanup, Content: Blog post, Archive

#4704 Create Image upload “content-images-_inbox-interview-halfpoint-istock-getty-images-plus-1337585069-png”
  data/images/interview-halfpoint-istock-getty-images-plus-1337585069.yml
  static/img/proxy/interview-halfpoint-istock-getty-images-plus-1337585069.jpg
Labels: Content: Images, Content: Blog post, netlify-cms/pending_publish

#4705 Update _index.md
  content/authors/will-cahoe/_index.md
Labels: Content: Authors

#4706 Create Image upload “content-images-_inbox-10x-ideas-evaluated-png”
  data/images/10x-ideas-evaluated.yml
  static/img/proxy/10x-ideas-evaluated.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4707 Create Image upload “content-images-_inbox-10x-ideas-approved-png”
  data/images/10x-ideas-approved.yml
  static/img/proxy/10x-ideas-approved.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4709 Create Blog Post “2022/03/2022-03-15-creating-a-new-way-for-people-to-discover-government-benefits”
  content/news/2022/03/2022-03-15-creating-a-new-way-for-people-to-discover-government-benefits.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4711 Update 2013-05-30-social-securitys-mobile-website.md
  content/news/2013/05/2013-05-30-social-securitys-mobile-website.md
Labels: Bug: broken links, Content: Blog post, Archive

#4708 3/16 - Attracting Underrepresented Digital Services Talent to Serve
  content/news/2022/03/2022-03-15-ten-hiring-tips-attracting-underrepresented-digital-services-talent-to-serve.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4719 AS_Beth M Bio
  content/authors/beth-martin/_index.md
Labels: Content: Authors

#4715 Create Author “jesrael-lopez/_index”
  content/authors/jesrael-lopez/_index.md
Labels: Content: Authors, netlify-cms/draft

#4716 Create Author “bernadette-goodwin/_index”
  content/authors/bernadette-goodwin/_index.md
Labels: Content: Authors, netlify-cms/draft

#4720 Slides for USWDS March
  static/files/uswds-monthly-call-march-2022.pptx
Labels: Content: Events, Content: Other files

#4712 Update node dependencies
  .circleci/config.yml
  config/gulp/img-prep.js
  content/resources/coronavirus-covid19-guidance-for-us-government.md
  package-lock.json
  package.json
  readme.md
Labels: Dev: Dependencies

#4727 Create Blog Post “2022/03/2022-03-16-gsa-highlights-progress-on-citizen-facing-digital-services-cybersecurity-in-first-year-of-american-rescue-plan”
  content/news/2022/03/2022-03-16-gsa-highlights-progress-on-citizen-facing-digital-services-cybersecurity-in-first-year-of-american-rescue-plan.md
Labels: netlify-cms/pending_publish

#4726 Update open-gov.md
  content/communities/open-gov.md
Labels: Content: Communities

#4724 AS_Treas Auth
  content/events/2022/03/2022-03-16-change-the-way-digital-work-gets-done.md
Labels: Content: Events, Content: Authors

#4729 Create Author “callan-pyfer/_index”
  content/authors/callan-pyfer/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#4730 USWDS March slides
  content/events/2022/03/2022-03-08-uswds-monthly-call-march-2022.md
Labels: Content: Events, Content: Other files

#4732 Update 2022-03-08-uswds-monthly-call-march-2022.md
  content/events/2022/03/2022-03-08-uswds-monthly-call-march-2022.md
Labels: Content: Events

#4731 Update 2022-03-16-change-the-way-digital-work-gets-done.md
  content/authors/bernadette-goodwin/_index.md
  content/events/2022/03/2022-03-16-change-the-way-digital-work-gets-done.md
Labels: Content: Events

#4734 Create Image upload “content-images-_inbox-may-itbuyers-event-title-card-png”
  data/images/may-itbuyers-event-title-card.yml
  static/img/proxy/may-itbuyers-event-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4735 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource, Bug: broken links

#4737 Create Author “meghan-daly/_index”
  content/authors/meghan-daly/_index.md
Labels: Content: Authors, netlify-cms/draft

#4739 Create Image upload “content-images-_inbox-citizen-science-spotlight-chat-cdc-event-title-card-png”
  data/images/citizen-science-spotlight-chat-cdc-event-title-card.yml
  static/img/proxy/citizen-science-spotlight-chat-cdc-event-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4740 Create Image upload “content-images-_inbox-gsa-sunshine-week-2022-featured-img-png”
  data/images/gsa-sunshine-week-2022-featured-img.yml
  static/img/proxy/gsa-sunshine-week-2022-featured-img.jpg
Labels: Content: Images, Content: Blog post, netlify-cms/pending_publish

#4741 Update government-contact-center-council.md
  content/communities/government-contact-center-council.md
Labels: Content: Communities, Content: Authors

#4742 Create Blog Post “2022/03/2022-03-17-sunshine-week-how-gsa-supports-open-government-principles”
  content/news/2022/03/2022-03-17-sunshine-week-how-gsa-supports-open-government-principles.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4743 Update 2022-03-15-ten-hiring-tips-attracting-underrepresented-digital…
  content/news/2022/03/2022-03-15-ten-hiring-tips-attracting-underrepresented-digital-services-talent-to-serve.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#4744 Create Image upload “content-images-_inbox-digital-gov-card-2-1200x628-png”
  data/images/digital-gov-card-2-1200x628.yml
  static/img/proxy/digital-gov-card-2-1200x628.jpg
Labels: Content: Images, netlify-cms/draft

#4745 Create Image upload “content-images-_inbox-600-x-300-wh_backtothefutureday_socialgraphic-jpg”
  data/images/wh-backtothefutureday-socialgraphic.yml
  static/img/proxy/wh-backtothefutureday-socialgraphic.jpg
Labels: Content: Images, Content: Blog post, netlify-cms/pending_publish

#4746 Update 2015-10-21-the-white-house-back-to-the-future-day-and-the-road…
  content/news/2015/10/2015-10-21-the-white-house-back-to-the-future-day-and-the-road-to-innovation.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#4748 Create Image upload “content-images-_inbox-white-house-back-to-the-future-day-2015-social-graphic-cropped-png”
  data/images/white-house-back-to-the-future-day-2015-social-graphic-cropped.yml
  static/img/proxy/white-house-back-to-the-future-day-2015-social-graphic-cropped.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4750 Update 2015-10-21-the-white-house-back-to-the-future-day-and-the-road…
  content/news/2015/10/2015-10-21-the-white-house-back-to-the-future-day-and-the-road-to-innovation.md
Labels: Content: Images, Bug: Content Cleanup

#4749 Create Image upload “content-images-_inbox-sept-2015-peak-full-eclipse-visits-analytics-usa-gov-png”
  data/images/sept-2015-peak-full-eclipse-visits-analytics-usa-gov.yml
  static/img/proxy/sept-2015-peak-full-eclipse-visits-analytics-usa-gov.jpg
Labels: Content: Images, Bug: Content Cleanup, netlify-cms/pending_publish

#4751 Update 2015-09-28-nasa-lunar-eclipse-a-supermoon-match-made-in-metric…
  content/news/2015/09/2015-09-28-nasa-lunar-eclipse-a-supermoon-match-made-in-metrics-heaven.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#4752 Create Author “matthew-biggerstaff/_index”
  content/authors/matthew-biggerstaff/_index.md
Labels: Content: Authors, netlify-cms/draft

#4753 Create Author “mike-johansson/_index”
  content/authors/mike-johansson/_index.md
Labels: Content: Authors, netlify-cms/draft

#4754 Create Author “evan-ray/_index”
  content/authors/evan-ray/_index.md
Labels: Content: Authors, netlify-cms/draft

#4755 Create Author “lauren-gardner/_index”
  content/authors/lauren-gardner/_index.md
Labels: Content: Authors, netlify-cms/draft

#4756 Create Image upload “content-images-_inbox-tropical-storm-darby-viirs-sat-miles-22jul2016-cropped-png”
  data/images/tropical-storm-darby-viirs-sat-miles-22jul2016-cropped.yml
  static/img/proxy/tropical-storm-darby-viirs-sat-miles-22jul2016-cropped.jpg
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post, netlify-cms/draft

#4757 Update 2016-07-28-widgets-mobile-apps-and-sms-essential-agency-tools-…
  content/news/2016/07/2016-07-28-widgets-mobile-apps-and-sms-essential-agency-tools-for-summer-heat-safety-and-hurricane-season.md
Labels: Bug: Content Cleanup, Content: Blog post

#4759 Create Image upload “content-images-_inbox-uswds-monthly-call-april-title-card-png”
  data/images/uswds-monthly-call-april-title-card.yml
  static/img/proxy/uswds-monthly-call-april-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4761 Create Image upload “content-images-_inbox-introduction-to-government-wide-cx-april-event-title-card-png”
  data/images/introduction-to-government-wide-cx-april-event-title-card.yml
  static/img/proxy/introduction-to-government-wide-cx-april-event-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4760 Create Image upload “content-images-_inbox-uswds-monthly-call-may-title-card-png”
  data/images/uswds-monthly-call-may-title-card.yml
  static/img/proxy/uswds-monthly-call-may-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4763 Update 2019-10-08-join-us-web-design-system-community.md
  content/news/2019/10/2019-10-08-join-us-web-design-system-community.md
Labels: Bug: Content Cleanup, Content: Blog post

#4764 Create Image upload “content-images-_inbox-brian-whittaker-fdic-jpg”
  data/images/brian-whittaker-fdic.yml
  static/img/proxy/brian-whittaker-fdic.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4766 Update 2022-03-17-sunshine-week-how-gsa-supports-open-government-prin…
  content/news/2022/03/2022-03-17-sunshine-week-how-gsa-supports-open-government-principles.md
Labels: Bug: Content Cleanup, Content: Blog post

#4767 Create Image upload “content-images-_inbox-plain-language-summmit-2022-title-card-png”
  data/images/plain-language-summmit-2022-title-card.yml
  static/img/proxy/plain-language-summmit-2022-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4768 Create Image upload “content-images-_inbox-brian-whittaker-fdic-us-digital-corps-title-card-png”
  data/images/brian-whittaker-fdic-us-digital-corps-title-card.yml
  static/img/proxy/brian-whittaker-fdic-us-digital-corps-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#4769 Create Blog Post “2022/03/2022-03-22-building-and-supporting-a-diverse-technology-workforce-in-the-federal-government”
  content/news/2022/03/2022-03-22-building-and-supporting-a-diverse-technology-workforce-in-the-federal-government.md
Labels: Content: Blog post, netlify-cms/pending_publish

#4773 Create Image upload “content-images-_inbox-irs2go-google-play-logo-1200-png”
  data/images/irs2go-google-play-logo-1200.yml
  static/img/proxy/irs2go-google-play-logo-1200.jpg
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post, netlify-cms/pending_publish

#4772 Update 2016-03-10-check-your-refund-status-and-pay-your-taxes-with-ir…
  content/news/2016/03/2016-03-10-check-your-refund-status-and-pay-your-taxes-with-irs2go.md
Labels: Bug: Content Cleanup, Content: Blog post

#4775 Update customer-experience-toolkit.md
  content/resources/customer-experience-toolkit.md
Labels: Bug: Content Cleanup, Bug: broken links

#4774 Update 2016-03-10-check-your-refund-status-and-pay-your-taxes-with-ir…
  content/news/2016/03/2016-03-10-check-your-refund-status-and-pay-your-taxes-with-irs2go.md
Labels: Content: Redirects, Bug: Content Cleanup, Content: Blog post

#4776 Update 2016-08-23-what-is-citizen-science-a-recent-webinar-explores-h…
  content/news/2016/08/2016-08-23-what-is-citizen-science-a-recent-webinar-explores-how-the-federal-government-engages-the-public-via-crowdsourcing.md
Labels: Bug: Content Cleanup, Content: Blog post

#4777 Update 2014-04-28-in-crowdsourcing-competitions-defining-the-problem-…
  content/news/2014/04/2014-04-28-in-crowdsourcing-competitions-defining-the-problem-is-half-the-battle.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#4779 Update 2014-03-31-get-started-with-challenge-and-prize-competitions.md
  content/news/2014/03/2014-03-31-get-started-with-challenge-and-prize-competitions.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#4780 Create Community “it-buyers”
  content/communities/it-buyers.md
Labels: Content: Communities, netlify-cms/draft

#4782 Update it-buyers.md
  content/communities/it-buyers.md
Labels: Content: Communities, Content: Redirects

#4784 Update implementation-of-the-government-paperwork-elimination-act.md
  content/resources/implementation-of-the-government-paperwork-elimination-act.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#4783 Added video
  content/events/2022/02/2022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events

#4786 Update 2022-03-15-ten-hiring-tips-attracting-underrepresented-digital…
  content/news/2022/03/2022-03-15-ten-hiring-tips-attracting-underrepresented-digital-services-talent-to-serve.md
Labels: Bug: Content Cleanup, Content: Blog post
