Repository GSA/digitalgov.gov, pull requests merged in 2022-09, with the labels that each got.

#5311 Create Blog Post “2022/08/2022-08-31-helping-people-discover-benefits-with-the-new-bears-locator”
  content/news/2022/08/2022-08-31-helping-people-discover-benefits-with-the-new-bears-locator.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5319 Update 2022-08-11-uswds-monthly-call-august-2022.md
  content/events/2022/08/2022-08-11-uswds-monthly-call-august-2022.md
Labels: Content: Events

#5325 Create Author “dana-chisnell/_index”
  content/authors/dana-chisnell/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5326 Update 2019-06-18-introducing-a-guide-paperwork-reduction-act.md
  content/news/2019/06/2019-06-18-introducing-a-guide-paperwork-reduction-act.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#5329 Update 2015-06-12-digitalgov-citizen-services-summit-reflections-from…
  content/news/2015/06/2015-06-12-digitalgov-citizen-services-summit-reflections-from-our-livestream-host-and-full-recording-now-available.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#5332 Update 2014-12-15-crowdsourced-digital-citizen-services-summit.md
  content/news/2014/12/2014-12-15-crowdsourced-digital-citizen-services-summit.md
Labels: Bug: Content Cleanup, Content: Blog post

#5342 Create Image upload “content-images-_inbox-uswds-monthly-call-sep-title-card-png”
  data/images/uswds-monthly-call-sep-title-card.yml
  static/img/proxy/uswds-monthly-call-sep-title-card.jpg
Labels: Content: Images, netlify-cms/draft

#5340 update email code
  content/news/2019/06/2019-06-18-introducing-a-guide-paperwork-reduction-act.md
Labels: Bug: broken links, Content: Blog post

#5343 Create Image upload “content-images-_inbox-epa-improve-your-website-with-user-testing-title-card-png”
  data/images/epa-improve-your-website-with-user-testing-title-card.yml
  static/img/proxy/epa-improve-your-website-with-user-testing-title-card.jpg
Labels: Content: Images, netlify-cms/draft

#5346 Create Image upload “content-images-_inbox-dhs-usability-testing-kit-event-title-card-png”
  data/images/dhs-usability-testing-kit-event-title-card.yml
  static/img/proxy/dhs-usability-testing-kit-event-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5349 Create Event “2022/09/2022-09-08-uswds-monthly-call-september-2022”
  content/events/2022/09/2022-09-08-uswds-monthly-call-september-2022.md
Labels: Content: Events

#5350 Create Event “2022/09/2022-09-08-dhs-usability-testing-kit-so-easy-anyone-can-do-it”
  content/events/2022/09/2022-09-08-dhs-usability-testing-kit-so-easy-anyone-can-do-it.md
Labels: Content: Events, netlify-cms/pending_publish

#5356 Create Image upload “content-images-_inbox-us-digital-corps-veterans-anthony-barbara-png”
  data/images/us-digital-corps-veterans-anthony-barbara.yml
  static/img/proxy/us-digital-corps-veterans-anthony-barbara.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5355 Create Image upload “content-images-_inbox-us-digital-corps-veterans-joe-lindsey-png”
  data/images/us-digital-corps-veterans-joe-lindsey.yml
  static/img/proxy/us-digital-corps-veterans-joe-lindsey.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5354 Create Image upload “content-images-_inbox-us-digital-corps-veterans-dhan-gurung-png”
  data/images/us-digital-corps-veterans-dhan-gurung.yml
  static/img/proxy/us-digital-corps-veterans-dhan-gurung.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5353 Create Image upload “content-images-_inbox-us-digital-corps-veterans-thomas-sittmann-png”
  data/images/us-digital-corps-veterans-thomas-sittmann.yml
  static/img/proxy/us-digital-corps-veterans-thomas-sittmann.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5352 Create Image upload “content-images-_inbox-us-digital-corps-veterans-jenny-wang-png”
  data/images/us-digital-corps-veterans-jenny-wang.yml
  static/img/proxy/us-digital-corps-veterans-jenny-wang.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5357 Create Image upload “content-images-_inbox-us-digital-corps-veterans-title-card-png”
  data/images/us-digital-corps-veterans-title-card.yml
  static/img/proxy/us-digital-corps-veterans-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5359 Update 2022-09-08-uswds-monthly-call-september-2022.md
  content/events/2022/09/2022-09-08-uswds-monthly-call-september-2022.md
Labels: Bug: Content Cleanup, Content: Blog post

#5360 Create Blog Post “2022/09/2022-09-09-serving-the-public-five-veterans-journeys-to-public-interest-tech”
  content/news/2022/09/2022-09-09-serving-the-public-five-veterans-journeys-to-public-interest-tech.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5363 Update 2022-09-09-serving-the-public-five-veterans-journeys-to-public…
  content/news/2022/09/2022-09-09-serving-the-public-five-veterans-journeys-to-public-interest-tech.md
Labels: Bug: Content Cleanup, Content: Blog post

#5364 Create Author “judy-suzuki/_index”
  content/authors/judy-suzuki/_index.md
Labels: Content: Authors

#5365 Updating author page for Beth Martin
  content/authors/beth-martin/_index.md
Labels: Content: Authors

#5366 Create Event “2022/09/2022-09-13-improve-your-website-with-user-testing”
  content/events/2022/09/2022-09-13-improve-your-website-with-user-testing.md
Labels: Content: Events

#5370 Adding USWDS September slides to event page
  content/events/2022/09/2022-09-08-uswds-monthly-call-september-2022.md
Labels: Content: Events

#5374 Create Image upload “content-images-_inbox-parradee-kietsirikul-istock-getty-images-1417870473-png”
  data/images/parradee-kietsirikul-istock-getty-images-1417870473.yml
  static/img/proxy/parradee-kietsirikul-istock-getty-images-1417870473.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5371 Create Blog Post “2022/09/2022-09-15-webinar-recap-how-to-measure-effectiveness-of-your-digital-outreach-and-communications”
  content/news/2022/09/2022-09-15-webinar-recap-how-to-measure-effectiveness-of-your-digital-outreach-and-communications.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5372 Adding YouTube video link for Designing for People with Cognitive Dis…
  content/events/2022/07/2022-07-29-2022-federal-plain-language-summit.md
Labels: Content: Events

#5376 Update intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Images, Bug: Content Cleanup

#5377 AS_copy edit
  content/communities/manage-listserv-subscription.md
Labels: Content: Communities, Bug: Content Cleanup

#5378 Create Image upload “content-images-_inbox-accessibility-101-title-card-png”
  data/images/accessibility-101-title-card.yml
  static/img/proxy/accessibility-101-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5379 Update intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Images, Content: Resource, Bug: Content Cleanup

#5380 Create Blog Post “2022/09/2022-09-16-the-18f-engineering-sandwich-for-cloud-based-web-apps”
  content/news/2022/09/2022-09-16-the-18f-engineering-sandwich-for-cloud-based-web-apps.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5381 Update 2022-07-29-2022-federal-plain-language-summit.md
  content/events/2022/07/2022-07-29-2022-federal-plain-language-summit.md
Labels: Content: Video + YouTube

#5382 Adding script to USWDS Sep event page
  content/events/2022/09/2022-09-08-uswds-monthly-call-september-2022.md
Labels: Content: Events

#5388 Update 2022-05-04-how-to-build-your-digital-dream-team.md
  content/events/2022/05/2022-05-04-how-to-build-your-digital-dream-team.md
Labels: Content: Events

#5390 Update 2022-04-15-the-basics-of-buying-accessible-products-and-servic…
  content/events/2022/04/2022-04-15-the-basics-of-buying-accessible-products-and-services.md
Labels: Content: Events

#5389 Update government-customer-service-policies-requirements-1993-to-pres…
  content/resources/government-customer-service-policies-requirements-1993-to-present.md
Labels: Content: Resource

#5391 Investigate 404 page errors
  themes/digital.gov/layouts/404.html
Labels: Bug: Content Cleanup, Bug: broken links, Content: General site

#5393 Update 2022-09-15-webinar-recap-how-to-measure-effectiveness-of-your-…
  content/news/2022/09/2022-09-15-webinar-recap-how-to-measure-effectiveness-of-your-digital-outreach-and-communications.md
Labels: Bug: Content Cleanup, Content: Blog post

#5396 Update 2020-10-01-plain-language-summit-2020.md
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
Labels: Content: Events, Bug: Content Cleanup

#5392 Update plain-language-community-of-practice.md
  content/communities/plain-language-community-of-practice.md
Labels: Content: Communities

#5385 Create Blog Post “2022/09/2022-09-21-creating-a-culture-of-innovation-at-your-agency”
  content/news/2022/09/2022-09-21-creating-a-culture-of-innovation-at-your-agency.md
Labels: Content: Blog post, netlify-cms/draft

#5398 Create Blog Post “2022/09/2022-09-21-making-infrastructure-less-invisible”
  content/news/2022/09/2022-09-21-making-infrastructure-less-invisible.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5399 Update 2022-07-14-how-effective-is-your-communication.md
  content/events/2022/07/2022-07-14-how-effective-is-your-communication.md
Labels: Content: Events

#5400 Adding video link for Jargon Madness: A Plain Language Exercise
  content/events/2022/07/2022-07-29-2022-federal-plain-language-summit.md
Labels: Content: Events

#5406 Update 2022-04-04-optimization-case-study-performance-seo-and-accessi…
  content/events/2022/04/2022-04-04-optimization-case-study-performance-seo-and-accessibility-with-cfpb.md
Labels: Content: Events

#5407 Update 2022-03-16-change-the-way-digital-work-gets-done.md
  content/events/2022/03/2022-03-16-change-the-way-digital-work-gets-done.md
Labels: Content: Events

#5411 Create Blog Post “2022/09/2022-09-27-cxday”
  content/news/2022/09/2022-09-27-cxday.md
Labels: netlify-cms/draft

#5412 Update 2014-07-01-multilingual-digital-content.md
  content/news/2014/07/2014-07-01-multilingual-digital-content.md
Labels: Bug: broken links, Content: Blog post

#5413 Fix redirect for mobile testing program
  content/resources/_index.md
  content/services/service_mobile-testing-program.md
Labels: Content: Redirects, Bug: Content Cleanup

#5421 Create Image upload “content-images-_inbox-card-hurricane-ian-guidance-png”
  data/images/card-hurricane-ian-guidance.yml
  static/img/proxy/card-hurricane-ian-guidance.jpg
Labels: Content: Images, netlify-cms/draft

#5422 Create Resource “hurricane-ian-guidance-for-u-s-government-websites-and-social-media”
  content/resources/hurricane-ian-guidance-for-u-s-government-websites-and-social-media.md
  data/images/card-hurricane-ian-guidance.yml
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/partials/core/sitewide-alert.html
  themes/digital.gov/layouts/shortcodes/note.html
  themes/digital.gov/src/scss/new/styles.scss
Labels: Content: Resource, netlify-cms/draft

#5415 Hide bullet icons from screen readers on home page
  themes/digital.gov/layouts/partials/core/collection.html
Labels: Dev: Accessibility

#5428 Update and rename content/events/2022/02/2022-02-11-language-connecti…
  content/events/2022/022022-02-11-language-connections-tips-to-create-maintain-and-present-non-english-digital-content.md
Labels: Content: Events

#5427 gf-update-overcoming-your-fear-of-data
  content/events/2021/12/2021-12-21-overcoming-your-fear-of-data.md
Labels: Content: Events

#5429 Update 2021-12-21-overcoming-your-fear-of-data.md
  content/events/2021/12/2021-12-21-overcoming-your-fear-of-data.md
Labels: Content: Events

#5430 Chicago Style citation tests
  content/about/policies.md
Labels: Content: General site
