Repository GSA/digitalgov.gov, pull requests merged in 2022-08, with the labels that each got.

#5220 Create Image upload “content-images-_inbox-2022-federal-plain-language-summit-title-card-png”
  data/images/2022-federal-plain-language-summit-title-card.yml
  static/img/proxy/2022-federal-plain-language-summit-title-card.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5230 Update federal-compatible-terms-of-service-agreements.md
  content/resources/federal-compatible-terms-of-service-agreements.md
Labels: Content: Resource, Bug: Content Cleanup

#5229 Create Blog Post “2022/08/2022-08-01-webinar-recap-how-to-build-your-digital-dream-team”
  content/news/2022/08/2022-08-01-webinar-recap-how-to-build-your-digital-dream-team.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5233 Create Image upload “content-images-_inbox-ajijchan-istock-getty-images-1357830750-png”
  data/images/ajijchan-istock-getty-images-1357830750.yml
  static/img/proxy/ajijchan-istock-getty-images-1357830750.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5236 Update _index.md
  content/authors/dr-rachael-bradley-montgomery/_index.md
Labels: Content: Authors

#5221 Create Event “2022/07/2022-07-29-2022-federal-plain-language-summit”
  content/authors/dr-rachael-bradley-montgomery/_index.md
  content/events/2022/07/2022-07-29-2022-federal-plain-language-summit.md
Labels: Content: Events, netlify-cms/pending_publish

#5239 Adding link to event blog post
  content/events/2022/05/2022-05-04-how-to-build-your-digital-dream-team.md
Labels: Content: Events

#5240 Adding link to event recap post
  content/events/2021/04/2021-04-27-deep-fakes-and-social-media.md
Labels: Content: Events

#5248 Create Blog Post “2022/08/2022-08-09-senior-executives-part-2-work-outside-the-traditional-hierarchy-to-set-up-an-initiative-for-success”
  content/news/2022/08/2022-08-09-senior-executives-part-2-work-outside-the-traditional-hierarchy-to-set-up-an-initiative-for-success.md
Labels: Content: Blog post, netlify-cms/draft

#5247 Create Image upload “content-images-_inbox-figure-4-html-language-accessibility-website-language-access-guidance-png”
  data/images/figure-4-html-language-accessibility-website-language-access-guidance.yml
  static/img/proxy/figure-4-html-language-accessibility-website-language-access-guidance.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5246 Create Image upload “content-images-_inbox-figure-3-alphabetical-order-website-language-access-guidance-png”
  data/images/figure-3-alphabetical-order-website-language-access-guidance.yml
  static/img/proxy/figure-3-alphabetical-order-website-language-access-guidance.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5249 Create Image upload “content-images-_inbox-dept-edu-language-menu-closeup-png”
  data/images/dept-edu-language-menu-closeup.yml
  static/img/proxy/dept-edu-language-menu-closeup.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5238 Create Blog Post “2022/08/2022-08-09-community-research-explores-ways-to-improve-access-to-multilingual-content”
  content/news/2022/08/2022-08-09-community-research-explores-ways-to-improve-access-to-multilingual-content.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5252 Create Blog Post “2022/08/2022-08-09-white-house-and-gsa-celebrate-record-years-in-prize-competitions-citizen-science-efforts”
  content/news/2022/08/2022-08-09-white-house-and-gsa-celebrate-record-years-in-prize-competitions-citizen-science-efforts.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5257 Create Event “2022/08/2022-08-11-uswds-monthly-call-august-2022”
  content/events/2022/08/2022-08-11-uswds-monthly-call-august-2022.md
Labels: Content: Events, netlify-cms/pending_publish

#5259 Fix pronoun display author page
  themes/digital.gov/layouts/authors/list.html
Labels: Dev: frontend, Content: Authors

#5262 Create Resource “find-your-section-508-program-manager”
  content/resources/find-your-section-508-program-manager.md
Labels: Content: Resource, netlify-cms/pending_publish

#5263 Update tabular-comparison-of-the-previous-far-text-against-the-2021-u…
  content/resources/tabular-comparison-of-the-previous-far-text-against-the-2021-update.md
Labels: Content: Resource, Bug: Content Cleanup

#5264 Update find-your-section-508-program-manager.md
  content/resources/find-your-section-508-program-manager.md
Labels: Content: Resource, Bug: broken links

#5265 Update 2022-07-29-2022-federal-plain-language-summit.md
  content/events/2022/07/2022-07-29-2022-federal-plain-language-summit.md
Labels: Content: Events

#5268 Update 2022-08-11-uswds-monthly-call-august-2022.md
  content/events/2022/08/2022-08-11-uswds-monthly-call-august-2022.md
Labels: Content: Events

#5266 Create Blog Post “2022/08/2022-08-18-u-s-department-of-defense-dod-releases-first-departmentwide-social-media-policy”
  content/news/2022/08/2022-08-18-u-s-department-of-defense-dod-releases-first-departmentwide-social-media-policy.md
Labels: Content: Blog post, netlify-cms/draft

#5272 Update 2022-07-29-2022-federal-plain-language-summit.md
  content/events/2022/07/2022-07-29-2022-federal-plain-language-summit.md
Labels: Content: Events

#5273 Update _index.md
  content/authors/donna-ledbetter/_index.md
Labels: Content: Authors

#5274 Adding resource link to event page
  content/events/2021/11/2021-11-16-results-of-the-2021-federal-report-card.md
Labels: Content: Events, Content: Guide

#5275 Create Blog Post “2022/08/2022-08-20-senior-executives-part-3-use-short-term-initiatives-to-build-confidence-in-long-term-decisions”
  content/news/2022/08/2022-08-20-senior-executives-part-3-use-short-term-initiatives-to-build-confidence-in-long-term-decisions.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5276 Create Blog Post “2022/08/2022-08-20-senior-executives-part-4-initiate-more-direct-interaction-to-build-rapport”
  content/news/2022/08/2022-08-20-senior-executives-part-4-initiate-more-direct-interaction-to-build-rapport.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5279 Create Blog Post “2022/08/2022-08-22-modernize-your-identity-management-process-through-ilm”
  content/news/2022/08/2022-08-22-modernize-your-identity-management-process-through-ilm.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5280 Create Blog Post “2022/08/2022-08-22-fedramp-launches-oscal-developer-data-bites-series”
  content/news/2022/08/2022-08-22-fedramp-launches-oscal-developer-data-bites-series.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5282 Add files via upload
  static/files/plain-language-summit-debunking-the-oversimplification-myth.pptx
Labels: Content: Other files

#5284 PL Summit: Designing Digital Products
  static/files/plain-language-summit-designing-digital-products-for-adults-with-low-literacy.pptx
Labels: Content: Other files

#5285 PL Summit: Help Them See the Light
  static/files/plain-language-summit-help-them-see-the-light-strategies-for-training-feds.pptx
Labels: Content: Other files

#5289 PL Summit: Setting up context for tech details
  static/files/plain-language-summit-setting-up-context-for-technical-details.pptx
Labels: Content: Other files

#5287 Formatting note shortcode is broken with hugo version
  content/news/2021/11/2021-11-10-tts-reflects-why-i-continue-to-serve.md
  themes/digital.gov/layouts/shortcodes/img-right.html
Labels: Bug: broken links

#5292 PL Summit: Recognizing systemic challenges
  static/files/plain-language-summit-you-are-the-user-recognizing-systemic-challenges.pptx
Labels: Content: Other files

#5296 Update 2022-07-29-2022-federal-plain-language-summit.md
  content/events/2022/07/2022-07-29-2022-federal-plain-language-summit.md
Labels: Content: Events

#5297 Create Blog Post “2022/08/2022-08-23-gsa-celebrates-the-10th-anniversary-of-the-presidential-innovation-fellows-pif-program”
  content/news/2022/08/2022-08-23-gsa-celebrates-the-10th-anniversary-of-the-presidential-innovation-fellows-pif-program.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5299 Update intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Resource, Bug: Content Cleanup

#5300 Create Blog Post “2022/08/2022-08-25-senior-executives-part-5-use-stories-as-leading-indicators”
  content/news/2022/08/2022-08-25-senior-executives-part-5-use-stories-as-leading-indicators.md
Labels: netlify-cms/pending_publish

#5301 Create Blog Post “2022/08/2022-08-25-measuring-and-justifying-the-government-experience”
  content/news/2022/08/2022-08-25-measuring-and-justifying-the-government-experience.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5303 Create Image upload “content-images-_inbox-white-bg-digital-gov-card-community-png”
  data/images/white-bg-digital-gov-card-community.yml
  static/img/proxy/white-bg-digital-gov-card-community.jpg
Labels: Content: Images, Content: Communities, netlify-cms/pending_publish

#5304 Create Image upload “content-images-_inbox-digital-gov-card-community-png”
  data/images/digital-gov-card-community.yml
  static/img/proxy/digital-gov-card-community.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5305 Create Image upload “content-images-_inbox-white-on-gsa-blue-digital-gov-card-community-png”
  data/images/white-on-gsa-blue-digital-gov-card-community.yml
  static/img/proxy/white-on-gsa-blue-digital-gov-card-community.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5307 Create Image upload “content-images-_inbox-white-blue-digital-gov-card-community-png”
  data/images/white-blue-digital-gov-card-community.yml
  static/img/proxy/white-blue-digital-gov-card-community.jpg
Labels: netlify-cms/pending_publish

#5306 Delete author pages
  content/authors/jonathan-bobel/_index.md
  content/authors/meghan-o’meara/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#5309 Updating deck for Session 4
  content/events/2022/07/2022-07-29-2022-federal-plain-language-summit.md
Labels: Content: Events

#5313 Update 2014-02-25-new-go-usa-gov-features-search-your-urls-add-notes-…
  content/news/2014/02/2014-02-25-new-go-usa-gov-features-search-your-urls-add-notes-new-bookmarklet-and-more.md
Labels: Bug: Content Cleanup

#5314 Update 2013-07-30-improving-the-user-experience-with-the-usability-go…
  content/news/2013/07/2013-07-30-improving-the-user-experience-with-the-usability-gov-reboot.md
Labels: Bug: Content Cleanup
