Repository GSA/digitalgov.gov, pull requests merged in 2023-11, with the labels that each got.

#6823 Update 2020-04-15-accessibility-intersection-between-plain-language-5…
  content/events/2020/04/2020-04-15-accessibility-intersection-between-plain-language-508.md
Labels: Content: Events, Bug: Content Cleanup

#6825 Update intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Resource, Bug: Content Cleanup

#6827 add slash to alias line intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Bug: Content Cleanup

#6829 Update 2020-04-15-accessibility-intersection-between-plain-language-5…
  content/events/2020/04/2020-04-15-accessibility-intersection-between-plain-language-508.md
Labels: Content: Events, Bug: Content Cleanup, Bug: broken links

#6830 Update intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Resource, Bug: Content Cleanup

#6831 shorten deck intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Resource, Bug: Content Cleanup

#6805 Create Resource “an-introduction-to-accessibility”
  content/resources/an-introduction-to-accessibility.md
Labels: Content: Resource, netlify-cms/pending_publish

#6832 Create Resource “an-introduction-to-structured-content”
  content/resources/an-introduction-to-structured-content.md
Labels: Content: Redirects, netlify-cms/pending_publish

#6836 test 2nd alias intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Resource, Content: Redirects

#6841 Create Image upload “content-uploads-_inbox-2023-uswds-monthly-call-nov-title-card-png”
  data/images/2023-uswds-monthly-call-nov-title-card.yml
Labels: Content: Images

#6843 Update an-introduction-to-accessibility.md
  content/resources/an-introduction-to-accessibility.md
Labels: Content: Resource

#6838 Update intro-accessibility.md
  content/resources/intro-accessibility.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6844 Update 2017-06-13-fedramp-5th-anniversary.md
  content/news/2017/06/2017-06-13-fedramp-5th-anniversary.md
Labels: Bug: Content Cleanup, Content: Blog post

#6837 Fix "social share" links on sidebar
  themes/digital.gov/layouts/partials/core/get_sharetools.html
Labels: Dev: frontend

#6847 Update 2 links required-web-content-and-links.md
  content/resources/required-web-content-and-links.md
Labels: Content: Resource, Bug: Content Cleanup

#6848 Create Source “source_citizenscience-gov”
  content/sources/source_citizenscience-gov.md
Labels: netlify-cms/pending_publish, Content: Source

#6849 2 imgs CitSci source
  static/logos/citizenscience-icon.png
  static/logos/citizenscience-logo.png
Labels: Content: Images

#6845 Create Blog Post “2023/11/2023-11-06-advanced-section-508-compliance-testing-moving-beyond-automated-testing-and-screen-readers”
  content/news/2023/11/2023-11-06-advanced-section-508-compliance-testing-moving-beyond-automated-testing-and-screen-readers.md
Labels: Content: Blog post

#6852 2 imgs for citsci src
  static/logos/citizensciencegov-icon.png
  static/logos/citizensciencegov-logo.png
Labels: Content: Images, Content: Source

#6817 Update federal-social-media-accessibility-toolkit-hackpad.md
  content/resources/federal-social-media-accessibility-toolkit-hackpad.md
Labels: Bug: Content Cleanup, Bug: broken links

#6842 update topic pages to the new template
  content/topics/plain-language/_index.md
  content/topics/trust/_index.md
Labels: Content: Topics

#6857 Create Blog Post “2023/11/2023-11-06-virtual-event-2023-federal-customer-experience-cx-summit”
  content/news/2023/11/2023-11-06-virtual-event-2023-federal-customer-experience-cx-summit.md
Labels: Content: Blog post, netlify-cms/draft

#6858 Create Author “carlos-alvarado/_index”
  content/authors/carlos-alvarado/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6860 Create Image upload “content-uploads-_inbox-dynamic-ux-career-path-lines-horizon-sylverarts-istock-getty-images-1409312484-png”
  data/images/dynamic-ux-career-path-lines-horizon-sylverarts-istock-getty-images-1409312484.yml
Labels: Content: Images, netlify-cms/pending_publish

#6859 Create Image upload “content-uploads-_inbox-screen-at-fda-by-doh-ho-suh-library-of-congress-photo-carol-m-highsmith-jpg”
  data/images/screen-at-fda-by-doh-ho-suh-library-of-congress-photo-carol-m-highsmith.yml
Labels: Content: Images, netlify-cms/pending_publish

#6862 Create Author “natalie-buda-smith/_index”
  content/authors/natalie-buda-smith/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6863 Create Author “jaime-kern/_index”
  content/authors/jaime-kern/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6864 Create Author “jenn-noinaj/_index”
  content/authors/jenn-noinaj/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6861 Create Blog Post “2023/11/2023-11-07-cultivating-a-dynamic-career-in-user-experience”
  content/news/2023/11/2023-11-07-cultivating-a-dynamic-career-in-user-experience.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6816 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Bug: Content Cleanup, Bug: broken links

#6865 Update service_us-digital-registry.md
  content/services/service_us-digital-registry.md
Labels: Content: Redirects, Content: Tools and Services, Content: Topics

#6854 Create Community “mindful-fed”
  content/communities/mindful-fed.md
Labels: Content: Communities, netlify-cms/draft

#6867 Create Blog Post “2023/11/2023-11-08-speaking-your-language-usagov-outreach-approach-to-bilingual-content”
  content/news/2023/11/2023-11-08-speaking-your-language-usagov-outreach-approach-to-bilingual-content.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6868 replace code with URL
  content/about/lost-and-found-mapping-page.md
Labels: Bug: Content Cleanup, Content: General site

#6881 Correct summary text for resource page
  content/resources/an-introduction-to-design.md
Labels: Content: Resource, Bug: Content Cleanup

#6880 Fix summary for Intro to design in front matter
  content/topics/design/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6882 update 2 topic tags - remove 2, add 1
  content/resources/privacy-preserving-collaboration-using-cryptography.md
Labels: Content: Events, Content: Resource, Bug: Content Cleanup

#6879 Create Blog Post “2023/11/2023-11-13-creating-a-functional-inventory-database-for-website-content-audits”
  content/news/2023/11/2023-11-13-creating-a-functional-inventory-database-for-website-content-audits.md
Labels: Content: Blog post

#6885 Update 2015-11-18-the-data-briefing-innovating-health-data-at-the-hhs…
  content/news/2015/11/2015-11-18-the-data-briefing-innovating-health-data-at-the-hhs-idea-lab.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6883 Add aliases for ESF-15s to main Resources page Update _index.md
  content/resources/_index.md
Labels: Content: Resource, Content: Redirects

#6886 Archive with expirydate hurricane-idalia-guidance-for-us-government.md
  content/resources/hurricane-idalia-guidance-for-us-government.md
Labels: Content: Resource, Archive

#6887 add expirydate to front matter hawaii-wildfires-guidance-for-us-gover…
  content/resources/hawaii-wildfires-guidance-for-us-government.md
Labels: Content: Resource, Archive

#6888 turn off two 2023 ESF alerts
  data/sitewide_alert.yml
Labels: Content: Resource

#6884 Create Event “2023/11/2023-11-13-uswds-monthly-call-november-2023”
  content/events/2023/11/2023-11-13-uswds-monthly-call-november-2023.md
Labels: Content: Events

#6804 Update 2023-10-11-uswds-monthly-call-october-2023.md
  content/events/2023/10/2023-10-11-uswds-monthly-call-october-2023.md
Labels: Content: Events

#6890 Update 2012-07-12-bia-wikithon.md
  content/news/2012/07/2012-07-12-bia-wikithon.md
Labels: Bug: Content Cleanup, Content: Blog post

#6891 Update 2012-10-15-office-of-natural-resources-revenue-usability-case-…
  content/news/2012/10/2012-10-15-office-of-natural-resources-revenue-usability-case-study.md
Labels: Bug: Content Cleanup, Content: Blog post

#6892 Update 2016-11-14-hualapai-public-safety-meet-old-and-new-challenges-…
  content/news/2016/11/2016-11-14-hualapai-public-safety-meet-old-and-new-challenges-through-technology.md
Labels: Bug: Content Cleanup, Content: Blog post

#6893 Update 2012-07-12-bia-wikithon.md
  content/news/2012/07/2012-07-12-bia-wikithon.md
Labels: Bug: Content Cleanup, Content: Blog post

#6894 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6889 Update 2023-10-31-who-is-controlling-your-control-system.md
  content/news/2023/10/2023-10-31-who-is-controlling-your-control-system.md
Labels: Bug: Content Cleanup, Content: Blog post

#6895 curate accessibility topic page
  content/topics/accessibility/_index.md
Labels: Content: Topics

#6902 fix url in comment
  content/communities/it-accessibility-section-508.md
Labels: Content: Resource, Bug: Content Cleanup

#6905 Rename intro-accessibility.md to advanced-accessibility.md
  content/resources/advanced-accessibility.md
Labels: Content: Resource, Bug: Content Cleanup

#6910 Create Image upload “content-uploads-_inbox-analysis-data-kpi-metrics-flat-icons-pressureua-istock-getty-images-916567940-png”
  data/images/analysis-data-kpi-metrics-flat-icons-pressureua-istock-getty-images-916567940.yml
Labels: Content: Images, netlify-cms/pending_publish

#6912 Update contact-center-operation-and-management.md
  content/resources/contact-center-operation-and-management.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6913 Update contact-center-technologies.md
  content/resources/contact-center-technologies.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6914 Update contact-center-guidelines.md
  content/resources/contact-center-guidelines.md
Labels: Content: Resource, Bug: Content Cleanup

#6915 Update _index.md
  content/authors/jessica-dunbar/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#6920 Update essential list _index.md
  content/topics/accessibility/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6909 Create Blog Post “2023/11/2023-11-14-defining-benchmarks-and-targets-for-intranet-kpis”
  content/news/2023/11/2023-11-14-defining-benchmarks-and-targets-for-intranet-kpis.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6923 Create Source “source_plain-language”
  content/sources/source_plain-language.md
Labels: netlify-cms/pending_publish, Content: Source

#6924 Update plainlanguage-gov.md
  content/resources/plainlanguage-gov.md
Labels: Content: Resource, Bug: Content Cleanup

#6926 Create Resource “plainlanguage-gov”
  content/resources/plainlanguage-gov.md
Labels: Content: Resource, netlify-cms/pending_publish

#6927 Change featured resource on a11y tc
  content/topics/accessibility/_index.md
Labels: Content: Topics, Bug: broken links

#6873 Sidebar updates - Section Removal and Spacing Clean Up
  themes/digital.gov/layouts/partials/core/get_related.html
Labels: Dev: frontend

#6908 Create Topic “domain-management/_index”
  content/topics/domain-management/_index.md
Labels: Content: Topics, netlify-cms/pending_publish

#6906 Convert content strategy topic page to topic collection
  content/topics/content-strategy/_index.md
Labels: Content: Topics

#6930 Convert user experience topic page to topic collection
  content/topics/user-experience/_index.md
Labels: Content: Topics

#6931 Update 2022-09-21-making-infrastructure-less-invisible.md
  content/news/2022/09/2022-09-21-making-infrastructure-less-invisible.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6933 Update 2017-01-19-automatic-https-enforcement-for-new-executive-branc…
  content/news/2017/01/2017-01-19-automatic-https-enforcement-for-new-executive-branch-gov-domains.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6934 Update 2017-04-12-dotgov-domain-registration-program-to-provide-https…
  content/news/2017/04/2017-04-12-dotgov-domain-registration-program-to-provide-https-preloading-in-may.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6932 Update service_dotgov.md
  content/services/service_dotgov.md
Labels: Content: Tools and Services, Bug: Content Cleanup, Content: Topics

#6935 Update 2018-10-29-gsa-steps-up-security-for-dotgov.md
  content/news/2018/10/2018-10-29-gsa-steps-up-security-for-dotgov.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6929 Convert domain management topic page to topic collection
  content/topics/domain-management/_index.md
Labels: Content: Topics

#6936 reformat list top-10-best-practices-for-multilingual-websites.md
  content/resources/top-10-best-practices-for-multilingual-websites.md
Labels: Content: Resource, Bug: Content Cleanup

#6904 Convert Multilingual topic page to topic collection
  content/topics/multilingual/_index.md
Labels: Content: Topics

#6939 Update guide-create-mobile-friendly-websites.md
  content/resources/guide-create-mobile-friendly-websites.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6938 Update 2014-07-29-trends-on-tuesday-avoid-the-app-graveyard.md
  content/news/2014/07/2014-07-29-trends-on-tuesday-avoid-the-app-graveyard.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6937 Create File upload “content-uploads-_inbox-uswds-monthly-call-november-2023-pptx”
  data/files/uswds-monthly-call-november-2023.yml
Labels: Content: Other files

#6903 Convert mobile topic page to topic collection
  content/topics/mobile/_index.md
Labels: Content: Topics

#6941 Update 2023-11-13-uswds-monthly-call-november-2023.md
  content/events/2023/11/2023-11-13-uswds-monthly-call-november-2023.md
Labels: Content: Events

#6944 fix headers mobile-sow-and-developer-qualifications.md
  content/resources/mobile-sow-and-developer-qualifications.md
Labels: Content: Resource, Bug: Content Cleanup

#6898 Convert deia topic page to topic collection
  content/topics/diversity-equity-inclusion-accessibility-deia/_index.md
Labels: Content: Topics

#6943 Update _index.md
  content/topics/mobile/_index.md
Labels: Content: Topics

#6945 add topics to cop
  content/communities/multilingual.md
Labels: Content: Communities, Bug: Content Cleanup, Content: Topics

#6946 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Content: Topics

#6947 shorten topic title Update _index.md
  content/topics/diversity-equity-inclusion-accessibility-deia/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6953 source imgs for congress logo
  static/logos/congressgov-icon.png
  static/logos/congressgov-logo.png
Labels: Content: Images, Content: Source

#6951 Create Resource “m-23-10-the-registration-and-use-of-gov-domains-in-the-federal-government”
  content/resources/m-23-10-the-registration-and-use-of-gov-domains-in-the-federal-government.md
Labels: Content: Resource, netlify-cms/pending_publish

#6952 Create Resource “dotgov-online-trust-in-government-act-of-2020”
  content/resources/dotgov-online-trust-in-government-act-of-2020.md
Labels: Content: Resource, netlify-cms/pending_publish

#6955 Create Blog Post “2023/11/2023-11-20-infrastructure-as-a-public-service”
  content/news/2023/11/2023-11-20-infrastructure-as-a-public-service.md
Labels: Content: Blog post, netlify-cms/draft

#6956 Create Blog Post “2023/11/2023-11-20-an-update-on-our-transition”
  content/news/2023/11/2023-11-20-an-update-on-our-transition.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6957 Create Resource “moving-to-gov”
  content/resources/moving-to-gov.md
Labels: Content: Resource, netlify-cms/pending_publish

#6958 Update dotgov-online-trust-in-government-act-of-2020.md
  content/resources/dotgov-online-trust-in-government-act-of-2020.md
Labels: Content: Resource, Bug: Content Cleanup

#6960 Update source_congress-gov.md
  content/sources/source_congressgov.md
Labels: Bug: Content Cleanup, Content: Source

#6962 update congress src front matter
  content/sources/source_congressgov.md
Labels: Bug: Content Cleanup, Content: Source

#6963 Update dotgov-online-trust-in-government-act-of-2020.md
  content/resources/dotgov-online-trust-in-government-act-of-2020.md
Labels: Content: Resource, Bug: Content Cleanup

#6964 Create Image upload “content-uploads-_inbox-https-padlock-weerapatkiatdumrong-istock-thinkstock-520737069-comp-png”
  data/images/https-padlock-weerapatkiatdumrong-istock-thinkstock-520737069-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6965 Update 2017-04-12-dotgov-domain-registration-program-to-provide-https…
  content/news/2017/04/2017-04-12-dotgov-domain-registration-program-to-provide-https-preloading-in-may.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#6967 Create Image upload “content-uploads-_inbox-dot-gov-tld-wood-block-marekuliasz-istock-gettyimages-476434043-1-comp-png”
  data/images/dot-gov-tld-wood-block-marekuliasz-istock-gettyimages-476434043-1-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6968 add feat img 2017-01-19-automatic-https-enforcement-for-new-executive…
  content/news/2017/01/2017-01-19-automatic-https-enforcement-for-new-executive-branch-gov-domains.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#6969 update link code
  content/news/2015/07/2015-07-22-how-the-nationals-customer-experience-principles-can-be-a-home-run-for-agencies.md
  content/news/2015/07/2015-07-30-community-rock-star-round-up.md
  content/news/2015/07/2015-07-31-new-kid-in-town-the-customer-experience-community.md
  content/news/2015/09/2015-09-11-how-will-you-celebrate-customer-service-week.md
  content/news/2015/09/2015-09-17-using-customer-feedback-to-improve-healthcare-gov.md
  content/news/2015/11/2015-11-20-ux-vs-cx-whats-the-dif-part-2.md
  content/news/2015/12/2015-12-07-cx-data-in-action-series-case-study-1.md
  content/news/2015/12/2015-12-09-connecting-with-the-social-and-behavioral-sciences-team.md
  content/news/2015/12/2015-12-14-government-customer-service-update-webinar-recap.md
  content/news/2015/12/2015-12-30-cx-community-year-one.md
  content/news/2016/03/2016-03-18-creating-a-culture-of-engagement-webinar-recap.md
  content/news/2017/01/2017-01-11-digitalgov-university-in-review-2016-training-trends.md
Labels: Bug: Content Cleanup

#6971 Update 2015-07-22-how-the-nationals-customer-experience-principles-ca…
  content/news/2015/07/2015-07-22-how-the-nationals-customer-experience-principles-can-be-a-home-run-for-agencies.md
Labels: Bug: Content Cleanup

#6972 Update 2015-09-17-using-customer-feedback-to-improve-healthcare-gov.md
  content/news/2015/09/2015-09-17-using-customer-feedback-to-improve-healthcare-gov.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6973 Update 2015-11-20-ux-vs-cx-whats-the-dif-part-2.md
  content/news/2015/11/2015-11-20-ux-vs-cx-whats-the-dif-part-2.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#6974 Create Blog Post “2023/11/2023-11-21-the-cfpb-language-access-plan-for-consumers-with-limited-english-proficiency”
  content/news/2023/11/2023-11-21-the-cfpb-language-access-plan-for-consumers-with-limited-english-proficiency.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6899 Convert analytics topic page to topic collection
  content/topics/analytics/_index.md
Labels: :hand: HOLD, Content: Topics

#6901 Convert governance topic page to topic collection
  content/topics/governance/_index.md
Labels: :hand: HOLD, Content: Topics

#6897 Convert search topic page to topic collection
  content/topics/search/_index.md
Labels: :hand: HOLD, Content: Topics

#6896 Convert digital service delivery topic page to topic collection
  content/topics/digital-service-delivery/_index.md
Labels: Content: Topics

#6834 Added primary_image for Open Graph
  content/topics/design/_index.md
Labels: Dev: frontend

#6976 Create Topic “diversity-equity-and-inclusion/_index”
  content/topics/diversity-equity-and-inclusion/_index.md
Labels: Content: Topics, netlify-cms/draft

#6983 add deia alias Update _index.md
  content/topics/diversity-equity-and-inclusion/_index.md
Labels: Content: Redirects, Content: Topics

#6985 redirect to new dei tc Update _index.md
  content/topics/diversity-equity-inclusion-accessibility-deia/_index.md
Labels: Content: Redirects, Content: Topics

#6986 remove alias Update _index.md
  content/topics/diversity-equity-and-inclusion/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6987 change fm weight comment
  content/topics/diversity-equity-and-inclusion/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6988 Update _index.md
  content/topics/diversity-equity-inclusion-accessibility-deia/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6989 Update _index.md
  content/topics/diversity-equity-and-inclusion/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6991 Update nara-guidance-on-managing-social-media-records.md
  content/resources/nara-guidance-on-managing-social-media-records.md
Labels: Content: Resource, Bug: Content Cleanup

#6990 convert social media topic to tc Update _index.md
  content/topics/social-media/_index.md
Labels: Content: Topics

#6992 Create Topic “software-engineering/_index”
  content/topics/software-engineering/_index.md
Labels: Content: Topics, netlify-cms/pending_publish

#6993 Update 2017-03-31-engineering-the-chaski-relay-a-touchscreen-game-at-…
  content/news/2017/03/2017-03-31-engineering-the-chaski-relay-a-touchscreen-game-at-the-national-museum-of-american-indian.md
Labels: Bug: Content Cleanup, Content: Blog post

#6994 Update 2022-11-25-making-impact-at-scale-software-engineering-in-the-…
  content/news/2022/11/2022-11-25-making-impact-at-scale-software-engineering-in-the-federal-government.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6996 Update 2022-03-07-from-fellowship-to-full-time-how-a-cfpb-software-en…
  content/news/2022/03/2022-03-07-from-fellowship-to-full-time-how-a-cfpb-software-engineer-helped-protect-consumers-and-built-a-career-in-civic-tech.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6997 Update 2017-07-03-vets-gov-a-modern-software-development-environment-…
  content/news/2017/07/2017-07-03-vets-gov-a-modern-software-development-environment-in-government.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6998 Create Image upload “content-uploads-_inbox-software-developer-augemented-reality-screen-nicoelnino-istock-gettyimages-844536006-png”
  data/images/software-developer-augemented-reality-screen-nicoelnino-istock-gettyimages-844536006.yml
Labels: Content: Images, netlify-cms/pending_publish

#6995 Update 2017-09-21-managing-custom-software-development-in-government-…
  content/news/2017/09/2017-09-21-managing-custom-software-development-in-government-when-youre-not-a-software-engineer.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6999 Update 2022-09-16-the-18f-engineering-sandwich-for-cloud-based-web-ap…
  content/news/2022/09/2022-09-16-the-18f-engineering-sandwich-for-cloud-based-web-apps.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#7000 Update an-introduction-to-ato.md
  content/resources/an-introduction-to-ato.md
Labels: Content: Resource, Bug: Content Cleanup, Content: Topics

#7001 Update 2018-07-30-emerging-technology-leadership-series-mina-hanna-ai…
  content/events/2018/07/2018-07-30-emerging-technology-leadership-series-mina-hanna-ai-for-government-services.md
Labels: Content: Events, Content: Video + YouTube, Bug: Content Cleanup, Bug: broken links

#7002 Update 2016-11-10-nasa-addresses-omb-m-16-21-federal-source-code-poli…
  content/news/2016/11/2016-11-10-nasa-addresses-omb-m-16-21-federal-source-code-policy.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#7003 Update 2017-09-21-managing-custom-software-development-in-government-…
  content/news/2017/09/2017-09-21-managing-custom-software-development-in-government-when-youre-not-a-software-engineer.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#7004 Update 2018-06-07-free-open-source-software-in-government-with-codemi…
  content/events/2018/06/2018-06-07-free-open-source-software-in-government-with-codemil.md
Labels: Content: Events, Content: Video + YouTube, Bug: Content Cleanup, Content: Topics

#7005 Update 2020-10-08-federal-source-code-summit-building-coding.md
  content/events/2020/10/2020-10-08-federal-source-code-summit-building-coding.md
Labels: Bug: Content Cleanup, Content: Topics

#7006 Update 2020-06-23-air-force-cool-18f-partnership-flight.md
  content/events/2020/06/2020-06-23-air-force-cool-18f-partnership-flight.md
Labels: Bug: Content Cleanup, Content: Topics

#7007 Update 2019-12-03-devops-holiday-special-event-nicolas-chaillan.md
  content/events/2019/12/2019-12-03-devops-holiday-special-event-nicolas-chaillan.md
Labels: Content: Events, Content: Video + YouTube, Bug: Content Cleanup, Content: Topics

#7008 Update 2019-11-08-basic-scrum-ii.md
  content/events/2019/11/2019-11-08-basic-scrum-ii.md
Labels: Content: Events, Bug: Content Cleanup, Content: Topics

#7009 Update 2019-11-08-basic-scrum-i.md
  content/events/2019/11/2019-11-08-basic-scrum-i.md
Labels: Content: Events, Bug: Content Cleanup, Content: Topics

#7010 Update 2019-11-04-foundations-agile-i.md
  content/events/2019/11/2019-11-04-foundations-agile-i.md
Labels: Content: Events, Bug: Content Cleanup, Content: Topics

#7011 Update 2019-11-05-foundations-agile-ii.md
  content/events/2019/11/2019-11-05-foundations-agile-ii.md
Labels: Content: Events, Bug: Content Cleanup, Content: Topics

#7012 Update 2019-11-08-intro-kanban-i.md
  content/events/2019/11/2019-11-08-intro-kanban-i.md
Labels: Content: Events, Bug: Content Cleanup, Content: Topics

#7013 Update 2019-11-08-intro-kanban-ii.md
  content/events/2019/11/2019-11-08-intro-kanban-ii.md
Labels: Content: Events, Bug: Content Cleanup, Content: Topics

#7014 Update 2018-06-26-how-one-team-making-transition-agile.md
  content/news/2018/06/2018-06-26-how-one-team-making-transition-agile.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#7015 Update service_codegov.md
  content/services/service_codegov.md
Labels: Content: Tools and Services, Bug: Content Cleanup, Content: Topics

#6982 Update OMB list of memos
  content/resources/omb-memos-circulars-executive-orders-and-other-policies.md
Labels: Content: 21st Century IDEA

#7016 Update 2016-04-28-agile-transformation-at-census.md
  content/news/2016/04/2016-04-28-agile-transformation-at-census.md
Labels: Bug: Content Cleanup, Content: Blog post

#7017 remove text in img credit line
  data/images/agile-project-planning.yml
Labels: Content: Images, Bug: Content Cleanup

#7019 Update 2018-01-18-section-508-refresh.md
  content/news/2018/01/2018-01-18-section-508-refresh.md
Labels: Content: Topics, Content: Blog post

#6948 Huskey Precommit Script Update
  .husky/pre-commit
Labels: Dev: frontend
