Repository GSA/digitalgov.gov, pull requests merged in 2023-12, with the labels that each got.

#7065 Create Image upload “content-uploads-_inbox-nlp-cx-customer-experience-large-iceberg-in-water-simon-lee-unsplash-comp-png”
  data/images/nlp-cx-customer-experience-large-iceberg-in-water-simon-lee-unsplash-comp.yml
Labels: Content: Images, netlify-cms/draft

#7067 Create Image upload “content-uploads-_inbox-green-structured-unstructured-data-iceberg-chavapong-prateep-na-thalang-istock-getty-images-1353745656-png”
  data/images/green-structured-unstructured-data-iceberg-chavapong-prateep-na-thalang-istock-getty-images-1353745656.yml
Labels: Content: Images, netlify-cms/pending_publish

#7069 Create Author “isabel-izzy-metzger/_index”
  content/authors/isabel-izzy-metzger/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#7070 Create Blog Post “2023/12/2023-12-01-amplifying-customer-voices”
  content/news/2023/12/2023-12-01-amplifying-customer-voices.md
Labels: Content: Blog post, netlify-cms/pending_publish

#7072 Create Image upload “content-uploads-_inbox-green-structured-unstructured-data-iceberg-chavapong-prateep-na-thalang-istock-getty-images-1353745656-b-png”
  data/images/green-structured-unstructured-data-iceberg-chavapong-prateep-na-thalang-istock-getty-images-1353745656-b.yml
Labels: Content: Images, netlify-cms/pending_publish

#7074 wrong files
  content/news/2023/12/2023-12-01-amplifying-customer-voices.md
  data/images/green-structured-unstructured-data-iceberg-chavapong-prateep-na-thalang-istock-getty-images-1353745656.yml
Labels: Bug: Content Cleanup

#7071 Add a resource to DEIA topic essential knowledge
  content/topics/diversity-equity-and-inclusion/_index.md
Labels: Content: Topics

#7068 Update 2023-09-12-cultivating-a-dynamic-career-in-ux.md
  content/events/2023/09/2023-09-12-cultivating-a-dynamic-career-in-ux.md
Labels: Content: Events, Content: Video + YouTube

#7073 Update federal-web-council.md
  content/resources/federal-web-council.md
Labels: Content: Resource, Bug: Content Cleanup

#7079 Update screen-at-fda-by-doh-ho-suh-library-of-congress-photo-carol-m-…
  data/images/screen-at-fda-by-doh-ho-suh-library-of-congress-photo-carol-m-highsmith.yml
Labels: Content: Images, Bug: Content Cleanup

#7077 small edit to mission statement
  content/about/_index.md
Labels: Content: General site

#7022 Update M-23-22 links
  content/about/_index.md
  content/guides/dap/_index.md
  content/guides/dap/add-your-site-dap.md
  content/guides/dap/common-questions-about-dap.md
  content/guides/mobile-principles/_index.md
  content/news/2016/11/2016-11-18-digging-deep-using-the-core-model.md
  content/news/2018/01/2018-01-16-making-customer-satisfaction-data-actionable-at-peace-corps.md
  content/news/2018/01/2018-01-18-section-508-refresh.md
  content/news/2023/01/2023-01-31-9-web-resolutions-to-jump-start-2023.md
  content/news/2023/09/2023-09-12-from-pageviews-to-progress.md
  content/resources/code-of-federal-regulations-cfr-parts-1220-1238.md
  content/resources/connected-government-act.md
  content/resources/federal-web-council.md
  content/resources/gov-domain-registration-process-final-rule.md
  content/resources/guidelines-for-secure-use-of-social-media.md
  content/resources/guidelines-on-securing-public-web-servers.md
  content/resources/introduction-to-design-systems.md
  content/resources/overview-of-the-privacy-act-of-1974-2015-edition.md
  content/resources/quick-reference-to-web-content-accessibility-guidelines-2-0-requirements.md
  content/services/service_us-digital-registry.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links, Content: Blog post

#7081 add slugs to front matter
  content/resources/overview-of-the-privacy-act-of-1974-2015-edition.md
  content/resources/quick-reference-to-web-content-accessibility-guidelines-2-0-requirements.md
Labels: Content: Resource, Bug: Content Cleanup

#7076 Updated alt text for topics OG images metadata
  data/images/topics-og-primary-image.yml
Labels: Dev: frontend, Content: Images

#7084 Create Image upload “content-uploads-_inbox-diversity-inclusion-puzzle-designer491-istock-getty-images-1530555537-comp-png”
  data/images/diversity-inclusion-puzzle-designer491-istock-getty-images-1530555537-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#7106 Update 2013-12-31-trends-on-tuesday-federal-agency-mobile-gov-trends-…
  content/news/2013/12/2013-12-31-trends-on-tuesday-federal-agency-mobile-gov-trends-in-2013.md
Labels: Bug: Content Cleanup, Content: Blog post

#7107 Update 2016-01-27-the-data-briefing-improving-the-federal-government-…
  content/news/2016/01/2016-01-27-the-data-briefing-improving-the-federal-government-through-mobile-apps.md
Labels: Bug: Content Cleanup, Content: Blog post

#7109 Update 2012-02-19-99992.md
  content/news/2012/02/2012-02-19-99992.md
Labels: Bug: Content Cleanup, Content: Blog post

#7113 Create Image upload “content-uploads-_inbox-gsa-fine-arts-stats-png”
  data/images/gsa-fine-arts-stats.yml
Labels: Content: Images, netlify-cms/pending_publish

#7114 Create Image upload “content-uploads-_inbox-gsa-fine-arts-process-png”
  data/images/gsa-fine-arts-process.yml
Labels: Content: Images, netlify-cms/pending_publish

#7115 Create Image upload “content-uploads-_inbox-gsa-fine-arts-figure-1-prototypes-png”
  data/images/gsa-fine-arts-figure-1-prototypes.yml
Labels: Content: Images, netlify-cms/pending_publish

#7116 Create Image upload “content-uploads-_inbox-gsa-fine-arts-figure-2-prototype-and-final-png”
  data/images/gsa-fine-arts-figure-2-prototype-and-final.yml
Labels: Content: Images, netlify-cms/pending_publish

#7118 Update https-padlock-weerapatkiatdumrong-istock-thinkstock-520737069-…
  data/images/https-padlock-weerapatkiatdumrong-istock-thinkstock-520737069-comp.yml
Labels: Content: Images, Bug: Content Cleanup

#7119 Create File upload “content-uploads-_inbox-gsa-service-delivery_template_synthesis-user-types-docx”
  data/files/gsa-service-delivery-template-synthesis-user-types.yml
Labels: netlify-cms/pending_publish, Content: Other files

#7120 Create Blog Post “2023/12/2023-12-09-making-gsa-public-art-collection-more-accessible”
  content/news/2023/12/2023-12-09-making-gsa-public-art-collection-more-accessible.md
Labels: Content: Blog post, netlify-cms/pending_publish

#7121 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Content: Redirects

#7122 Update implications-of-recent-web-technologies-for-nara-web-guidance.md
  content/resources/implications-of-recent-web-technologies-for-nara-web-guidance.md
Labels: Content: Resource, Archive

#7126 remove to update
  data/images/gsa-fine-arts-process.yml
  data/images/gsa-fine-arts-stats.yml
Labels: Content: Images, Bug: Content Cleanup

#7127 Create Blog Post “2023/12/2023-12-11-extended-comment-period-on-draft-fedramp-memo”
  content/news/2023/12/2023-12-11-extended-comment-period-on-draft-fedramp-memo.md
Labels: Content: Blog post, netlify-cms/pending_publish

#7129 Create Image upload “content-uploads-_inbox-gsa-fine-arts-process-png”
  data/images/gsa-fine-arts-process.yml
Labels: Content: Images, netlify-cms/pending_publish

#7130 Create Image upload “content-uploads-_inbox-gsa-fine-arts-stats-png”
  data/images/gsa-fine-arts-stats.yml
Labels: Content: Images, netlify-cms/pending_publish

#7098 Update 2023-11-13-uswds-monthly-call-november-2023.md
  content/events/2023/11/2023-11-13-uswds-monthly-call-november-2023.md
Labels: Content: Events

#7131 Update 2023-12-09-making-gsa-public-art-collection-more-accessible.md
  content/news/2023/12/2023-12-09-making-gsa-public-art-collection-more-accessible.md
Labels: Bug: Content Cleanup, Content: Blog post

#7097 Update links on connected government act
  content/resources/connected-government-act.md
Labels: Content: Resource

#7099 Create Author “anne-petersen/_index”
  content/authors/anne-petersen/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#7134 Correct typo in case studies
  content/news/2023/11/2023-11-28-part-1-delivering-on-21st-century-idea-a-case-study-from-the-gsa-smartpay-team.md
  content/news/2023/11/2023-11-29-part-2-delivering-on-21st-century-idea-a-case-study-from-the-gsa-smartpay-team.md
  content/news/2023/11/2023-11-29-part-3-delivering-on-21st-century-idea-a-case-study-from-the-gsa-smartpay-team.md
Labels: Content: Blog post

#7142 correct slug for location
  content/news/2012/02/2012-02-19-99992.md
Labels: Bug: Content Cleanup, Content: Blog post

#7143 Create Blog Post “2023/12/2023-12-13-less-is-more-improving-the-public-web-search-experience-with-filters”
  content/news/2023/12/2023-12-13-less-is-more-improving-the-public-web-search-experience-with-filters.md
Labels: Content: Blog post, netlify-cms/pending_publish

#7144 Update and rename 2012-02-19-99992.md to 2012-02-19-social-data-unloc…
  content/news/2012/02/2012-02-19-social-data-unlocked-next-generation-services.md
Labels: Bug: Content Cleanup, Content: Blog post

#7083 Create Resource “an-introduction-to-inclusion”
  content/resources/an-introduction-to-inclusion.md
Labels: Content: Resource, netlify-cms/pending_publish

#7139 Fo patch 1
  content/resources/style-guides-by-government-agencies.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#7151 Update an-introduction-to-inclusion.md
  content/resources/an-introduction-to-inclusion.md
Labels: Content: Resource, Bug: Content Cleanup

#7153 Update an-introduction-to-inclusion.md
  content/resources/an-introduction-to-inclusion.md
Labels: Content: Resource, Bug: Content Cleanup

#7154 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Bug: Content Cleanup

#7155 Update nara-guidance-on-managing-social-media-records.md
  content/resources/nara-guidance-on-managing-social-media-records.md
Labels: Content: Resource, Bug: Content Cleanup, Archive

#7156 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Content: Redirects

#7158 Fo updatelinks 1
  content/events/2023/11/2023-11-13-uswds-monthly-call-november-2023.md
Labels: Content: Events, Bug: Content Cleanup, Bug: broken links

#7157 Create Resource “an-introduction-to-content”
  content/resources/an-introduction-to-content.md
Labels: Content: Resource, netlify-cms/pending_publish

#7159 Update omb-circular-a-130.md
  content/resources/omb-circular-a-130.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#7162 Create Blog Post “2023/12/2023-12-19-amplifying-customer-voices”
  content/news/2023/12/2023-12-19-amplifying-customer-voices.md
Labels: Content: Blog post, netlify-cms/pending_publish

#7164 Create Blog Post “2023/12/2023-12-20-managing-a-high-performing-dream-team-in-the-federal-government”
  content/news/2023/12/2023-12-20-managing-a-high-performing-dream-team-in-the-federal-government.md
Labels: Content: Blog post

#7166 Create Image upload “content-uploads-_inbox-u-s-code-books-2012-edition-coolcaesar-cc-by-4-jpg”
  data/images/u-s-code-books-2012-edition-coolcaesar-cc-by-4.yml
Labels: Content: Images, netlify-cms/pending_publish

#7165 Create Image upload “content-uploads-_inbox-united-states-code-2012-edition-books-coolcaesar-cc-by-4-jpg”
  data/images/united-states-code-2012-edition-books-coolcaesar-cc-by-4.yml
Labels: Content: Images, netlify-cms/pending_publish

#7163 Update 2023-12-19-amplifying-customer-voices.md
  content/news/2023/12/2023-12-19-amplifying-customer-voices.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#7055 Create Resource “an-introduction-to-domain-management”
  content/resources/an-introduction-to-domain-management.md
Labels: Content: Resource, netlify-cms/pending_publish

#7100 Create Resource “an-introduction-to-privacy”
  content/resources/an-introduction-to-privacy.md
Labels: Content: Resource, netlify-cms/pending_publish

#7132 Create Resource “an-introduction-to-security”
  content/resources/an-introduction-to-security.md
Labels: Content: Resource, netlify-cms/pending_publish

#7169 Create Blog Post “2023/12/2023-12-22-omb-releases-digital-accessibility-guidance-to-ensure-all-americans-have-ability-to-access-critical-government-resources”
  content/news/2023/12/2023-12-22-omb-releases-digital-accessibility-guidance-to-ensure-all-americans-have-ability-to-access-critical-government-resources.md
Labels: Content: Events

#7167 Update homepage featured resources
  content/guides/hcd/_index.md
  content/resources/an-introduction-to-analytics.md
  content/resources/an-introduction-to-digital-governance.md
  content/resources/an-introduction-to-domain-management.md
  content/resources/federal-it-dashboard.md
  content/resources/uswds-design-system.md
  themes/digital.gov/layouts/home.html
Labels: Content: General site

#7170 Update an-introduction-to-structured-content.md
  content/resources/an-introduction-to-structured-content.md
Labels: Content: Redirects

#7101 Update Better websites. Better government. tagline
  config.yml
  content/sources/source_digitalgov.md
  themes/digital.gov/layouts/home.html
  themes/digital.gov/src/scss/new/_resources_featured.scss
Labels: Content: General site

#7064 Move from netlify to decap package for workflow dashboard
  themes/digital.gov/static/workflow/index.html
Labels: Dev: frontend, Dev: Migration, Content: General site

#7176 Update style-guide.md
  content/about/style-guide.md
Labels: Bug: Content Cleanup, Content: General site

#7177 update links for archiving COPE blog
  content/news/2013/07/2013-07-25-why-nci-moved-to-a-structured-content-model.md
  content/news/2013/10/2013-10-30-content-management-systems-toolkit.md
  content/news/2013/12/2013-12-12-9-reasons-your-agency-should-have-a-cms.md
  content/news/2014/08/2014-08-20-top-5-reasons-to-use-government-wide-open-and-structured-content-models.md
  content/news/2015/08/2015-08-24-the-content-corner-modular-design-and-structured-content.md
  content/news/2015/10/2015-10-05-the-content-corner-content-management-system-considerations.md
  content/news/2016/01/2016-01-07-content-models-as-simple-as-pizza-pie.md
  content/news/2017/04/2017-04-07-hhs-offers-free-content-models-and-drupal-features.md
  content/news/2017/05/2017-05-10-the-data-briefing-how-to-best-prepare-federal-government-datasets-for-chatbots.md
Labels: Bug: Content Cleanup, Content: Blog post

#7178 Create Blog Post “2023/12/2023-12-28-gsa-issues-report-to-congress-highlighting-need-for-improvement-in-federal-government-section-508-compliance”
  content/news/2023/12/2023-12-28-gsa-issues-report-to-congress-highlighting-need-for-improvement-in-federal-government-section-508-compliance.md
Labels: Content: Blog post, decap-cms/pending_publish

#7179 Create Resource “fy-23-governmentwide-section-508-assessment”
  content/resources/fy-23-governmentwide-section-508-assessment.md
Labels: Content: Resource, decap-cms/pending_publish

#7180 Create Author “janis-e-burl/_index”
  content/authors/janis-e-burl/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#7181 Create Community “federal-evidence-and-evaluation”
  content/communities/federal-evidence-and-evaluation.md
Labels: Content: Communities, decap-cms/pending_publish

#7182 add uswds as 2nd cop _index.md
  content/topics/design/_index.md
Labels: Content: Topics

#7183 Add author to intro to inclusion
  content/resources/an-introduction-to-inclusion.md
Labels: Content: Authors
