Repository GSA/digitalgov.gov, pull requests merged in 2023-08, with the labels that each got.

#6372 Update title case & summaries for featured content
  content/resources/21st-century-integrated-digital-experience-act.md
  content/resources/an-introduction-github.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
  content/resources/intro-accessibility.md
  content/resources/required-web-content-and-links.md
Labels: Content: Resource, Bug: Content Cleanup

#6358 fix broken memo link
  content/resources/guidance-for-agency-use-of-third-party-websites-and-applications.md
Labels: Content: Resource, Bug: broken links

#6375 Update an-introduction-to-pronouns.md
  content/resources/an-introduction-to-pronouns.md
Labels: Content: Resource, Bug: Content Cleanup

#6378 Create Event “2023/08/2023-08-03-uswds-monthly-call-august-2023”
  content/events/2023/08/2023-08-03-uswds-monthly-call-august-2023.md
Labels: Content: Events

#6411 Update 2023-06-08-uswds-monthly-call-june-2023.md
  content/events/2023/06/2023-06-08-uswds-monthly-call-june-2023.md
Labels: Content: Events

#6413 Update 2023-02-28-the-plain-language-tie-to-translating-digital-conte…
  content/events/2023/02/2023-02-28-the-plain-language-tie-to-translating-digital-content.md
Labels: Content: Events

#6414 Update 2023-01-30-uswds-monthly-call-february-2023.md
  content/events/2023/01/2023-01-30-uswds-monthly-call-february-2023.md
Labels: Content: Events

#6415 Update 2023-01-18-increasing-public-participation-in-user-research.md
  content/events/2023/01/2023-01-18-increasing-public-participation-in-user-research.md
Labels: Content: Events

#6416 Update 2023-01-04-continuously-improve-your-website-by-using-customer…
  content/events/2023/01/2023-01-04-continuously-improve-your-website-by-using-customer-feedback-and-web-analytics-an-irs-case-study.md
Labels: Content: Events

#6417 Update 2023-08-03-uswds-monthly-call-august-2023.md
  content/events/2023/08/2023-08-03-uswds-monthly-call-august-2023.md
Labels: Content: Events, Bug: Content Cleanup

#6429 Update 2010-10-22-tell-compelling-stories-with-data-visualization.md
  content/news/2010/10/2010-10-22-tell-compelling-stories-with-data-visualization.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6430 Update 2011-06-21-making-mobile-gov-project.md
  content/news/2011/06/2011-06-21-making-mobile-gov-project.md
Labels: Bug: Content Cleanup, Content: Blog post

#6277 Update 2016-11-28-gsa-presents-grace-hopper-day-hackathon.md
  content/news/2016/11/2016-11-28-gsa-presents-grace-hopper-day-hackathon.md
Labels: Bug: Content Cleanup, Content: Blog post

#6441 Create Blog Post “2023/08/2023-08-08-4-steps-writers-and-editors-can-take-to-demonstrate-value”
  content/news/2023/08/2023-08-08-4-steps-writers-and-editors-can-take-to-demonstrate-value.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6443 Update 2023-08-08-4-steps-writers-and-editors-can-take-to-demonstrate…
  content/news/2023/08/2023-08-08-4-steps-writers-and-editors-can-take-to-demonstrate-value.md
Labels: Content: Images, Content: Blog post

#6419 HCD #1: Add Webpack for Compiling JS
  config/gulp/scripts.js
  package-lock.json
  package.json
  themes/digital.gov/layouts/_default/baseof.html
Labels: Dev: Dependencies

#6455 new DOJ source
  content/sources/source_doj.md
  static/logos/doj-icon.png
  static/logos/doj-logo.png
Labels: Content: Images, Content: Source

#6418 Create Blog Post “2023/08/2023-08-04-fact-sheet-notice-of-proposed-rulemaking-on-accessibility-of-web-information-and-services-of-state-and-local-government-entities”
  content/news/2023/08/2023-08-04-fact-sheet-notice-of-proposed-rulemaking-on-accessibility-of-web-information-and-services-of-state-and-local-government-entities.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6457 Create Blog Post “2023/08/2023-08-09-how-a-small-team-modernized-a-federal-website-to-improve-cx”
  content/news/2023/08/2023-08-09-how-a-small-team-modernized-a-federal-website-to-improve-cx.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6471 Fix front matter sources
  content/sources/source_10x.md
  content/sources/source_18f.md
  content/sources/source_aousc.md
  content/sources/source_census.md
  content/sources/source_cfpb.md
  content/sources/source_challengegov.md
  content/sources/source_cloudgov.md
  content/sources/source_codegov.md
  content/sources/source_coe.md
  content/sources/source_dap.md
  content/sources/source_datagov.md
  content/sources/source_digitalgov.md
  content/sources/source_doi-revenuedata.md
  content/sources/source_doj.md
  content/sources/source_dol.md
  content/sources/source_dotgov.md
  content/sources/source_fcc.md
  content/sources/source_fedramp.md
  content/sources/source_gao.md
  content/sources/source_gov-uk.md
  content/sources/source_gsa.md
  content/sources/source_hhs.md
  content/sources/source_logingov.md
  content/sources/source_nara.md
  content/sources/source_nih.md
  content/sources/source_open-opps.md
  content/sources/source_opm-labs.md
  content/sources/source_opm.md
  content/sources/source_performancegov.md
  content/sources/source_pif.md
  content/sources/source_pra-guide.md
  content/sources/source_searchgov.md
  content/sources/source_section508gov.md
  content/sources/source_usagov.md
  content/sources/source_usds.md
  content/sources/source_uswds.md
  content/sources/source_whitehouse.md
Labels: Bug: Content Cleanup, Content: Source

#6476 front matter update opm labs source
  content/sources/source_opm-labs.md
Labels: Bug: Content Cleanup, Content: Source

#6460 Update 2014-03-20-six-tips-for-measuring-success-in-challenge-competi…
  content/news/2014/03/2014-03-20-six-tips-for-measuring-success-in-challenge-competitions.md
Labels: Bug: Content Cleanup, Content: Blog post

#6477 Update Source “source_opm-labs”
  content/sources/source_opm-labs.md
Labels: netlify-cms/pending_publish, Content: Source

#6481 add summary
  content/news/2023/08/2023-08-09-how-a-small-team-modernized-a-federal-website-to-improve-cx.md
Labels: Bug: Content Cleanup, Content: Blog post

#6458 Update 2023-08-03-uswds-monthly-call-august-2023.md
  content/events/2023/08/2023-08-03-uswds-monthly-call-august-2023.md
Labels: Content: Events

#6488 Remove tag from 49 pages
  content/news/2013/05/2013-05-21-developer-kit.md
  content/news/2014/03/2014-03-27-u-s-customs-and-border-protection-launches-new-mobile-friendly-website.md
  content/news/2014/04/2014-04-10-department-of-treasurys-helpwithmybank-gov-goes-responsive.md
  content/news/2014/04/2014-04-17-epa-mobile-projects-update.md
  content/news/2014/05/2014-05-01-operation-predator-app-from-ice-developed-to-help-rescue-children-capture-sexual-predators.md
  content/news/2014/05/2014-05-08-cdcs-new-app-answers-the-question-can-i-eat-this.md
  content/news/2014/06/2014-06-19-dot-safercar-app-goes-android.md
  content/news/2014/06/2014-06-26-broadcasting-board-of-governors-relay-tool.md
  content/news/2014/07/2014-07-03-appy-fourth-of-july.md
  content/news/2014/07/2014-07-10-mobile-remm-app-new-physicians-aid.md
  content/news/2014/07/2014-07-31-swim-safe-this-summer-cdc-mobile-app.md
  content/news/2014/08/2014-08-14-census-pop-quiz-mobile-app-challenges-knowledge-of-state-statistics.md
  content/news/2014/08/2014-08-28-usda-app-helps-id-your-potpourri.md
  content/news/2014/09/2014-09-04-census-promotes-mobile-apps-front-and-center.md
  content/news/2014/09/2014-09-11-prepareathon-2014-disaster-preparedness-in-the-palm-of-your-hand.md
  content/news/2014/09/2014-09-18-cdc-app-aids-in-prevention-of-neonatal-disease.md
  content/news/2014/10/2014-10-02-no-more-beta-in-congress-govs-responsive-website.md
  content/news/2014/10/2014-10-09-bullying-help-prevent-and-protect-anytime-anywhere-on-any-device.md
  content/news/2014/10/2014-10-29-open-and-api-driven-federal-mobile-app-registration.md
  content/news/2014/11/2014-11-06-rail-crossing-locator-app-now-available-on-a-second-platform.md
  content/news/2015/01/2015-01-29-be-a-citizen-scientist-with-noaas-crowdmag-app.md
  content/news/2015/02/2015-02-05-focus-on-nutrition-with-dri-calculator-for-healthcare-professionals-app.md
  content/news/2015/02/2015-02-19-irs2go-app-provides-multi-symptom-relief-for-tax-anxiety.md
  content/news/2015/02/2015-02-26-keep-a-strong-job-search-game-with-usa-govs-federal-mobile-apps-directory.md
  content/news/2015/03/2015-03-05-explore-iconic-overseas-world-war-ii-sites-with-abmc-apps.md
  content/news/2015/03/2015-03-19-drugshortages-app-accelerates-public-access-to-drug-shortage-information.md
  content/news/2015/03/2015-03-26-booking-a-discount-bus-ticket-check-carrier-safety-records-with-qcmobile.md
  content/news/2015/04/2015-04-09-new-usgs-app-helps-save-the-piping-plovers.md
  content/news/2015/04/2015-04-23-checking-in-on-the-dod-mobile-apps-gallery.md
  content/news/2015/05/2015-05-14-from-startup-to-veteran-ceo-new-businessusa-app-has-you-covered.md
  content/news/2015/05/2015-05-21-start-sleuthing-with-the-great-federal-mobile-product-hunt.md
  content/news/2015/05/2015-05-28-ice-wields-smartphones-in-fight-against-child-exploitation.md
  content/news/2015/06/2015-06-04-new-coast-guard-app-streamlines-boating-safety-to-maximize-summer-fun.md
  content/news/2015/06/2015-06-11-when-catastrophe-strikes-provide-support-samhsas-disaster-response-app.md
  content/news/2015/06/2015-06-25-using-apps-for-mental-healthcare.md
  content/news/2015/07/2015-07-02-celebrating-american-history-with-federal-apps.md
  content/news/2015/07/2015-07-09-day-50-the-great-federal-mobile-product-hunt.md
  content/news/2015/07/2015-07-15-safe-travels-with-travwell.md
  content/news/2015/07/2015-07-30-usgs-is-asking-if-you-felt-it-latest-earthquakes.md
  content/news/2015/08/2015-08-06-usda-puts-hunger-on-vacation-this-summer.md
  content/news/2015/08/2015-08-20-three-new-mobile-apps-honor-fallen-veterans-overseas.md
  content/news/2015/09/2015-09-03-congress-creates-the-bill-of-rights-from-national-archives.md
  content/news/2015/09/2015-09-10-day-100-the-great-federal-mobile-product-hunt.md
  content/news/2015/09/2015-09-24-track-time-and-wages-with-labors-timesheet-app.md
  content/news/2015/10/2015-10-21-the-data-briefing-300-mobile-moments.md
  content/news/2015/10/2015-10-26-texting-is-another-way-to-make-mobile-moments.md
  content/news/2016/02/2016-02-29-is-your-federal-mobile-app-or-website-in-the-us-digital-registry.md
  content/news/2016/03/2016-03-10-check-your-refund-status-and-pay-your-taxes-with-irs2go.md
  content/news/2016/09/2016-09-12-the-content-corner-using-social-media-to-promote-enhance-preparedness-for-the-public-we-serve.md
Labels: Bug: Content Cleanup, Content: Topics

#6489 Fixed hugo logic to keep proper whitespace between class names
  themes/digital.gov/layouts/shortcodes/note.html
Labels: Dev: Template Logic

#6490 Create Image upload “content-uploads-_inbox-card-hawaii-wildfires-guidance-png”
  data/images/card-hawaii-wildfires-guidance.yml
Labels: Content: Images, netlify-cms/pending_publish

#6483 Create Image upload “content-uploads-_inbox-ga4-dap-migration-custom-report-png”
  data/images/ga4-dap-migration-custom-report.yml
Labels: Content: Images, netlify-cms/pending_publish

#6486 Create Image upload “content-uploads-_inbox-ga4-dap-migration-agency-png”
  data/images/ga4-dap-migration-agency.yml
Labels: Content: Images, netlify-cms/pending_publish

#6485 Create Image upload “content-uploads-_inbox-ga4-dap-migration-government-wide-png”
  data/images/ga4-dap-migration-government-wide.yml
Labels: Content: Images, netlify-cms/pending_publish

#6494 Update GSA SSP PKI Blog Links
  content/news/2023/07/2023-07-19-gsa-shared-service-provider-program-guide.md
Labels: Bug: Content Cleanup, Content: Blog post

#6496 Update 2015-07-16-dwarf-planet-giant-numbers-nasas-mission-to-pluto-g…
  content/news/2015/07/2015-07-16-dwarf-planet-giant-numbers-nasas-mission-to-pluto-goes-global.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6499 USWDS August MC add slides
  content/events/2023/08/2023-08-03-uswds-monthly-call-august-2023.md
  data/files/uswds-monthly-call-august-2023.yml
Labels: Content: Events

#6420 HCD #2: Add Glossary Component
  package-lock.json
  package.json
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/layouts/partials/core/glossary.html
  themes/digital.gov/layouts/partials/core/guides/guide-header.html
  themes/digital.gov/layouts/partials/core/guides/guide-menu-bar.html
  themes/digital.gov/src/js/glossary.js
  themes/digital.gov/src/js/guide-menu-bar.js
  themes/digital.gov/src/scss/new/_glossary.scss
  themes/digital.gov/src/scss/new/guides/_guide-menu-bar.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/glossary/hcd-glossary.json
Labels: Dev: Template Logic, Dev: frontend

#6422 HCD #3: Refactor Side Navigation
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/layouts/partials/core/guides/guide-menu-bar.html
  themes/digital.gov/layouts/partials/core/guides/guide-nav.html
  themes/digital.gov/layouts/partials/core/guides/guide-sidenav.html
  themes/digital.gov/layouts/partials/core/guides/guide-subnav.html
  themes/digital.gov/src/js/guide-menu-bar.js
  themes/digital.gov/src/js/guide-sidenav.js
  themes/digital.gov/src/scss/new/guides/_guide-content.scss
  themes/digital.gov/src/scss/new/guides/_guide-nav.scss
Labels: Dev: Template Logic

#6423 HCD #4: Refactor Previous/Next Buttons
  content/resources/federal-compatible-terms-of-service-agreements.md
  content/resources/mobile-user-experience-guidelines-and-recommendations.md
  data/guidenav/_example.yml
  data/guidenav/connected-government.yml
  data/guidenav/dap.yml
  data/guidenav/mobile-principles.yml
  data/guidenav/public-participation.yml
  data/guidenav/rpa.yml
  data/guidenav/site-scanning.yml
  data/guidenav/termsofservice.yml
  data/guidenav/web-analytics-playbook.yml
  themes/digital.gov/layouts/partials/core/guides/guide-prev-next-button.html
  themes/digital.gov/layouts/partials/core/guides/guide-prev-next.html
  themes/digital.gov/src/scss/new/guides/_guide-prev-next.scss
Labels: Dev: Template Logic

#6424 HCD #5: Create/Refactor Partials for HCD Guides
  themes/digital.gov/layouts/partials/core/featured-resource.html
  themes/digital.gov/layouts/partials/core/guides/guide-header-image.html
  themes/digital.gov/layouts/partials/core/guides/guide-header.html
  themes/digital.gov/layouts/partials/core/img-featured.html
  themes/digital.gov/layouts/partials/core/img-flexible.html
  themes/digital.gov/layouts/partials/core/read-time.html
  themes/digital.gov/layouts/partials/core/render-markdown.html
  themes/digital.gov/layouts/shortcodes/card-quote.html
  themes/digital.gov/layouts/shortcodes/featured-resource.html
  themes/digital.gov/layouts/shortcodes/img-flexible.html
  themes/digital.gov/layouts/shortcodes/img.html
  themes/digital.gov/layouts/shortcodes/note.html
  themes/digital.gov/layouts/shortcodes/ring.html
  themes/digital.gov/src/js/github.js
  themes/digital.gov/src/js/guide-menu-bar.js
  themes/digital.gov/src/scss/new/_content.scss
  themes/digital.gov/src/scss/new/shortcodes/_box.scss
  themes/digital.gov/src/scss/new/shortcodes/_card-quote.scss
  themes/digital.gov/src/scss/new/shortcodes/_featured-resource.scss
  themes/digital.gov/src/scss/new/shortcodes/_note.scss
  themes/digital.gov/src/scss/new/shortcodes/_ring.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: frontend

#6425 HCD #6: Create Landing Page
  themes/digital.gov/layouts/landings/list.html
  themes/digital.gov/src/scss/new/_landings.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: frontend

#6503 Remove tags in front matter for DIA topic
  content/news/2014/10/2014-10-30-cyber-house-of-horrors.md
  content/news/2014/10/2014-10-31-whats-happening-with-the-internet-of-things.md
  content/news/2014/12/2014-12-23-trends-on-tuesday-half-of-online-americans-dont-know-what-a-privacy-policy-is.md
Labels: Bug: Content Cleanup, Content: Topics

#6505 Update 2014-08-28-usda-app-helps-id-your-potpourri.md
  content/news/2014/08/2014-08-28-usda-app-helps-id-your-potpourri.md
Labels: Bug: Content Cleanup, Content: Blog post

#6506 Create Image upload “content-uploads-_inbox-gsa-mentor-protege-on-mobile-phone-comp-png”
  data/images/gsa-mentor-protege-on-mobile-phone-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6507 Update 2014-03-27-gsa-introduces-news-genius-to-decode-government-web.md
  content/news/2014/03/2014-03-27-gsa-introduces-news-genius-to-decode-government-web.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6508 Update 2015-07-30-community-rock-star-round-up.md
  content/news/2015/07/2015-07-30-community-rock-star-round-up.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6504 Update 2023-06-08-uswds-monthly-call-june-2023.md
  content/events/2023/06/2023-06-08-uswds-monthly-call-june-2023.md
Labels: Content: Events

#6509 Create Blog Post “2023/08/2023-08-21-gsa-debuts-new-search-tool-to-support-native-governments-and-businesses”
  content/news/2023/08/2023-08-21-gsa-debuts-new-search-tool-to-support-native-governments-and-businesses.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6510 Update _index.md
  content/topics/internet-of-things/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6511 Update 2023-08-03-uswds-monthly-call-august-2023.md
  content/events/2023/08/2023-08-03-uswds-monthly-call-august-2023.md
Labels: Content: Events

#6512 Update _index.md
  content/topics/internet-of-things/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6514 Update link on policies.md
  content/about/policies.md
Labels: Bug: broken links, Content: General site

#6515 Update _index.md
  content/topics/federal-mobile-products-registry/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6426 HCD #7: All Technical Changes
  config/gulp/scripts.js
  content/resources/federal-compatible-terms-of-service-agreements.md
  content/resources/mobile-user-experience-guidelines-and-recommendations.md
  data/guidenav/_example.yml
  data/guidenav/connected-government.yml
  data/guidenav/dap.yml
  data/guidenav/mobile-principles.yml
  data/guidenav/public-participation.yml
  data/guidenav/rpa.yml
  data/guidenav/site-scanning.yml
  data/guidenav/termsofservice.yml
  data/guidenav/web-analytics-playbook.yml
  package-lock.json
  package.json
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/layouts/landings/list.html
  themes/digital.gov/layouts/partials/core/featured-resource.html
  themes/digital.gov/layouts/partials/core/glossary.html
  themes/digital.gov/layouts/partials/core/guides/guide-header-image.html
  themes/digital.gov/layouts/partials/core/guides/guide-header.html
  themes/digital.gov/layouts/partials/core/guides/guide-menu-bar.html
  themes/digital.gov/layouts/partials/core/guides/guide-nav.html
  themes/digital.gov/layouts/partials/core/guides/guide-prev-next-button.html
  themes/digital.gov/layouts/partials/core/guides/guide-prev-next.html
  themes/digital.gov/layouts/partials/core/guides/guide-sidenav.html
  themes/digital.gov/layouts/partials/core/guides/guide-subnav.html
  themes/digital.gov/layouts/partials/core/img-featured.html
  themes/digital.gov/layouts/partials/core/img-flexible.html
  themes/digital.gov/layouts/partials/core/read-time.html
  themes/digital.gov/layouts/partials/core/render-markdown.html
  themes/digital.gov/layouts/shortcodes/card-quote.html
  themes/digital.gov/layouts/shortcodes/featured-resource.html
  themes/digital.gov/layouts/shortcodes/img-flexible.html
  themes/digital.gov/layouts/shortcodes/img.html
  themes/digital.gov/layouts/shortcodes/note.html
  themes/digital.gov/layouts/shortcodes/ring.html
  themes/digital.gov/src/js/github.js
  themes/digital.gov/src/js/glossary.js
  themes/digital.gov/src/js/guide-menu-bar.js
  themes/digital.gov/src/js/guide-sidenav.js
  themes/digital.gov/src/scss/new/_content.scss
  themes/digital.gov/src/scss/new/_glossary.scss
  themes/digital.gov/src/scss/new/_landings.scss
  themes/digital.gov/src/scss/new/guides/_guide-content.scss
  themes/digital.gov/src/scss/new/guides/_guide-menu-bar.scss
  themes/digital.gov/src/scss/new/guides/_guide-nav.scss
  themes/digital.gov/src/scss/new/guides/_guide-prev-next.scss
  themes/digital.gov/src/scss/new/shortcodes/_box.scss
  themes/digital.gov/src/scss/new/shortcodes/_card-quote.scss
  themes/digital.gov/src/scss/new/shortcodes/_featured-resource.scss
  themes/digital.gov/src/scss/new/shortcodes/_note.scss
  themes/digital.gov/src/scss/new/shortcodes/_ring.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/glossary/hcd-glossary.json
Labels: Dev: frontend

#6518 Update 2014-01-16-fema-app-adds-disaster-reporter-feature.md
  content/news/2014/01/2014-01-16-fema-app-adds-disaster-reporter-feature.md
Labels: Bug: Content Cleanup, Content: Blog post

#6516 Create Blog Post “2023/08/2023-08-23-seven-tips-on-facilitating-unplanned-topics-in-meetings”
  content/news/2023/08/2023-08-23-seven-tips-on-facilitating-unplanned-topics-in-meetings.md
Labels: Content: Blog post, netlify-cms/draft

#6520 Update 2016-05-04-delivering-the-next-generation-of-digital-governmen…
  content/news/2016/05/2016-05-04-delivering-the-next-generation-of-digital-government.md
Labels: Bug: Content Cleanup, Content: Blog post

#6521 Update 2016-05-04-delivering-the-next-generation-of-digital-governmen…
  content/news/2016/05/2016-05-04-delivering-the-next-generation-of-digital-government.md
Labels: Bug: broken links, Content: Blog post

#6522 create new news source; VA
  content/sources/source_va.md
  static/logos/va-icon.png
  static/logos/va-logo.png
Labels: Content: Source

#6523 Create Blog Post “2023/08/2023-08-28-blind-veterans-can-now-read-decision-letters”
  content/news/2023/08/2023-08-28-blind-veterans-can-now-read-decision-letters.md
Labels: Content: Blog post, netlify-cms/draft

#6524 Create Image upload “content-uploads-_inbox-chatbot-group-comments-gmast3r-istock-getty-images-1362558433-comp-png”
  data/images/chatbot-group-comments-gmast3r-istock-getty-images-1362558433-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6525 Create Resource “inclusivity-and-automation”
  content/resources/inclusivity-and-automation.md
Labels: Content: Resource, netlify-cms/draft

#6526 Create Blog Post “2023/08/2023-08-28-inclusivity-and-automation”
  content/news/2023/08/2023-08-28-inclusivity-and-automation.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6527 wrong content type
  content/resources/inclusivity-and-automation.md
Labels: Bug: Content Cleanup

#6531 Update hawaii-wildfires-guidance-for-us-government.md
  content/resources/hawaii-wildfires-guidance-for-us-government.md
Labels: Content: Resource, Bug: Content Cleanup

#6532 Create Image upload “content-uploads-_inbox-card-hurricane-idalia-guidance-png”
  data/images/card-hurricane-idalia-guidance.yml
Labels: Content: Images, netlify-cms/pending_publish

#6534 Create Blog Post “2023/08/2023-08-30-get-to-know-search-gov”
  content/news/2023/08/2023-08-30-get-to-know-search-gov.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6535 Fix uppercase header to lowercase on evaluate-report.md
  content/guides/public-participation/evaluate-report.md
Labels: Content: Guide, Bug: Content Cleanup
