Repository GSA/digitalgov.gov, pull requests merged in 2023-09, with the labels that each got.

#6530 Fix Guide Menu Bar Safari Bug
  themes/digital.gov/src/scss/new/guides/_guide-menu-bar.scss
Labels: [issue type] bug

#6541 Update 2014-06-23-using-visual-content-to-drive-engagement.md
  content/news/2014/06/2014-06-23-using-visual-content-to-drive-engagement.md
Labels: Bug: Content Cleanup, Content: Blog post

#6542 Update 2014-03-07-creating-e-books-think-functionality-not-aesthetics.md
  content/news/2014/03/2014-03-07-creating-e-books-think-functionality-not-aesthetics.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6543 Update 2015-07-15-safe-travels-with-travwell.md
  content/news/2015/07/2015-07-15-safe-travels-with-travwell.md
Labels: Bug: broken links, Content: Blog post

#6544 Create Blog Post “2023/09/2023-09-05-quarterly-pma-updates-lead-the-way-for-improved-service-delivery-and-trust-building”
  content/news/2023/09/2023-09-05-quarterly-pma-updates-lead-the-way-for-improved-service-delivery-and-trust-building.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6540 Upload files and video to introduction to Github resource
  content/resources/an-introduction-github.md
Labels: Content: Resource, Bug: Content Cleanup

#6547 fix back ticks
  content/guides/dap/common-questions-about-dap.md
Labels: Content: Guide, Bug: Content Cleanup

#6548 Corrects typos, inverted quotes in style guide
  content/about/style-guide.md
Labels: Bug: Content Cleanup, Content: General site

#6529 Add topics and page weight for HCD
  content/guides/hcd/_index.md
Labels: Content: Resource, Content: Guide, Bug: Content Cleanup

#6549 Create Resource “office-of-personnel-management-office-of-diversity-equity-inclusion-and-accessibility”
  content/resources/office-of-personnel-management-office-of-diversity-equity-inclusion-and-accessibility.md
Labels: Content: Resource, netlify-cms/pending_publish

#6536 Create Resource “an-introduction-to-design-requirements”
  content/resources/an-introduction-to-design-requirements.md
Labels: Content: Resource, netlify-cms/draft

#6554 Update requirements-for-accepting-externally-issued-identity-credenti…
  content/resources/requirements-for-accepting-externally-issued-identity-credentials.md
Labels: Content: Resource, Bug: Content Cleanup

#6553 Global search and replace digitalgovu@gsa.gov to digitalgov@gsa.gov
  content/about/digitalgov-university.md
  content/events/2018/03/2018-03-14-infographics-plain-language-considerations.md
  content/events/2019/04/2019-04-01-leadership-professional-development-webinar-series-professional-branding.md
  content/events/2019/04/2019-04-09-caroline-jarrett-on-how-design-a-better-form.md
  content/events/2019/04/2019-04-09-federal-crowdsourcing-mobilize-citizen-scientists.md
  content/events/2019/04/2019-04-16-an-introduction-dha-usability-lab-overview-case-studies-whats-next.md
  content/events/2019/04/2019-04-17-an-introduction-us-data-federation.md
  content/events/2019/04/2019-04-23-crowdsourcing-for-access-engagement-at-library-congress.md
  content/events/2019/04/2019-04-25-indexing-with-searchgov.md
  content/events/2019/04/2019-04-30-an-innovative-approach-opioid-crisis.md
  content/events/2019/05/2019-05-21-2019-virtual-student-federal-service-vsfs-info-session.md
  content/events/2019/05/2019-05-28-mobile-community-practice-spring-meeting.md
  content/events/2019/06/2019-06-10-executive-core-qualifications-ecqs-how-assess-achieve-demonstrate-ecqs.md
  content/events/2019/06/2019-06-11-federal-crowdsourcing-webinar-series-episode-3-opportunity-project.md
  content/events/2019/06/2019-06-12-how-develop-an-agency-brand-voice-that-connects-with-customers-online.md
  content/events/2019/06/2019-06-12-introduction-searchgov.md
  content/events/2019/06/2019-06-25-american-tech-series-part-one-why-leave-private-sector.md
  content/events/2019/07/2019-07-09-data-storytelling-with-presidential-innovation-fellows.md
  content/events/2019/07/2019-07-11-sharpen-your-social-skills-for-summer.md
  content/events/2019/07/2019-07-23-american-tech-series-part-two-advancing-usercentric-design-in-government.md
  content/events/2019/07/2019-07-23-devops-cop-monthly-meeting.md
  content/events/2019/07/2019-07-25-machine-learning-how-bureau-labor-statistics-did-it.md
  content/events/2019/08/2019-08-14-plain-language-august-training-class.md
  content/events/2019/08/2019-08-21-socialgov-talks-tips-for-linkedin-content-strategy-with-matt-ross.md
  content/events/2019/08/2019-08-27-devops-community-practice-monthly-meeting.md
  content/events/2019/08/2019-08-28-a-deep-dive-into-guide-paperwork-reduction-act.md
  content/events/2019/09/2019-09-03-quantifying-value-innovation.md
  content/events/2019/09/2019-09-05-plain-language-summit.md
  content/events/2019/09/2019-09-18-how-navigate-complex-world-federal-digital-policy.md
  content/events/2019/09/2019-09-24-devops-community-monthly-meeting-decennial-census.md
  content/events/2019/09/2019-09-26-socialgov-talks-leveraging-pop-culture-with-paul-lester-doe.md
  content/events/2019/10/2019-10-15-using-neural-machine-translation-for-multilingual-communication.md
  content/events/2019/10/2019-10-16-study-design-developing-a-citizen-science-project-that-delivers-results.md
  content/events/2019/10/2019-10-17-socialgov-fall-meeting-podcasting.md
  content/events/2019/10/2019-10-22-october-devops-cop-meeting.md
  content/events/2019/11/2019-11-01-political-savvy-why-its-important-how-master-it.md
  content/events/2019/11/2019-11-04-foundations-agile-i.md
  content/events/2019/11/2019-11-05-foundations-agile-ii.md
  content/events/2019/11/2019-11-07-happy-3rd-birthday-codegov-what-weve-learned-three-years-in.md
  content/events/2019/11/2019-11-08-basic-scrum-i.md
  content/events/2019/11/2019-11-08-basic-scrum-ii.md
  content/events/2019/11/2019-11-08-intro-kanban-i.md
  content/events/2019/11/2019-11-08-intro-kanban-ii.md
  content/events/2019/11/2019-11-12-national-language-service-corps-can-fulfill-your-translation-needs.md
  content/events/2019/11/2019-11-13-ginny-redish-how-collaborate-on-strategies.md
  content/events/2019/11/2019-11-18-workforce-modernization-workshop-part-1-attract-retain-best-talent-better-serve-our-citizens.md
  content/events/2019/11/2019-11-19-intro-ab-testing-cop.md
  content/events/2019/11/2019-11-19-jez-humble-building-scaling-high-performing-technology-organizations.md
  content/events/2019/11/2019-11-19-socialgov-talk-reaching-small-businesses-in-digital-environment.md
  content/events/2019/12/2019-12-03-devops-holiday-special-event-nicolas-chaillan.md
  content/events/2020/08/2020-08-18-federal-crowdsourcing-webinar-series-episode-13.md
  content/news/2014/01/2014-01-28-innovation-means-more-better-cost-effective-digital-training.md
  content/news/2014/11/2014-11-07-digitalgov-university-is-making-changes-thanks-to-you.md
  content/news/2015/01/2015-01-28-digitalgov-university-2015-training-watch.md
  content/news/2016/08/2016-08-23-what-is-citizen-science-a-recent-webinar-explores-how-the-federal-government-engages-the-public-via-crowdsourcing.md
  content/news/2016/09/2016-09-27-webinar-recap-snaps-and-stripes-sharing-public-service-stories-with-snapchat.md
  content/news/2017/01/2017-01-11-digitalgov-university-in-review-2016-training-trends.md
  themes/digital.gov/layouts/events/single.html
Labels: Content: Blog post, Content: General site

#6552 Create Resource “m-19-17-enabling-mission-delivery-through-improved-identity-credential-and-access-management”
  content/resources/m-19-17-enabling-mission-delivery-through-improved-identity-credential-and-access-management.md
Labels: Content: Resource, netlify-cms/pending_publish

#6556 Update omb-memos-circulars-executive-orders-and-other-policies.md
  content/resources/omb-memos-circulars-executive-orders-and-other-policies.md
Labels: Content: Resource, Bug: Content Cleanup

#6555 Create Blog Post “2023/09/2023-09-06-first-do-no-harm-mistakes-to-avoid-in-creating-accessible-user-experiences”
  content/news/2023/09/2023-09-06-first-do-no-harm-mistakes-to-avoid-in-creating-accessible-user-experiences.md
Labels: Content: Blog post

#6558 Update 2023-07-05-supporting-inclusive-language-through-automation.md
  content/events/2023/07/2023-07-05-supporting-inclusive-language-through-automation.md
Labels: Content: Events, Content: Video + YouTube

#6559 Update 2023-08-28-inclusivity-and-automation.md
  content/news/2023/08/2023-08-28-inclusivity-and-automation.md
Labels: Bug: Content Cleanup, Content: Blog post

#6560 Create Resource “office-of-personnel-management-agency-diversity-equity-inclusion-and-accessibility-strategic-plan”
  content/resources/office-of-personnel-management-agency-diversity-equity-inclusion-and-accessibility-strategic-plan.md
Labels: Content: Resource, netlify-cms/pending_publish

#6562 Update 2020-04-20-listen-customers-by-asking-right-questions.md
  content/news/2020/04/2020-04-20-listen-customers-by-asking-right-questions.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6561 Update omb-circular-a11-section-280-managing.md
  content/resources/omb-circular-a11-section-280-managing.md
Labels: Content: Resource, Bug: Content Cleanup

#6564 Update 2014-06-23-using-visual-content-to-drive-engagement.md
  content/news/2014/06/2014-06-23-using-visual-content-to-drive-engagement.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6563 Update 2014-06-06-consumer-action-handbook-usability-case-study.md
  content/news/2014/06/2014-06-06-consumer-action-handbook-usability-case-study.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6565 Update 2014-03-07-creating-e-books-think-functionality-not-aesthetics.md
  content/news/2014/03/2014-03-07-creating-e-books-think-functionality-not-aesthetics.md
Labels: Bug: Content Cleanup, Content: Blog post

#6566 Update 2014-06-23-using-visual-content-to-drive-engagement.md
  content/news/2014/06/2014-06-23-using-visual-content-to-drive-engagement.md
Labels: Bug: Content Cleanup, Content: Blog post

#6567 set addthis TOS to inactive
  config/gulp/file-prep.js
  data/termsofservice.yml
Labels: Content: Resource, Bug: Content Cleanup

#6568 update cms redirect to dashboard
  content/resources/content-management-systems-used-by-government-agencies.md
Labels: Content: Resource, Content: Redirects, Bug: Content Cleanup

#6569 Create Blog Post “2023/09/2023-09-08-catching-up-with-the-tanf-data-portal-project”
  content/news/2023/09/2023-09-08-catching-up-with-the-tanf-data-portal-project.md
Labels: Content: Blog post

#6570 Create Author “michelle-rago/_index”
  content/authors/michelle-rago/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6571 Create Image upload “content-uploads-_inbox-website-audit-control-panel-olivier-le-moal-istock-getty-images-693699396-comp-png”
  data/images/website-audit-control-panel-olivier-le-moal-istock-getty-images-693699396-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6572 Create Blog Post “2023/09/2023-09-12-a-conversation-about-content-audits”
  content/news/2023/09/2023-09-12-a-conversation-about-content-audits.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6574 Update _index.md
  content/authors/marina-fox/_index.md
Labels: Content: Authors

#6576 Create Author “jack-avery/_index”
  content/authors/jack-avery/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6575 Update _index.md
  content/authors/tlowden/_index.md
Labels: Content: Authors

#6578 Create Image upload “content-uploads-_inbox-nist-sp-800-82-rev-2-ac-18-wireless-access-png”
  data/images/nist-sp-800-82-rev-2-ac-18-wireless-access.yml
Labels: Content: Images, netlify-cms/draft

#6580 Update nist-sp-800-82-rev-2-ac-18-wireless-access.yml
  data/images/nist-sp-800-82-rev-2-ac-18-wireless-access.yml
Labels: Content: Images, Bug: Content Cleanup

#6582 Create Image upload “content-uploads-_inbox-nist-sp-800-82-rev-2-ia-3-device-identification-authentication-2-png”
  data/images/nist-sp-800-82-rev-2-ia-3-device-identification-authentication-2.yml
Labels: Content: Images, netlify-cms/pending_publish

#6587 Create File upload “content-uploads-_inbox-07-25-2023_github_basics_final-pptx”
  data/files/07-25-2023-github-basics-final.yml
Labels: netlify-cms/pending_publish, Content: Other files

#6584 Create Image upload “content-uploads-_inbox-dap-10-years-visitors-by-technology-chart-png”
  data/images/dap-10-years-visitors-by-technology-chart.yml
Labels: Content: Images, netlify-cms/pending_publish

#6583 Create Image upload “content-uploads-_inbox-dap-10-years-visitors-by-acqusition-channel-chart-png”
  data/images/dap-10-years-visitors-by-acqusition-channel-chart.yml
Labels: Content: Images, netlify-cms/pending_publish

#6588 Update an-introduction-github.md
  content/resources/an-introduction-github.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6579 Update checklist of requirements page re: copyright
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#6557 fixing 2 links, adding another link
  content/guides/site-scanning/data.md
  content/guides/site-scanning/technical-details.md
Labels: Content: Guide, Bug: Content Cleanup

#6590 Create Image upload “content-uploads-_inbox-dap-10-years-total-daily-visitors-featured-png”
  data/images/dap-10-years-total-daily-visitors-featured.yml
Labels: Content: Images, netlify-cms/pending_publish

#6589 Create Image upload “content-uploads-_inbox-dap-10-years-total-daily-visitors-png”
  data/images/dap-10-years-total-daily-visitors.yml
Labels: Content: Images, netlify-cms/pending_publish

#6592 Create Blog Post “2023/09/2023-09-12-from-pageviews-to-progress”
  content/news/2023/09/2023-09-12-from-pageviews-to-progress.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6596 Create Image upload “content-uploads-_inbox-ics-industrial-control-system-genestro-istock-getty-images-1414920594-png”
  data/images/ics-industrial-control-system-genestro-istock-getty-images-1414920594.yml
Labels: Content: Images, netlify-cms/pending_publish

#6586 Create Event “2023/09/2023-09-12-cultivating-a-dynamic-career-in-ux”
  content/events/2023/09/2023-09-12-cultivating-a-dynamic-career-in-ux.md
Labels: Content: Events

#6598 add CISA source
  content/sources/source_dotgov.md
  static/logos/cisa-icon.png
  static/logos/cisa-logo.png
Labels: Content: Source

#6585 Create Image upload “content-uploads-_inbox-cultivating-a-dynamic-career-in-ux-title-card-png”
  data/images/cultivating-a-dynamic-career-in-ux-title-card.yml
Labels: Content: Images

#6591 Create Image upload “content-uploads-_inbox-2023-uswds-monthly-call-september-title-card-png”
  data/images/2023-uswds-monthly-call-september-title-card.yml
Labels: Content: Images

#6599 Create Source “source_cisa”
  content/sources/source_cisa.md
Labels: netlify-cms/draft, Content: Source

#6600 Fix branch name for making-the-case-for-sentence-case-on-usagov-websites.md
  content/news/2023/09/2023-09-14-making-the-case-for-sentence-case-on-usagov-websites.md
Labels: Content: Blog post

#6601 Restore dotgov source page
  content/sources/source_dotgov.md
Labels: Content: Source

#6603 Create Blog Post “2023/09/2023-09-15-infrastructure-as-a-public-service”
  content/news/2023/09/2023-09-15-infrastructure-as-a-public-service.md
Labels: Content: Blog post

#6602 Update 2023-08-03-uswds-monthly-call-august-2023.md
  content/events/2023/08/2023-08-03-uswds-monthly-call-august-2023.md
Labels: Content: Video + YouTube

#6606 Create Event “2023/09/2023-09-18-uswds-monthly-call-september-2023”
  content/events/2023/09/2023-09-18-uswds-monthly-call-september-2023.md
Labels: Content: Events

#6345 Refactor github edit code
  config.yml
  themes/digital.gov/layouts/404.html
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/_default/images.html
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/authors/list.html
  themes/digital.gov/layouts/authors/terms.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/docs/single.html
  themes/digital.gov/layouts/events/card-event.html
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/events/training-card.html
  themes/digital.gov/layouts/landings/list.html
  themes/digital.gov/layouts/news/card-article.html
  themes/digital.gov/layouts/news/card-elsewhere.html
  themes/digital.gov/layouts/news/list.html
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/collection/collection-list-item.html
  themes/digital.gov/layouts/partials/core/edit-this-button.html
  themes/digital.gov/layouts/partials/core/featured-collection.html
  themes/digital.gov/layouts/partials/core/get_related.html
  themes/digital.gov/layouts/partials/core/gh-commit-info.html
  themes/digital.gov/layouts/partials/core/guides/guide-content.html
  themes/digital.gov/layouts/partials/core/head.html
  themes/digital.gov/layouts/partials/core/home/topics_featured.html
  themes/digital.gov/layouts/partials/core/page-data.html
  themes/digital.gov/layouts/partials/core/render-markdown.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/card-service.html
  themes/digital.gov/layouts/services/directory.html
  themes/digital.gov/layouts/services/service-contact.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/layouts/topics/terms.html
  themes/digital.gov/src/js/edit-this.js
  themes/digital.gov/src/js/gh-edit-commit.js
  themes/digital.gov/src/js/gh-edit-page.js
  themes/digital.gov/src/js/github.js
  themes/digital.gov/src/scss/new/_edit-this.scss
  themes/digital.gov/src/scss/new/_gh-commit-info.scss
  themes/digital.gov/src/scss/new/_gh-edit-page.scss
  themes/digital.gov/src/scss/new/_page-data.scss
  themes/digital.gov/src/scss/new/_print.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: Template Logic

#6612 Create File upload “content-uploads-_inbox-2023-cultivating-a-dynamic-ux-career-pptx”
  data/files/2023-cultivating-a-dynamic-ux-career.yml
Labels: Content: Other files

#6614 Update 2019-04-09-federal-crowdsourcing-mobilize-citizen-scientists.md
  content/events/2019/04/2019-04-09-federal-crowdsourcing-mobilize-citizen-scientists.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6616 Update 2022-10-14-latinx-identity-in-design-tech-and-government.md
  content/news/2022/10/2022-10-14-latinx-identity-in-design-tech-and-government.md
Labels: Bug: Content Cleanup, Content: Blog post

#6617 Create File upload “content-uploads-_inbox-uswds-monthly-call-september-2023-pptx”
  data/files/uswds-monthly-call-september-2023.yml
Labels: Content: Other files

#6618 Update 2023-09-18-uswds-monthly-call-september-2023.md
  content/events/2023/09/2023-09-18-uswds-monthly-call-september-2023.md
Labels: Content: Events

#6619 Create Blog Post “2023/09/2023-09-21-6-lessons-from-a-project-handoff”
  content/news/2023/09/2023-09-21-6-lessons-from-a-project-handoff.md
Labels: Content: Blog post

#6620 it dash source imgs
  static/logos/itdash-icon.png
  static/logos/itdash-logo.png
Labels: Content: Images, Content: Source

#6621 Create Source “source_it-dashboard”
  content/sources/source_it-dashboard.md
Labels: netlify-cms/pending_publish, Content: Source

#6624 source imgs
  static/logos/nasa-icon.png
  static/logos/nasa-logo.png
Labels: Content: Images, Content: Blog post, Content: Source

#6613 Update 2023-09-12-cultivating-a-dynamic-career-in-ux.md
  content/events/2023/09/2023-09-12-cultivating-a-dynamic-career-in-ux.md
Labels: Content: Events

#6627 Create File upload “content-uploads-_inbox-foundations-of-agile-part-2-slides-pdf”
  data/files/foundations-of-agile-part-2-slides.yml
Labels: Content: PDFs, netlify-cms/pending_publish

#6626 Create Source “source_national-aeronautics-and-space-administration-nasa”
  content/sources/source_national-aeronautics-and-space-administration-nasa.md
Labels: netlify-cms/pending_publish, Content: Source

#6625 Create Blog Post “2023/09/2023-09-22-nasa-releases-first-season-of-spanish-language-podcast”
  content/news/2023/09/2023-09-22-nasa-releases-first-season-of-spanish-language-podcast.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6628 Update 2019-11-05-foundations-agile-ii.md
  content/events/2019/11/2019-11-05-foundations-agile-ii.md
Labels: Content: Events, Bug: broken links

#6629 update circular a-11 links
  content/news/2020/04/2020-04-20-listen-customers-by-asking-right-questions.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
  content/resources/customer-experience-toolkit.md
  content/resources/government-customer-service-policies-requirements-1993-to-present.md
  content/resources/omb-circular-a11-section-280.md
Labels: Content: Resource, Bug: Content Cleanup

#6630 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource, Bug: broken links

#6631 Update spanish-language-style-guide-and-glossaries.md
  content/resources/spanish-language-style-guide-and-glossaries.md
Labels: Content: Resource, Bug: Content Cleanup

#6632 Create Image upload “content-uploads-_inbox-office-team-ideas-scyther5-png”
  data/images/office-team-ideas-scyther5.yml
Labels: Content: Images, netlify-cms/draft

#6633 Create Blog Post “2023/09/2023-09-22-a-website-refresh-in-3-months”
  content/news/2023/09/2023-09-22-a-website-refresh-in-3-months.md
Labels: Content: Blog post

#6637 Create Blog Post “2023/09/2023-09-25-why-the-american-people-deserve-a-digital-government”
  content/news/2023/09/2023-09-25-why-the-american-people-deserve-a-digital-government.md
Labels: Content: Blog post

#6646 Create Image upload “content-uploads-_inbox-backlogs-and-why-every-website-needs-one-title-card-png”
  data/images/backlogs-and-why-every-website-needs-one-title-card.yml
Labels: Content: Images, netlify-cms/draft

#6647 Create Event “2023/09/2023-09-27-backlogs-and-why-every-website-needs-one”
  content/events/2023/09/2023-09-27-backlogs-and-why-every-website-needs-one.md
Labels: Content: Events, netlify-cms/draft

#6649 Update 2023-01-05-uswds-monthly-call-january-2023.md
  content/events/2023/01/2023-01-05-uswds-monthly-call-january-2023.md
Labels: Content: Video + YouTube

#6645 Create Topic “search/_index”
  content/topics/search/_index.md
Labels: Content: Topics, netlify-cms/draft

#6604 Create topics-collection landing page
  content/topics/design/_index.md
  themes/digital.gov/layouts/partials/core/collection/collection-header.html
  themes/digital.gov/layouts/partials/core/collection/collection-icon.html
  themes/digital.gov/layouts/partials/core/collection/collection-list-item.html
  themes/digital.gov/layouts/partials/core/collection/collection.html
  themes/digital.gov/layouts/partials/core/topics/topics-collection.html
  themes/digital.gov/layouts/partials/core/topics/topics-standard.html
  themes/digital.gov/layouts/partials/core/usa-collection.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/src/scss/new/_collection.scss
  themes/digital.gov/src/scss/new/_topics-collection.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: Template Logic

#6651 add summary to topic
  content/topics/digitalgov-search/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6653 update dg search to search
  content/events/2018/05/2018-05-03-an-introduction-searchgov.md
  content/events/2018/05/2018-05-29-how-search-engines-index-your-websites.md
  content/news/2013/10/2013-10-24-understanding-your-users-needs-by-analyzing-search-terms.md
  content/news/2014/02/2014-02-27-digitalgov-search-is-now-responsive.md
  content/news/2014/03/2014-03-03-cache-me-if-you-can.md
  content/news/2014/03/2014-03-24-digitalgov-search-our-open-source-strategy.md
  content/news/2014/04/2014-04-14-noaa-national-ocean-service-usability-case-study.md
  content/news/2014/04/2014-04-18-search-is-the-new-big-data-recap.md
  content/news/2014/05/2014-05-07-analyzing-search-data-in-real-time-to-drive-decisions.md
  content/news/2014/05/2014-05-30-digitalgov-search-results-get-a-redesign.md
  content/news/2014/06/2014-06-13-search-engine-optimization-for-government-websites.md
  content/news/2014/08/2014-08-26-help-the-public-find-your-information-wherever-and-however-youve-published-it.md
  content/news/2014/09/2014-09-05-sharing-is-caring-adding-social-media-accounts-to-search.md
  content/news/2014/09/2014-09-24-the-federal-register-improving-visitors-search-experience-on-agency-websites.md
  content/news/2014/10/2014-10-14-recap-of-social-digital-search-webinar.md
  content/news/2014/10/2014-10-28-a-picture-is-worth-a-thousand-tokens.md
  content/news/2014/11/2014-11-12-follow-the-clicks-a-look-at-click-through-rates-on-government-websites.md
  content/news/2015/01/2015-01-07-elk.md
  content/news/2015/02/2015-02-13-dont-forget-the-long-tail-it-can-deliver-value.md
  content/news/2015/02/2015-02-19-top-10-things-we-think-you-dont-know-about-digitalgov.md
  content/news/2015/02/2015-02-25-avoid-weak-links-in-your-digital-chain.md
  content/news/2015/04/2015-04-06-using-personas-to-better-understand-customers-usa-gov-case-study.md
  content/news/2015/04/2015-04-15-mobilegeddon-government-edition.md
  content/news/2015/05/2015-05-14-our-customer-is-your-customer-working-together-to-improve-search-on-gov-websites.md
  content/news/2015/05/2015-05-20-the-api-briefing-five-federal-apis-for-building-a-government-jobs-finder-mobile-app.md
  content/news/2015/06/2015-06-05-monthly-theme-building-evaluating-and-improving-government-services-through-social-media.md
  content/news/2015/06/2015-06-08-socialgov-round-up-2015.md
  content/news/2015/08/2015-08-05-monthly-theme-at-your-service.md
  content/news/2015/08/2015-08-11-trends-on-tuesday-the-impact-of-mobilegeddon-on-non-mobile-friendly-sites.md
  content/news/2015/08/2015-08-31-search-creating-a-good-multilingual-search-experience.md
  content/news/2015/09/2015-09-02-https-and-other-ranking-factors-what-impacts-the-seo-of-government-websites.md
  content/news/2015/09/2015-09-30-how-ostp-crowdsourced-a-crowdsourcing-toolkit.md
  content/news/2015/10/2015-10-30-digitalgov-podcast-bridging-content-and-discovery-through-digitalgov-search.md
  content/news/2016/01/2016-01-08-what-are-your-customers-searching-for.md
  content/news/2016/08/2016-08-18-the-right-tools-for-the-job-re-hosting-digitalgov-search-to-a-dynamic-infrastructure-environment.md
  content/news/2016/09/2016-09-02-quality-speed-and-lower-costs-yes-you-can-have-it-all.md
  content/news/2016/09/2016-09-06-a-domain-by-any-other-name-cnames-wildcard-records-and-another-level-of-indirection.md
  content/news/2016/09/2016-09-07-lets-encrypt-those-cnames-shall-we.md
  content/news/2016/09/2016-09-12-dnssec-vs-elastic-load-balancers-the-zone-apex-problem.md
  content/news/2016/10/2016-10-21-dear-search-reading-between-the-lines-of-search-data.md
  content/news/2020/01/2020-01-27-searchgov-2019-in-review.md
  content/news/2021/04/2021-04-16-the-federal-web-in-the-year-of-covid-19.md
  content/news/2022/01/2022-01-13-go-live-checklist-for-federal-websites.md
  content/news/2023/08/2023-08-30-get-to-know-search-gov.md
  content/news/2023/09/2023-09-25-why-the-american-people-deserve-a-digital-government.md
Labels: Content: Events, Bug: Content Cleanup, Content: Topics, Content: Blog post

#6655 update search topic summary
  content/topics/search/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6656 up the page weight
  content/topics/digitalgov-search/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6657 Create Resource “making-the-big-move-search-in-support-of-federal-web-modernization”
  content/resources/making-the-big-move-search-in-support-of-federal-web-modernization.md
Labels: Content: Resource, netlify-cms/pending_publish
