Repository GSA/digitalgov.gov, pull requests merged in 2023-01, with the labels that each got.

#5686 Create Image upload “content-images-_inbox-2023-uswds-monthly-call-jan-title-card-png”
  data/images/2023-uswds-monthly-call-jan-title-card.yml
  static/img/proxy/2023-uswds-monthly-call-jan-title-card.jpg
Labels: netlify-cms/draft

#5690 Create Author “kira-prin/_index”
  content/authors/kira-prin/_index.md
Labels: Content: Authors

#5689 Create Author “samuel-chapman/_index”
  content/authors/samuel-chapman/_index.md
Labels: Content: Authors

#5687 Create Image upload “content-images-_inbox-2023-jan-irs-event-title-card-png”
  data/images/2023-jan-irs-event-title-card.yml
  static/img/proxy/2023-jan-irs-event-title-card.jpg
Labels: Content: Images

#5688 Create Event “2023/01/2023-01-04-continuously-improve-your-website-by-using-customer-feedback-and-web-analytics-an-irs-case-study”
  content/events/2023/01/2023-01-04-continuously-improve-your-website-by-using-customer-feedback-and-web-analytics-an-irs-case-study.md
Labels: Content: Events

#5693 Create Event “2023/01/2023-01-05-uswds-monthly-call-january-2023”
  content/events/2023/01/2023-01-05-uswds-monthly-call-january-2023.md
Labels: Content: Events

#5697 AS_OpenGov
  content/communities/open-gov.md
Labels: Content: Communities

#5698 AS_DevOps
  content/communities/devops.md
Labels: Content: Communities

#5691 Update Blog Post “2015/02/2015-02-02-agency-perspectives-on-personas-use-development-and-challenges”
  content/news/2015/02/2015-02-02-agency-perspectives-on-personas-use-development-and-challenges.md
Labels: netlify-cms/draft

#5700 Update 2022-12-13-to-build-trust-aim-for-easy.md
  content/news/2022/12/2022-12-13-to-build-trust-aim-for-easy.md
Labels: Bug: Content Cleanup

#5713 Create Image upload “content-images-_inbox-increasing-public-participation-in-user-research-png”
  data/images/increasing-public-participation-in-user-research.yml
  static/img/proxy/increasing-public-participation-in-user-research.jpg
Labels: Content: Images

#5712 Create Event “2023/01/2023-01-18-increasing-public-participation-in-user-research”
  content/events/2023/01/2023-01-18-increasing-public-participation-in-user-research.md
Labels: Content: Events, netlify-cms/draft

#5715 REDO: correcting a small detail on the site scanning pages
  content/guides/site-scanning/data.md
Labels: Content: Guide, Bug: Content Cleanup

#5717 Update 2015-07-15-safe-travels-with-travwell.md
  content/news/2015/07/2015-07-15-safe-travels-with-travwell.md
Labels: Bug: Content Cleanup, Content: Blog post

#5720 Update 2015-07-15-safe-travels-with-travwell.md
  content/news/2015/07/2015-07-15-safe-travels-with-travwell.md
Labels: Content: Blog post, Archive

#5716 Uploading USWDS mc Jan slides
  static/files/uswds-monthly-call-january-2023.pptx
Labels: Content: Other files

#5729 Adding script and slides to USWDS mc Jan 2023
  content/events/2023/01/2023-01-05-uswds-monthly-call-january-2023.md
Labels: Content: Events

#5714 Create Blog Post “2023/01/2023-01-18-consumer-financial-protection-bureau-cfpb-equity-centered-design-guidelines”
  content/news/2023/01/2023-01-18-consumer-financial-protection-bureau-cfpb-equity-centered-design-guidelines.md
Labels: Content: Blog post, netlify-cms/draft

#5732 Uploading presentation slides for IRS event
  content/events/2023/01/2023-01-04-continuously-improve-your-website-by-using-customer-feedback-and-web-analytics-an-irs-case-study.md
Labels: Content: Events

#5734 Create Topic “presentations/_index”
  content/topics/presentations/_index.md
Labels: Content: Topics, netlify-cms/pending_publish

#5735 Create Image upload “content-images-_inbox-video-conference-call-kateryna-onyshchuk-istock-getty-images-1314080931-png”
  data/images/video-conference-call-kateryna-onyshchuk-istock-getty-images-1314080931.yml
  static/img/proxy/video-conference-call-kateryna-onyshchuk-istock-getty-images-1314080931.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5736 Update 2013-12-13-challenge-contest-requirements.md
  content/news/2013/12/2013-12-13-challenge-contest-requirements.md
Labels: Bug: Content Cleanup, Bug: broken links

#5738 Create Author “jia-gu/_index”
  content/authors/jia-gu/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5739 Create Author “justen-proctor/_index”
  content/authors/justen-proctor/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5740 Update _index.md
  content/topics/presentations/_index.md
Labels: Content: Resource, Content: Topics

#5741 Update _index.md
  content/topics/api/_index.md
Labels: Content: Resource, Bug: Content Cleanup, Content: Topics

#5742 Create Image upload “content-images-_inbox-u-x-designers-wear-face-masks-collaborating-in-the-office-yakobchuk-olena-istock-getty-images-1297220263-png”
  data/images/u-x-designers-wear-face-masks-collaborating-in-the-office-yakobchuk-olena-istock-getty-images-1297220263.yml
  static/img/proxy/u-x-designers-wear-face-masks-collaborating-in-the-office-yakobchuk-olena-istock-getty-images-1297220263.jpg
Labels: Content: Images, netlify-cms/pending_publish

#5737 Create Resource “introduction-to-self-description”
  content/resources/introduction-to-self-description.md
Labels: Content: Resource, netlify-cms/pending_publish

#5744 Create Blog Post “2023/01/2023-01-27-bringing-design-in-house”
  content/news/2023/01/2023-01-27-bringing-design-in-house.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5721 Transcript workflow post
  themes/digital.gov/static/workflow/config.yml
Labels: Dev: Workflow

#5750 AS_OD redirect
  content/communities/open-data.md
Labels: Content: Communities, :hand: HOLD

#5753 Create Image upload “content-uploads-_inbox-2023-uswds-monthly-call-feb-title-card-png”
  data/images/2023-uswds-monthly-call-feb-title-card.yml
Labels: Content: Images

#5760 Create Blog Post “2023/01/2023-01-31-9-web-resolutions-to-jump-start-2023”
  content/news/2023/01/2023-01-31-9-web-resolutions-to-jump-start-2023.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5761 Create Image upload “content-uploads-_inbox-start-2023-road-sakorn-sukkasemsakorn-istock-getty-images-1446850843-copy-png”
  data/images/start-2023-road-sakorn-sukkasemsakorn-istock-getty-images-1446850843-copy.yml
Labels: Content: Images, netlify-cms/pending_publish
