Repository GSA/digitalgov.gov, pull requests merged in 2023-10, with the labels that each got.

#6659 create trust topic page
  content/topics/trust/_index.md
Labels: Content: Topics

#6660 add trust topic summary
  content/topics/trust/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6661 Create Image upload “content-uploads-_inbox-id-management-homepage-png”
  data/images/id-management-homepage.yml
Labels: Content: Images, netlify-cms/pending_publish

#6654 Remove "requirements" wording
  content/resources/an-introduction-to-design.md
Labels: Content: Resource, Bug: Content Cleanup

#6662 Create Author “babur-kohy/_index”
  content/authors/babur-kohy/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6663 Create Blog Post “2023/10/2023-10-02-new-idmanagement-gov-is-refreshing-the-conversation-about-zero-trust”
  content/news/2023/10/2023-10-02-new-idmanagement-gov-is-refreshing-the-conversation-about-zero-trust.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6664 Create Image upload “content-uploads-_inbox-id-management-zero-trust-png”
  data/images/id-management-zero-trust.yml
Labels: Content: Images, netlify-cms/pending_publish

#6665 Update 2023-10-02-new-idmanagement-gov-is-refreshing-the-conversation…
  content/news/2023/10/2023-10-02-new-idmanagement-gov-is-refreshing-the-conversation-about-zero-trust.md
Labels: Bug: Content Cleanup, Content: Blog post

#6667 search topic weight
  content/topics/search/_index.md
Labels: Content: Topics

#6668 alias for 2012 DG Strategy to M-23-22
  content/events/2020/10/2020-10-20-customer-experience-continuous-improvement-the-usps-digital-approach.md
  content/news/2015/03/2015-03-04-what-is-the-digital-analytics-program-dap.md
  content/news/2016/01/2016-01-27-the-data-briefing-improving-the-federal-government-through-mobile-apps.md
  content/resources/2012-digital-government-strategy-2.md
  content/resources/2012-digital-government-strategy.md
Labels: Content: Events, Content: Resource, Bug: Content Cleanup, Content: Blog post

#6670 delete idm img file
  data/images/id-management-homepage.yml
Labels: Content: Images, Bug: Content Cleanup

#6674 Create Image upload “content-uploads-_inbox-2023-uswds-monthly-call-oct-title-card-png”
  data/images/2023-uswds-monthly-call-oct-title-card.yml
Labels: Content: Images

#6675 Update 2023-03-28-uswds-monthly-zoom-hang.md
  content/events/2023/03/2023-03-28-uswds-monthly-zoom-hang.md
Labels: Content: Video + YouTube

#6528 Sitewide alert component
  data/sitewide_alert.yml
  themes/digital.gov/layouts/partials/core/sitewide-alert.html
  themes/digital.gov/src/scss/new/_sitewide-alert.scss
  themes/digital.gov/src/scss/new/_uswds-overrides.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: Template Logic, Content: General site

#6676 rename file
  content/events/2023/03/2023-03-28-uswds-monthly-call-march-2023.md
Labels: Content: Events, Bug: Content Cleanup

#6421 Refactoring images-stream to native javascript
  .eslintrc.yml
  config/gulp/scripts.js
  content/images/_index.md
  package-lock.json
  package.json
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/_default/images.html
  themes/digital.gov/src/js/stream-images.js
Labels: Dev: frontend

#6666 Updated weight sorting logic for topics and resources collection component
  themes/digital.gov/layouts/partials/core/topics/topics-standard.html
  themes/digital.gov/layouts/resources/list.html
Labels: Dev: Template Logic

#6671 Header secondary nav & Footer: Link update
  config.yml
  content/resources/21st-century-integrated-digital-experience-act.md
  themes/digital.gov/layouts/partials/core/header.html
Labels: Dev: frontend

#6679 remove forward slash from front matter line
  content/events/2023/01/2023-01-30-uswds-monthly-call-february-2023.md
Labels: Content: Events, Bug: Content Cleanup

#6673 Create Resource “an-introduction-to-search”
  content/resources/an-introduction-to-search.md
Labels: netlify-cms/pending_publish

#6681 Update 2023-09-18-uswds-monthly-call-september-2023.md
  content/events/2023/09/2023-09-18-uswds-monthly-call-september-2023.md
Labels: Content: Events

#6683 Update thinking.md
  content/guides/hcd/design-operations/thinking.md
Labels: Content: Guide

#6685 Update 2023-03-28-uswds-monthly-call-march-2023.md
  content/events/2023/03/2023-03-28-uswds-monthly-call-march-2023.md
Labels: Content: Events

#6682 Update understand-the-data.md
  content/guides/site-scanning/understand-the-data.md
Labels: Content: Guide

#6669 Create Image upload “content-uploads-_inbox-notify-gov-dashboard-png”
  data/images/notify-gov-dashboard.yml
Labels: Content: Images

#6686 Update and rename best-practices-for-writing-for-accessible.md to bes…
  content/resources/best-practices-writing-for-accessible-web.md
Labels: Content: Resource, Content: Redirects, Bug: Content Cleanup

#6691 ihs source imgs
  static/logos/ihs-icon.png
  static/logos/ihs-logo.png
Labels: Content: Images, Content: Source

#6692 Create Source “source_indian-health-service”
  content/sources/source_indian-health-service.md
Labels: netlify-cms/pending_publish, Content: Source

#6693 Create Blog Post “2023/10/2023-10-06-ihs-health-information-technology-modernization-the-path-forward”
  content/news/2023/10/2023-10-06-ihs-health-information-technology-modernization-the-path-forward.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6689 Update omb-final-guidance-on-implementing-the-plain-writing-act-of-20…
  content/resources/omb-final-guidance-on-implementing-the-plain-writing-act-of-2010-m-11-15.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6694 Update omb-memo-on-testing-and-simplifying-federal-forms.md
  content/resources/omb-memo-on-testing-and-simplifying-federal-forms.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6695 update community file name
  content/topics/plain-language/_index.md
Labels: Content: Topics

#6696 Fix month for MC slides
  content/events/2023/09/2023-09-18-uswds-monthly-call-september-2023.md
Labels: Content: Events, Bug: Content Cleanup

#6680 Add back button to HCD guide page
  data/guidenav/hcd-design-concepts.yml
  data/guidenav/hcd-design-operations.yml
  data/guidenav/hcd-discovery-concepts.yml
  data/guidenav/hcd-discovery-operations.yml
  data/guidenav/hcd-introduction.yml
  themes/digital.gov/layouts/partials/core/guides/guide-header.html
Labels: Content: Guide

#6688 Create Resource “an-introduction-to-trust”
  content/resources/an-introduction-to-trust.md
Labels: Content: Resource, netlify-cms/pending_publish

#6690 Update Design topic page
  content/resources/an-introduction-to-search.md
  content/topics/design/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#6697 Create Blog Post “2023/10/2023-10-11-5-things-we-learned-from-our-scams-wizard-usability-test”
  content/news/2023/10/2023-10-11-5-things-we-learned-from-our-scams-wizard-usability-test.md
Labels: Content: Blog post

#6698 Create Event “2023/10/2023-10-11-uswds-monthly-call-october-2023”
  content/events/2023/10/2023-10-11-uswds-monthly-call-october-2023.md
Labels: Content: Events

#6701 Update 2023-09-27-backlogs-and-why-every-website-needs-one.md
  content/events/2023/09/2023-09-27-backlogs-and-why-every-website-needs-one.md
Labels: Content: Events

#6537 Update 2023-02-07-collaborate-with-the-tts-public-benefits-studio.md
  content/news/2023/02/2023-02-07-collaborate-with-the-tts-public-benefits-studio.md
Labels: :hand: HOLD, netlify-cms/draft

#6703 Create Source “source_national-telecommunications-and-information-administration”
  content/sources/source_national-telecommunications-and-information-administration.md
Labels: netlify-cms/draft, Content: Source

#6704 Create Blog Post “2023/10/2023-10-12-kids-online-health-and-safety”
  content/news/2023/10/2023-10-12-kids-online-health-and-safety.md
Labels: Content: Authors

#6707 Create Resource “an-introduction-to-digital-governance”
  content/resources/an-introduction-to-digital-governance.md
Labels: Content: Resource, netlify-cms/pending_publish

#6714 Create Blog Post “2023/10/2023-10-17-celebrating-20-years-of-usagov-en-espanol”
  content/news/2023/10/2023-10-17-celebrating-20-years-of-usagov-en-espanol.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6715 Update 2014-05-30-digitalgov-citizen-services-summit-a-success.md
  content/news/2014/05/2014-05-30-digitalgov-citizen-services-summit-a-success.md
Labels: Bug: Content Cleanup, Content: Blog post

#6716 Update 2015-10-30-digitalgov-summit-recap-innovation-through-customer…
  content/news/2015/10/2015-10-30-digitalgov-summit-recap-innovation-through-customer-experience.md
Labels: Bug: Content Cleanup, Content: Blog post

#6717 Update 2015-09-02-digitalgov-summit-recap-no-longer-the-team-of-no.md
  content/news/2015/09/2015-09-02-digitalgov-summit-recap-no-longer-the-team-of-no.md
Labels: Bug: Content Cleanup, Content: Blog post

#6719 Update 2015-08-26-digitalgov-summit-recap-the-need-for-change-agents-…
  content/news/2015/08/2015-08-26-digitalgov-summit-recap-the-need-for-change-agents-plus-the-internet-of-everything-from-a-to-z.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6721 Update 2015-10-30-digitalgov-summit-recap-innovation-through-customer…
  content/news/2015/10/2015-10-30-digitalgov-summit-recap-innovation-through-customer-experience.md
Labels: Bug: Content Cleanup

#6724 Update 2015-08-07-digitalgov-summit-recap-leveraging-open-analytics.md
  content/news/2015/08/2015-08-07-digitalgov-summit-recap-leveraging-open-analytics.md
Labels: Bug: Content Cleanup, Content: Blog post

#6725 Update 2015-07-22-digitalgov-summit-recap-how-we-the-techies-can-effe…
  content/news/2015/07/2015-07-22-digitalgov-summit-recap-how-we-the-techies-can-effect-change.md
Labels: Bug: Content Cleanup, Content: Blog post

#6726 Update 2015-06-12-digitalgov-citizen-services-summit-reflections-from…
  content/news/2015/06/2015-06-12-digitalgov-citizen-services-summit-reflections-from-our-livestream-host-and-full-recording-now-available.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6727 Create Image upload “content-uploads-_inbox-cloud-gov-example-diagram-png”
  data/images/cloud-gov-example-diagram.yml
Labels: Content: Images, netlify-cms/pending_publish

#6728 Create Resource “an-introduction-to-atos”
  content/resources/an-introduction-to-ato.md
Labels: Content: Resource, netlify-cms/pending_publish

#6708 Create Resource “an-introduction-to-security-and-privacy-controls”
  content/resources/an-introduction-to-security-and-privacy-controls.md
Labels: Content: Resource, netlify-cms/pending_publish

#6729 Update an-introduction-to-ato.md
  content/resources/an-introduction-to-ato.md
Labels: Content: Resource

#6733 Update introduction-to-self-description.md
  content/resources/introduction-to-self-description.md
Labels: Content: Resource, Bug: Content Cleanup

#6705 Remove topics pages with zero items
  content/resources/an-introduction-to-trust.md
  content/topics/cops-office/_index.md
  content/topics/defense-intelligence-agency/_index.md
  content/topics/dgu/_index.md
  content/topics/dia/_index.md
  content/topics/digitalgov-university/_index.md
  content/topics/first-responder-network-authority/_index.md
  content/topics/first-responders-network/_index.md
  content/topics/national-museum-of-african-american-history-and-culture/_index.md
  content/topics/nmaahc/_index.md
  content/topics/office-of-community-oriented-policing-services/_index.md
  content/topics/office-of-inspector-general/_index.md
  content/topics/oig/_index.md
  content/topics/us/_index.md
  content/topics/usfs/_index.md
  content/topics/whats-new/_index.md
  content/topics/work-in-progress/_index.md
Labels: Content: Topics

#6732 add kicker to community pages
  content/communities/communicators.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Content: Communities

#6737 add trust blogs
  content/news/2014/06/2014-06-09-facebook-increases-public-service-verification-to-improve-citizen-engagement-2.md
  content/news/2015/02/2015-02-25-avoid-weak-links-in-your-digital-chain.md
  content/news/2015/03/2015-03-06-enabling-trusted-digital-interactions-between-people-government.md
  content/news/2016/11/2016-11-15-trends-on-tuesday-americans-digital-divide-on-tech-savviness-and-digital-learning.md
  content/news/2019/06/2019-06-13-building-trust-with-users-through-open-communication-feedback.md
  content/news/2019/11/2019-11-18-building-elements-that-earn-trust.md
  content/news/2022/12/2022-12-13-to-build-trust-aim-for-easy.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#6738 Create Resource “executive-order-14058-transforming-federal-customer-experience-and-service-delivery-to-rebuild-trust-in-government”
  content/resources/executive-order-14058-transforming-federal-customer-experience-and-service-delivery-to-rebuild-trust-in-government.md
Labels: Content: Resource, netlify-cms/pending_publish

#6742 Create Image upload “content-uploads-_inbox-fema-mobile-app-home-updated-comp-png”
  data/images/fema-mobile-app-home-updated-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6741 Update embedding-equity-in-civic-design-to-transform-customer-experie…
  content/resources/embedding-equity-in-civic-design-to-transform-customer-experience.md
Labels: Content: Resource

#6745 Update 2016-11-15-trends-on-tuesday-americans-digital-divide-on-tech-…
  content/news/2016/11/2016-11-15-trends-on-tuesday-americans-digital-divide-on-tech-savviness-and-digital-learning.md
Labels: Bug: Content Cleanup, Content: Blog post

#6743 Update 2019-06-13-building-trust-with-users-through-open-communicatio…
  content/news/2019/06/2019-06-13-building-trust-with-users-through-open-communication-feedback.md
Labels: Bug: Content Cleanup, Content: Blog post

#6746 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Bug: Content Cleanup

#6747 Update executive-order-14058-transforming-federal-customer-experience…
  content/resources/executive-order-14058-transforming-federal-customer-experience-and-service-delivery-to-rebuild-trust-in-government.md
Labels: Content: Resource, Bug: Content Cleanup

#6750 Update 2020-10-20-overview-of-nist-initiatives-on-ai-standards-princi…
  content/events/2020/10/2020-10-20-overview-of-nist-initiatives-on-ai-standards-principles-and-critical-ai-issues.md
Labels: Bug: Content Cleanup

#6752 Update an-introduction-to-trust.md
  content/resources/an-introduction-to-trust.md
Labels: Content: Resource, Bug: Content Cleanup

#6749 fix broken link for DAP team email
  content/news/2023/09/2023-09-12-from-pageviews-to-progress.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6734 update notifygov text with new link and edit text
  content/news/2023/02/2023-02-07-collaborate-with-the-tts-public-benefits-studio.md
Labels: Bug: Content Cleanup, Content: Blog post

#6753 Update tips-for-starting-your-customer-experience.md
  content/resources/tips-for-starting-your-customer-experience.md
Labels: Content: Resource, Bug: Content Cleanup

#6755 Update 2023-03-29-uswds-monthly-call-april-2023.md
  content/events/2023/03/2023-03-29-uswds-monthly-call-april-2023.md
Labels: Content: Events

#6756 Update 2014-06-30-social-media-accessibility-issues-and-solutions.md
  content/news/2014/06/2014-06-30-social-media-accessibility-issues-and-solutions.md
Labels: Bug: Content Cleanup, Content: Blog post

#6758 Update an-introduction-to-trust.md
  content/resources/an-introduction-to-trust.md
Labels: Content: Resource, Bug: Content Cleanup

#6759 Update executive-order-14058-transforming-federal-customer-experience…
  content/resources/executive-order-14058-transforming-federal-customer-experience-and-service-delivery-to-rebuild-trust-in-government.md
Labels: Content: Resource, Bug: Content Cleanup

#6760 Update introduction-to-self-description.md
  content/resources/introduction-to-self-description.md
Labels: Content: Resource, Bug: Content Cleanup

#6762 Update 2023-09-25-why-the-american-people-deserve-a-digital-governmen…
  content/news/2023/09/2023-09-25-why-the-american-people-deserve-a-digital-government.md
Labels: Content: Blog post

#6763 Update an-introduction-to-ato.md
  content/resources/an-introduction-to-ato.md
Labels: Content: Resource, Bug: Content Cleanup

#6765 Create Image upload “content-uploads-_inbox-title-card-intro-ato-karpenko-ilia-istock-getty-images-604030034-comp-png”
  data/images/title-card-intro-ato-karpenko-ilia-istock-getty-images-604030034-comp.yml
Labels: Content: Images, Content: Resource, netlify-cms/pending_publish

#6766 Update an-introduction-to-ato.md
  content/resources/an-introduction-to-ato.md
Labels: Content: Resource, Bug: Content Cleanup

#6770 Create Image upload “content-uploads-_inbox-intro-security-privacy-controls-nist-800-53-rabbit-photo-istock-getty-images-1203479919-png”
  data/images/intro-security-privacy-controls-nist-800-53-rabbit-photo-istock-getty-images-1203479919.yml
Labels: Content: Images, Content: Resource, netlify-cms/pending_publish

#6771 Create Image upload “content-uploads-_inbox-title-card-intro-ato-karpenko-ilia-istock-getty-images-604030034-dg-logo-png”
  data/images/title-card-intro-ato-karpenko-ilia-istock-getty-images-604030034-dg-logo.yml
Labels: Content: Images, netlify-cms/pending_publish

#6772 Update an-introduction-to-security-and-privacy-controls.md
  content/resources/an-introduction-to-security-and-privacy-controls.md
Labels: Content: Images, Content: Resource

#6773 Update an-introduction-to-ato.md
  content/resources/an-introduction-to-ato.md
Labels: Content: Resource, Bug: Content Cleanup

#6774 Update 2014-05-30-digitalgov-citizen-services-summit-a-success.md
  content/news/2014/05/2014-05-30-digitalgov-citizen-services-summit-a-success.md
Labels: Bug: Content Cleanup, Content: Blog post

#6775 Create Blog Post “2023/10/2023-10-24-navigating-the-nist-industrial-control-systems-overlay”
  content/news/2023/10/2023-10-24-navigating-the-nist-industrial-control-systems-overlay.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6768 Create Topic “digital-service-delivery/_index”
  content/topics/digital-service-delivery/_index.md
Labels: Content: Topics, netlify-cms/pending_publish

#6783 Updated community membership counts
  content/communities/communicators.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Dev: frontend, Content: Communities

#6782 Update an-introduction-to-digital-governance.md
  content/resources/an-introduction-to-digital-governance.md
Labels: Content: Resource

#6785 delete yml file for unused img
  data/images/m-17-06.yml
Labels: Content: Images, Bug: Content Cleanup

#6788 remove extra resource
  content/guides/hcd/introduction/next-steps.md
Labels: Content: Guide, Bug: Content Cleanup

#6789 Update executive-order-14058-transforming-federal-customer-experience…
  content/resources/executive-order-14058-transforming-federal-customer-experience-and-service-delivery-to-rebuild-trust-in-government.md
Labels: Content: Resource, Bug: Content Cleanup

#6792 Update 2023-06-08-uswds-monthly-call-june-2023.md
  content/events/2023/06/2023-06-08-uswds-monthly-call-june-2023.md
Labels: Content: Events, Bug: broken links

#6790 Update 2023-08-03-uswds-monthly-call-august-2023.md
  content/events/2023/08/2023-08-03-uswds-monthly-call-august-2023.md
Labels: Content: Events, Bug: broken links

#6793 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Bug: Content Cleanup, Bug: broken links

#6795 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Bug: Content Cleanup, Bug: broken links

#6797 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Bug: Content Cleanup, Bug: broken links

#6798 Update guidance-on-the-use-of-challenges-and-prizes-to-promote-open-g…
  content/resources/guidance-on-the-use-of-challenges-and-prizes-to-promote-open-government.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6800 Create Author “michael-kelty/_index”
  content/authors/michael-kelty/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6802 delete old version of title card
  data/images/title-card-intro-ato-karpenko-ilia-istock-getty-images-604030034-comp.yml
Labels: Content: Images, Bug: Content Cleanup

#6794 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#6807 Create Image upload “content-uploads-_inbox-dashboard-templates-dmitry-kostrov-istock-getty-images-1145665438-comp-png”
  data/images/dashboard-templates-dmitry-kostrov-istock-getty-images-1145665438-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6812 Create Image upload “content-uploads-_inbox-high-impact-service-provider-hisp-dashboard-filter-png”
  data/images/high-impact-service-provider-hisp-dashboard-filter.yml
Labels: Content: Images, netlify-cms/pending_publish

#6810 Create Image upload “content-uploads-_inbox-question-response-counts-comparison-hisp-dashboard-png”
  data/images/question-response-counts-comparison-hisp-dashboard.yml
Labels: Content: Images, netlify-cms/pending_publish

#6811 Create Image upload “content-uploads-_inbox-question-level-analysis-hisp-dashboard-png”
  data/images/question-level-analysis-hisp-dashboard.yml
Labels: Content: Images, netlify-cms/pending_publish

#6809 Create Image upload “content-uploads-_inbox-survey-channel-response-values-hisp-dashboard-png”
  data/images/survey-channel-response-values-hisp-dashboard.yml
Labels: Content: Images, netlify-cms/pending_publish

#6801 Create Blog Post “2023/10/2023-10-27-decoding-public-sentiment-harnessing-open-data-to-gain-insights-into-service-delivery”
  content/news/2023/10/2023-10-30-decoding-public-sentiment-harnessing-open-data-to-gain-insights-into-service-delivery.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6813 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Bug: Content Cleanup, Bug: broken links

#6818 Create Image upload “content-uploads-_inbox-title-card-who-controls-your-control-systems-chor-muang-istock-getty-images-1423481986-comp-png”
  data/images/title-card-who-controls-your-control-systems-chor-muang-istock-getty-images-1423481986-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6819 Create Blog Post “2023/10/2023-10-31-who-is-controlling-your-control-system”
  content/news/2023/10/2023-10-31-who-is-controlling-your-control-system.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6821 Update 2023-09-18-uswds-monthly-call-september-2023.md
  content/events/2023/09/2023-09-18-uswds-monthly-call-september-2023.md
Labels: Content: Events
