Repository GSA/digitalgov.gov, pull requests merged in 2023-02, with the labels that each got.

#5762 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource

#5754 Create Event “2023/01/2023-01-30-uswds-monthly-call-february-2023”
  content/events/2023/01/2023-01-30-uswds-monthly-call-february-2023.md
Labels: Content: Events

#5764 Update 2013-07-15-digital-metrics-for-federal-agencies.md
  content/news/2013/07/2013-07-15-digital-metrics-for-federal-agencies.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#5765 Create Author “frances-carden/_index”
  content/authors/frances-carden/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5769 pl fix
  content/communities/federal-communicators-network.md
  content/communities/multilingual.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Content: Communities, Bug: Content Cleanup

#5768 Create Image upload “content-uploads-_inbox-virtual-diagram-web-icons-law-standards-checklist-everythingpossible-istock-getty-images-1370928101-png”
  data/images/virtual-diagram-web-icons-law-standards-checklist-everythingpossible-istock-getty-images-1370928101.yml
Labels: Content: Images, netlify-cms/pending_publish

#5771 Create Author “bonnie-cameron/_index”
  content/authors/bonnie-cameron/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#5772 Create Image upload “content-uploads-_inbox-3-d-quick-response-q-r-code-ktsimage-istock-getty-images-893155274-png”
  data/images/3-d-quick-response-q-r-code-ktsimage-istock-getty-images-893155274.yml
Labels: Content: Images, netlify-cms/pending_publish

#5770 Create Resource “introduction-to-qr-codes”
  content/resources/introduction-to-qr-codes.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5773 Create Image upload “content-uploads-_inbox-q-r-code-digital-gov-png”
  data/images/q-r-code-digital-gov.yml
Labels: Content: Images, netlify-cms/pending_publish

#5774 Update introduction-to-qr-codes.md
  content/resources/introduction-to-qr-codes.md
Labels: Content: Images, Content: Resource

#5775 Update introduction-to-qr-codes.md
  content/resources/introduction-to-qr-codes.md
Labels: Content: Redirects

#5776 Update 2013-02-14-qr-codes.md
  content/news/2013/02/2013-02-14-qr-codes.md
Labels: Content: Redirects

#5778 Update 2014-10-06-trends-on-tuesday-are-qr-codes-still-relevant.md
  content/news/2014/10/2014-10-06-trends-on-tuesday-are-qr-codes-still-relevant.md
Labels: Bug: Content Cleanup, Content: Blog post

#5779 Update 2013-02-14-qr-codes.md
  content/news/2013/02/2013-02-14-qr-codes.md
Labels: Archive

#5780 Update 2012-digital-government-strategy.md
  content/resources/2012-digital-government-strategy.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#5782 Update m-11-24-implementing-executive-order-13571-on-streamlining-ser…
  content/resources/m-11-24-implementing-executive-order-13571-on-streamlining-service-delivery-and-improving-customer-service.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#5763 Update a11y for secondary navigation dividers
  themes/digital.gov/layouts/partials/core/header.html
  themes/digital.gov/src/scss/new/_navigation.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: Accessibility

#5785 Create Image upload “content-uploads-_inbox-govlove-2023-heart-intro-2-png”
  data/images/govlove-2023-heart-intro-2.yml
Labels: Content: Images, netlify-cms/pending_publish

#5786 Create Blog Post “2023/02/2023-02-06-govlove-2023”
  content/news/2023/02/2023-02-06-govlove-2023.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5787 Update web-managers-forum.md
  content/communities/web-managers-forum.md
Labels: Content: Communities, Bug: Content Cleanup

#5788 Create File upload “content-uploads-_inbox-2023-10x-event-slides-pptx”
  data/files/2023-10x-event-slides.yml
Labels: Content: Other files

#5791 Adding ppt slides to event page
  content/events/2023/01/2023-01-18-increasing-public-participation-in-user-research.md
Labels: Content: Events

#5792 Create Author “alex-pandel/_index”
  content/authors/alex-pandel/_index.md
Labels: Content: Authors, netlify-cms/draft

#5793 Create Image upload “content-uploads-_inbox-public-benefits-studio-u-s-notify-screencapture-png”
  data/images/public-benefits-studio-u-s-notify-screencapture.yml
Labels: Content: Images, netlify-cms/pending_publish

#5796 Update 2016-02-10-paying-incentives-for-federal-user-research.md
  content/news/2016/02/2016-02-10-paying-incentives-for-federal-user-research.md
Labels: Bug: Content Cleanup, Content: Blog post

#5802 Update it-acquisition.md
  content/communities/it-acquisition.md
Labels: Content: Communities, Bug: broken links

#5807 Create Image upload “content-uploads-_inbox-everythingpossible-istock-getty-images-1370929429-png”
  data/images/everythingpossible-istock-getty-images-1370929429.yml
Labels: Content: Images, netlify-cms/pending_publish

#5809 Create Image upload “content-uploads-_inbox-2023-march-oes-event-title-card-png”
  data/images/2023-march-oes-event-title-card.yml
Labels: Content: Images

#5812 Adding event slides
  content/events/2023/01/2023-01-30-uswds-monthly-call-february-2023.md
Labels: Content: Events

#5815 cfpb source icon and logo
  static/logos/cfpb-icon.png
  static/logos/cfpb-logo.png
Labels: Content: Images, Content: Source

#5813 Create Blog Post “2023/02/2023-02-16-strengthening-information-accessibility-for-consumers-with-limited-english-proficiency”
  content/news/2023/02/2023-02-16-strengthening-information-accessibility-for-consumers-with-limited-english-proficiency.md
Labels: Content: Blog post, netlify-cms/draft

#5816 cfpb source md
  content/sources/source_cfpb.md
Labels: Content: Source

#5817 Update 2023-02-16-strengthening-information-accessibility-for-consume…
  content/news/2023/02/2023-02-16-strengthening-information-accessibility-for-consumers-with-limited-english-proficiency.md
Labels: Content: Blog post, Content: Source

#5819 Update _index.md
  content/guides/dap/_index.md
Labels: Content: Guide, Bug: broken links

#5803 Create Resource “introduction-to-design-systems”
  content/resources/introduction-to-design-systems.md
Labels: Content: Resource, netlify-cms/pending_publish

#5820 Create Blog Post “2023/02/2023-02-16-we-asked-our-design-team-what-did-you-learn-in-2022-and-what-are-you-looking-forward-to-in-2023”
  content/news/2023/02/2023-02-16-we-asked-our-design-team-what-did-you-learn-in-2022-and-what-are-you-looking-forward-to-in-2023.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5822 Update introduction-to-design-systems.md
  content/resources/introduction-to-design-systems.md
Labels: Bug: Content Cleanup

#5825 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource, Bug: Content Cleanup

#5826 Update customer-experience-toolkit.md
  content/resources/customer-experience-toolkit.md
Labels: Content: Resource, Bug: Content Cleanup

#5828 Update common-questions-about-dap.md
  content/guides/dap/common-questions-about-dap.md
Labels: Content: Guide, Bug: broken links

#5830 Update head-comment.html
  themes/digital.gov/layouts/partials/core/head-comment.html
Labels: Bug: Content Cleanup

#5827 Create shortcode for embedded c-span videos
  themes/digital.gov/layouts/shortcodes/cspan-iframe.html
Labels: Idea / enhancement :sparkles:

#5832 Create Blog Post “2023/02/2023-02-23-digital-governance-at-gsa”
  content/news/2023/02/2023-02-23-digital-governance-at-gsa.md
Labels: Content: Blog post, netlify-cms/pending_publish

#5834 Create Image upload “content-uploads-_inbox-nongkran_ch-istock-getty-images-487970224-comp-png”
  data/images/nongkran-ch-istock-getty-images-487970224-comp.yml
Labels: netlify-cms/pending_publish

#5835 Update 2016-12-02-the-future-of-technology-at-gsa.md
  content/news/2016/12/2016-12-02-the-future-of-technology-at-gsa.md
Labels: Bug: Content Cleanup, Content: Blog post

#5837 Create Blog Post “2023/02/2023-02-27-three-tips-for-using-facebook-and-instagram-stories”
  content/news/2023/02/2023-02-27-three-tips-for-using-facebook-and-instagram-stories.md
Labels: Content: Blog post, netlify-cms/pending_publish
