Repository GSA/digitalgov.gov, pull requests merged in 2023-04, with the labels that each got.

#6027 Global - Last updated: remove name author name from link
  themes/digital.gov/src/js/common/edit-this.js
  themes/digital.gov/src/js/common/github.js
Labels: Dev: frontend, Bug: Content Cleanup, Content: General site

#6024 Update content-management-systems-used-by-government-agencies.md
  content/resources/content-management-systems-used-by-government-agencies.md
Labels: Content: Resource, Bug: Content Cleanup

#6031 Update service_dap.md
  content/services/service_dap.md
Labels: Content: Tools and Services

#5935 Replace TOC with in-page navigation
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/src/js/common/in-page-navigation.js
Labels: Dev: frontend

#6033 Create Image upload “content-uploads-_inbox-usability-testing-steve-krug-ux-png”
  data/images/usability-testing-steve-krug-ux.yml
Labels: Content: Images, netlify-cms/pending_publish

#6034 Create Blog Post “2023/04/2023-04-06-modernizing-a-federal-government-website-with-user-centered-design”
  content/news/2023/04/2023-04-06-modernizing-a-federal-government-website-with-user-centered-design.md
Labels: Content: Blog post, netlify-cms/draft

#6036 Update 2016-09-12-dnssec-vs-elastic-load-balancers-the-zone-apex-prob…
  content/news/2016/09/2016-09-12-dnssec-vs-elastic-load-balancers-the-zone-apex-problem.md
Labels: Bug: Content Cleanup, Content: Blog post

#6038 Update how-test-websites-for-accessibility.md
  content/resources/how-test-websites-for-accessibility.md
Labels: Content: Resource, Bug: Content Cleanup

#6039 source pg imgs
  content/sources/source_hhs.md
  static/logos/hhs-icon.png
  static/logos/hhs-logo.png
Labels: Content: Source

#6037 Create component for USWDS button
  package-lock.json
  package.json
  themes/digital.gov/layouts/partials/core/usa-button.html
  themes/digital.gov/layouts/shortcodes/button.html
  themes/digital.gov/layouts/shortcodes/card-prompt.html
  themes/digital.gov/layouts/shortcodes/note.html
Labels: Dev: Template Logic

#6040 Create Blog Post “2023/04/2023-04-11-hhs-leverages-data-for-impact-and-action-at-the-2023-health-datapalooza”
  content/news/2023/04/2023-04-11-hhs-leverages-data-for-impact-and-action-at-the-2023-health-datapalooza.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6042 Create Image upload “content-uploads-_inbox-2023-05-03_incorporating-ux-practices-into-data-driven-development-of-a-biomedical-software-tool_title-card-png”
  data/images/2023-05-03-incorporating-ux-practices-into-data-driven-development-of-a-biomedical-software-tool-title-card.yml
Labels: Content: Images, netlify-cms/pending_review

#6044 Create Event “2023/04/2023-04-12-incorporating-user-experience-practices-into-data-driven-development-of-a-biomedical-software-tool”
  content/events/2023/04/2023-04-12-incorporating-user-experience-practices-into-data-driven-development-of-a-biomedical-software-tool.md
Labels: Content: Events, netlify-cms/pending_publish

#6043 Fix 'Edit this' feature on Guide landing pages
  themes/digital.gov/layouts/guides/list.html
  themes/digital.gov/layouts/guides/single.html
Labels: [issue type] bug, Dev: Template Logic, Dev: frontend

#6048 Add banner to news posts older than 5 years
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/blog-date-warning.html
  themes/digital.gov/src/scss/new/_article.scss
Labels: Dev: Template Logic

#6050 Create Blog Post “2023/04/2023-04-20-introducing-the-new-usa-gov”
  content/news/2023/04/2023-04-20-introducing-the-new-usa-gov.md
Labels: netlify-cms/pending_publish

#6055 Create File upload “content-uploads-_inbox-uswds-monthly-call-april-2023-pptx”
  data/files/uswds-monthly-call-april-2023.yml
Labels: netlify-cms/draft, Content: Other files

#6058 Update 2013-05-31-four-steps-to-achieve-good-seo.md
  content/news/2013/05/2013-05-31-four-steps-to-achieve-good-seo.md
Labels: Bug: Content Cleanup

#6059 delete page
  content/events/2023/03/2023-03-27-ux-summit-2023.md
Labels: Bug: Content Cleanup

#6056 Update 2014-07-02-using-top-tasks-to-be-top-notch-federal-reserve-boa…
  content/news/2014/07/2014-07-02-using-top-tasks-to-be-top-notch-federal-reserve-board-usability-case-study.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#6063 Adding script and ppt slides
  content/events/2023/03/2023-03-29-uswds-monthly-call-april-2023.md
Labels: Content: Events

#6064 Update community membership
  content/communities/communicators.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Content: Communities, Bug: Content Cleanup

#6066 Create Event “2023/04/2023-04-26-uswds-monthly-call-may-2023”
  content/events/2023/04/2023-04-26-uswds-monthly-call-may-2023.md
Labels: Content: Events, netlify-cms/draft

#6068 Create Blog Post “2023/04/2023-04-26-am-i-doing-it-right-a-check-up-for-agile-teams”
  content/news/2023/04/2023-04-26-am-i-doing-it-right-a-check-up-for-agile-teams.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6071 Add .prettierignore to skip file formatting
  .prettierignore
  content/news/2021/03/2021-03-23-tts-reflects-black-histories-to-celebrate-year-round.md
  themes/digital.gov/layouts/shortcodes/img-right.html
Labels: Dev: Workflow
