Repository GSA/digitalgov.gov, pull requests merged in 2023-05, with the labels that each got.

#6077 Update contribute.md
  content/about/contribute.md
Labels: Bug: Content Cleanup, Content: General site

#6080 Update formatting on third bullet
  content/resources/guidance-for-agency-use-of-third-party-websites-and-applications.md
Labels: Bug: broken links

#6082 Create File upload “content-uploads-_inbox-2023-may-incorporating-user-experience-practices-pptx”
  data/files/2023-may-incorporating-user-experience-practices.yml
Labels: Content: Events, netlify-cms/pending_publish

#6084 Update 2023-04-12-incorporating-user-experience-practices-into-data-d…
  content/events/2023/04/2023-04-12-incorporating-user-experience-practices-into-data-driven-development-of-a-biomedical-software-tool.md
Labels: Content: Events

#6079 Show first 10 topics on the resources page
  themes/digital.gov/layouts/resources/list.html
Labels: Dev: Template Logic

#6076 Rename front matter field blurb to join_cop_button
  content/communities/communicators.md
  content/communities/devops.md
  content/communities/multilingual.md
  content/communities/open-data.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/video.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
  themes/digital.gov/layouts/partials/core/community-join-without-form.html
  themes/digital.gov/src/scss/new/_join-community-form.scss
Labels: Dev: Template Logic, Bug: Content Cleanup

#6057 Refactor breadcrumb component to USWDS
  themes/digital.gov/layouts/_default/images.html
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/guides/list.html
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/breadcrumbs.html
  themes/digital.gov/layouts/partials/core/usa-breadcrumb.html
  themes/digital.gov/layouts/partials/core/usa-breadcrumbs.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/src/scss/new/_article.scss
  themes/digital.gov/src/scss/new/_breadcrumbs.scss
  themes/digital.gov/src/scss/new/_header.scss
  themes/digital.gov/src/scss/new/_uswds-theme.scss
  themes/digital.gov/src/scss/new/guides/_guide-header.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: frontend, Dev: Migration, Dev: U.S. Web Design System

#6078 Create Resource “an-introduction-to-plain-language”
  content/resources/an-introduction-to-plain-language.md
Labels: Content: Resource, netlify-cms/pending_review

#6088 Create Resource “chief-diversity-officers-executive-council”
  content/resources/chief-diversity-officers-executive-council.md
Labels: Content: Resource, netlify-cms/pending_publish

#6090 Create Resource “opm-2022-deia-annual-report”
  content/resources/opm-2022-deia-annual-report.md
Labels: Content: Resource, netlify-cms/pending_publish

#6091 Create Resource “government-wide-strategic-plan-to-advance-diversity-equity-inclusion-and-accessibility-in-the-federal-workforce”
  content/resources/government-wide-strategic-plan-to-advance-diversity-equity-inclusion-and-accessibility-in-the-federal-workforce.md
Labels: netlify-cms/pending_publish

#6093 Create Image upload “content-uploads-_inbox-title-card-2023-government-ux-summit-png”
  data/images/title-card-2023-government-ux-summit.yml
Labels: Content: Images, netlify-cms/pending_publish

#6092 Create Event “2023/05/2023-05-08-2023-government-ux-summit”
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
Labels: Content: Events, netlify-cms/pending_publish

#6101 Create Image upload “content-uploads-_inbox-dol-svg-seal-png”
  data/images/dol-svg-seal.yml
Labels: Content: Images, netlify-cms/pending_publish

#6098 Create Image upload “content-uploads-_inbox-dod-seal-png”
  data/images/dod-seal.yml
Labels: Content: Images, netlify-cms/pending_publish

#6095 Create Image upload “content-uploads-_inbox-opm-svg-seal-png”
  data/images/opm-svg-seal.yml
Labels: Content: Images, netlify-cms/pending_publish

#6097 Create Image upload “content-uploads-_inbox-dhs-svg-seal-png”
  data/images/dhs-svg-seal.yml
Labels: Content: Images, netlify-cms/pending_publish

#6096 Create Image upload “content-uploads-_inbox-doi-svg-seal-png”
  data/images/doi-svg-seal.yml
Labels: Content: Images, netlify-cms/pending_publish

#6107 Create Image upload “content-uploads-_inbox-gsa-blue-logo-sq-png”
  data/images/gsa-blue-logo-sq.yml
Labels: Content: Images, netlify-cms/pending_publish

#6114 Update 2023-05-08-2023-government-ux-summit.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
Labels: Bug: Content Cleanup

#6115 Create Image upload “content-uploads-_inbox-lab-at-opm-logo-orange-teal-svg-png”
  data/images/lab-at-opm-logo-orange-teal-svg.yml
Labels: Content: Images, netlify-cms/pending_publish

#6116 Create Image upload “content-uploads-_inbox-usa-jobs-red-white-logo-svg-png”
  data/images/usa-jobs-red-white-logo-svg.yml
Labels: Content: Images, netlify-cms/pending_publish

#6118 Update 2023-05-08-2023-government-ux-summit.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
Labels: Content: Events

#6117 Update guidelines-for-digital-gov-event-presenters.md
  content/resources/guidelines-for-digital-gov-event-presenters.md
Labels: Bug: Content Cleanup

#6121 add source
  content/sources/source_aousc.md
  static/logos/aousc-icon.png
  static/logos/aousc-logo.png
Labels: Content: Source

#6103 Create Blog Post “2023/05/2023-05-09-judiciary-launches-new-federal-ticket-processing-website”
  content/news/2023/05/2023-05-09-judiciary-launches-new-federal-ticket-processing-website.md
Labels: Content: Redirects, netlify-cms/draft

#6122 Update 2023-05-09-judiciary-launches-new-federal-ticket-processing-we…
  content/news/2023/05/2023-05-09-judiciary-launches-new-federal-ticket-processing-website.md
Labels: Bug: Content Cleanup

#6123 Create Image upload “content-uploads-_inbox-office-of-natural-resources-revenue-onrr-doi-logo-png”
  data/images/office-of-natural-resources-revenue-onrr-doi-logo.yml
Labels: Content: Images, netlify-cms/pending_publish

#6124 Update 2023-05-08-2023-government-ux-summit.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
Labels: Bug: Content Cleanup

#6125 Update 2023-05-08-2023-government-ux-summit.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
Labels: Bug: Content Cleanup

#6126 Update 2023-05-08-2023-government-ux-summit.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
Labels: Content: Events

#6128 Create Image upload “content-uploads-_inbox-gesrey-istock-getty-images-1364367007-comp-png”
  data/images/gesrey-istock-getty-images-1364367007-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6127 Create Resource “introduction-to-translation-technology”
  content/resources/introduction-to-translation-technology.md
Labels: Content: Resource, netlify-cms/pending_publish

#6131 Update dept-of-justice-memo-reaffirming-the-mandates-of-eo-13166.md
  content/resources/dept-of-justice-memo-reaffirming-the-mandates-of-eo-13166.md
Labels: Content: Resource, Bug: Content Cleanup

#6133 Update checklist-of-requirements-for-federal-digital-services.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
Labels: Content: Resource, Bug: Content Cleanup

#6132 Update improving-access-to-services-for-people-with-limited-english-p…
  content/resources/improving-access-to-services-for-people-with-limited-english-proficiency-e-o-13166.md
Labels: Content: Resource, Bug: Content Cleanup

#6134 Update social-media-web-based-interactive-technologies-and-the-paperw…
  content/resources/social-media-web-based-interactive-technologies-and-the-paperwork-reduction-act.md
Labels: Content: Resource, Bug: Content Cleanup

#6136 Create Author “alex-schulte/_index”
  content/authors/alex-schulte/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6135 Create Resource “an-introduction-to-pronouns”
  content/resources/an-introduction-to-pronouns.md
Labels: Content: Resource, netlify-cms/pending_publish

#6138 add 2 sources: NIH, DOL
  content/sources/source_dol.md
  content/sources/source_nih.md
  static/logos/dol-icon.png
  static/logos/dol-logo.png
  static/logos/nih-icon.png
  static/logos/nih-logo.png
Labels: Content: Images, Content: Source

#6139 Update 2022-10-13-national-disability-employment-awareness-month-ndea…
  content/news/2022/10/2022-10-13-national-disability-employment-awareness-month-ndeam.md
Labels: Content: Blog post, Content: Source

#6140 Update 2022-10-13-closing-the-disability-divide.md
  content/news/2022/10/2022-10-13-closing-the-disability-divide.md
Labels: Bug: Content Cleanup, Content: Source

#6141 Create Image upload “content-uploads-_inbox-people-hold-pronoun-signs-ekaterina-tveitan-getty-images-1395383185-comp-png”
  data/images/people-hold-pronoun-signs-ekaterina-tveitan-getty-images-1395383185-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6147 Create Image upload “content-uploads-_inbox-2023-05-24-strengthening-information-accessibility-title-card-png”
  data/images/2023-05-24-strengthening-information-accessibility-title-card.yml
Labels: Content: Events, netlify-cms/pending_publish

#6150 Create Image upload “content-uploads-_inbox-melpomenem-istock-getty-images-1134247984-png”
  data/images/melpomenem-istock-getty-images-1134247984.yml
Labels: Content: Images, netlify-cms/pending_publish

#6148 Create Event “2023/05/2023-05-15-strengthening-information-accessibility-for-consumers-with-limited-english-proficiency”
  content/events/2023/05/2023-05-15-strengthening-information-accessibility-for-consumers-with-limited-english-proficiency.md
Labels: Content: Events, netlify-cms/pending_publish

#6149 Create Blog Post “2023/05/2023-05-15-a-digital-accessibility-catalyst-for-your-next-policy-refresh”
  content/news/2023/05/2023-05-15-a-digital-accessibility-catalyst-for-your-next-policy-refresh.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6151 Create Blog Post “2023/05/2023-05-16-why-vote-gov-supports-multiple-languages”
  content/news/2023/05/2023-05-16-why-vote-gov-supports-multiple-languages.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6154 Update 2023-05-15-strengthening-information-accessibility-for-consume…
  content/events/2023/05/2023-05-15-strengthening-information-accessibility-for-consumers-with-limited-english-proficiency.md
Labels: Content: Events

#6155 Update negotiated-terms-of-service-agreements.md
  content/resources/negotiated-terms-of-service-agreements.md
Labels: Content: Resource, Bug: Content Cleanup

#6156 Update federal-compatible-terms-of-service-agreements.md
  content/resources/federal-compatible-terms-of-service-agreements.md
Labels: Content: Resource, Bug: Content Cleanup

#6157 Update negotiated-terms-of-service-agreements.md
  content/resources/negotiated-terms-of-service-agreements.md
Labels: Content: Resource, Bug: Content Cleanup

#6159 Update 2023-05-08-2023-government-ux-summit.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
Labels: Content: Events

#6161 Create File upload “content-uploads-_inbox-uswds-monthly-call-may-202…
  data/files/uswds-monthly-call-may-2023.yml
Labels: Content: Other files

#6162 remove tos poc links
  content/news/2014/02/2014-02-05-crowdhall-tint-now-available-for-federal-use.md
  content/news/2014/05/2014-05-13-what-is-a-terms-of-service-and-how-do-i-get-one.md
  content/news/2015/02/2015-02-06-getting-to-yes-working-with-vendors-to-secure-terms-of-service-and-federal-friendly-pricing.md
  content/news/2015/07/2015-07-30-community-rock-star-round-up.md
Labels: Bug: Content Cleanup

#6163 Update 2023-04-26-uswds-monthly-call-may-2023.md
  content/events/2023/04/2023-04-26-uswds-monthly-call-may-2023.md
Labels: Content: Events

#6164 Update 2023-05-08-2023-government-ux-summit.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
Labels: Content: Events, Bug: Content Cleanup

#6167 Update 2013-12-19-eventbrite-now-available-for-federal-use.md
  content/news/2013/12/2013-12-19-eventbrite-now-available-for-federal-use.md
Labels: Bug: Content Cleanup

#6165 Create Blog Post “2023/05/2023-05-19-personas-learn-how-to-discover-your-audience-understand-them-and-pivot-to-address-their-needs”
  content/news/2023/05/2023-05-19-personas-learn-how-to-discover-your-audience-understand-them-and-pivot-to-address-their-needs.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6166 Update 2015-01-09-personas-101.md
  content/news/2015/01/2015-01-09-personas-101.md
Labels: Bug: Content Cleanup

#6168 Create Image upload “content-uploads-_inbox-persona-tempate-usda-png”
  data/images/persona-tempate-usda.yml
Labels: Content: Images, netlify-cms/pending_publish

#6169 Create Image upload “content-uploads-_inbox-6-usda-personas-summaries-png”
  data/images/6-usda-personas-summaries.yml
Labels: Content: Images, netlify-cms/pending_publish

#6170 Create Image upload “content-uploads-_inbox-persona-tempate-usda-full-png”
  data/images/persona-tempate-usda-full.yml
Labels: Content: Images, netlify-cms/pending_publish

#6172 Create Image upload “content-uploads-_inbox-krugli-istock-getty-images-1330040683-comp-png”
  data/images/krugli-istock-getty-images-1330040683-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6173 Update 2021-12-21-overcoming-your-fear-of-data.md
  content/events/2021/12/2021-12-21-overcoming-your-fear-of-data.md
Labels: Bug: Content Cleanup

#6171 Update 2023-05-19-personas-learn-how-to-discover-your-audience-unders…
  content/news/2023/05/2023-05-19-personas-learn-how-to-discover-your-audience-understand-them-and-pivot-to-address-their-needs.md
Labels: Content: Images, Content: Blog post

#6174 Create Image upload “content-uploads-_inbox-nara-persona-2021-museum-visitor-comp-png”
  data/images/nara-persona-2021-museum-visitor-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6175 Add image to personas page
  content/news/2023/05/2023-05-19-personas-learn-how-to-discover-your-audience-understand-them-and-pivot-to-address-their-needs.md
  content/resources/an-introduction-to-pronouns.md
  content/resources/introduction-to-translation-technology.md
Labels: Content: Images, Content: Blog post

#6177 Update 2015-09-28-nasa-lunar-eclipse-a-supermoon-match-made-in-metric…
  content/news/2015/09/2015-09-28-nasa-lunar-eclipse-a-supermoon-match-made-in-metrics-heaven.md
Labels: Bug: Content Cleanup, Content: Blog post

#6181 Update _index.md
  content/authors/kenneth-myers/_index.md
Labels: Content: Authors

#6182 Create Author “tyler-jones/_index”
  content/authors/tyler-jones/_index.md
Labels: Content: Authors, netlify-cms/pending_publish

#6184 Create Image upload “content-uploads-_inbox-ficam-digital-autopen-playbook-website-png”
  data/images/ficam-digital-autopen-playbook-website.yml
Labels: Content: Images, netlify-cms/pending_publish

#6183 Create Image upload “content-uploads-_inbox-cio-council-logo-comp-png”
  data/images/cio-council-logo-comp.yml
Labels: Content: Images, netlify-cms/pending_publish

#6180 Create Blog Post “2023/05/2023-05-23-digital-autopen-playbook-pinpoints-how-agencies-can-leverage-technology-for-digital-signatures”
  content/news/2023/05/2023-05-23-digital-autopen-playbook-pinpoints-how-agencies-can-leverage-technology-for-digital-signatures.md
Labels: Content: Blog post, netlify-cms/pending_publish

#6187 Create File upload “content-uploads-_inbox-2023-05-24-strengthening-information-accessibility-slides-pptx”
  data/files/2023-05-24-strengthening-information-accessibility-slides.yml
Labels: Content: Events, netlify-cms/pending_publish

#6186 Create Image upload “content-uploads-_inbox-cfpb-lep-may-2023-title-card-png”
  data/images/cfpb-lep-may-2023-title-card.yml
Labels: Content: Images, netlify-cms/pending_publish

#6185 Create Resource “national-artificial-intelligence-research-and-development-strategic-plan-2023-update”
  content/resources/national-artificial-intelligence-research-and-development-strategic-plan-2023-update.md
Labels: Content: Resource, netlify-cms/pending_publish

#6191 Create Blog Post “2023/05/2023-05-26-planning-and-implementing-a-search-engine-for-a-redesigned-federal-government-website”
  content/news/2023/05/2023-05-26-planning-and-implementing-a-search-engine-for-a-redesigned-federal-government-website.md
Labels: netlify-cms/draft

#6193 Update policies.md
  content/about/policies.md
Labels: Bug: broken links, Content: General site

#6190 remove title card img
  data/images/2023-05-24-strengthening-information-accessibility-title-card.yml
Labels: Content: Images, Bug: Content Cleanup

#6194 Update federal-compatible-terms-of-service-agreements.md
  content/resources/federal-compatible-terms-of-service-agreements.md
Labels: Content: Resource, Content: Redirects

#6195 Update agency-points-of-contact-for-federal-compatible-terms-of-servi…
  content/resources/agency-points-of-contact-for-federal-compatible-terms-of-service-agreements.md
Labels: Content: Resource, Content: Redirects
