Repository GSA/digitalgov.gov, pull requests merged in 2024-01, with the labels that each got.

#7184 Update 2013-07-29-how-to-create-open-structured-content.md
  content/news/2013/07/2013-07-29-how-to-create-open-structured-content.md
Labels: Bug: broken links, Content: Blog post

#7186 add expiry for redirect 2013-07-29-how-to-create-open-structured-cont…
  content/news/2013/07/2013-07-29-how-to-create-open-structured-content.md
Labels: Content: Blog post, Archive

#7187 Update 2022-04-08-uswds-monthly-call-april-2022.md
  content/events/2022/04/2022-04-08-uswds-monthly-call-april-2022.md
Labels: Content: Events, Bug: broken links

#7188 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource, Bug: broken links

#7190 Update customer-experience-toolkit.md
  content/resources/customer-experience-toolkit.md
Labels: Content: Resource, Bug: broken links

#7192 Update 2015-01-27-new-inter-agency-social-media-cyber-vandalism-toolk…
  content/news/2015/01/2015-01-27-new-inter-agency-social-media-cyber-vandalism-toolkit-launched.md
Labels: Content: Blog post

#7193 Create Image upload “content-uploads-_inbox-2024-uswds-monthly-call-jan-title-card-png”
  data/images/2024-uswds-monthly-call-jan-title-card.yml
Labels: Content: Images

#7194 Create Event “2024/01/2024-01-10-uswds-monthly-call-january-2024”
  content/events/2024/01/2024-01-10-uswds-monthly-call-january-2024.md
Labels: Content: Events

#7195 Fo updateblog 1
  content/guides/site-scanning/data.md
Labels: Content: Guide

#7197 Create Blog Post “2024/01/2024-01-11-accessibility-testing-creating-digital-services-everyone-can-use”
  content/news/2024/01/2024-01-11-accessibility-testing-creating-digital-services-everyone-can-use.md
Labels: Content: Blog post

#7201 Update 2022-12-01-uswds-monthly-call-december-2022.md
  content/events/2022/12/2022-12-01-uswds-monthly-call-december-2022.md
Labels: Content: Events, Bug: broken links

#7203 Update 2024-01-10-uswds-monthly-call-january-2024.md
  content/events/2024/01/2024-01-10-uswds-monthly-call-january-2024.md
Labels: Content: Events

#7206 Update 2024-01-10-uswds-monthly-call-january-2024.md
  content/events/2024/01/2024-01-10-uswds-monthly-call-january-2024.md
Labels: Content: Events

#7202 Update customer-experience-toolkit.md
  content/resources/customer-experience-toolkit.md
Labels: Content: Resource, Bug: Content Cleanup

#7205 Create Resource “performance-gov”
  content/resources/performance-gov.md
Labels: Content: Resource, decap-cms/pending_publish

#7204 Create Resource “techfar-hub-get-started”
  content/resources/techfar-hub-get-started.md
Labels: Content: Resource, decap-cms/pending_publish

#7226 Create File upload “content-uploads-_inbox-uswds-monthly-call-january-2024-pptx”
  data/files/uswds-monthly-call-january-2024.yml
Labels: Content: Other files

#7227 Update 2024-01-10-uswds-monthly-call-january-2024.md
  content/events/2024/01/2024-01-10-uswds-monthly-call-january-2024.md
Labels: Content: Events

#7232 Create Blog Post “2024/01/2024-01-18-customer-experience-and-human-centered-design”
  content/news/2024/01/2024-01-18-customer-experience-and-human-centered-design.md
Labels: Content: Blog post, decap-cms/pending_publish

#7196 Update data.md
  content/guides/site-scanning/data.md
Labels: Bug: Content Cleanup

#7230 Add cdc source & shortlink
  content/resources/cdc-clear-communication-index.md
  content/sources/source_cdc.md
  static/logos/cdc-icon.png
  static/logos/cdc-logo.png
Labels: Content: Resource

#7245 add hcd to 40 pgs
  content/events/2018/08/2018-08-24-getting-started-with-uswds-20.md
  content/events/2019/07/2019-07-23-american-tech-series-part-two-advancing-usercentric-design-in-government.md
  content/events/2020/02/2020-02-27-survey-translation-inclusion-end-users-in.md
  content/events/2020/03/2020-03-19-uswds-monthly-call-march-2020.md
  content/events/2020/08/2020-08-20-uswds-monthly-call-august-2020.md
  content/events/2020/09/2020-09-15-federal-crowdsourcing-webinar-series-episode-14.md
  content/events/2020/11/2020-11-09-uswds-monthly-call-november-2020.md
  content/events/2020/12/2020-12-11-uswds-monthly-call-december-2020.md
  content/events/2021/01/2021-01-14-uswds-monthly-call-journey-mapping-service-blueprints-jan-2021.md
  content/events/2021/05/2021-05-28-plain-language-webinar-using-words-to-build-better-digital-experiences.md
  content/events/2021/06/2021-06-03-2021-user-experience-summit.md
  content/events/2021/07/2021-07-02-digital-meets-culture-getting-your-culture-in-line-with-your-digital-strategy.md
  content/events/2023/04/2023-04-12-incorporating-user-experience-practices-into-data-driven-development-of-a-biomedical-software-tool.md
  content/news/2015/01/2015-01-27-7-ways-to-ignite-user-centered-design-at-your-agency.md
  content/news/2015/05/2015-05-01-creating-a-veterans-centered-experience-through-exploreva.md
  content/news/2015/11/2015-11-10-trends-on-tuesday-5-tips-for-designing-touch-interactions.md
  content/news/2016/03/2016-03-30-the-data-briefing-an-interview-with-usajobs-on-new-changes-to-their-data-services.md
  content/news/2016/04/2016-04-04-digitalgov-podcast-behind-the-scenes-of-the-social-and-behavioral-science-team.md
  content/news/2016/05/2016-05-02-redesigning-we-the-people.md
  content/news/2016/05/2016-05-10-accessible-workplace-technology-signed-sealed-delivered.md
  content/news/2016/09/2016-09-01-emma-friendly-presence-and-innovative-uscis-resource-available-247.md
  content/news/2016/09/2016-09-08-sharing-the-story-of-innovation.md
  content/news/2016/09/2016-09-29-voices-of-veterans-introducing-personas-to-better-understand-our-customers.md
  content/news/2016/10/2016-10-25-digitalgov-readers-and-subscribers-we-want-to-talk-to-you.md
  content/news/2016/11/2016-11-07-writing-for-the-web-is-easy-writing-for-users-is-not.md
  content/news/2017/03/2017-03-20-presenting-online-data-to-wide-ranging-user-communities.md
  content/news/2017/03/2017-03-31-engineering-the-chaski-relay-a-touchscreen-game-at-the-national-museum-of-american-indian.md
  content/news/2017/06/2017-06-30-va-innovators-network-program-ahead-of-the-curve-in-healthcare-innovation.md
  content/news/2017/09/2017-09-21-managing-custom-software-development-in-government-when-youre-not-a-software-engineer.md
  content/news/2017/09/2017-09-28-finding-usability-testers-tips-from-an-army-recruiter.md
  content/news/2018/08/2018-08-30-collaborating-for-better-design-technology-user-experience.md
  content/news/2021/03/2021-03-02-security-is-everyones-job-delivering-secure-usable-login-for-government.md
  content/news/2021/04/2021-04-01-building-a-user-centered-data-strategy.md
  content/news/2022/07/2022-07-14-what-agile-looks-like-at-the-office-of-natural-resources-revenue.md
  content/news/2022/07/2022-07-15-content-design-for-beta-ada-gov-writing-for-action-and-flexibility.md
  content/news/2023/03/2023-03-15-the-u-s-web-design-system-uswds-and-onrr-gov.md
  content/news/2023/05/2023-05-03-the-18f-design-chapter.md
  content/news/2023/08/2023-08-09-how-a-small-team-modernized-a-federal-website-to-improve-cx.md
  content/news/2023/12/2023-12-06-sharing-artifacts-and-outputs-from-research.md
  content/services/service_opm_labs.md
Labels: Bug: Content Cleanup, Content: Topics

#7214 Convert HCD topic page to topic collection
  content/topics/human-centered-design/_index.md
Labels: Content: Topics

#7241 Create Blog Post “2024/01/2024-01-25-maximizing-impact-of-federal-websites-integrating-metrics-with-annual-goals-and-policies”
  content/news/2024/01/2024-01-25-maximizing-impact-of-federal-websites-integrating-metrics-with-annual-goals-and-policies.md
Labels: Content: Blog post

#7216 Convert information collection topic page to topic collection
  content/topics/information-collection/_index.md
Labels: Content: Topics

#7249 Update 2015-12-22-after-the-survey-turning-customer-feedback-into-act…
  content/news/2015/12/2015-12-22-after-the-survey-turning-customer-feedback-into-action.md
Labels: Bug: Content Cleanup

#7250 Update 2015-09-17-using-customer-feedback-to-improve-healthcare-gov.md
  content/news/2015/09/2015-09-17-using-customer-feedback-to-improve-healthcare-gov.md
Labels: Bug: Content Cleanup

#7251 Update 2023-01-04-continuously-improve-your-website-by-using-customer…
  content/events/2023/01/2023-01-04-continuously-improve-your-website-by-using-customer-feedback-and-web-analytics-an-irs-case-study.md
Labels: Bug: Content Cleanup

#7252 Update 2020-10-20-customer-experience-continuous-improvement-the-usps…
  content/events/2020/10/2020-10-20-customer-experience-continuous-improvement-the-usps-digital-approach.md
Labels: Bug: Content Cleanup

#7253 Update 2015-05-26-5-crucial-steps-for-conducting-an-effective-custome…
  content/news/2015/05/2015-05-26-5-crucial-steps-for-conducting-an-effective-customer-interview.md
Labels: Bug: Content Cleanup

#7254 Update 2016-01-29-case-study-ocsits-email-customer-survey-process.md
  content/news/2016/01/2016-01-29-case-study-ocsits-email-customer-survey-process.md
Labels: Bug: Content Cleanup

#7255 Update 2016-11-03-applying-customer-service-metrics-to-improve-custom…
  content/news/2016/11/2016-11-03-applying-customer-service-metrics-to-improve-customer-experience-cx.md
Labels: Bug: Content Cleanup

#7256 Update 2016-08-05-csat-nps-ces-3-easy-ways-to-measure-customer-experi…
  content/news/2016/08/2016-08-05-csat-nps-ces-3-easy-ways-to-measure-customer-experience-cx.md
Labels: Bug: Content Cleanup

#7246 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource

#7261 Create Image upload “content-uploads-_inbox-cloudgov-diagram-web-app-api-png”
  data/images/cloudgov-diagram-web-app-api.yml
Labels: Content: Images, decap-cms/pending_publish

#7217 Convert multimedia topic page to topic collection
  content/topics/multimedia/_index.md
Labels: Content: Topics

#7259 Create Blog Post “2024/01/2024-01-30-designing-with-empathy”
  content/news/2024/01/2024-01-30-designing-with-empathy.md
Labels: Content: Blog post

#7238 COP button hover fix
  themes/digital.gov/src/scss/new/home/_communities.scss
  themes/digital.gov/static/img/communities-social-media.svg
Labels: Dev: frontend
