Repository GSA/digitalgov.gov, pull requests merged in 2024-10, with the labels that each got.

#7976 Update job_board_10/1
  data/job_board.yml
Labels: Content: Community Job Board

#7978 Create Event “2024/10/2024-10-01-multilingual-search-engine-optimization-seo”
  content/events/2024/10/2024-10-01-multilingual-search-engine-optimization-seo.md
Labels: Content: Events

#7980 Create Blog Post “2024/10/2024-10-01-how-our-developers-and-accessibility-specialists-work-together”
  content/news/2024/10/2024-10-01-how-our-developers-and-accessibility-specialists-work-together.md
Labels: Content: Blog post, decap-cms/draft

#7985 Create Image upload “content-uploads-_inbox-hurricane-helene-esf-15-png”
  data/images/hurricane-helene-esf-15.yml
Labels: Content: Images, decap-cms/pending_publish

#7986 Create Image upload “content-uploads-_inbox-card-hurricane-helene-guidance-png”
  data/images/card-hurricane-helene-guidance.yml
Labels: Content: Images, decap-cms/pending_publish

#7977 Create Image upload “content-uploads-_inbox-2024-09-11_multilingual-webinar_-seo_title-card-png”
  data/images/2024-09-11-multilingual-webinar-seo-title-card.yml
Labels: Content: Images

#7987 Update 2024-10-01-multilingual-search-engine-optimization-seo.md
  content/events/2024/10/2024-10-01-multilingual-search-engine-optimization-seo.md
Labels: Content: Events

#7984 Added alert and resource page for ESF-15 Hurricane Helene
  content/resources/hurricane-helene-guidance-for-us-government.md
  data/images/hurricane-helene-esf-15.yml
  data/sitewide_alert.yml
  package.json
  themes/digital.gov/layouts/topics/list.html
Labels: Content: Resource, Content: General site

#7989 Upload multilingual health terms glossaries
  config/gulp/file-prep.js
  data/files/data-dictionary-multilingual-glossary-health-fall-2024.yml
  data/files/multilingual-glossary-tool-fall-2024.yml
Labels: Content: Other files

#7988 Create Introduction to multilingual glossaries resource
  content/resources/introduction-to-multilingual-glossaries.md
Labels: Content: Resource

#7918 A11Y: Fix empty headings
  content/news/2018/12/2018-12-10-an-introduction-usability-testing-why.md
  content/news/2018/12/2018-12-10-us-digital-service-instagram.md
  content/news/2019/03/2019-03-17-becoming-a-product-manager.md
  content/news/2020/07/2020-07-22-whens-the-best-time-to-tweet.md
Labels: Bug: Content Cleanup, Content: Blog post

#7991 Update job board for 10/3/24
  data/job_board.yml
Labels: Content: Community Job Board

#7994 Update hurricane-helene-guidance-for-us-government.md
  content/resources/hurricane-helene-guidance-for-us-government.md
Labels: Content: Resource, Bug: Content Cleanup

#7999 Create author profiles for CX blog by USDC fellows
  content/authors/kennedy-alexis/_index.md
  content/authors/louisa-sholar/_index.md
  content/authors/samantha-noor/_index.md
Labels: Content: Authors

#8000 Create Blog Post “2024/10/2024-10-04-uncovering-impactful-solutions-through-user-research”
  content/news/2024/10/2024-10-04-uncovering-impactful-solutions-through-user-research.md
Labels: Content: Blog post, decap-cms/pending_publish

#8001 Create blog post "building-a-culture-of-customer-experience-across-go…
  content/news/2024/10/2024-10-07-building-a-culture-of-customer-experience-across-government.md
Labels: Content: Blog post

#8002 Create Image upload “content-uploads-_inbox-card-hurricane-milton-guidance-png”
  data/images/card-hurricane-milton-guidance.yml
Labels: Content: Images, decap-cms/pending_publish

#8004 hurricane milton esf 15 activation
  content/resources/hurricane-helene-guidance-for-us-government.md
  content/resources/hurricane-milton-guidance-for-us-government.md
  data/sitewide_alert.yml
Labels: Content: Resource, Bug: Content Cleanup

#7996 Text doesn't wrap image
  content/news/2014/09/2014-09-26-member-spotlight-hannah-rubin-library-of-congress.md
Labels: Content: Resource

#8012 Create Image upload “content-uploads-_inbox-fda-hhs-influencers-101-tobacco-free-fresh-png”
  data/images/fda-hhs-influencers-101-tobacco-free-fresh.yml
Labels: Content: Images, decap-cms/pending_publish

#7998 Removed duplicate markup
  themes/digital.gov/layouts/authors/list.html
Labels: Content: Authors

#8013 Update job_board.yml_10/9
  data/job_board.yml
Labels: Content: Community Job Board

#8010 Corrected typos in USDC blog
  content/news/2024/10/2024-10-07-building-a-culture-of-customer-experience-across-government.md
Labels: Bug: Content Cleanup

#8014 Create File upload “content-uploads-_inbox-2024-09-11_multilingual-webinar-seo_presentation_final-pptx”
  data/files/2024-09-11-multilingual-webinar-seo-presentation-final.yml
Labels: Content: Events, Content: Other files, decap-cms/draft

#8018 Create Image upload “content-uploads-_inbox-social-media-influencer-marta-sher-istock-getty-images-1214053578-png”
  data/images/social-media-influencer-marta-sher-istock-getty-images-1214053578.yml
Labels: Content: Images, decap-cms/pending_publish

#8011 Topics featured_links frontmatter is missing a source field for icons
  content/topics/design/_index.md
  content/topics/plain-language/_index.md
  content/topics/social-media/_index.md
  content/topics/trust/_index.md
  themes/digital.gov/layouts/partials/core/usa-collection.html
Labels: Dev: Template Logic

#7901 Create Blog Post “2024/08/2024-08-26-are-social-media-influencers-right-for-your-digital-media-campaign”
  content/news/2024/08/2024-08-26-are-social-media-influencers-right-for-your-digital-media-campaign.md
Labels: Content: Blog post, decap-cms/draft

#8020 fix folder location rename md file
  content/news/2024/10/2024-10-10-are-social-media-influencers-right-for-your-digital-media-campaign.md
Labels: Bug: Content Cleanup, Content: Blog post

#8019 Create File upload “content-uploads-_inbox-2024-10-10_multilingual-webinar-seo-slides-pptx”
  data/files/2024-10-10-multilingual-webinar-seo-slides.yml
Labels: Content: Other files, decap-cms/draft

#8009 Content with duplicate front matter fields
  content/authors/lakshmi-grama/_index.md
  content/guides/public-policy/_index.md
  content/news/2015/10/2015-10-07-the-data-briefing-white-house-asks-data-scientists-and-app-developers-to-help-suicide-prevention-efforts.md
  content/topics/terms-of-service/_index.md
Labels: Dev: Migration, Bug: Content Cleanup

#8025 Update job_board.yml_Fix typo in due date
  data/job_board.yml
Labels: Bug: Content Cleanup, Content: Community Job Board

#8027 Create File upload “content-uploads-_inbox-2024-10-10-multilingual-webinar-slides-pptx”
  data/files/2024-10-10-multilingual-webinar-slides.yml
Labels: Content: Other files, decap-cms/draft

#8028 Update 2024-10-01-multilingual-search-engine-optimization-seo.md
  content/events/2024/10/2024-10-01-multilingual-search-engine-optimization-seo.md
Labels: Content: Events

#8032 Create manage-content.md
  content/about/manage-content.md
Labels: Content: General site

#8033 Create Image upload “content-uploads-_inbox-web-content-dev-team-artbesouro-istock-getty-images-1284921335-png”
  data/images/web-content-dev-team-artbesouro-istock-getty-images-1284921335.yml
Labels: Content: Images, decap-cms/pending_publish

#8034 update 3 about pages
  content/about/contact.md
  content/about/manage-content.md
  content/about/policies.md
Labels: Content: General site

#8029 Fix news-card images
  themes/digital.gov/layouts/partials/core/img-featured.html
Labels: Dev: Template Logic, Content: Images

#8038 Create Image upload “content-uploads-_inbox-nps-ncr-bounce-rate-chart-3-png”
  data/images/nps-ncr-bounce-rate-chart-3.yml
Labels: Content: Images, decap-cms/pending_publish

#8039 Create Image upload “content-uploads-_inbox-nps-ncr-pageviews-per-session-by-age-chart-4-png”
  data/images/nps-ncr-pageviews-per-session-by-age-chart-4.yml
Labels: Content: Images, decap-cms/pending_publish

#8040 Create Image upload “content-uploads-_inbox-nps-frederick-douglass-nhs-page-helpful-2023-scores-chart-5-png”
  data/images/nps-frederick-douglass-nhs-page-helpful-2023-scores-chart-5.yml
Labels: Content: Images, decap-cms/pending_publish

#8036 Create Image upload “content-uploads-_inbox-nps-ncr-sessions-by-mobile-device-chart-1-png”
  data/images/nps-ncr-sessions-by-mobile-device-chart-1.yml
Labels: Content: Images, decap-cms/pending_publish

#8037 Create Image upload “content-uploads-_inbox-nps-ncr-pageview-by-device-chart-2-png”
  data/images/nps-ncr-pageview-by-device-chart-2.yml
Labels: Content: Images, decap-cms/pending_publish

#8041 Create Image upload “content-uploads-_inbox-nps-frederick-douglass-nhs-page-helpful-scores-responses-chart-6-png”
  data/images/nps-frederick-douglass-nhs-page-helpful-scores-responses-chart-6.yml
Labels: Content: Images, decap-cms/pending_publish

#8006 Topics breadcrumb build error, layout fixes
  config.yml
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/partials/core/usa-breadcrumb.html
  themes/digital.gov/layouts/partials/core/usa-breadcrumbs.html
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/src/scss/new/_buttons.scss
Labels: bug, Dev: Template Logic

#8043 Create Blog Post “2024/10/2024-10-11-making-targeted-improvements-to-nps-gov-a-case-study-from-the-national-park-service”
  content/news/2024/10/2024-10-11-making-targeted-improvements-to-nps-gov-a-case-study-from-the-national-park-service.md
Labels: Content: Blog post, decap-cms/pending_publish

#8008 Update open-opportunities.md
  content/resources/open-opportunities.md
Labels: Content: Resource, Bug: broken links

#8048 Create Image upload “content-uploads-_inbox-national-park-service-nps-homepage-october-2024-png”
  data/images/national-park-service-nps-homepage-october-2024.yml
Labels: Content: Images, decap-cms/pending_publish

#8049 Create Image upload “content-uploads-_inbox-national-park-service-nps-homepage-safari-400-png”
  data/images/national-park-service-nps-homepage-safari-400.yml
Labels: Content: Images, decap-cms/pending_publish

#8035 Fixed pptx short code filename
  content/events/2024/10/2024-10-01-multilingual-search-engine-optimization-seo.md
Labels: Content: Events, Bug: Content Cleanup, Bug: broken links

#8050 Create Image upload “content-uploads-_inbox-3-cards-life-experiences-project-government-wide-cx-efforts-png”
  data/images/3-cards-life-experiences-project-government-wide-cx-efforts.yml
Labels: Content: Images, decap-cms/pending_publish

#7997 Updates to Introduction to translation technology
  content/resources/introduction-to-translation-technology.md
Labels: Content: Resource

#8053 Create Image upload “content-uploads-_inbox-life-experiences-project-facing-financial-shock-png”
  data/images/life-experiences-project-facing-financial-shock.yml
Labels: Content: Images, decap-cms/pending_publish

#8054 Create Image upload “content-uploads-_inbox-life-experiences-project-having-a-child-and-early-childhood-png”
  data/images/life-experiences-project-having-a-child-and-early-childhood.yml
Labels: Content: Images, decap-cms/pending_publish

#8055 Update config.yml
  config.yml
Labels: Bug: Content Cleanup

#8057 Update job_board.yml_10/15
  data/job_board.yml
Labels: Content: Community Job Board

#8059 Update COP membership numbers for October.md
  content/communities/communicators.md
  content/communities/contact-center.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Content: Communities

#8068 Update 2024-uswds-monthly-call-sep-title-card.yml
  data/images/2024-uswds-monthly-call-sep-title-card.yml
Labels: Content: Images, Bug: Content Cleanup

#8067 Create Image upload “content-uploads-_inbox-2024-uswds-monthly-call-october-title-card-png”
  data/images/2024-uswds-monthly-call-october-title-card.yml
Labels: Content: Images, decap-cms/pending_publish

#8066 Update 2014-07-01-multilingual-digital-content.md
  content/news/2014/07/2014-07-01-multilingual-digital-content.md
Labels: Bug: Content Cleanup, Content: Blog post

#8069 Create Author “kim-lopez/_index”
  content/authors/kim-lopez/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#8070 Create Author “becky-slogeris/_index”
  content/authors/becky-slogeris/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#8073 Add pptx and download link to USWDS October Monthly Call
  content/events/2024/10/2024-10-17-uswds-monthly-call-october-2024.md
  data/files/uswds-monthly-call-october-2024.yml
Labels: Content: Events, decap-cms/pending_publish

#8077 Update 2024-08-07-it-warning-banners-how-gsa-is-working-to-stop-unnec…
  content/news/2024/08/2024-08-07-it-warning-banners-how-gsa-is-working-to-stop-unnecessarily-frightening-users.md
Labels: Bug: Content Cleanup, Content: Blog post

#8022 Cltm archive uswdsblogs 2
  content/news/2016/03/2016-03-16-making-the-draft-u-s-web-design-standards-better-through-your-feedback.md
  content/news/2016/03/2016-03-25-how-to-integrate-the-draft-u-s-web-design-standards-into-existing-projects.md
  content/news/2016/04/2016-04-06-three-teams-using-the-draft-u-s-web-design-standards-talk-about-their-experiences.md
  content/news/2017/06/2017-06-13-fractal-and-federalist-join-the-u-s-web-design-standards.md
  content/topics/design/_index.md
  content/topics/open-source/_index.md
Labels: Content: Blog post

#8072 Add script to 2024-09-19-uswds-monthly-call-september-2024
  content/events/2024/09/2024-09-19-uswds-monthly-call-september-2024.md
Labels: Content: Events

#8080 Create Blog Post “2024/10/2024-10-17-simplifying-manual-accessibility-testing-how-plain-language-instructions-drive-compliance”
  content/news/2024/10/2024-10-17-simplifying-manual-accessibility-testing-how-plain-language-instructions-drive-compliance.md
Labels: Content: Blog post, decap-cms/pending_publish

#8076 Add FWS to Requirements for delivering digital-first public experience
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource

#8081 Create Blog Post “2024/10/2024-10-17-18f-year-of-launches”
  content/news/2024/10/2024-10-17-18f-year-of-launches.md
Labels: Content: Blog post, decap-cms/pending_publish

#8082 Update 2022-11-10-the-privileged-identity-playbook-guides-management-…
  content/news/2022/11/2022-11-10-the-privileged-identity-playbook-guides-management-of-privileged-user-accounts.md
Labels: Bug: broken links, Content: Blog post

#8078 Update job_board_10/17/2024
  data/job_board.yml
Labels: Content: Community Job Board

#8060 Updates to Multilingual topic page and Bilingual Glossaries page
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
  content/resources/dept-of-justice-memo-reaffirming-the-mandates-of-eo-13166.md
  content/topics/multilingual/_index.md
Labels: Content: Resource, Content: Topics, Bug: broken links

#8085 Update 2015-12-31-digitalgovs-2015-year-in-review.md
  content/news/2015/12/2015-12-31-digitalgovs-2015-year-in-review.md
Labels: Bug: broken links, Content: Blog post

#8086 fix hugo links inconsistencies
  content/about/contact.md
  content/news/2014/02/2014-02-26-open-for-innovation-in-digitalgov.md
  content/news/2015/12/2015-12-28-ocsits-2015-customer-survey-what-we-learned.md
Labels: Bug: Content Cleanup, Content: Blog post, Content: General site

#8088 Update contact.md
  content/about/contact.md
Labels: Content: General site

#8089 fix old migration code
  content/news/2015/09/2015-09-01-trends-on-tuesday-mobile-messaging-and-social-app-research-released.md
  content/news/2015/11/2015-11-17-trends-on-tuesday-smartphone-and-tablet-adoption-grows-while-other-digital-devices-slump.md
Labels: Bug: Content Cleanup, Content: Blog post

#8090 Update featured-18f-new-logo-black-bg.yml
  data/images/featured-18f-new-logo-black-bg.yml
Labels: Content: Images, Bug: Content Cleanup

#8093 Update pif-talk3.yml
  data/images/pif-talk3.yml
Labels: Content: Images, Bug: Content Cleanup

#8094 Update business-communication-video-conference-stefanamer-istock-thin…
  data/images/business-communication-video-conference-stefanamer-istock-thinkstock-613539594.yml
Labels: Content: Images, Bug: Content Cleanup

#8091 Update featured-usagov-logo-new-2017.yml
  data/images/featured-usagov-logo-new-2017.yml
Labels: Content: Images, Bug: Content Cleanup

#8095 fix imgs for alt text
  content/news/2013/11/2013-11-07-state-department-mobile-site-goes-responsive.md
  content/news/2024/04/2024-04-16-determining-the-true-value-of-a-website-a-gsa-case-study.md
Labels: Bug: Content Cleanup, Content: Blog post

#8021 Update Community of Practice landing page content
  content/communities/communicators.md
  content/communities/contact-center.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
  content/resources/introduction-to-translation-technology.md
  content/topics/plain-language/_index.md
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/partials/core/community_pagefooter.html
Labels: Content: Communities, decap-cms/draft

#8096 Update 2024-04-16-determining-the-true-value-of-a-website-a-gsa-case-…
  content/news/2024/04/2024-04-16-determining-the-true-value-of-a-website-a-gsa-case-study.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#8051 minor fixes for 2 money app blogs
  content/news/2019/03/2019-03-05-using-augmented-reality-teach-kids-about-currency.md
  content/news/2019/10/2019-10-10-a-new-version-frbs-money-adventure-app-helps-expand-digital-outreach.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#8097 Update job_board_10/21/2024
  data/job_board.yml
Labels: Content: Community Job Board

#8098 Update communicators community landing page featured resources text
  content/communities/communicators.md
Labels: Content: Communities

#8099 Update video-call-rawpixel-istock-thinkstock-508060428.yml
  data/images/video-call-rawpixel-istock-thinkstock-508060428.yml
Labels: Content: Images, Bug: Content Cleanup

#8100 fix caption and credit lines for images
  data/images/3d-rendering-of-robot-face-zapp2photo-istock-thinkstock-675938062.yml
  data/images/automation-of-business-workflows-and-processes-with-businessman-nicoelnino-istock-thinkstock-612012708.yml
  data/images/machine-learning-to-improve-artificial-intelligence-ability-for-predictions-nicoelnino-istock-thinkstock-539953610.yml
  data/images/power-africa-evan-papp.yml
  data/images/strategy-implementation-metal-gears.yml
Labels: Content: Images, Bug: Content Cleanup

#8101 Update file-prep.js
  config/gulp/file-prep.js
Labels: Dev: Accessibility, Bug: Content Cleanup

#8092 Fix FBI QR Code PSA link
  content/resources/introduction-to-qr-codes.md
Labels: Bug: broken links

#8104 Update 2024-08-15-uswds-monthly-call-august-2024.md
  content/events/2024/08/2024-08-15-uswds-monthly-call-august-2024.md
Labels: Content: Events, Content: Video + YouTube

#8108 Fix news-card images
  content/news/2024/09/2024-09-13-datagov-launches-metrics-tools.md
  content/news/2024/09/2024-09-23-delivering-a-digital-first-public-experience-one-agencys-plan.md
  content/news/2024/10/2024-10-07-building-a-culture-of-customer-experience-across-government.md
  content/news/2024/10/2024-10-11-making-targeted-improvements-to-nps-gov-a-case-study-from-the-national-park-service.md
  data/images/charts-graphs-bestforbet-istock-getty-images-2154975217.yml
  data/images/completed-checklist-tasks-bullseye-calendar-icon-paperfox-gettyimages-1468937260.yml
  data/images/lightbulb-anastasia-usenko-istock-getty-images-1208535618.yml
  data/images/site-design-iconicprototype-istock-getty-images-2017785853.yml
Labels: Content: Images, Bug: Content Cleanup

#8112 Update job_board_10/23
  data/job_board.yml
Labels: Content: Community Job Board

#8075 Display upcoming events to community page
  content/communities/communicators.md
  content/communities/contact-center.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
  content/events/2022/10/2022-10-13-october-2022-uswds-monthly-call.md
  content/events/2022/11/2022-11-08-uswds-monthly-call-november-2022.md
  content/events/2022/11/2022-11-09-usagov-usability-test-reports.md
  content/events/2022/12/2022-12-01-uswds-monthly-call-december-2022.md
  content/events/2023/01/2023-01-04-continuously-improve-your-website-by-using-customer-feedback-and-web-analytics-an-irs-case-study.md
  content/events/2023/01/2023-01-05-uswds-monthly-call-january-2023.md
  content/events/2023/01/2023-01-18-increasing-public-participation-in-user-research.md
  content/events/2023/01/2023-01-30-uswds-monthly-call-february-2023.md
  content/events/2023/02/2023-02-16-working-with-the-public-to-improve-digital-forms-a-gsa-case-study.md
  content/events/2023/02/2023-02-28-the-plain-language-tie-to-translating-digital-content.md
  content/events/2023/03/2023-03-28-uswds-monthly-call-march-2023.md
  content/events/2023/03/2023-03-29-uswds-monthly-call-april-2023.md
  content/events/2023/04/2023-04-12-incorporating-user-experience-practices-into-data-driven-development-of-a-biomedical-software-tool.md
  content/events/2023/04/2023-04-26-uswds-monthly-call-may-2023.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
  content/events/2023/05/2023-05-15-strengthening-information-accessibility-for-consumers-with-limited-english-proficiency.md
  content/events/2023/06/2023-06-08-uswds-monthly-call-june-2023.md
  content/events/2023/07/2023-07-05-supporting-inclusive-language-through-automation.md
  content/events/2023/08/2023-08-03-uswds-monthly-call-august-2023.md
  content/events/2023/09/2023-09-12-cultivating-a-dynamic-career-in-ux.md
  content/events/2023/09/2023-09-18-uswds-monthly-call-september-2023.md
  content/events/2023/09/2023-09-27-backlogs-and-why-every-website-needs-one.md
  content/events/2023/10/2023-10-11-uswds-monthly-call-october-2023.md
  content/events/2023/11/2023-11-13-uswds-monthly-call-november-2023.md
  content/events/2024/01/2024-01-10-uswds-monthly-call-january-2024.md
  content/events/2024/02/2024-02-07-uswds-monthly-call-february-2024.md
  content/events/2024/03/2024-02-27-spring-2024-community-summit.md
  content/events/2024/03/2024-03-21-uswds-monthly-call-march-2024.md
  content/events/2024/04/2024-04-18-uswds-monthly-call-april-2024.md
  content/events/2024/05/2024-05-02-uswds-monthly-call-may-2024.md
  content/events/2024/06/2024-06-20-uswds-monthly-call-june-2024.md
  content/events/2024/08/2024-08-15-uswds-monthly-call-august-2024.md
  content/events/2024/09/2024-09-19-uswds-monthly-call-september-2024.md
  content/events/2024/10/2024-10-01-multilingual-search-engine-optimization-seo.md
  themes/digital.gov/layouts/partials/core/get-upcomingevents.html
  themes/digital.gov/static/workflow/config.yml
Labels: Dev: Template Logic

#8121 Create Author “mitchell-henke/_index”
  content/authors/mitchell-henke/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#8122 Create Author “nick-ng/_index”
  content/authors/nick-ng/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#8126 archive prep for dgu page
  content/news/2013/07/2013-07-15-digital-metrics-for-federal-agencies.md
  content/news/2014/05/2014-05-13-what-is-a-terms-of-service-and-how-do-i-get-one.md
  content/news/2014/06/2014-06-13-search-engine-optimization-for-government-websites.md
  content/news/2014/11/2014-11-21-results-2014-federal-user-experience-survey.md
  content/news/2015/02/2015-02-13-institutionalizing-user-experience-building-usability-into-your-organization.md
  content/news/2015/03/2015-03-04-what-is-the-digital-analytics-program-dap.md
  content/news/2015/03/2015-03-11-data-code-and-api-event-round-up.md
  content/news/2015/04/2015-04-14-live-blogging-the-analytics-dashboard-on-tax-day.md
  content/news/2015/04/2015-04-24-sharing-the-essentials-of-animated-gifs-for-public-services.md
  content/news/2015/04/2015-04-30-digitalgovs-inaugural-podcast-how-ivr-supports-contact-centers.md
  content/news/2015/07/2015-07-15-whats-in-a-name-communities-in-the-public-and-private-sectors.md
  content/news/2015/07/2015-07-21-an-introduction-to-https-by-18f-and-digitalgov-university.md
  content/news/2015/10/2015-10-28-training-series-offers-marketing-tips-for-prizes-challenges.md
  content/news/2015/12/2015-12-28-ocsits-2015-customer-survey-what-we-learned.md
  content/news/2016/01/2016-01-04-a-sense-of-purpose-strong-communities-can-overcome-big-challenges.md
  content/news/2016/01/2016-01-08-somossocial-bilingual-twitter-chats-how-to-do-them-effectively.md
  content/news/2016/02/2016-02-02-the-day-after-real-impacts-begin-when-a-challenge-ends.md
  content/news/2016/05/2016-05-12-using-pirate-metrics-to-analyze-your-mobile-applications-audience.md
  content/news/2016/06/2016-06-06-why-switching-to-https-will-make-your-analytics-better.md
  content/news/2016/06/2016-06-08-a-problem-without-definition-is-a-challenge-without-a-solution.md
  content/news/2016/06/2016-06-15-700-strong-challenge-gov-crosses-new-milestone-in-open-innovation.md
  content/news/2016/06/2016-06-28-wcms-and-custom-apis-which-one-is-right-for-you.md
  content/news/2016/08/2016-08-23-what-is-citizen-science-a-recent-webinar-explores-how-the-federal-government-engages-the-public-via-crowdsourcing.md
  content/news/2016/09/2016-09-27-webinar-recap-snaps-and-stripes-sharing-public-service-stories-with-snapchat.md
  content/news/2016/11/2016-11-17-webinar-recap-social-media-plus-stakeholder-engagement-equals-outreach-success.md
  content/news/2017/01/2017-01-11-digitalgov-university-in-review-2016-training-trends.md
  content/news/2017/03/2017-03-24-nasas-journey-with-the-u-s-web-design-standards.md
  content/news/2017/03/2017-03-24-new-itif-report-inspires-a-closer-look-at-website-performance-and-security-here-is-where-to-begin.md
  content/news/2017/04/2017-04-07-hhs-offers-free-content-models-and-drupal-features.md
  content/news/2017/06/2017-06-30-webinar-recap-plain-language-action-and-information-network-plain-june-meeting.md
  content/resources/digitalgov-user-experience-program-test-support.md
  content/resources/federal-social-media-accessibility-toolkit-hackpad.md
  content/resources/improving-the-accessibility-of-social-media-in-government.md
Labels: Content: Resource, Bug: Content Cleanup, Content: Blog post

#8134 Update job_board_10/28
  data/job_board.yml
Labels: Content: Community Job Board

#8132 Created DOJ human-centered design blog post
  content/news/2024/10/2024-10-28-making-the-case-for-human-centered-design-a-department-of-justice-case-study.md
  data/images/justice-scales-svetlana-shamshurina-istock-getty-images-1226475738.yml
Labels: Content: Blog post

#8136 Create Blog Post “2024/10/2024-10-29-18f-folks-adopting-a-new-illustration-library”
  content/news/2024/10/2024-10-29-18f-folks-adopting-a-new-illustration-library.md
Labels: Content: Blog post, decap-cms/draft

#8130 Create Blog Post “2024/10/2024-10-28-publish-building-a-tool-to-make-mail-in-voter-registration-more-accessible”
  content/news/2024/10/2024-10-28-publish-building-a-tool-to-make-mail-in-voter-registration-more-accessible.md
Labels: Content: Blog post, decap-cms/draft

#8139 Create Image upload “content-uploads-_inbox-quantitative-qualitative-data-research-whale-design-istock-getty-images-1533625139-png”
  data/images/quantitative-qualitative-data-research-whale-design-istock-getty-images-1533625139.yml
Labels: Content: Images, decap-cms/pending_publish

#8140 Create Author “behati-hart/_index”
  content/authors/behati-hart/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#8142 Update stakeholder-user-interview-checklist.md
  content/resources/stakeholder-user-interview-checklist.md
Labels: Content: Resource, Bug: Content Cleanup

#8144 Update connected-government-act.md
  content/resources/connected-government-act.md
Labels: Content: Resource, Bug: Content Cleanup

#8147 Create Image upload “content-uploads-_inbox-diagram-qualitative-quantitative-research-trinset-getty-images-1350034596-png”
  data/images/diagram-qualitative-quantitative-research-trinset-getty-images-1350034596.yml
Labels: Content: Images, decap-cms/pending_publish

#8148 Create Blog Post “2024/10/2024-10-30-enhancing-the-customer-centricity-of-gsa-websites”
  content/news/2024/10/2024-10-30-enhancing-the-customer-centricity-of-gsa-websites.md
Labels: Content: Blog post, decap-cms/pending_publish

#8149 Delete quantitative-qualitative-data-research-whale-design-istock-get…
  data/images/quantitative-qualitative-data-research-whale-design-istock-getty-images-1533625139.yml
Labels: Content: Images, Bug: Content Cleanup

#8150 Create Image upload “content-uploads-_inbox-quantitative-qualitative-research-data-whale-design-istock-getty-images-1533625139-png”
  data/images/quantitative-qualitative-research-data-whale-design-istock-getty-images-1533625139.yml
Labels: Content: Images, decap-cms/pending_publish

#8151 Update 2024-10-30-enhancing-the-customer-centricity-of-gsa-websites.md
  content/news/2024/10/2024-10-30-enhancing-the-customer-centricity-of-gsa-websites.md
Labels: Bug: Content Cleanup, Content: Blog post

#8146 Update an-introduction-github.md
  content/resources/an-introduction-github.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#8152 Update an-introduction-github.md
  content/resources/an-introduction-github.md
Labels: Content: Resource, Bug: Content Cleanup

#8087 Adds youtube_title field to workflow
  themes/digital.gov/static/workflow/config.yml
Labels: Content: Events, Dev: frontend

#8153 Update job_board_10/31
  data/job_board.yml
Labels: Content: Community Job Board

#8154 Delete _index.md
  content/authors/andy-welfie/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#8052 img tests new blogs
  content/news/2024/10/2024-10-07-building-a-culture-of-customer-experience-across-government.md
  content/news/2024/10/2024-10-11-making-targeted-improvements-to-nps-gov-a-case-study-from-the-national-park-service.md
Labels: Content: Images, Content: Blog post
