Repository GSA/digitalgov.gov, pull requests merged in 2024-11, with the labels that each got.

#8156 Create Blog Post “2024/11/2024-11-01-tips-for-building-a-small-scrappy-digital-team”
  content/news/2024/11/2024-11-01-tips-for-building-a-small-scrappy-digital-team.md
Labels: Content: Blog post, decap-cms/pending_publish

#8157 Update 2024-09-19-uswds-monthly-call-september-2024.md
  content/events/2024/09/2024-09-19-uswds-monthly-call-september-2024.md
Labels: Content: Events

#8083 Scan site for non-inclusive language
  content/communities/video.md
  content/guides/mobile-principles/principles-configuration.md
  content/news/2012/08/2012-08-06-how-kids-search.md
  content/news/2012/10/2012-10-02-taking-cancer-gov-mobile.md
  content/news/2013/08/2013-08-13-trends-on-tuesday-people-are-excited-about-mobile.md
  content/news/2013/09/2013-09-10-how-to-be-a-fly-on-the-wall-the-dos-and-donts-of-sharing-executive-discussions.md
  content/news/2013/09/2013-09-26-plain-language-ninja.md
  content/news/2013/12/2013-12-23-trends-on-tuesday-when-was-your-mobile-phone-not-within-ear-shot.md
  content/news/2014/01/2014-01-27-how-to-win-digital-like-a-grammy.md
  content/news/2014/02/2014-02-18-trends-on-tuesday-distracted-walking.md
  content/news/2014/03/2014-03-27-what-to-do-with-big-data.md
  content/news/2014/05/2014-05-20-introductory-call-for-the-disaster-apps-challenge.md
  content/news/2014/08/2014-08-08-design-sketching-the-easiest-prototype-method-ever.md
  content/news/2014/10/2014-10-31-whats-happening-with-the-internet-of-things.md
  content/news/2014/12/2014-12-24-santa-is-16-centuries-old-things-ive-learned-from-norad-tracks-santa-app.md
  content/news/2015/03/2015-03-24-usability-design-for-kids-things-federal-workers-should-know.md
  content/news/2015/04/2015-04-14-live-blogging-the-analytics-dashboard-on-tax-day.md
  content/news/2015/04/2015-04-17-focus-groups-are-they-right-for-you.md
  content/news/2015/05/2015-05-11-the-content-corner-ranking-six-common-content-types.md
  content/news/2015/05/2015-05-29-getting-to-know-your-users-tips-and-tricks-from-veterans-affairs.md
  content/news/2015/06/2015-06-09-the-emulator-dilemma-can-mobile-device-testing-be-completed-without-mobile-devices.md
  content/news/2015/08/2015-08-21-agile-strategy-implementation.md
  content/news/2015/10/2015-10-23-technical-writing-need-not-be-abstruse-use-plain-language-for-maximum-impact.md
  content/news/2015/12/2015-12-18-twitter-town-hall-tips-from-the-va.md
  content/news/2016/02/2016-02-01-the-content-corner-four-ways-to-help-your-content-stand-out.md
  content/news/2016/02/2016-02-19-designing-user-friendly-educational-and-engaging-mobile-gaming-apps.md
  content/news/2016/04/2016-04-25-gif-meme-embeds-oh-my.md
  content/news/2016/07/2016-07-12-trends-on-tuesday-adoption-for-pokemon-go-mobile-app-surges.md
  content/news/2016/07/2016-07-13-the-data-briefing-mobile-apps-responsive-web-sites-and-the-mobile-moment.md
  content/news/2016/08/2016-08-30-trends-on-tuesday-pokemon-go-es-away-slowly.md
  content/news/2016/09/2016-09-09-data-act-prototype-simplicity-is-key.md
  content/news/2016/09/2016-09-12-dnssec-vs-elastic-load-balancers-the-zone-apex-problem.md
  content/news/2017/07/2017-07-05-making-world-war-i-relevant-today-are-wwi-propaganda-posters-the-original-meme.md
  content/news/2019/09/2019-09-17-findings-from-10xs-recent-round-submissions.md
  content/news/2020/12/2020-12-21-deceptive-design-how-to-identify-and-combat-consequence-design.md
  content/news/2023/10/2023-10-31-who-is-controlling-your-control-system.md
  content/resources/deceptive-design-how-to-identify-and-combat-consequence-design.md
Labels: Bug: Content Cleanup

#8159 update hugo links to markdown
  content/news/2014/04/2014-04-22-government-social-media-isnt-lagging-its-different-and-thats-good.md
  content/news/2014/05/2014-05-02-wrestling-government-social-media-data-into-knowledge.md
  content/news/2014/06/2014-06-30-u-s-gov-releases-new-collaborative-social-media-services.md
  content/news/2016/03/2016-03-29-usagovs-step-by-step-guide-to-making-snapchat-stories-as-accessible-as-possible.md
  content/resources/section-508-standards-for-electronic-and-information-technology-2.md
Labels: Content: Resource, Bug: Content Cleanup, Content: Blog post

#8155 Update federal-social-media-accessibility-toolkit-hackpad.md
  content/resources/federal-social-media-accessibility-toolkit-hackpad.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#8145 Update 2014-06-30-508-accessible-videos-how-to-make-audio-description…
  content/news/2014/06/2014-06-30-508-accessible-videos-how-to-make-audio-descriptions.md
Labels: Bug: Content Cleanup, Content: Blog post

#8160 Update service_us-digital-registry.md
  content/services/service_us-digital-registry.md
Labels: Content: Tools and Services, Bug: broken links

#8163 Create Blog Post “2024/11/2024-11-04-youve-launched-now-what-planning-for-the-future-of-your-content”
  content/news/2024/11/2024-11-04-youve-launched-now-what-planning-for-the-future-of-your-content.md
Labels: Content: Blog post, decap-cms/pending_publish

#8124 Redirect blogs to intro translation technology
  content/news/2012/10/2012-10-01-automated-translation-good-solution-or-not.md
  content/news/2014/07/2014-07-01-multilingual-digital-content.md
  content/news/2015/08/2015-08-31-search-creating-a-good-multilingual-search-experience.md
  content/news/2015/12/2015-12-10-remote-user-experience-information-gathering-best-practices.md
  content/news/2018/12/2018-12-20-designing-for-translation.md
  content/resources/introduction-to-translation-technology.md
  content/resources/top-10-best-practices-for-multilingual-websites.md
Labels: Content: Blog post

#8165 Create Image upload “content-uploads-_inbox-jack-russell-puppy-at-laptop-eva-blanco-istock-getty-images-1217036838-png”
  data/images/jack-russell-puppy-at-laptop-eva-blanco-istock-getty-images-1217036838.yml
Labels: Content: Images, decap-cms/pending_publish

#8164 Create Image upload “content-uploads-_inbox-jack-russell-puppy-at-laptop-eva-blanco-istock-getty-images-1217036838-crop-png”
  data/images/jack-russell-puppy-at-laptop-eva-blanco-istock-getty-images-1217036838-crop.yml
Labels: Content: Images, decap-cms/pending_publish

#8166 Update 2024-11-04-youve-launched-now-what-planning-for-the-future-of-…
  content/news/2024/11/2024-11-04-youve-launched-now-what-planning-for-the-future-of-your-content.md
Labels: Content: Images, Content: Blog post

#8167 Delete jack-russell-puppy-at-laptop-eva-blanco-istock-getty-images-12…
  data/images/jack-russell-puppy-at-laptop-eva-blanco-istock-getty-images-1217036838.yml
Labels: Content: Images, Bug: Content Cleanup

#8158 Update three topic page layouts and content
  content/topics/best-practices/_index.md
  content/topics/emerging-tech/_index.md
  content/topics/innovation/_index.md
Labels: Content: Topics

#8170 Create Image upload “content-uploads-_inbox-small-team-of-three-puzzle-pieces-rudzhan-nagiev-istock-getty-images-1332085780-png”
  data/images/small-team-of-three-puzzle-pieces-rudzhan-nagiev-istock-getty-images-1332085780.yml
Labels: Content: Images, decap-cms/pending_publish

#8168 Update job_board_11/4
  data/job_board.yml
Labels: Content: Community Job Board

#8171 Create Nov 2024 USWDS Monthly Call event page
  content/events/2024/11/2024-11-21-uswds-monthly-call-november-2024.md
Labels: Content: Events

#8172 Create Image upload “content-uploads-_inbox-2024-uswds-monthly-call-nov-title-card-png”
  data/images/2024-uswds-monthly-call-nov-title-card.yml
Labels: decap-cms/pending_publish

#8175 Update list.html
  themes/digital.gov/layouts/authors/list.html
Labels: Dev: frontend, Content: Authors, Bug: Content Cleanup

#8162 Update communication and contact center topic page COPs
  content/topics/communication/_index.md
  content/topics/contact-centers/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#8176 Communicators CoP: Remove duplicate front matter code
  content/communities/communicators.md
Labels: Content: Communities, Bug: Content Cleanup

#8179 Create Author “stacey-thalken/_index”
  content/authors/stacey-thalken/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#8177 USWDS Nov MC: Updating capitalization of Web Components in description
  content/events/2024/11/2024-11-21-uswds-monthly-call-november-2024.md
Labels: Content: Events, Bug: Content Cleanup

#8181 Rs-s3-ci-integration
  .circleci/config.yml
  config.yml
  content/about/contribute.md
  package-lock.json
  package.json
  readme.md
  scripts/mount-s3.js
  themes/digital.gov/layouts/shortcodes/img.html
Labels: Dev: frontend, Content: Images, Bug Fix

#8184 Create Image upload “content-uploads-_inbox-content-plan-flashvector-istock-getty-images-1717953227-png”
  data/images/content-plan-flashvector-istock-getty-images-1717953227.yml
Labels: Content: Images, decap-cms/pending_publish

#8183 Create Blog Post “2024/11/2024-11-12-crafting-quality-content-throughout-its-lifecycle”
  content/news/2024/11/2024-11-12-crafting-quality-content-throughout-its-lifecycle.md
Labels: Content: Blog post, decap-cms/pending_publish

#8186 Update job_board_11/12
  data/job_board.yml
Labels: Content: Community Job Board

#8191 Update 2019-06-10-executive-core-qualifications-ecqs-how-assess-achie…
  content/events/2019/06/2019-06-10-executive-core-qualifications-ecqs-how-assess-achieve-demonstrate-ecqs.md
Labels: Content: Events

#8192 Update USWDS call November 2024 primary_image
  content/events/2024/11/2024-11-21-uswds-monthly-call-november-2024.md
Labels: Content: Events, Content: Images

#8194 Create Image upload “content-uploads-_inbox-login-gov-chinese-log-in-600-png”
  data/images/login-gov-chinese-log-in-600.yml
Labels: Content: Images, decap-cms/pending_publish

#8197 Adding YouTube Video-uswds-monthly-call-october-2024.md
  content/events/2024/10/2024-10-17-uswds-monthly-call-october-2024.md
Labels: Content: Events

#8193 Create Image upload “content-uploads-_inbox-login-gov-english-log-in-600-png”
  data/images/login-gov-english-log-in-600.yml
Labels: Content: Images, decap-cms/pending_publish

#8200 Create File upload “content-uploads-_inbox-uswds-monthly-call-november-2024-pptx”
  content/events/2024/11/2024-11-21-uswds-monthly-call-november-2024.md
  data/files/uswds-monthly-call-november-2024.yml
Labels: Content: Events, Content: Other files, decap-cms/pending_publish

#8203 Delete uswds-monthly-call-november-2024.yml
  data/files/uswds-monthly-call-november-2024.yml
Labels: Content: Events, Bug: Content Cleanup, Content: Other files

#8202 Fix two small issues on COP landing pages
  content/communities/communicators.md
  content/communities/contact-center.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
  themes/digital.gov/layouts/communities/single.html
Labels: Content: Communities

#8204 Create File upload “content-uploads-_inbox-uswds-monthly-call-november-2024-pptx”
  data/files/uswds-monthly-call-november-2024.yml
Labels: Content: Events, Content: Other files, decap-cms/pending_publish

#8206 Update 2024-10-17-uswds-monthly-call-october-2024.md
  content/events/2024/10/2024-10-17-uswds-monthly-call-october-2024.md
Labels: Content: Events

#8207 Introductory resource on web standards
  content/resources/introduction-to-federal-web-standards.md
  data/images/hands-puzzle-pieces-girafchik123-istock-getty-images-2091035051.yml
Labels: Content: Resource

#8209 Create Image upload “content-uploads-_inbox-agile-project-developmemt-flashvector-istock-getty-images-2149784445-2160477593-png”
  data/images/agile-project-developmemt-flashvector-istock-getty-images-2149784445-2160477593.yml
Labels: Content: Images, decap-cms/pending_publish

#8215 Create Blog Post “2024/11/2024-11-26-publishing-federal-sales-data-how-we-used-design-studios-and-user-testing-to-develop-a-user-centered-dataset”
  content/news/2024/11/2024-11-26-publishing-federal-sales-data-how-we-used-design-studios-and-user-testing-to-develop-a-user-centered-dataset.md
Labels: Content: Blog post, decap-cms/draft

#8214 Create Blog Post “2024/11/2024-11-26-three-ways-to-write-fearless-spreadsheet-formulas”
  content/news/2024/11/2024-11-26-three-ways-to-write-fearless-spreadsheet-formulas.md
Labels: Content: Blog post, decap-cms/draft

#8212 Create Blog Post “2024/11/2024-11-26-ensuring-effective-and-timely-usability-research”
  content/news/2024/11/2024-11-26-ensuring-effective-and-timely-usability-research.md
Labels: Content: Blog post, decap-cms/draft

#8220 Create Image upload “content-uploads-_inbox-agile-project-development-flashvector-istock-getty-images-2149784445-2160477593-png”
  data/images/agile-project-development-flashvector-istock-getty-images-2149784445-2160477593.yml
Labels: Content: Images, decap-cms/pending_publish

#8219 Create Blog Post “2024/11/2024-11-26-broadening-public-participation-and-community-engagement-with-the-federal-government”
  content/news/2024/11/2024-11-26-broadening-public-participation-and-community-engagement-with-the-federal-government.md
Labels: Content: Blog post, decap-cms/draft

#8208 Update job board for Nov 26
  data/job_board.yml
Labels: Content: Community Job Board

#8218 Create Blog Post “2024/11/2024-11-26-navigating-digital-acquisitions”
  content/news/2024/11/2024-11-26-navigating-digital-acquisitions.md
Labels: Content: Blog post, decap-cms/pending_publish
