Repository GSA/digitalgov.gov, pull requests merged in 2024-12, with the labels that each got.

#8227 Update job_board for Dec. 2
  data/job_board.yml
Labels: Content: Community Job Board

#8228 Publish CX policy summary
  content/resources/requirements-for-transforming-federal-customer-experience-and-service-delivery.md
  themes/digital.gov/src/scss/new/shortcodes/_note.scss
Labels: Content: Resource

#8231 Update job_board December 4
  data/job_board.yml
Labels: Content: Community Job Board

#8233 Update CoP eligibility copy
  content/resources/requirements-for-transforming-federal-customer-experience-and-service-delivery.md
  themes/digital.gov/layouts/communities/single.html
Labels: Content: Communities

#8234 update analytics topic page for december editorial calendar
  content/topics/analytics/_index.md
Labels: Content: Topics

#8239 Update job_board Dec 11
  data/job_board.yml
Labels: Content: Community Job Board

#8242 Update 2024-12-19-uswds-monthly-call-december-2024.md
  content/events/2024/12/2024-12-19-uswds-monthly-call-december-2024.md
Labels: Content: Events

#8237 Revisit/update Introduction to Analytics
  content/resources/an-introduction-to-analytics.md
Labels: Content: Resource

#8246 Create Blog Post “2024/12/2024-12-13-18f-project-defaults”
  content/news/2024/12/2024-12-13-18f-project-defaults.md
Labels: Content: Blog post, decap-cms/draft

#8245 Create Blog Post “2024/12/2024-12-13-how-we-measure-the-success-of-coaching-engagements”
  content/news/2024/12/2024-12-13-how-we-measure-the-success-of-coaching-engagements.md
Labels: Content: Blog post, decap-cms/draft

#8244 Create Blog Post “2024/12/2024-12-13-driving-digital-transformation-across-government-for-lasting-impact”
  content/news/2024/12/2024-12-13-driving-digital-transformation-across-government-for-lasting-impact.md
Labels: Content: Blog post

#8247 Update style-guides-by-government-agencies.md
  content/resources/style-guides-by-government-agencies.md
Labels: Bug: broken links

#8248 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Bug: broken links

#8250 Add YouTube video to USWDS Monthly call homepage
  content/events/2024/11/2024-11-21-uswds-monthly-call-november-2024.md
Labels: Content: Events

#8253 Update 2024-11-21-uswds-monthly-call-november-2024.md
  content/events/2024/11/2024-11-21-uswds-monthly-call-november-2024.md
Labels: Content: Events

#8258 Update 2024-12-19-uswds-monthly-call-december-2024.md
  content/events/2024/12/2024-12-19-uswds-monthly-call-december-2024.md
Labels: Content: Events

#8260 Update ux-design.md
  content/guides/accessibility-for-teams/ux-design.md
Labels: Bug: broken links

#8257 Create An introduction to decomissioning sites
  content/resources/an-introduction-to-decomissioning-sites.md
Labels: Content: Resource

#8261 Create Blog Post “2024/12/2024-12-20-making-government-text-messaging-more-effective-with-notify-gov”
  content/news/2024/12/2024-12-20-making-government-text-messaging-more-effective-with-notify-gov.md
Labels: Content: Blog post, decap-cms/draft

#8262 Create Blog Post “2024/12/2024-12-20-fy-24-governmentwide-section-508-assessment”
  content/news/2024/12/2024-12-20-fy-24-governmentwide-section-508-assessment.md
Labels: Content: Blog post, decap-cms/draft

#8263 Update COP membership numbers for November
  content/communities/communicators.md
  content/communities/contact-center.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Content: Communities

#8267 Update decommissioning sites title, filename, and alias
  content/resources/an-introduction-to-decommissioning-sites.md
Labels: Bug: Content Cleanup

#8264 Create L Godfrey blog post
  content/news/2024/12/2024-12-23-designing-a-multilingual-future.md
  data/images/language-maria-petrishina-istock-getty-images-1414107897.yml
Labels: Content: Images, Content: Blog post

#8268 Update job_board_12/24
  data/job_board.yml
Labels: Content: Community Job Board

#8270 Create File upload “content-uploads-_inbox-dap-video-content-presentation-slides-video-1-pptx-content-uploads-_inbox-dap-video-content-presentation-slides-video-2-pptx-content-uploads-_inbox-dap-video-content-presentation-slides-video-3-pptx”
  data/files/dap-video-content-presentation-slides-video-1.yml
  data/files/dap-video-content-presentation-slides-video-2.yml
  data/files/dap-video-content-presentation-slides-video-3.yml
Labels: Content: Other files, decap-cms/draft

#8266 archive and redirect what is DAP blog
  content/guides/dap/_index.md
  content/news/2015/03/2015-03-04-what-is-the-digital-analytics-program-dap.md
Labels: Content: Redirects

#8271 update slides links
  content/guides/dap/get-started-with-dap.md
  content/guides/dap/make-data-informed-decisions.md
Labels: Content: Guide, Bug: Content Cleanup

#8276 Update_usabilitytopic
  content/topics/usability/_index.md
  content/topics/user-experience/_index.md
Labels: Content: Topics

#8279 Update job_board_12/30
  data/job_board.yml
Labels: Content: Community Job Board

#8273 Topic pages review
  content/topics/analytics/_index.md
  content/topics/artificial-intelligence/_index.md
  content/topics/digital-service-delivery/_index.md
  content/topics/emerging-tech/_index.md
  content/topics/social-media/_index.md
Labels: Content: Topics

#8277 Add hyphen to human centered design.md
  content/topics/human-centered-design/_index.md
Labels: Content: Topics

#8274 remove "bringing design in house" resourcex.md
  content/topics/design/_index.md
Labels: Content: Topics

#8281 update featured resources.md
  content/topics/governance/_index.md
Labels: Content: Topics
