Repository GSA/digitalgov.gov, pull requests merged in 2024-08, with the labels that each got.

#7802 Update 2024-06-20-uswds-monthly-call-june-2024.md
  content/events/2024/06/2024-06-20-uswds-monthly-call-june-2024.md
Labels: Content: Events

#7838 Create Blog Post “2024/08/2024-08-01-supporting-innovation-through-the-american-rescue-plan”
  content/news/2024/08/2024-08-01-supporting-innovation-through-the-american-rescue-plan.md
Labels: Content: Blog post, decap-cms/pending_publish

#7836 Add CoP membership to usa-cards
  readme.md
  themes/digital.gov/layouts/partials/core/featured-communities.html
  themes/digital.gov/layouts/partials/core/usa-card.html
  themes/digital.gov/src/scss/new/home/_communities.scss
Labels: Dev: frontend, Content: Communities

#7842 Changed lastmod tag to contain last update on Git
  config/gulp/upload.js
  themes/digital.gov/layouts/sitemap.xml
Labels: Dev: Search

#7843 Create Image upload “content-uploads-_inbox-digital-gov-identifier-policy-circled-med-png”
  data/images/digital-gov-identifier-policy-circled-med.yml
Labels: Content: Images, decap-cms/pending_publish

#7813 Bug: Refactor footnote to a component
  content/guides/public-policy/_index.md
  content/guides/public-policy/accessibility.md
  content/news/2015/11/2015-11-20-ux-vs-cx-whats-the-dif-part-2.md
  content/news/2017/02/2017-02-03-digitalgov-year-in-review-our-top-blogs-resources-and-writers-for-2016.md
  content/news/2020/08/2020-08-21-2-lessons-tech-leaders-can-learn.md
  content/news/2022/10/2022-10-14-latinx-identity-in-design-tech-and-government.md
  content/news/2023/01/2023-01-27-bringing-design-in-house.md
  content/news/2023/02/2023-02-07-collaborate-with-the-tts-public-benefits-studio.md
  content/news/2023/03/2023-03-03-understanding-design-in-10-questions.md
  content/news/2023/04/2023-04-20-the-art-of-storytelling-in-a-hybrid-world.md
  content/news/2023/05/2023-05-19-personas-learn-how-to-discover-your-audience-understand-them-and-pivot-to-address-their-needs.md
  content/news/2023/11/2023-11-07-cultivating-a-dynamic-career-in-user-experience.md
  content/news/2024/01/2024-01-18-customer-experience-and-human-centered-design.md
  content/news/2024/04/2024-04-16-determining-the-true-value-of-a-website-a-gsa-case-study.md
  content/news/2024/06/2024-06-25-unsolicited-data-a-valuable-resource-for-digital-customer-experience-enhancement.md
  content/resources/21st-century-integrated-digital-experience-act.md
  content/resources/an-introduction-to-customer-experience.md
  content/resources/an-introduction-to-design.md
  content/resources/an-introduction-to-digital-governance.md
  content/resources/an-introduction-to-trust.md
  content/resources/how-to-conduct-a-project-reflection.md
  content/resources/how-to-transition-a-team-off-of-a-project.md
  content/resources/m-19-17-enabling-mission-delivery-through-improved-identity-credential-and-access-management.md
  themes/digital.gov/src/scss/new/_footnote.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: bug

#7846 Create Image upload “content-uploads-_inbox-rules-of-use-login-gov-png”
  data/images/rules-of-use-login-gov.yml
Labels: Content: Images, decap-cms/pending_publish

#7847 Create Image upload “content-uploads-_inbox-example-gsa-official-use-system-warning-blue-bg-sm-comp-png”
  data/images/example-gsa-official-use-system-warning-blue-bg-sm-comp.yml
Labels: Content: Images, decap-cms/pending_publish

#7841 Update research-checklist.md
  content/guides/hcd/discovery-operations/research-checklist.md
Labels: Content: Guide, Bug: Content Cleanup

#7845 Create Blog Post “2024/08/2024-08-07-it-warning-banners-how-gsa-is-working-to-stop-unnecessarily-frightening-users”
  content/news/2024/08/2024-08-07-it-warning-banners-how-gsa-is-working-to-stop-unnecessarily-frightening-users.md
Labels: Content: Blog post, decap-cms/pending_publish

#7823 Refactor card-quote
  content/events/2020/05/2020-05-13-average-american-reader-needs-you-write.md
  content/guides/dap/_index.md
  content/guides/hcd/design-concepts/designed-things.md
  content/guides/hcd/discovery-concepts/plan.md
  content/guides/hcd/discovery-operations/reframing.md
  content/guides/hcd/introduction/approach.md
  content/news/2013/12/2013-12-16-the-test-case-write-it-once-test-many-times.md
  content/news/2016/11/2016-11-18-a-new-prize-challenge-for-virtual-and-augmented-reality-learning-tools.md
  content/news/2019/11/2019-11-18-building-elements-that-earn-trust.md
  content/news/2019/12/2019-12-11-an-introduction-accessibility.md
  content/news/2020/01/2020-01-30-adopting-uswds-one-step-at-time.md
  content/news/2020/04/2020-04-07-spring-cleaning-tips-for-web-content.md
  content/news/2020/04/2020-04-20-listen-customers-by-asking-right-questions.md
  content/news/2020/05/2020-05-12-promote-continuity-better-support-customer-journeys.md
  content/news/2020/05/2020-05-27-whos-on-your-digital-dream-team.md
  content/news/2020/06/2020-06-16-build-sites-to-address-the-entire-user-journey.md
  content/news/2020/08/2020-08-04-measure-performance-to-make-continuous-improvements.md
  content/news/2020/10/2020-10-16-product-lessons-from-the-front-lines-of-covid-19-civic-tech-response.md
  content/news/2021/03/2021-03-23-tts-reflects-black-histories-to-celebrate-year-round.md
  content/news/2022/01/2022-01-04-keynote-speaker-recap-would-more-plain-language-have-saved-us-from-the-worst-of-the-pandemic.md
  content/news/2022/08/2022-08-01-webinar-recap-how-to-build-your-digital-dream-team.md
  content/news/2022/10/2022-10-07-taking-a-design-led-approach-to-digital-modernization.md
  content/news/2023/02/2023-02-23-digital-governance-at-gsa.md
  content/news/2023/11/2023-11-29-part-2-delivering-on-21st-century-idea-a-case-study-from-the-gsa-smartpay-team.md
  content/news/2023/11/2023-11-29-part-3-delivering-on-21st-century-idea-a-case-study-from-the-gsa-smartpay-team.md
  content/news/2023/12/2023-12-09-making-gsa-public-art-collection-more-accessible.md
  content/news/2023/12/2023-12-19-amplifying-customer-voices.md
  content/news/2024/06/2024-06-10-how-the-u-s-department-of-the-navy-is-delivering-it-that-just-works.md
  content/news/2024/06/2024-06-25-unsolicited-data-a-valuable-resource-for-digital-customer-experience-enhancement.md
  content/news/2024/07/2024-07-08-a-small-teams-journey-through-digital-maturity.md
  content/news/2024/07/2024-07-08-bridge-the-gap-between-policy-and-implementation-impactful-solutions-and-strategies-for-success-from-digital-gov-spring-2024-summit.md
  content/news/2024/08/2024-08-07-it-warning-banners-how-gsa-is-working-to-stop-unnecessarily-frightening-users.md
  content/resources/an-introduction-to-inclusion.md
  content/resources/deceptive-design-how-to-identify-and-combat-consequence-design.md
  content/resources/how-test-websites-for-accessibility.md
  themes/digital.gov/layouts/partials/core/quote-block.html
  themes/digital.gov/layouts/shortcodes/card-quote.html
  themes/digital.gov/layouts/shortcodes/quote-block.html
  themes/digital.gov/src/scss/new/shortcodes/_card-quote.scss
  themes/digital.gov/src/scss/new/shortcodes/_quote-block.scss
  themes/digital.gov/src/scss/new/styles.scss
  themes/digital.gov/static/workflow/js/editorComponents/card-quote.js
  themes/digital.gov/static/workflow/js/editorComponents/index.js
  themes/digital.gov/static/workflow/js/editorComponents/quote-block.js
Labels: Dev: frontend

#7778 Create Blog Post “2024/07/2024-07-10-18fs-engineering-craft-practices-at-10”
  content/news/2024/07/2024-07-10-18f-engineering-craft-practices-at-10.md
Labels: Content: Blog post

#7850 Update 2024-08-07-it-warning-banners-how-gsa-is-working-to-stop-unnec…
  content/news/2024/08/2024-08-07-it-warning-banners-how-gsa-is-working-to-stop-unnecessarily-frightening-users.md
Labels: Bug: Content Cleanup, Content: Blog post

#7848 Create Blog Post “2024/08/2024-08-08-department-of-labor-general-services-administration-to-centralize-government-benefits-information-on-usagov-and-usagov-en-espanol”
  content/news/2024/08/2024-08-08-department-of-labor-general-services-administration-to-centralize-government-benefits-information-on-usagov-and-usagov-en-espanol.md
Labels: Content: Blog post

#7851 Move ucd page one items to hcd topic
  content/communities/web-managers-forum.md
  content/events/2024/04/2024-04-18-uswds-monthly-call-april-2024.md
  content/events/2024/05/2024-05-02-uswds-monthly-call-may-2024.md
  content/events/2024/06/2024-06-20-uswds-monthly-call-june-2024.md
  content/news/2024/03/2024-03-19-18f-at-ten.md
  content/news/2024/04/2024-04-04-participation.md
  content/news/2024/04/2024-04-04-reconsidering-the-consent-form-the-least-user-friendly-aspect-of-ux-research.md
  content/news/2024/04/2024-04-17-progress-towards-delivering-a-digital-first-public-experience.md
  content/news/2024/04/2024-04-25-creating-a-blueprint-for-quality-how-the-px-contact-center-helps-agents-grow-their-skills.md
  content/news/2024/05/2024-05-14-trusted-tester-for-web-certification-courses-version-5-1-3-now-available.md
  content/news/2024/05/2024-05-16-one-year-with-the-new-usagov.md
  content/news/2024/05/2024-05-31-risk-communications-crisis-communications-and-community-engagement-summit.md
  content/news/2024/06/2024-06-11-equity-study-reaches-4000-participants.md
  content/news/2024/06/2024-06-27-digital-front-door-expanding-access-to-va.md
  content/news/2024/06/2024-06-28-federal-customer-experience-omb-has-taken-actions-to-implement-cross-agency-priority-goals.md
  content/news/2024/07/2024-07-02-case-study-increasing-access-to-required-bankruptcy-meetings.md
  content/news/2024/07/2024-07-02-case-study-removing-barriers-to-applying-for-a-presidential-pardon.md
  content/news/2024/07/2024-07-08-a-small-teams-journey-through-digital-maturity.md
  content/news/2024/07/2024-07-08-bridge-the-gap-between-policy-and-implementation-impactful-solutions-and-strategies-for-success-from-digital-gov-spring-2024-summit.md
  content/news/2024/07/2024-07-18-designing-for-people-with-disabilities.md
  content/news/2024/08/2024-08-01-supporting-innovation-through-the-american-rescue-plan.md
  content/services/service_opm_labs.md
Labels: Content: Topics

#7852 Move ucd page two items to hcd topic
  content/events/2021/05/2021-05-28-plain-language-webinar-using-words-to-build-better-digital-experiences.md
  content/events/2021/06/2021-06-03-2021-user-experience-summit.md
  content/events/2023/04/2023-04-12-incorporating-user-experience-practices-into-data-driven-development-of-a-biomedical-software-tool.md
  content/events/2024/02/2024-02-07-uswds-monthly-call-february-2024.md
  content/events/2024/03/2024-02-27-spring-2024-community-summit.md
  content/events/2024/03/2024-03-21-uswds-monthly-call-march-2024.md
  content/news/2021/04/2021-04-01-building-a-user-centered-data-strategy.md
  content/news/2022/07/2022-07-14-what-agile-looks-like-at-the-office-of-natural-resources-revenue.md
  content/news/2022/07/2022-07-15-content-design-for-beta-ada-gov-writing-for-action-and-flexibility.md
  content/news/2023/03/2023-03-15-the-u-s-web-design-system-uswds-and-onrr-gov.md
  content/news/2023/05/2023-05-03-the-18f-design-chapter.md
  content/news/2023/08/2023-08-09-how-a-small-team-modernized-a-federal-website-to-improve-cx.md
  content/news/2023/12/2023-12-06-sharing-artifacts-and-outputs-from-research.md
  content/news/2024/01/2024-01-30-designing-with-empathy.md
  content/news/2024/03/2024-03-06-customer-experience-beyond-surveys.md
  content/news/2024/03/2024-03-19-search-gov-year-in-review-2023-report.md
  content/news/2024/04/2024-04-01-how-usagov-uses-data-to-improve-content.md
  content/news/2024/04/2024-04-03-18f-practices-in-action-spoiler-this-stuff-works.md
  content/news/2024/05/2024-05-17-equity-in-action-gsas-study-on-remote-identityproofing-technologies.md
Labels: Content: Topics

#7853 Move ucd pages three & four items to hcd topic
  content/events/2018/08/2018-08-24-getting-started-with-uswds-20.md
  content/events/2019/07/2019-07-23-american-tech-series-part-two-advancing-usercentric-design-in-government.md
  content/events/2020/02/2020-02-27-survey-translation-inclusion-end-users-in.md
  content/events/2020/03/2020-03-19-uswds-monthly-call-march-2020.md
  content/events/2020/08/2020-08-20-uswds-monthly-call-august-2020.md
  content/events/2020/09/2020-09-15-federal-crowdsourcing-webinar-series-episode-14.md
  content/events/2020/11/2020-11-09-uswds-monthly-call-november-2020.md
  content/events/2020/12/2020-12-11-uswds-monthly-call-december-2020.md
  content/events/2021/01/2021-01-14-uswds-monthly-call-journey-mapping-service-blueprints-jan-2021.md
  content/events/2021/07/2021-07-02-digital-meets-culture-getting-your-culture-in-line-with-your-digital-strategy.md
  content/guides/accessibility-for-teams/_index.md
  content/news/2015/01/2015-01-27-7-ways-to-ignite-user-centered-design-at-your-agency.md
  content/news/2015/05/2015-05-01-creating-a-veterans-centered-experience-through-exploreva.md
  content/news/2015/11/2015-11-10-trends-on-tuesday-5-tips-for-designing-touch-interactions.md
  content/news/2016/04/2016-04-04-digitalgov-podcast-behind-the-scenes-of-the-social-and-behavioral-science-team.md
  content/news/2016/05/2016-05-02-redesigning-we-the-people.md
  content/news/2016/05/2016-05-10-accessible-workplace-technology-signed-sealed-delivered.md
  content/news/2016/09/2016-09-01-emma-friendly-presence-and-innovative-uscis-resource-available-247.md
  content/news/2016/09/2016-09-08-sharing-the-story-of-innovation.md
  content/news/2016/09/2016-09-29-voices-of-veterans-introducing-personas-to-better-understand-our-customers.md
  content/news/2016/10/2016-10-25-digitalgov-readers-and-subscribers-we-want-to-talk-to-you.md
  content/news/2016/11/2016-11-07-writing-for-the-web-is-easy-writing-for-users-is-not.md
  content/news/2017/03/2017-03-20-presenting-online-data-to-wide-ranging-user-communities.md
  content/news/2017/03/2017-03-31-engineering-the-chaski-relay-a-touchscreen-game-at-the-national-museum-of-american-indian.md
  content/news/2017/06/2017-06-30-va-innovators-network-program-ahead-of-the-curve-in-healthcare-innovation.md
  content/news/2017/09/2017-09-28-finding-usability-testers-tips-from-an-army-recruiter.md
  content/news/2018/08/2018-08-30-collaborating-for-better-design-technology-user-experience.md
  content/news/2021/03/2021-03-02-security-is-everyones-job-delivering-secure-usable-login-for-government.md
Labels: Content: Topics

#7854 Update _index.md
  content/topics/user-centered-design/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#7857 combine 2 aliases lists in front matter
  content/topics/acquisition/_index.md
  content/topics/analytics/_index.md
  content/topics/digital-service-delivery/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#7859 fix hugo topic links
  content/news/2015/11/2015-11-09-how-ux-effects-change-in-government-one-test-one-customer-survey-at-a-time.md
  content/news/2015/11/2015-11-23-the-content-corner-good-ux-needs-good-content.md
  content/news/2015/11/2015-11-25-the-data-briefing-how-neuroscience-and-communication-theory-inform-good-user-experience-design.md
  content/news/2017/05/2017-05-24-want-to-expand-your-innovation-base-dive-in-run-a-challenge-and-listen-to-your-customers.md
  content/news/2017/09/2017-09-28-finding-usability-testers-tips-from-an-army-recruiter.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#7858 Update _index.md
  content/topics/user-centered-design/_index.md
Labels: Content: Topics, Archive

#7861 Update 2017-05-24-want-to-expand-your-innovation-base-dive-in-run-a-c…
  content/news/2017/05/2017-05-24-want-to-expand-your-innovation-base-dive-in-run-a-challenge-and-listen-to-your-customers.md
Labels: Bug: Content Cleanup, Content: Blog post

#7862 Update _index.md
  content/resources/_index.md
Labels: Content: Resource, Bug: Content Cleanup

#7856 Create Title Card for August 2024 USWDS event page
  data/images/2024-uswds-monthly-call-aug-title-card.yml
Labels: Content: Images, decap-cms/pending_publish

#7855 Creating the August 2024 USWDS event page
  content/events/2024/08/2024-08-15-uswds-monthly-call-august-2024.md
Labels: Content: Events

#7865 Updating speakers on USWDS Aug 2024 event page
  content/events/2024/08/2024-08-15-uswds-monthly-call-august-2024.md
Labels: Content: Events

#7868 Create Author “jeff-bordogna/_index”
  content/authors/jeff-bordogna/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#7869 Update _index.md
  content/job-board/_index.md
Labels: Bug: Content Cleanup, Content: Community Job Board

#7870 Create File upload “content-uploads-_inbox-uswds-monthly-call-august-2024-pptx”
  data/files/uswds-monthly-call-august-2024.yml
Labels: Content: Events, decap-cms/pending_publish

#7871 Adding ppt file to USWDS August 2024 Event
  content/events/2024/08/2024-08-15-uswds-monthly-call-august-2024.md
Labels: Content: Events

#7803 Header refactoring
  config/gulp/upload.js
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/page-header.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/src/scss/new/_article.scss
Labels: Dev: frontend

#7805 Refactor in-page nav
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/partials/core/usa-in-page-nav.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/single.html
Labels: Dev: frontend

#7874 Update service_logingov.md
  content/services/service_logingov.md
Labels: Content: Tools and Services

#7866 fix spacing, headers, and urls on 4 events
  content/events/2020/04/2020-04-14-how-utilize-open-source-jupyter-project.md
  content/events/2020/04/2020-04-15-accessibility-intersection-between-plain-language-508.md
  content/events/2020/06/2020-06-10-women-in-it-panel-1.md
  content/events/2020/07/2020-07-16-women-in-federal-it-cyber.md
Labels: Content: Events, Bug: Content Cleanup

#7876 Update _index.md
  content/job-board/_index.md
Labels: Content: Community Job Board

#7878 add patch for eslint issue
  package-lock.json
  package.json
Labels: Bug Fix, NPM Fix

#7877 Youtube video embed update
  themes/digital.gov/layouts/events/stage-youtube-live.html
  themes/digital.gov/layouts/events/stage-youtube.html
  themes/digital.gov/src/scss/new/_video.scss
Labels: Dev: frontend

#7649 Update featured-resource component to display both internal and external links
  content/guides/hcd/design-concepts/_index.md
  content/guides/hcd/design-operations/_index.md
  content/guides/hcd/discovery-concepts/up-next.md
  content/guides/hcd/discovery-operations/production.md
  content/guides/hcd/introduction/approach.md
  content/guides/hcd/introduction/background.md
  content/topics/analytics/_index.md
  content/topics/artificial-intelligence/_index.md
  content/topics/challenges-and-prize-competitions/_index.md
  content/topics/cloud-and-infrastructure/_index.md
  content/topics/customer-experience/_index.md
  content/topics/domain-management/_index.md
  content/topics/governance/_index.md
  content/topics/multimedia/_index.md
  content/topics/plain-language/_index.md
  content/topics/records-management/_index.md
  content/topics/search-engine-optimization/_index.md
  content/topics/software-engineering/_index.md
  content/topics/terms-of-service/_index.md
  content/topics/trust/_index.md
  themes/digital.gov/layouts/partials/core/featured-resource.html
  themes/digital.gov/layouts/shortcodes/featured-resource.html
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/src/scss/new/shortcodes/_featured-resource.scss
Labels: Dev: Template Logic
