Repository GSA/digitalgov.gov, pull requests merged in 2024-06, with the labels that each got.

#7643 Create Image upload “content-uploads-_inbox-title-card-navy-peo-digital-delivering-it-that-just-works-case-study-seal-jpg”
  data/images/title-card-navy-peo-digital-delivering-it-that-just-works-case-study-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7644 Create Image upload “content-uploads-_inbox-title-card-navy-peo-digital-delivering-it-that-just-works-case-study-seal-logo-jpg”
  data/images/title-card-navy-peo-digital-delivering-it-that-just-works-case-study-seal-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7647 add headers to override default AWS settings
  config/gulp/file-upload.js
  data/images/flag-test-1.yml
Labels: Bug: broken links

#7650 Update 2024-05-02-uswds-monthly-call-may-2024.md
  content/events/2024/05/2024-05-02-uswds-monthly-call-may-2024.md
Labels: Content: Events

#7653 Update 2015-04-24-sharing-the-essentials-of-animated-gifs-for-public-…
  content/news/2015/04/2015-04-24-sharing-the-essentials-of-animated-gifs-for-public-services.md
Labels: Bug: broken links, Content: Blog post

#7654 fixes disclaimer imgs
  content/news/2015/03/2015-03-30-the-content-corner-making-those-connections.md
  content/news/2015/04/2015-04-24-sharing-the-essentials-of-animated-gifs-for-public-services.md
  content/news/2016/09/2016-09-23-gettin-giphy-with-it-nara-shares-online-library-of-animated-gifs.md
  content/news/2016/09/2016-09-26-recapping-content-marketing-trends-in-2016-how-have-we-stacked-up.md
  content/news/2016/10/2016-10-27-9-reasons-your-infographics-might-be-too-big.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#7655 Update 2016-04-25-gif-meme-embeds-oh-my.md
  content/news/2016/04/2016-04-25-gif-meme-embeds-oh-my.md
Labels: Bug: Content Cleanup, Content: Blog post

#7651 Create Image upload “content-uploads-_inbox-2024-uswds-monthly-call-june-title-card-png”
  data/images/2024-uswds-monthly-call-june-title-card.yml
Labels: Content: Images, decap-cms/pending_publish

#7656 Create Blog Post “2024/06/2024-06-07-three-tips-for-using-meta-descriptions”
  content/news/2024/06/2024-06-07-three-tips-for-using-meta-descriptions.md
Labels: Content: Resource

#7657 Create Author “amanda-hawkins/_index”
  content/authors/amanda-hawkins/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#7658 remove 5 imgs upload errors
  data/images/analytics-usa-gov-over-1-point-five-million-visitors-at-3-39-pm-may-29-2024.yml
  data/images/customer-satisfaction-survey-concept-nuttapreya-sirisommai-istock-getty-images-1617130462.yml
  data/images/speech-bubbles-feedback-howlettery-istock-getty-images-1404812859.yml
  data/images/title-card-navy-peo-digital-delivering-it-that-just-works-case-study-seal-logo.yml
  data/images/title-card-navy-peo-digital-delivering-it-that-just-works-case-study-seal.yml
Labels: Content: Images, Bug: Content Cleanup

#7659 Create Blog Post “2024/06/2024-06-10-how-the-u-s-department-of-the-navy-is-delivering-it-that-just-works”
  content/news/2024/06/2024-06-10-how-the-u-s-department-of-the-navy-is-delivering-it-that-just-works.md
Labels: Content: Blog post, decap-cms/pending_publish

#7660 Create Image upload “content-uploads-_inbox-title-card-navy-peo-digital-delivering-it-that-just-works-case-study-trio-jpg”
  data/images/title-card-navy-peo-digital-delivering-it-that-just-works-case-study-trio.yml
Labels: Content: Images, decap-cms/pending_publish

#7663 Create Image upload “content-uploads-_inbox-analytics-usa-gov-over-1-point-five-million-visitors-at-3-39-pm-may-29-2024-jpg”
  data/images/analytics-usa-gov-over-1-point-five-million-visitors-at-3-39-pm-may-29-2024.yml
Labels: Content: Images, decap-cms/pending_publish

#7664 Create Image upload “content-uploads-_inbox-customer-satisfaction-survey-concept-nuttapreya-sirisommai-istock-getty-images-1617130462-jpg”
  data/images/customer-satisfaction-survey-concept-nuttapreya-sirisommai-istock-getty-images-1617130462.yml
Labels: Content: Images, decap-cms/pending_publish

#7665 Create Image upload “content-uploads-_inbox-speech-bubbles-feedback-howlettery-istock-getty-images-1404812859-jpg”
  data/images/speech-bubbles-feedback-howlettery-istock-getty-images-1404812859.yml
Labels: Content: Images, decap-cms/pending_publish

#7648 Create Resource “an-introduction-to-customer-experience”
  content/resources/an-introduction-to-customer-experience.md
Labels: Content: Resource, decap-cms/pending_publish

#7628 Updates to artificial intelligence topic
  content/communities/artificial-intelligence.md
  content/topics/artificial-intelligence/_index.md
Labels: Content: Communities, Bug: Content Cleanup, Content: Topics

#7666 Update 2024-06-10-how-the-u-s-department-of-the-navy-is-delivering-it…
  content/news/2024/06/2024-06-10-how-the-u-s-department-of-the-navy-is-delivering-it-that-just-works.md
Labels: Content: Images, Bug: Content Cleanup, Content: Blog post

#7667 Create Image upload “content-uploads-_inbox-title-card-navy-peo-digital-delivering-it-that-just-works-case-study-trios-png”
  data/images/title-card-navy-peo-digital-delivering-it-that-just-works-case-study-trios.yml
Labels: Content: Images, :hand: HOLD, decap-cms/pending_publish

#7669 Create Blog Post “2024/06/2024-06-11-equity-study-reaches-4000-participants”
  content/news/2024/06/2024-06-11-equity-study-reaches-4000-participants.md
Labels: Content: Resource

#7668 Create Blog Post “2024/06/2024-06-11-fedramp-governance”
  content/news/2024/06/2024-06-11-fedramp-governance.md
Labels: Content: Resource

#7673 Create Author “brianna-gomez-mcgowan/_index”
  content/authors/brianna-gomez-mcgowan/_index.md
Labels: decap-cms/pending_publish

#7672 Create Author “margot-johnson/_index”
  content/authors/margot-johnson/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#7674 Create Image upload “content-uploads-_inbox-gsa-accessibility-conformance-report-acr-editor-logo-png”
  data/images/gsa-accessibility-conformance-report-acr-editor-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7680 Update 2024-06-20-uswds-monthly-call-june-2024.md
  content/events/2024/06/2024-06-20-uswds-monthly-call-june-2024.md
Labels: Content: Events, Bug: Content Cleanup

#7687 updates
  content/guides/dap/_index.md
  content/guides/dap/get-started-with-dap.md
  content/guides/dap/glossary-of-terms.md
  content/guides/dap/gsa-dap-terms-of-service.md
  content/guides/dap/make-data-informed-decisions.md
  content/guides/dap/migration-from-universal-analytics-to-google-analytics-4.md
  data/guidenav/dap.yml
Labels: Content: Guide, Bug: Content Cleanup

#7688 Update analytics-usa-gov-over-1-point-five-million-visitors-at-3-39-p…
  data/images/analytics-usa-gov-over-1-point-five-million-visitors-at-3-39-pm-may-29-2024.yml
Labels: Content: Images, Content: Guide

#7689 fix links
  content/guides/dap/_index.md
  content/guides/dap/get-started-with-dap.md
  content/guides/dap/make-data-informed-decisions.md
Labels: Content: Guide, Bug: broken links

#7691 front matter edit
  content/authors/toni-bonitto/_index.md
Labels: Content: Authors

#7694 Update 2022-10-11-celebrating-hispanic-and-latinx-heritage-month-at-t…
  content/news/2022/10/2022-10-11-celebrating-hispanic-and-latinx-heritage-month-at-tts-an-intersection-of-identity-and-public-service.md
Labels: Bug: Content Cleanup, Content: Blog post

#7695 Create Image upload “content-uploads-_inbox-public-policy-opposing-forces-force-field-analysis-png”
  data/images/public-policy-opposing-forces-force-field-analysis.yml
Labels: Content: Images, decap-cms/pending_publish

#7696 Create Image upload “content-uploads-_inbox-president-clinton-pra-signing-ceremony-holding-disk-png”
  data/images/president-clinton-pra-signing-ceremony-holding-disk.yml
Labels: Content: Images, decap-cms/pending_publish

#7697 Create Image upload “content-uploads-_inbox-president-clinton-pra-signing-ceremony-stack-papers-png”
  data/images/president-clinton-pra-signing-ceremony-stack-papers.yml
Labels: Content: Images, decap-cms/pending_publish

#7698 Create Image upload “content-uploads-_inbox-cms-designers-prototype-usability-testing-png”
  data/images/cms-designers-prototype-usability-testing.yml
Labels: Content: Images, decap-cms/pending_publish

#7699 Create Image upload “content-uploads-_inbox-cms-digital-service-site-naming-card-sort-session-png”
  data/images/cms-digital-service-site-naming-card-sort-session.yml
Labels: Content: Images, decap-cms/pending_publish

#7700 Create Image upload “content-uploads-_inbox-guide-public-policy-png”
  data/images/guide-public-policy.yml
Labels: Content: Images, Content: Guide, decap-cms/pending_publish

#7701 Update guide-public-policy.yml
  data/images/guide-public-policy.yml
Labels: Content: Images, Bug: Content Cleanup

#7702 building by the rules policy guide
  content/guides/public-policy/_index.md
  content/guides/public-policy/accessibility.md
  content/guides/public-policy/conclusion.md
  content/guides/public-policy/information-collection.md
  content/guides/public-policy/policy-types.md
  content/guides/public-policy/privacy-and-security.md
  data/guidenav/public-policy.yml
Labels: Content: Guide

#7703 Update dap.yml
  data/guidenav/dap.yml
Labels: Content: Guide, Bug: Content Cleanup

#7704 Delete public-policy-opposing-forces-force-field-analysis.yml
  data/images/public-policy-opposing-forces-force-field-analysis.yml
Labels: Content: Images, Bug: Content Cleanup

#7706 Create Image upload “content-uploads-_inbox-public-policy-opposing-forces-force-field-analysis-png”
  data/images/public-policy-opposing-forces-force-field-analysis.yml
Labels: Content: Images, Content: Guide, decap-cms/pending_publish

#7679 Update Hugo version in Readme.md
  readme.md
Labels: Dev: Documentation

#7714 Update 2015-06-03-taking-the-pulse-of-the-federal-governments-web-pre…
  content/news/2015/06/2015-06-03-taking-the-pulse-of-the-federal-governments-web-presence.md
Labels: Bug: Content Cleanup, Content: Blog post

#7715 reset dap guide hugo links
  content/news/2015/06/2015-06-29-digitalgov-podcast-dap-delivers-data-for-4000-websites.md
  content/news/2016/06/2016-06-06-why-switching-to-https-will-make-your-analytics-better.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#7716 Update 2015-10-20-5-factors-for-building-a-successful-government-wide…
  content/news/2015/10/2015-10-20-5-factors-for-building-a-successful-government-wide-digital-analytics-program.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#7717 old dap pgs expiry date
  content/guides/dap/add-your-site-dap.md
  content/guides/dap/common-questions-about-dap.md
  content/guides/dap/gaining-access-to-dap-data.md
  content/guides/dap/guidelines-for-sharing-dap-data.md
Labels: Content: Guide, Archive

#7719 fix links and imgs
  content/news/2013/04/2013-04-26-how-to-do-usability-testing-with-kids.md
  content/news/2014/04/2014-04-02-kids-gov-usability-case-study.md
Labels: Bug: Content Cleanup, Content: Blog post

#7722 fix imgs, formatting, links
  content/news/2013/04/2013-04-26-how-to-do-usability-testing-with-kids.md
  content/news/2014/03/2014-03-10-we-love-it-when-a-plan-comes-together.md
  content/news/2014/04/2014-04-02-kids-gov-usability-case-study.md
  content/news/2014/04/2014-04-07-tips-from-nrc-on-webstreaming-public-meetings.md
Labels: Bug: Content Cleanup, Bug: broken links, Content: Blog post

#7720 Create File upload “content-uploads-_inbox-uswds-monthly-call-june-2024-pptx”
  data/files/uswds-monthly-call-june-2024.yml
Labels: decap-cms/pending_publish

#7726 Update _index.md
  content/about/_index.md
Labels: Content: General site

#7723 Update 2022-03-08-uswds-monthly-call-march-2022.md
  content/events/2022/03/2022-03-08-uswds-monthly-call-march-2022.md
Labels: Bug: broken links

#7730 Update _index.md
  content/resources/_index.md
Labels: Content: Resource, Content: Redirects, Content: General site

#7731 Create Resource “executive-order-on-the-safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence”
  content/resources/executive-order-on-the-safe-secure-and-trustworthy-development-and-use-of-artificial-intelligence.md
Labels: Content: Resource, decap-cms/pending_publish

#7732 Create Resource “fact-sheet-president-biden-issues-executive-order-on-safe-secure-and-trustworthy-artificial-intelligence”
  content/resources/fact-sheet-president-biden-issues-executive-order-on-safe-secure-and-trustworthy-artificial-intelligence.md
Labels: Content: Resource, decap-cms/pending_publish

#7733 Create Resource “administration-actions-on-ai”
  content/resources/administration-actions-on-ai.md
Labels: Content: Resource, decap-cms/pending_publish

#7734 Create Resource “blueprint-for-an-ai-bill-of-rights”
  content/resources/blueprint-for-an-ai-bill-of-rights.md
Labels: Content: Resource, decap-cms/pending_publish

#7729 Broken Social Media Shares
  content/resources/an-introduction-to-customer-experience.md
  content/resources/digitalgov-user-experience-program-speaking-opportunities.md
  content/resources/requirements-for-the-registration-and-use-of-gov-domains-in-the-federal-government.md
  themes/digital.gov/layouts/partials/core/get_sharetools.html
Labels: Dev: frontend, Bug: broken links, Content: General site

#7739 Create Blog Post “2024/06/2024-06-25-unsolicited-data-a-valuable-resource-for-digital-customer-experience-enhancement”
  content/news/2024/06/2024-06-25-unsolicited-data-a-valuable-resource-for-digital-customer-experience-enhancement.md
Labels: Content: Blog post, decap-cms/pending_publish

#7740 Create Image upload “content-uploads-_inbox-feedback-communication-gentle-studio-istock-getty-images-1428649542-png”
  data/images/feedback-communication-gentle-studio-istock-getty-images-1428649542.yml
Labels: Content: Images, decap-cms/pending_publish

#7745 Update web-managers-forum.md
  content/communities/web-managers-forum.md
Labels: Content: Communities

#7746 Create Blog Post “2024/06/2024-06-28-federal-customer-experience-omb-has-taken-actions-to-implement-cross-agency-priority-goals”
  content/news/2024/06/2024-06-28-federal-customer-experience-omb-has-taken-actions-to-implement-cross-agency-priority-goals.md
Labels: Content: Resource

#7743 Create Blog Post “2024/06/2024-06-27-digital-front-door-expanding-access-to-va”
  content/news/2024/06/2024-06-27-digital-front-door-expanding-access-to-va.md
Labels: Content: Resource

#7738 Update the CTA on policy cards
  themes/digital.gov/layouts/partials/core/card-legislation.html
Labels: Content: Topics

#7742 Create contact center community landing page
  content/communities/contact-center.md
  themes/digital.gov/src/scss/new/home/_communities.scss
  themes/digital.gov/static/img/communities-contact-center.svg
Labels: Content: Communities

#7725 Update CoP Membership numbers May.md
  content/communities/communicators.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Content: Communities

#7724 Create Blog Post “2024/06/2024-06-20-back-to-basics-in-the-age-of-ai”
  content/news/2024/06/2024-06-20-back-to-basics-in-the-age-of-ai.md
Labels: Content: Resource

#7750 Update government-contact-center-council.md
  content/communities/government-contact-center-council.md
Labels: Content: Communities, Content: Redirects, Bug: Content Cleanup

#7751 Update contact-center.md
  content/communities/contact-center.md
Labels: Content: Communities, Content: Redirects

#7753 update hugo links to markdown to archive old cop
  content/news/2014/01/2014-01-09-top-eight-best-practices-for-federal-contact-centers.md
  content/news/2014/02/2014-02-28-what-do-people-think-of-your-content-ask-your-contact-center.md
  content/news/2014/05/2014-05-01-improving-contact-center-performance-with-contract-incentives-dos-and-donts.md
  content/news/2014/07/2014-07-28-should-your-agency-be-offering-chat-service.md
  content/news/2014/12/2014-12-16-trends-on-tuesday-smartphone-users-still-use-the-phone-for-talking.md
  content/news/2015/04/2015-04-30-how-much-will-my-agencys-contact-center-cost.md
  content/news/2015/05/2015-05-08-customer-experience-and-user-experience-professionals-a-match-made-in-heaven.md
Labels: Content: Communities, Bug: Content Cleanup

#7755 Update 2015-04-10-government-contact-center-round-up.md
  content/news/2015/04/2015-04-10-government-contact-center-round-up.md
Labels: Content: Communities, Bug: broken links, Content: Blog post

#7754 Update government-contact-center-council.md
  content/communities/government-contact-center-council.md
Labels: Content: Communities, Archive
