Repository GSA/digitalgov.gov, pull requests merged in 2024-03, with the labels that each got.

#7369 Update 2024-02-27-spring-2024-community-summit.md
  content/events/2024/02/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events

#7373 Create Image upload “content-uploads-_inbox-spring-2024-community-title-card-png”
  data/images/spring-2024-community-title-card.yml
Labels: Content: Images, decap-cms/pending_publish

#7372 Update 2024-02-27-spring-2024-community-summit.md
  content/events/2024/02/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events, Bug: Content Cleanup

#7374 Update 2024-02-27-spring-2024-community-summit.md
  content/events/2024/02/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events, Content: Images

#7379 Create Image upload “content-uploads-_inbox-250-hhs-svg-seal-png”
  data/images/250-hhs-svg-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7381 Create Image upload “content-uploads-_inbox-250-state-dept-seal-png”
  data/images/250-state-dept-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7382 Create Image upload “content-uploads-_inbox-250-doi-svg-seal-png”
  data/images/250-doi-svg-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7384 Create Image upload “content-uploads-_inbox-250-opm-svg-seal-png”
  data/images/250-opm-svg-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7385 Create Image upload “content-uploads-_inbox-250-dhs-svg-seal-png”
  data/images/250-dhs-svg-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7386 Create Image upload “content-uploads-_inbox-250-inter-american-foundation-iaf-seal-png”
  data/images/250-inter-american-foundation-iaf-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7388 Create Image upload “content-uploads-_inbox-250-va-veterans-affairs-svg-seal-png”
  data/images/250-va-veterans-affairs-svg-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7392 Update gsa-blue-logo-sq.yml
  data/images/gsa-blue-logo-sq.yml
Labels: Content: Images, Bug: Content Cleanup

#7393 Create Image upload “content-uploads-_inbox-250-usaid-united-states-agency-for-international-development-seal-png”
  data/images/250-usaid-united-states-agency-for-international-development-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7391 Create Image upload “content-uploads-_inbox-250-gsa-blue-logo-sq-png”
  data/images/250-gsa-blue-logo-sq.yml
Labels: Content: Images, decap-cms/pending_publish

#7390 Create Image upload “content-uploads-_inbox-250-court-services-and-offender-supervision-agency-dc-csosa-png”
  data/images/250-court-services-and-offender-supervision-agency-dc-csosa.yml
Labels: Content: Images, decap-cms/pending_publish

#7380 Create Image upload “content-uploads-_inbox-250-cpsc-consumer-product-safety-commission-png”
  data/images/250-cpsc-consumer-product-safety-commission.yml
Labels: Content: Images, decap-cms/pending_publish

#7394 Delete 250-hhs-svg-seal.yml
  data/images/250-hhs-svg-seal.yml
Labels: Content: Images

#7378 Create Blog Post “2024/03/2024-03-06-customer-experience-beyond-surveys”
  content/news/2024/03/2024-03-06-customer-experience-beyond-surveys.md
Labels: Content: Resource

#7395 Create Image upload “content-uploads-_inbox-250-hhs-svg-seal-png-1”
  data/images/250-hhs-svg-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7396 Update 2024-02-27-spring-2024-community-summit.md
  content/events/2024/02/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events, Bug: Content Cleanup

#7397 move md file to correct folder
  content/events/2024/03/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events, Bug: Content Cleanup

#7398 Create Image upload “content-uploads-_inbox-250-fema-federal-emergency-management-agency-seal-png”
  data/images/250-fema-federal-emergency-management-agency-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7400 Create Image upload “content-uploads-_inbox-250-eop-omb-executive-office-president-office-management-budget-png”
  data/images/250-eop-omb-executive-office-president-office-management-budget.yml
Labels: Content: Images, decap-cms/pending_publish

#7402 Create Image upload “content-uploads-_inbox-250-sq-gsa-blue-logo-png”
  data/images/250-sq-gsa-blue-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7403 delete 4 img seal files
  data/images/250-gsa-blue-logo-sq.yml
  data/images/250-hhs-svg-seal.yml
  data/images/250-inter-american-foundation-iaf-seal.yml
  data/images/250-sq-gsa-blue-logo.yml
Labels: Content: Images, Bug: Content Cleanup

#7404 Create Image upload “content-uploads-_inbox-250-inter-american-foundation-iaf-seal-png”
  data/images/250-inter-american-foundation-iaf-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7405 Create Image upload “content-uploads-_inbox-250-hhs-svg-seal-png”
  data/images/250-hhs-svg-seal.yml
Labels: Content: Images, decap-cms/pending_publish

#7406 Create Image upload “content-uploads-_inbox-250-sq-gsa-blue-logo-png”
  data/images/250-sq-gsa-blue-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7401 img seals alignment test
  content/events/2024/03/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events, Content: Images

#7347 Adding og:image:alt and og:locale to head.html
  themes/digital.gov/layouts/partials/core/head.html
Labels: Dev: frontend

#7412 Create Image upload “content-uploads-_inbox-150-fema-dhs-logo-png”
  data/images/150-fema-dhs-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7414 Create Image upload “content-uploads-_inbox-150-niaid-nih-logo-jpg”
  data/images/150-niaid-nih-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7415 Create Image upload “content-uploads-_inbox-nih-niaid-logo-jpg”
  data/images/nih-niaid-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7417 Create Image upload “content-uploads-_inbox-150-nih-niaid-logo-png”
  data/images/150-nih-niaid-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7418 Create Image upload “content-uploads-_inbox-250-10x-logo-2023-png”
  data/images/250-10x-logo-2023.yml
Labels: decap-cms/pending_publish

#7420 Create Image upload “content-uploads-_inbox-600-x-379-business-people-collaborate-puzzle-jrcasas-istock-thinkstock-460134765-jpg”
  data/images/business-people-collaborate-puzzle-jrcasas-istock-thinkstock-460134765.yml
Labels: Content: Images, decap-cms/pending_publish

#7419 Update 2015-05-08-customer-experience-and-user-experience-professiona…
  content/news/2015/05/2015-05-08-customer-experience-and-user-experience-professionals-a-match-made-in-heaven.md
Labels: Bug: Content Cleanup, Content: Blog post

#7422 Update 2015-02-06-getting-to-yes-working-with-vendors-to-secure-terms…
  content/news/2015/02/2015-02-06-getting-to-yes-working-with-vendors-to-secure-terms-of-service-and-federal-friendly-pricing.md
Labels: Bug: Content Cleanup, Content: Blog post

#7425 Update web-managers-forum.md
  content/communities/communicators.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Content: Communities

#7424 Create Image upload “content-uploads-_inbox-2024-uswds-monthly-call-march-title-card-png”
  data/images/2024-uswds-monthly-call-march-title-card.yml
Labels: Content: Images, decap-cms/draft

#7423 Create 2024-03-21-uswds-monthly-call-march-2024.md
  content/events/2024/03/2024-03-21-uswds-monthly-call-march-2024.md
Labels: Content: Events

#7427 Update required-web-content-and-links.md
  content/resources/required-web-content-and-links.md
Labels: Content: Resource, Bug: Content Cleanup

#7340 Create Resource “requirements-for-improving-the-management-of-federal-programs-and-projects”
  content/resources/inventory-data-gov-guide.md
  content/resources/requirements-for-improving-the-management-of-federal-programs-and-projects.md
Labels: Content: Resource, decap-cms/pending_publish

#7430 Create Blog Post “2024/03/2024-03-19-search-gov-year-in-review-2023-report”
  content/news/2024/03/2024-03-19-search-gov-year-in-review-2023-report.md
Labels: Content: Blog post, decap-cms/pending_publish

#7431 Update 2024-03-19-search-gov-year-in-review-2023-report.md
  content/news/2024/03/2024-03-19-search-gov-year-in-review-2023-report.md
Labels: Bug: Content Cleanup, Content: Blog post

#7428 Create Blog Post “2024/03/2024-03-19-18f-at-ten”
  content/news/2024/03/2024-03-19-18f-at-ten.md
Labels: Content: Resource

#7438 Add slides to event
  content/events/2024/03/2024-03-21-uswds-monthly-call-march-2024.md
Labels: Content: Events

#7371 Fix glossary header bug
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/layouts/landings/list.html
  themes/digital.gov/layouts/partials/core/glossary.html
  themes/digital.gov/src/js/summary-box.js
Labels: [issue type] bug, Dev: Template Logic

#7443 Update 2024-02-27-spring-2024-community-summit.md
  content/events/2024/03/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events

#7444 Update 2024-02-27-spring-2024-community-summit.md
  content/events/2024/03/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events

#7451 Create Image upload “content-uploads-_inbox-web-design-marta-sher-istock-getty-images-1430981437-jpg”
  data/images/web-design-marta-sher-istock-getty-images-1430981437.yml
Labels: Content: Images, decap-cms/pending_publish

#7452 Create Image upload “content-uploads-_inbox-web-design-marta-sher-istock-getty-images-1430981437-png”
  data/images/web-design-marta-sher-istock-getty-images-1430981437.yml
Labels: Content: Images, decap-cms/pending_publish

#7453 Create Image upload “content-uploads-_inbox-web-design-marta-sher-istock-getty-images-1430981437-50-png”
  data/images/web-design-marta-sher-istock-getty-images-1430981437-50.yml
Labels: Content: Images, decap-cms/pending_publish

#7287 a11y-for-teams: migrate guide content and git history
  content/communities/web-managers-forum.md
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
  content/events/2023/09/2023-09-12-cultivating-a-dynamic-career-in-ux.md
  content/guides/accessibility-for-teams/_index.md
  content/guides/accessibility-for-teams/content-design.md
  content/guides/accessibility-for-teams/front-end-development.md
  content/guides/accessibility-for-teams/product-management.md
  content/guides/accessibility-for-teams/ux-design.md
  content/guides/accessibility-for-teams/visual-design.md
  content/resources/accessibility-for-teams.md
  content/topics/accessibility/_index.md
  data/guidenav/accessibility-for-teams.yml
Labels: Archive
