Repository GSA/digitalgov.gov, pull requests merged in 2024-02, with the labels that each got.

#7247 Update 2024-01-10-uswds-monthly-call-january-2024.md
  content/events/2024/01/2024-01-10-uswds-monthly-call-january-2024.md
Labels: Content: Events

#7215 Convert information architecture topic page to topic collection
  content/events/2022/05/2022-05-24-2022-government-ux-summit.md
  content/events/2023/05/2023-05-08-2023-government-ux-summit.md
  content/news/2016/07/2016-07-18-information-architecture-vs-content-strategy-and-why-you-need-both.md
  content/news/2016/09/2016-09-19-how-do-you-redesign-a-dinosaur-redesigning-an-intranet-site-the-beginning-stages.md
  content/news/2016/10/2016-10-25-expert-insight-on-content-strategy-and-structure-for-future-ready-content.md
  content/topics/information-architecture/_index.md
Labels: Content: Communities

#7221 Convert professional development topic page to topic collection
  content/topics/professional-development/_index.md
Labels: Content: Topics

#7270 Create Resource “overview-of-the-privacy-act-of-1974-2020-edition”
  content/resources/overview-of-the-privacy-act-of-1974-2020-edition.md
Labels: Content: Resource, decap-cms/pending_publish

#7219 Convert privacy topic page to topic collection
  content/topics/privacy/_index.md
Labels: Content: Topics

#7210 Convert acquisition topic page to short version
  content/topics/acquisition/_index.md
Labels: Content: Topics

#7267 Create Image upload “content-uploads-_inbox-balance-metallic-gold-spheres-ics813-istock-getty-images-475996456-png”
  data/images/balance-metallic-gold-spheres-ics813-istock-getty-images-475996456.yml
Labels: Content: Images, decap-cms/pending_publish

#7272 Create Image upload “content-uploads-_inbox-2024-uswds-monthly-call-feb-title-card-png”
  data/images/2024-uswds-monthly-call-feb-title-card.yml
Labels: Content: Images

#7273 Update overview-of-the-privacy-act-of-1974-2020-edition.md
  content/resources/overview-of-the-privacy-act-of-1974-2020-edition.md
Labels: Content: Resource, Content: Redirects

#7274 Update overview-of-the-privacy-act-of-1974-2015-edition.md
  content/resources/overview-of-the-privacy-act-of-1974-2015-edition.md
Labels: Content: Resource, Content: Redirects, Archive

#7262 Delete old version of diagram image
  data/images/cloud-gov-example-diagram.yml
Labels: Content: Images, Bug: Content Cleanup

#7240 Update an-introduction-to-ato.md
  content/resources/an-introduction-to-ato.md
Labels: Content: Guide, Bug: Content Cleanup

#7239 Update checklist blogpost
  content/news/2022/01/2022-01-13-go-live-checklist-for-federal-websites.md
Labels: Content: Blog post

#7275 Create Image upload “content-uploads-_inbox-colorful-digital-10-vuifah-istock-getty-images-166056002-jpg”
  data/images/colorful-digital-10-vuifah-istock-getty-images-166056002.yml
Labels: Content: Images, decap-cms/pending_publish

#7276 Create Image upload “content-uploads-_inbox-10th-anniversary-gold-stamp-olivier-le-moal-istock-getty-images-1215894273-jpg”
  data/images/10th-anniversary-gold-stamp-olivier-le-moal-istock-getty-images-1215894273.yml
Labels: Content: Images, decap-cms/pending_publish

#7277 Create Image upload “content-uploads-_inbox-web-content-gov-top-ten-list-clipboard-jpg”
  data/images/web-content-gov-top-ten-list-clipboard.yml
Labels: Content: Images, decap-cms/pending_publish

#7258 Fixes three author/location typos
  content/authors/amin-mehr/_index.md
  content/authors/gray-brooks/_index.md
  content/authors/joseph-castle/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#7257 Create Resource “an-introduction-to-working-with-social-media-influencers”
  content/resources/an-introduction-to-working-with-social-media-influencers.md
Labels: Content: Resource

#7282 Update service_us-digital-registry.md
  content/services/service_us-digital-registry.md
Labels: Content: Redirects, Content: Tools and Services, Bug: Content Cleanup

#7284 Create Event “2024/02/2024-02-07-uswds-monthly-call-february-2024”
  content/events/2024/02/2024-02-07-uswds-monthly-call-february-2024.md
Labels: Content: Events

#7285 Convert usability topic to curated collection
  content/topics/usability/_index.md
Labels: Content: Topics

#7278 USA Footer: Fix style specificity issue
  themes/digital.gov/layouts/partials/core/footer.html
  themes/digital.gov/src/scss/new/_footer.scss
  themes/digital.gov/src/scss/new/_uswds-overrides.scss
Labels: Dev: frontend

#7286 Create Blog Post “2024/02/2024-02-08-getting-the-word-out-about-voter-registration-votegovs-first-social-media-takeover-with-usagov”
  content/news/2024/02/2024-02-08-getting-the-word-out-about-voter-registration-votegovs-first-social-media-takeover-with-usagov.md
Labels: Content: Blog post

#7289 Create Image upload “content-uploads-_inbox-harmony-balance-chrome-balls-sonercdem-istock-getty-images-1151830404-jpg”
  data/images/harmony-balance-chrome-balls-sonercdem-istock-getty-images-1151830404.yml
Labels: Content: Images, decap-cms/pending_publish

#7290 Create Image upload “content-uploads-_inbox-harmony-balance-concept-cagkansayin-istock-getty-images-1790837452-jpg”
  data/images/harmony-balance-concept-cagkansayin-istock-getty-images-1790837452.yml
Labels: Content: Images, decap-cms/pending_publish

#7291 Create Image upload “content-uploads-_inbox-fda-cover-influencers-101-best-practices-practical-approaches-for-public-health-campaigns-b-png”
  data/images/fda-cover-influencers-101-best-practices-practical-approaches-for-public-health-campaigns-b.yml
Labels: Content: Images, decap-cms/pending_publish

#7292 Create Blog Post “2024/02/2024-02-09-balancing-priorities-and-values”
  content/news/2024/02/2024-02-09-balancing-priorities-and-values.md
Labels: Content: Blog post, decap-cms/pending_publish

#7268 Create Blog Post “2024/02/2024-02-01-gathering-feedback-with-customer-panels”
  content/news/2024/02/2024-02-01-gathering-feedback-with-customer-panels.md
Labels: Content: Blog post

#7296 Update web-content-gov-top-ten-list-clipboard.yml
  data/images/web-content-gov-top-ten-list-clipboard.yml
Labels: Content: Images

#7295 Create Blog Post “2024/02/2024-02-09-timeless-top-10-best-practices-for-great-government-websites”
  content/news/2024/02/2024-02-09-timeless-top-10-best-practices-for-great-government-websites.md
Labels: Content: Blog post, decap-cms/pending_publish

#7297 Update 2017-04-14-steps-towards-seo-meta-descriptions-on-medlineplus.md
  content/news/2017/04/2017-04-14-steps-towards-seo-meta-descriptions-on-medlineplus.md
Labels: Bug: Content Cleanup, Content: Blog post

#7299 Update 2016-11-18-a-new-prize-challenge-for-virtual-and-augmented-rea…
  content/news/2016/11/2016-11-18-a-new-prize-challenge-for-virtual-and-augmented-reality-learning-tools.md
Labels: Bug: Content Cleanup, Content: Blog post

#7300 Update 2022-03-15-ten-hiring-tips-attracting-underrepresented-digital…
  content/news/2022/03/2022-03-15-ten-hiring-tips-attracting-underrepresented-digital-services-talent-to-serve.md
Labels: Bug: Content Cleanup, Content: Blog post

#7302 Create Image upload “content-uploads-_inbox-accessibility-icons-symbols-maanas-istock-getty-images-1073019390-jpg”
  data/images/accessibility-icons-symbols-maanas-istock-getty-images-1073019390.yml
Labels: Content: Images, decap-cms/pending_publish

#7303 Update an-introduction-to-accessibility.md
  content/resources/an-introduction-to-accessibility.md
Labels: Content: Images, Content: Resource

#7304 Update advanced-accessibility.md
  content/resources/advanced-accessibility.md
Labels: Content: Images, Content: Resource, Bug: Content Cleanup

#7301 Update 2023-11-20-an-update-on-our-transition.md
  content/news/2022/09/2022-09-21-making-infrastructure-less-invisible.md
  content/news/2023/11/2023-11-20-an-update-on-our-transition.md
  content/news/2023/11/2023-11-20-infrastructure-as-a-public-service.md
Labels: Content: Resource, Bug: broken links

#7237 Remove Edit Button
  config.yml
  themes/digital.gov/layouts/404.html
  themes/digital.gov/layouts/_default/baseof.html
  themes/digital.gov/layouts/_default/images.html
  themes/digital.gov/layouts/_default/list.html
  themes/digital.gov/layouts/_default/single.html
  themes/digital.gov/layouts/authors/list.html
  themes/digital.gov/layouts/authors/terms.html
  themes/digital.gov/layouts/communities/single.html
  themes/digital.gov/layouts/docs/single.html
  themes/digital.gov/layouts/events/card-event.html
  themes/digital.gov/layouts/events/list.html
  themes/digital.gov/layouts/events/single.html
  themes/digital.gov/layouts/landings/list.html
  themes/digital.gov/layouts/news/card-article.html
  themes/digital.gov/layouts/news/card-elsewhere.html
  themes/digital.gov/layouts/news/list.html
  themes/digital.gov/layouts/news/single.html
  themes/digital.gov/layouts/partials/core/collection/collection-list-item.html
  themes/digital.gov/layouts/partials/core/edit-this-button.html
  themes/digital.gov/layouts/partials/core/featured-collection.html
  themes/digital.gov/layouts/partials/core/featured-communities.html
  themes/digital.gov/layouts/partials/core/get_sharetools.html
  themes/digital.gov/layouts/partials/core/gh-commit-info.html
  themes/digital.gov/layouts/partials/core/guides/guide-content.html
  themes/digital.gov/layouts/partials/core/home/topics_featured.html
  themes/digital.gov/layouts/partials/core/render-markdown.html
  themes/digital.gov/layouts/partials/core/usa-card.html
  themes/digital.gov/layouts/partials/core/usa-collection.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/resources/single.html
  themes/digital.gov/layouts/services/card-service.html
  themes/digital.gov/layouts/services/directory.html
  themes/digital.gov/layouts/services/service-contact.html
  themes/digital.gov/layouts/services/single.html
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/layouts/topics/terms.html
  themes/digital.gov/src/js/gh-edit-commit.js
  themes/digital.gov/src/js/gh-edit-page.js
  themes/digital.gov/src/scss/new/_gh-commit-info.scss
  themes/digital.gov/src/scss/new/_gh-edit-page.scss
  themes/digital.gov/src/scss/new/_print.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: frontend

#7305 Update config.yml
  config.yml
Labels: Bug: Content Cleanup, Content: Other files

#7306 switch to tweet hugo code
  content/news/2015/10/2015-10-26-nihdigital-summit-optimizing-digital-to-reach-patients-scientists-clinicians-and-the-public.md
Labels: Bug: Content Cleanup, Content: Blog post

#7307 Update 2015-02-17-trends-on-tuesday-top-five-trends-in-mobile-app-des…
  content/news/2015/02/2015-02-17-trends-on-tuesday-top-five-trends-in-mobile-app-design-for-2015.md
Labels: Bug: Content Cleanup, Content: Blog post

#7308 Create Image upload “content-uploads-_inbox-download-free-hhs-fda-influencers-101-guide-jpg”
  data/images/download-free-hhs-fda-influencers-101-guide.yml
Labels: Content: Images, decap-cms/pending_publish

#7309 Update an-introduction-to-working-with-social-media-influencers.md
  content/resources/an-introduction-to-working-with-social-media-influencers.md
Labels: Content: Images, Content: Blog post

#7315 add topic
  content/events/2022/10/2022-10-13-october-2022-uswds-monthly-call.md
  content/news/2021/10/2021-10-25-prioritizing-equity-in-government-led-innovation-programs.md
  content/news/2022/05/2022-05-23-equity-a-core-principle-of-customer-experience.md
  content/resources/embedding-equity-in-civic-design-to-transform-customer-experience.md
Labels: Content: Resource, Bug: Content Cleanup, Content: Topics, Content: Blog post

#7316 change topic weight for buttons
  content/topics/artificial-intelligence/_index.md
  content/topics/best-practices/_index.md
  content/topics/budgeting-and-performance/_index.md
  content/topics/challenges-and-prize-competitions/_index.md
  content/topics/cloud-and-infrastructure/_index.md
  content/topics/communication/_index.md
  content/topics/crowdsourcing-and-citizen-science/_index.md
  content/topics/data-visualization/_index.md
  content/topics/innovation/_index.md
  content/topics/open-government/_index.md
  content/topics/podcast/_index.md
  content/topics/product-and-project-management/_index.md
  content/topics/records-management/_index.md
  content/topics/robotic-process-automation/_index.md
  content/topics/search-engine-optimization/_index.md
  content/topics/terms-of-service/_index.md
  content/topics/trust/_index.md
  content/topics/user-centered-design/_index.md
Labels: Content: Topics

#7317 Update _index.md
  content/topics/application-programming-interface/_index.md
Labels: Content: Topics

#7298 POAM: Updated link security
  themes/digital.gov/layouts/partials/core/notice-bar.html
Labels: Dev: Template Logic

#7318 Update _index.md
  content/topics/terms-of-service/_index.md
Labels: Content: Topics

#7314 Add roadmap to about page
  content/about/_index.md
Labels: Content: General site

#7319 Update _index.md
  content/about/_index.md
Labels: Content: General site

#7321 Create Image upload “content-uploads-_inbox-digital-gov-2014-logo-jpg”
  data/images/digital-gov-2014-logo.yml
Labels: Content: Images, decap-cms/pending_publish

#7322 Create Image upload “content-uploads-_inbox-feat-top-10-cards-lights-elinedesignservices-istock-getty-images-470951074-jpg”
  data/images/feat-top-10-cards-lights-elinedesignservices-istock-getty-images-470951074.yml
Labels: Content: Images, decap-cms/pending_publish

#7323 Create Image upload “content-uploads-_inbox-solution-strategy-path-wildpixel-istock-getty-images-482060980-copy-jpg”
  data/images/solution-strategy-path-wildpixel-istock-getty-images-482060980-copy.yml
Labels: Content: Images, decap-cms/pending_publish

#7324 Create Image upload “content-uploads-_inbox-join-us-vintage-letterpress-lights-elinedesignservices-istock-getty-images-479607666-copy-jpg”
  data/images/join-us-vintage-letterpress-lights-elinedesignservices-istock-getty-images-479607666-copy.yml
Labels: Content: Images, decap-cms/pending_publish

#7326 Convert communcation topic collection #2
  content/topics/communication/_index.md
Labels: Content: Topics

#7218 Convert podcast topic page to topic collection
  content/topics/podcast/_index.md
Labels: Content: Topics

#7327 Create Image upload “content-uploads-_inbox-top-10-cards-lights-elinedesignservices-istock-getty-images-470951074-full-jpg”
  data/images/top-10-cards-lights-elinedesignservices-istock-getty-images-470951074-full.yml
Labels: Content: Images, decap-cms/pending_publish

#7328 Update _index.md
  content/topics/security/_index.md
Labels: Content: Topics

#7329 Update 2013-05-04-video-copyright.md
  content/news/2013/05/2013-05-04-video-copyright.md
Labels: Bug: Content Cleanup, Content: Blog post

#7330 Update 2012-05-07-find-free-video-stock-footage.md
  content/news/2012/05/2012-05-07-find-free-video-stock-footage.md
Labels: Bug: Content Cleanup, Content: Blog post

#7331 Create Blog Post “2024/02/2024-02-15-in-2023-tts-stepped-up-to-meet-growing-technology-demands-for-government”
  content/news/2024/02/2024-02-15-in-2023-tts-stepped-up-to-meet-growing-technology-demands-for-government.md
Labels: Content: Blog post, decap-cms/pending_publish

#7337 move to correct year folder
  content/news/2017/02/2024-02-15-digitalgov-year-in-review-our-top-blogs-resources-and-writers-for-2016.md
Labels: Bug: Content Cleanup, Content: Blog post

#7336 Update web-managers-forum.md
  content/communities/communicators.md
  content/communities/multilingual.md
  content/communities/plain-language-community-of-practice.md
  content/communities/social-media.md
  content/communities/user-experience.md
  content/communities/web-analytics-and-optimization.md
  content/communities/web-managers-forum.md
Labels: Content: Communities

#7341 Create Image upload “content-uploads-_inbox-pmiaa-figure-1-organizational-pyramid-management-competencies-standards-jpg”
  data/images/pmiaa-figure-1-organizational-pyramid-management-competencies-standards.yml
Labels: Content: Images, decap-cms/pending_publish

#7343 Create Author “cathryn-camenzind/_index”
  content/authors/cathryn-camenzind/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#7342 Create Resource “prepare-recovery-respond-social-media-cyber-vandalism-toolkit”
  content/resources/prepare-recovery-respond-social-media-cyber-vandalism-toolkit.md
Labels: Content: Resource, decap-cms/pending_publish

#7345 Update prepare-recovery-respond-social-media-cyber-vandalism-toolkit.md
  content/resources/prepare-recovery-respond-social-media-cyber-vandalism-toolkit.md
Labels: Content: Resource

#7320 Updating No FEAR Act link in footer
  data/usa_identifier.yml
Labels: Dev: frontend

#7310 Update COP Card Mobile Layout
  content/resources/an-introduction-to-ato.md
  themes/digital.gov/src/scss/new/home/_communities.scss
Labels: Dev: frontend

#7260 Added x logo to sprite.svg
  config/gulp/styles.js
  gulpfile.js
  themes/digital.gov/layouts/authors/list.html
  themes/digital.gov/layouts/partials/core/footer.html
  themes/digital.gov/layouts/partials/core/get_sharetools.html
  themes/digital.gov/static/uswds/img/sprite.svg
Labels: Dev: frontend

#7348 Create Blog Post “2024/02/2024-02-21-optimizing-the-federal-digital-experience-aligning-content-governance-coordination-and-database-development”
  content/news/2024/02/2024-02-21-optimizing-the-federal-digital-experience-aligning-content-governance-coordination-and-database-development.md
Labels: Content: Resource

#7349 Update mobile-user-experience-guidelines-and-recommendations.md
  content/resources/mobile-user-experience-guidelines-and-recommendations.md
Labels: Content: Resource, Bug: broken links

#7351 Update mobile-user-experience-guidelines-and-recommendations.md
  content/resources/mobile-user-experience-guidelines-and-recommendations.md
Labels: Content: Resource, Bug: broken links

#7354 Addition of youtube video into monthly call webpage
  content/events/2024/01/2024-01-10-uswds-monthly-call-january-2024.md
Labels: Content: Events, Content: Video + YouTube

#7355 Update 2013-10-30-content-management-systems-toolkit.md
  content/news/2013/10/2013-10-30-content-management-systems-toolkit.md
Labels: Bug: Content Cleanup, Content: Blog post

#7231 Create Resource “fifteen-plays-of-our-contact-center-approach”
  content/resources/fifteen-plays-of-our-contact-center-approach.md
Labels: Content: Resource, decap-cms/pending_publish

#7356 Create Author “trey-gordner/_index”
  content/authors/trey-gordner/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#7357 Update an-introduction-to-domain-management.md
  content/resources/an-introduction-to-domain-management.md
Labels: Content: Resource, Bug: broken links

#7358 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource

#7359 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Bug: Content Cleanup

#7362 Create Event “2024/02/2024-02-27-spring-2024-community-summit”
  content/events/2024/02/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events, decap-cms/draft

#7353 Bug: Topics Page Button Fix
  content/resources/prepare-recovery-respond-social-media-cyber-vandalism-toolkit.md
  themes/digital.gov/src/scss/new/_topic-buttons.scss
Labels: Dev: frontend

#7365 Update 2024-02-27-spring-2024-community-summit.md
  content/events/2024/02/2024-02-27-spring-2024-community-summit.md
Labels: Content: Events, Content: Topics

#7367 Update service_citizen-science.md
  content/services/service_citizen-science.md
Labels: Content: Tools and Services, Bug: Content Cleanup, Bug: broken links

#7363 Update "Preview in Federalist" path
  .github/workflows/pr-preview-link.yml
Labels: Dev: Workflow, Dev: GitHub + Federalist

#7368 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Bug: Content Cleanup

#7366 Convert budgeting and performance to topic collection #2
  content/topics/budgeting-and-performance/_index.md
Labels: Content: Topics
