Repository GSA/digitalgov.gov, pull requests merged in 2024-04, with the labels that each got.

#7456 Update 2020-09-01-fas-works-enhance-competition.md
  content/news/2020/09/2020-09-01-fas-works-enhance-competition.md
Labels: Bug: Content Cleanup, Content: Blog post

#7448 Bug: Fixing Image-right alignment
  content/news/2024/02/2024-02-09-timeless-top-10-best-practices-for-great-government-websites.md
  content/resources/requirements-for-improving-the-management-of-federal-programs-and-projects.md
  themes/digital.gov/layouts/shortcodes/img-right.html
Labels: Dev: frontend

#7457 Create Blog Post “2024/04/2024-04-01-how-usagov-uses-data-to-improve-content”
  content/news/2024/04/2024-04-01-how-usagov-uses-data-to-improve-content.md
Labels: Content: Resource

#7376 Feature: Topics Component Refactor
  themes/digital.gov/layouts/partials/core/topics-button.html
  themes/digital.gov/layouts/resources/list.html
  themes/digital.gov/layouts/topics/terms.html
  themes/digital.gov/src/scss/new/_resources.scss
  themes/digital.gov/src/scss/new/_topic-buttons.scss
  themes/digital.gov/src/scss/new/_topics-button.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: Template Logic, Dev: frontend

#7446 Update policy page to reflect current status
  content/about/policies.md
Labels: Content: General site

#7442 BUG: Fixing width on Topic Collection Pages
  themes/digital.gov/layouts/events/card-event.html
  themes/digital.gov/layouts/topics/list.html
  themes/digital.gov/src/scss/new/_card-event.scss
Labels: Dev: frontend

#7458 Create Image upload “content-uploads-_inbox-accessibility-for-teams-guide-jpg”
  data/images/accessibility-for-teams-guide.yml
Labels: decap-cms/draft

#7460 Update bilingual-glossaries-dictionaries-style-guides.md
  content/resources/bilingual-glossaries-dictionaries-style-guides.md
Labels: Content: Resource, Bug: Content Cleanup

#7279 a11y-for-teams: EPIC
  content/communities/web-managers-forum.md
  content/events/2020/10/2020-10-01-plain-language-summit-2020.md
  content/events/2023/09/2023-09-12-cultivating-a-dynamic-career-in-ux.md
  content/guides/accessibility-for-teams/_index.md
  content/guides/accessibility-for-teams/content-design.md
  content/guides/accessibility-for-teams/front-end-development.md
  content/guides/accessibility-for-teams/product-management.md
  content/guides/accessibility-for-teams/ux-design.md
  content/guides/accessibility-for-teams/visual-design.md
  content/resources/accessibility-for-teams.md
  content/topics/accessibility/_index.md
  data/guidenav/accessibility-for-teams.yml
Labels: Dev: frontend, Dev: Migration

#7434 Update Federalist brokenlink to Pages
  content/services/service_federalist.md
  static/logos/pages-icon.png
  static/logos/pages-logo.png
Labels: Content: Resource

#7441 Fix sitemap score for SEO
  content/sitemap.md
  themes/digital.gov/layouts/_default/sitemap.xml
Labels: Bug: broken links

#7461 Create Blog Post “2024/04/2024-04-03-18f-practices-in-action-spoiler-this-stuff-works”
  content/news/2024/04/2024-04-03-18f-practices-in-action-spoiler-this-stuff-works.md
Labels: Content: Resource

#7450 Convert contact center topic page
  content/topics/contact-centers/_index.md
Labels: Content: Topics

#7463 Create Image upload “content-uploads-_inbox-pie-chart-acquisition-dot-gov-measurement-criteria-png”
  data/images/pie-chart-acquisition-dot-gov-measurement-criteria.yml
Labels: Content: Images, decap-cms/pending_publish

#7465 Create Image upload “content-uploads-_inbox-pie-chart-acquisition-dot-gov-measurement-criteria-jpg”
  data/images/pie-chart-acquisition-dot-gov-measurement-criteria.yml
Labels: Content: Images, decap-cms/pending_publish

#7466 update topics
  content/communities/communicators.md
  content/communities/government-contact-center-council.md
  content/communities/it-accessibility-section-508.md
Labels: Bug: Content Cleanup, Content: Topics

#7432 Table: Fixed border issue
  themes/digital.gov/src/scss/new/_content.scss
Labels: Dev: frontend

#7467 Create Blog Post “2024/04/2024-04-04-reconsidering-the-consent-form-the-least-user-friendly-aspect-of-ux-research”
  content/news/2024/04/2024-04-04-reconsidering-the-consent-form-the-least-user-friendly-aspect-of-ux-research.md
Labels: Content: Resource

#7468 Create Blog Post “2024/04/2024-04-04-participation”
  content/news/2024/04/2024-04-04-participation.md
Labels: Content: Resource

#7472 Create Resource “an-introduction-to-the-digital-experience-council”
  content/resources/an-introduction-to-the-digital-experience-council.md
Labels: Content: Resource, decap-cms/pending_publish

#7474 Update federal-web-council.md
  content/resources/federal-web-council.md
Labels: Content: Resource, Archive

#7473 Update an-introduction-to-the-digital-experience-council.md
  content/resources/an-introduction-to-the-digital-experience-council.md
Labels: Content: Resource, Content: Redirects

#7475 Update 2024-02-07-uswds-monthly-call-february-2024.md
  content/events/2024/02/2024-02-07-uswds-monthly-call-february-2024.md
Labels: Content: Events

#7476 Update 2024-03-21-uswds-monthly-call-march-2024.md
  content/events/2024/03/2024-03-21-uswds-monthly-call-march-2024.md
Labels: Content: Events

#7477 Create Topic “policy/_index”
  content/topics/policy/_index.md
Labels: Content: Topics, decap-cms/pending_publish

#7478 Update _index.md
  content/topics/policy/_index.md
Labels: Content: Topics

#7479 Update an-introduction-to-the-digital-experience-council.md
  content/resources/an-introduction-to-the-digital-experience-council.md
Labels: Content: Resource, Content: Topics

#7480 restore topic to services and source
  content/services/service_resources-data-gov.md
  content/services/service_section508-gov.md
  content/sources/source_congressgov.md
Labels: Content: Tools and Services, Content: Topics, Content: Source

#7481 add policy topic to 2 events
  content/events/2018/07/2018-07-10-what-you-need-know-required-prize-reporting-congress.md
  content/events/2019/09/2019-09-18-how-navigate-complex-world-federal-digital-policy.md
Labels: Content: Events, Content: Topics

#7482 add policy to 56 resource files
  content/resources/2012-digital-government-strategy-2.md
  content/resources/an-introduction-to-ato.md
  content/resources/an-introduction-to-security-and-privacy-controls.md
  content/resources/an-introduction-to-security.md
  content/resources/antideficiency-act-implications-of-rtain-online-terms-of-service-agreements.md
  content/resources/appendix-i-to-omb-circular-no-a-130-federal-agency-responsibilities-for-maintaining-records-about-individuals.md
  content/resources/checklist-of-requirements-for-federal-digital-services.md
  content/resources/chief-information-officer-cio-handbook.md
  content/resources/childrens-online-privacy-protection-rule-coppa.md
  content/resources/code-of-federal-regulations-cfr-parts-1220-1238.md
  content/resources/dept-of-justice-memo-reaffirming-the-mandates-of-eo-13166.md
  content/resources/digital-millennium-copyright-act.md
  content/resources/dotgov-online-trust-in-government-act-of-2020.md
  content/resources/e-gov-act-of-2002.md
  content/resources/executive-order-13571-streamlining-service-delivery-and-improving-customer-service.md
  content/resources/federal-information-security-management-act-of-2002-presentation-to-the-2003-fissea-conference.md
  content/resources/federal-plain-language-guidelines.md
  content/resources/freedom-of-information-act-memo-2009.md
  content/resources/fy-2004-reporting-instructions-for-the-federal-information-security-management-act.md
  content/resources/gov-domain-registration-process-final-rule.md
  content/resources/government-customer-service-policies-requirements-1993-to-present.md
  content/resources/guidance-for-agency-use-of-third-party-websites-and-applications.md
  content/resources/guidance-for-implementing-the-privacy-provisions-of-the-e-government-act-of-2002-m-03-22.md
  content/resources/guidance-on-presidents-management-agenda-scorecard-meetings.md
  content/resources/guidance-on-the-use-of-challenges-and-prizes-to-promote-open-government.md
  content/resources/guide-paperwork-reduction-act.md
  content/resources/guidelines-on-securing-public-web-servers.md
  content/resources/implementation-of-the-government-paperwork-elimination-act.md
  content/resources/implications-of-recent-web-technologies-for-nara-web-guidance.md
  content/resources/improving-access-to-services-for-people-with-limited-english-proficiency-e-o-13166.md
  content/resources/kitchen-sink.md
  content/resources/m-10-22-guidance-for-online-use-of-web-measurement-and-customization-technologies.md
  content/resources/m-11-24-implementing-executive-order-13571-on-streamlining-service-delivery-and-improving-customer-service.md
  content/resources/m-11-26-new-fast-track-process-for-collecting-service-delivery-feedback-under-the-paperwork-reduction-act.md
  content/resources/m-19-17-enabling-mission-delivery-through-improved-identity-credential-and-access-management.md
  content/resources/m-23-07-update-to-transition-to-electronic-records.md
  content/resources/m-23-10-the-registration-and-use-of-gov-domains-in-the-federal-government.md
  content/resources/making-open-and-machine-readable-the-new-default-for-government-information.md
  content/resources/nara-guidance-for-implementing-section-207e-of-the-e-government-act-of-2002.md
  content/resources/nara-guidance-on-managing-social-media-records.md
  content/resources/nara-guidance-on-managing-web-records.md
  content/resources/no-fear-act.md
  content/resources/omb-circular-a11-section-280.md
  content/resources/omb-final-guidance-on-implementing-the-plain-writing-act-of-2010-m-11-15.md
  content/resources/omb-m-20-19.md
  content/resources/omb-memo-on-testing-and-simplifying-federal-forms.md
  content/resources/omb-memos-circulars-executive-orders-and-other-policies.md
  content/resources/paperwork-reduction-act-44-u-s-c-3501-et-seq.md
  content/resources/paperwork-reduction-act-fast-track-process.md
  content/resources/plain-writing-act-of-2010.md
  content/resources/requirements-for-accepting-externally-issued-identity-credentials.md
  content/resources/section-508-standards-for-electronic-and-information-technology-2.md
  content/resources/social-media-web-based-interactive-technologies-and-the-paperwork-reduction-act.md
  content/resources/u-s-trademark-law.md
  content/resources/web-accessibility-guidelines.md
  content/resources/website-standards.md
Labels: Content: Resource, Content: Topics

#7483 policy topic four 2023 blogs
  content/news/2023/05/2023-05-15-a-digital-accessibility-catalyst-for-your-next-policy-refresh.md
  content/news/2023/09/2023-09-25-why-the-american-people-deserve-a-digital-government.md
  content/news/2023/10/2023-10-24-navigating-the-nist-industrial-control-systems-overlay.md
  content/news/2023/10/2023-10-31-who-is-controlling-your-control-system.md
Labels: Content: Topics, Content: Blog post

#7484 policy topic for 13 pgs
  content/news/2018/03/2018-03-07-redesigning-an-intranet-site-final-stages-launch-lessons-learned.md
  content/news/2018/04/2018-04-02-marketing-government-through-agency-partnerships.md
  content/news/2018/06/2018-06-26-how-one-team-making-transition-agile.md
  content/news/2018/09/2018-09-26-office-educational-technology-hold-design-challenge-supporting-data-reporting-requirements.md
  content/news/2019/06/2019-06-18-introducing-a-guide-paperwork-reduction-act.md
  content/news/2019/08/2019-08-21-prototyping-engagement-workshops.md
  content/news/2020/01/2020-01-23-website-standards.md
  content/news/2021/03/2021-03-12-next-for-the-u-s-web-design-system.md
  content/news/2021/11/2021-11-18-the-weekly-ship-what-it-is-why-useful-and-how-to-create-your-own.md
  content/news/2022/01/2022-01-13-go-live-checklist-for-federal-websites.md
  content/news/2022/06/2022-06-29-five-procurement-strategies-for-diverse-digital-services.md
  content/news/2022/08/2022-08-18-u-s-department-of-defense-dod-releases-first-departmentwide-social-media-policy.md
  content/news/2022/08/2022-08-25-measuring-and-justifying-the-government-experience.md
Labels: Bug: Content Cleanup, Content: Topics, Content: Blog post

#7489 Create Blog Post “2024/04/2024-04-09-celebrating-the-work-of-public-servants”
  content/news/2024/04/2024-04-09-celebrating-the-work-of-public-servants.md
Labels: Content: Resource

#7492 Update 2024-03-21-uswds-monthly-call-march-2024.md
  content/events/2024/03/2024-03-21-uswds-monthly-call-march-2024.md
Labels: Content: Events

#7493 Added data files for manual uploads to S3
  data/images/bar-chart-average-visits-past-30-days-1200x744.yml
  data/images/bar-chart-performance-measured-by-website-scan-1200x744.yml
  data/images/bar-chart-sites-with-most-508-accessibility-issues-1200x744.yml
  data/images/pie-chart-website-alignment-six-measurement-criteria.yml
  data/images/piechart-1-website-a-meets-standards.yml
  data/images/piechart-2-website-a-does-not-meets-standards.yml
Labels: Content: Images

#7496 April USWDS event page
  content/events/2024/04/2024-04-18-uswds-monthly-call-april-2024.md
  data/images/2024-uswds-monthly-call-april-title-card.yml
Labels: Content: Events

#7494 Add new author jonathan-finch
  content/authors/jonathan-finch/_index.md
Labels: Content: Authors

#7486 Update homepage featured content
  content/guides/dap/_index.md
  content/guides/site-scanning/_index.md
  content/resources/an-introduction-to-analytics.md
  content/resources/an-introduction-to-search.md
Labels: Content: Resource, Content: General site

#7495 Create Community “federal-information-security-educators-fissea”
  content/communities/federal-information-security-educators-fissea.md
Labels: Content: Communities

#7497 Create Blog Post “2024/04/2024-04-11-meet-your-digital-experience-council”
  content/news/2024/04/2024-04-11-meet-your-digital-experience-council.md
Labels: Content: Blog post, decap-cms/pending_publish

#7462 Bug: Fixing 'News' display issue on author pages
  themes/digital.gov/layouts/authors/list.html
  themes/digital.gov/layouts/partials/core/home/events_featured.html
  themes/digital.gov/layouts/partials/core/home/news_featured.html
  themes/digital.gov/layouts/partials/core/see-all-footer.html
  themes/digital.gov/src/scss/new/_see-all-footer.scss
  themes/digital.gov/src/scss/new/_stream.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: frontend

#7499 Update an-introduction-to-working-with-social-media-influencers.md
  content/resources/an-introduction-to-working-with-social-media-influencers.md
Labels: Content: Resource

#7502 Create Author “aaron-meyers/_index”
  content/authors/aaron-meyers/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#7500 POAM: April 2024
  package-lock.json
  package.json
Labels: Dev: Dependencies

#7503 delete round area charts
  data/images/pie-chart-acquisition-dot-gov-measurement-criteria.yml
  data/images/pie-chart-website-alignment-six-measurement-criteria.yml
Labels: Content: Images, Bug: Content Cleanup

#7505 nara events records-management
  content/events/2020/04/2020-04-27-federal-crowdsourcing-webinar-series-episode-9.md
  content/events/2021/04/2021-04-20-social-media-spring-session-2021.md
Labels: Content: Events, Bug: Content Cleanup, Content: Topics

#7508 Data files for 2 images
  data/images/area-chart-six-measurement-criteria-mst-akhi-alamgir-istock-getty-images-1421829831.yml
  data/images/round-chart-acquisition-dot-gov-measurement-criteria.yml
Labels: Content: Images

#7507 Create Community “records-management”
  content/communities/records-management.md
Labels: Content: Communities, decap-cms/pending_publish

#7501 Create Blog Post “2024/04/2024-04-15-delivering-seamless-customer-journeys”
  content/news/2024/04/2024-04-15-delivering-seamless-customer-journeys.md
Labels: Content: Blog post, decap-cms/pending_publish

#7510 Create Blog Post “2024/04/2024-04-16-determining-the-true-value-of-a-website-a-gsa-case-study”
  content/news/2024/04/2024-04-16-determining-the-true-value-of-a-website-a-gsa-case-study.md
Labels: Content: Blog post, decap-cms/pending_publish

#7511 Update 2024-04-16-determining-the-true-value-of-a-website-a-gsa-case-…
  content/news/2024/04/2024-04-16-determining-the-true-value-of-a-website-a-gsa-case-study.md
Labels: Bug: Content Cleanup, Content: Blog post

#7512 Update 2024-04-15-delivering-seamless-customer-journeys.md
  content/news/2024/04/2024-04-15-delivering-seamless-customer-journeys.md
Labels: Bug: Content Cleanup, Content: Blog post

#7513 Update 2024-04-15-delivering-seamless-customer-journeys.md
  content/news/2024/04/2024-04-15-delivering-seamless-customer-journeys.md
Labels: Bug: Content Cleanup, Content: Blog post

#7514 Create Blog Post “2024/04/2024-04-17-progress-towards-delivering-a-digital-first-public-experience”
  content/news/2024/04/2024-04-17-progress-towards-delivering-a-digital-first-public-experience.md
Labels: Content: Resource

#7520 Create Blog Post “2024/04/2024-04-22-google-analytics-4-transition-strategies-for-federal-websites”
  content/news/2024/04/2024-04-22-google-analytics-4-transition-strategies-for-federal-websites.md
Labels: Content: Resource

#7515 Create Blog Post “2024/04/2024-04-18-justice-department-to-publish-final-rule-to-strengthen-web-and-mobile-app-access-for-people-with-disabilities”
  content/news/2024/04/2024-04-18-justice-department-to-publish-final-rule-to-strengthen-web-and-mobile-app-access-for-people-with-disabilities.md
Labels: Content: Resource

#7521 Create Author “james-hill/_index”
  content/authors/james-hill/_index.md
Labels: Content: Authors, decap-cms/pending_publish

#7522 Update _index.md
  content/authors/cathryn-camenzind/_index.md
Labels: Content: Authors, Bug: Content Cleanup

#7523 Update 2024-04-18-uswds-monthly-call-april-2024.md
  content/events/2024/04/2024-04-18-uswds-monthly-call-april-2024.md
Labels: Content: Events

#7487 Replace gulp-responsive with sharp
  config/gulp/file-process.js
  package-lock.json
  package.json
  themes/digital.gov/layouts/shortcodes/img-right.html
  themes/digital.gov/layouts/shortcodes/img.html
Labels: [issue type] bug, Content: Images

#7518 Create Resource “requirements-for-improving-access-to-services-for-people-with-limited-english-proficiency-lep”
  content/resources/requirements-for-improving-access-to-services-for-people-with-limited-english-proficiency-lep.md
Labels: Content: Resource, decap-cms/pending_publish

#7527 Update 21st-century-integrated-digital-experience-act.md
  content/resources/21st-century-integrated-digital-experience-act.md
Labels: Content: Resource, Bug: Content Cleanup

#7525 Create Blog Post “2024/04/2024-04-25-creating-a-blueprint-for-quality-how-the-px-contact-center-helps-agents-grow-their-skills”
  content/news/2024/04/2024-04-25-creating-a-blueprint-for-quality-how-the-px-contact-center-helps-agents-grow-their-skills.md
Labels: Content: Resource

#7519 Feature: Update Code Syntax Highlighting
  config.yml
  content/guides/mobile-principles/principles-optimize-minify-compression.md
  content/news/2019/12/2019-12-04-typography.md
  content/resources/guide-create-mobile-friendly-websites.md
  content/resources/inventory-data-gov-guide.md
  content/resources/required-web-content-and-links.md
  themes/digital.gov/layouts/shortcodes/highlight.html
  themes/digital.gov/src/scss/new/_content.scss
  themes/digital.gov/src/scss/new/shortcodes/_highlight.scss
Labels: Dev: frontend

#7529 Update 2012-11-14-comscore-report-october-2012.md
  content/news/2012/11/2012-11-14-comscore-report-october-2012.md
Labels: Content: Redirects, Archive

#7530 Update _index.md
  content/guides/site-scanning/_index.md
Labels: Content: Resource, Bug: Content Cleanup

#7531 Update 2012-11-14-comscore-report-october-2012.md
  content/news/2012/11/2012-11-14-comscore-report-october-2012.md
Labels: Content: Redirects, Content: Blog post

#7533 Create File upload “content-uploads-_inbox-self-assessment-checklist-for-federal-websites-april-2024-xlsx”
  data/files/self-assessment-checklist-for-federal-websites-april-2024.yml
Labels: Content: Resource, Content: Other files, decap-cms/pending_publish
