Repository GSA/digitalgov.gov, pull requests merged in 2025-01, with the labels that each got.

#8289 Add event script to Dec. monthly call page
  content/events/2024/12/2024-12-19-uswds-monthly-call-december-2024.md
Labels: Content: Events

#8286 archive-hurricane_milton.md
  content/resources/hurricane-milton-guidance-for-us-government.md
Labels: Content: Resource

#8287 deleted hurricane milton alert.yml
  data/sitewide_alert.yml
Labels: Content: General site

#8291 TOPIC: Update CPC to sentence case
  content/topics/challenges-and-prize-competitions/_index.md
Labels: Bug: Content Cleanup

#8292 TOPIC: Update CCS to sentence case
  content/topics/crowdsourcing-and-citizen-science/_index.md
Labels: Bug: Content Cleanup

#8293 Update SEO to sentence case
  content/topics/search-engine-optimization/_index.md
Labels: Bug: Content Cleanup

#8294 Update ToS to sentence case
  content/topics/terms-of-service/_index.md
Labels: Bug: Content Cleanup

#8295 Update CS to sentence case
  content/topics/content-strategy/_index.md
Labels: Bug: Content Cleanup

#8296 Update PL to sentence case
  content/topics/plain-language/_index.md
Labels: Bug: Content Cleanup

#8297 Update DM to sentence case
  content/topics/domain-management/_index.md
Labels: Bug: Content Cleanup

#8298 Update OS to sentence case
  content/topics/open-source/_index.md
Labels: Bug: Content Cleanup

#8299 Update SE to sentence case
  content/topics/software-engineering/_index.md
Labels: Bug: Content Cleanup

#8300 Update PD to sentence case
  content/topics/professional-development/_index.md
Labels: Bug: Content Cleanup

#8303 Topic pages review part 2
  content/topics/diversity-equity-and-inclusion/_index.md
Labels: Content: Topics

#8304 Update CC sentence case
  content/topics/contact-centers/_index.md
Labels: Bug: Content Cleanup

#8305 Update job_board 1/3/25
  data/job_board.yml
Labels: Content: Community Job Board

#8306 resource pages button code fixes
  content/resources/2012-digital-government-strategy-2.md
  content/resources/childrens-online-privacy-protection-rule-coppa.md
  content/resources/digital-millennium-copyright-act.md
  content/resources/e-gov-act-of-2002.md
  content/resources/executive-order-13571-streamlining-service-delivery-and-improving-customer-service.md
  content/resources/federal-information-security-management-act-of-2002-presentation-to-the-2003-fissea-conference.md
  content/resources/federal-plain-language-guidelines.md
  content/resources/freedom-of-information-act-memo-2009.md
  content/resources/fy-2004-reporting-instructions-for-the-federal-information-security-management-act.md
  content/resources/guidance-for-agency-use-of-third-party-websites-and-applications.md
  content/resources/guidance-for-implementing-the-privacy-provisions-of-the-e-government-act-of-2002-m-03-22.md
  content/resources/guidance-on-presidents-management-agenda-scorecard-meetings.md
  content/resources/guidance-on-the-use-of-challenges-and-prizes-to-promote-open-government.md
  content/resources/implementation-of-the-government-paperwork-elimination-act.md
  content/resources/m-10-22-guidance-for-online-use-of-web-measurement-and-customization-technologies.md
  content/resources/making-open-and-machine-readable-the-new-default-for-government-information.md
  content/resources/no-fear-act.md
  content/resources/omb-m-17-06.md
  content/resources/open-data-policy-m-13-13.md
  content/resources/plain-writing-act-of-2010.md
  content/resources/section-508-standards-for-electronic-and-information-technology-2.md
  content/resources/u-s-trademark-law.md
Labels: Content: Resource, Bug: Content Cleanup, Bug: broken links

#8307 Update featured resources.md
  content/topics/data-visualization/_index.md
Labels: Content: Topics

#8313 Update job board for 1/6/25
  data/job_board.yml
Labels: Content: Community Job Board

#8314 button code fixes for 2 resdource pages
  content/resources/antideficiency-act-implications-of-rtain-online-terms-of-service-agreements.md
  content/resources/appendix-i-to-omb-circular-no-a-130-federal-agency-responsibilities-for-maintaining-records-about-individuals.md
Labels: Content: Resource, Bug: Content Cleanup

#8315 Update digitalgov-user-experience-program-usability-starter-kit.md
  content/resources/digitalgov-user-experience-program-usability-starter-kit.md
Labels: Bug: broken links

#8284 No data cells assigned to table header
  content/news/2016/02/2016-02-29-the-content-corner-facebook-expands-access-to-instant-articles.md
  content/news/2016/08/2016-08-15-celebrating-the-18th-anniversary-of-section-508-rehabilitation-act.md
Labels: Dev: Accessibility, :hand: HOLD

#8324 Create Image upload “content-uploads-_inbox-california-wildfires-esf-15-guidance-png”
  data/images/california-wildfires-esf-15-guidance.yml
Labels: Content: Images, Content: Resource, decap-cms/pending_publish

#8325 Delete california-wildfires-esf-15-guidance.yml
  data/images/california-wildfires-esf-15-guidance.yml
Labels: Content: Images, Bug: Content Cleanup

#8327 Create Image upload “content-uploads-_inbox-california-wildfires-esf-15-guidance-png”
  data/images/california-wildfires-esf-15-guidance.yml
Labels: Content: Images, decap-cms/pending_publish

#8317 Update job_board for 1/8/25
  data/job_board.yml
Labels: Content: Community Job Board

#8319 Cltm archive redirect podcast resource
  content/resources/an-introduction-to-podcasts.md
  content/resources/how-to-start-and-sustain-a-federal-podcast.md
Labels: Content: Resource

#8318 change featured resource.md
  content/topics/podcast/_index.md
Labels: Content: Topics

#8322 Create 2025-01-16-uswds-monthly-call-january-2025.md
  content/events/2025/01/2025-01-16-uswds-monthly-call-january-2025.md
Labels: Content: Events, Dev: U.S. Web Design System

#8330 Added event video to the USWDS Dec. Monthly Call page
  content/events/2024/12/2024-12-19-uswds-monthly-call-december-2024.md
Labels: Content: Events

#8331 Create Image upload “content-uploads-_inbox-uswds-monthly-call-january-2025-png”
  data/images/uswds-monthly-call-january-2025.yml
Labels: Content: Images, decap-cms/pending_publish

#8334 Update Job board for 1/13
  data/job_board.yml
Labels: Content: Community Job Board

#8282 Address sitemap.xml and meta tags for search.gov
  themes/digital.gov/layouts/partials/core/head.html
  themes/digital.gov/layouts/sitemap.xml
Labels: SEO

#8338 Cltm usability topic page updates
  content/resources/government-usability-case-studies.md
  content/topics/usability/_index.md
Labels: Content: Resource, Content: Topics, Archive

#8340 Create File upload “content-uploads-_inbox-uswds-monthly-call-january-2025-pptx”
  data/files/uswds-monthly-call-january-2025.yml
Labels: Content: Events, Content: Other files, decap-cms/pending_publish

#8341 add or fix presentation link
  content/events/2024/12/2024-12-19-uswds-monthly-call-december-2024.md
  content/events/2025/01/2025-01-16-uswds-monthly-call-january-2025.md
Labels: Content: Events, Bug: Content Cleanup

#8342 Update USWDS slides link
  content/events/2025/01/2025-01-16-uswds-monthly-call-january-2025.md
Labels: Bug: Content Cleanup

#8308 Cltm redirect dgu to contribute page
  content/about/contribute.md
  content/about/digitalgov-university.md
Labels: Content: General site, Archive

#8350 Update job_board_1/21
  data/job_board.yml
Labels: Content: Community Job Board

#8355 Cltm archive intro to pronouns
  content/resources/an-introduction-to-pronouns.md
Labels: Content: Resource

#8354 Archive five procurement strategies
  content/news/2022/06/2022-06-29-five-procurement-strategies-for-diverse-digital-services.md
Labels: Content: Blog post

#8356 Archive an introduction to inclusion
  content/resources/an-introduction-to-inclusion.md
Labels: Content: Resource

#8364 Update style-guide.md
  content/about/style-guide.md
Labels: Bug: Content Cleanup

#8365 edit steps to take.md
  content/guides/accessibility-for-teams/product-management.md
Labels: Content: Guide

#8368 Fix broken embeds
  content/news/2015/05/2015-05-21-digitalgov-citizen-services-summit-2015-open-innovation-and-collaboration.md
  content/news/2015/06/2015-06-12-digitalgov-citizen-services-summit-reflections-from-our-livestream-host-and-full-recording-now-available.md
Labels: Bug: broken links, Content: Blog post
