Repository GSA/digitalgov.gov, pull requests merged in 2025-02, with the labels that each got.

#8383 Remove broken tweets
  content/news/2015/06/2015-06-12-digitalgov-citizen-services-summit-reflections-from-our-livestream-host-and-full-recording-now-available.md
  content/news/2016/09/2016-09-26-gsa-hosts-first-ever-technology-industry-day-in-washington-d-c.md
  content/news/2020/06/2020-06-30-bringing-our-humanity-work-5-ingredients.md
Labels: Bug: Content Cleanup

#8335 Left justify guide menubar
  content/news/2020/06/2020-06-30-bringing-our-humanity-work-5-ingredients.md
  themes/digital.gov/layouts/guides/single.html
  themes/digital.gov/layouts/partials/core/guides/guide-menu-bar.html
  themes/digital.gov/src/js/guide-menu-bar.js
  themes/digital.gov/src/scss/new/guides/_guide-content.scss
  themes/digital.gov/src/scss/new/guides/_guide-menu-bar.scss
  themes/digital.gov/src/scss/new/guides/_guide-nav.scss
  themes/digital.gov/src/scss/new/shortcodes/_note.scss
Labels: Dev: Design

#8382 Fix remaining topic page layouts
  content/communities/federal-program-and-project-management-fedpm.md
  content/communities/rpa-community.md
  content/news/2020/06/2020-06-30-bringing-our-humanity-work-5-ingredients.md
  content/resources/_index.md
  content/topics/application-programming-interface/_index.md
  content/topics/intellectual-property/_index.md
  content/topics/open-source/_index.md
  content/topics/product-and-project-management/_index.md
  content/topics/research/_index.md
  content/topics/robotic-process-automation/_index.md
Labels: Bug: Content Cleanup, Content: Topics

#8379 DIGITAL-348: Add relative inhertance to checklist shortcode css
  content/news/2020/06/2020-06-30-bringing-our-humanity-work-5-ingredients.md
  themes/digital.gov/src/scss/new/shortcodes/_checklist.scss
Labels: Dev: Template Logic

#8351 Fix display for "Resources on..." section displaying twice
  themes/digital.gov/layouts/topics/list.html
Labels: Dev: Template Logic

#8386 Fix broken links
  content/news/2024/04/2024-04-17-progress-towards-delivering-a-digital-first-public-experience.md
  content/news/2024/08/2024-08-22-10-years-of-the-u-s-digital-service-transforming-government-for-the-digital-age.md
  content/news/2024/12/2024-12-13-driving-digital-transformation-across-government-for-lasting-impact.md
  content/resources/omb-memos-circulars-executive-orders-and-other-policies.md
  content/resources/open-data-policy-m-13-13.md
  content/resources/paperwork-reduction-act-44-u-s-c-3501-et-seq.md
  content/resources/required-web-content-and-links.md
  content/topics/digital-service-delivery/_index.md
  content/topics/public-policy/_index.md
  content/topics/social-media/_index.md
  content/topics/usability/_index.md
Labels: Content: Resource, Bug: Content Cleanup, Content: Topics, Content: Blog post

#8387 Publish Federal Source Code policy summary resource
  content/resources/requirements-for-achieving-efficiency-transparency-and-innovation-through-reusable-and-open-source-software.md
Labels: Content: Resource

#8389 Fixed formatting for card-policy
  content/resources/requirements-for-achieving-efficiency-transparency-and-innovation-through-reusable-and-open-source-software.md
Labels: Bug Fix

#8372 Fixed minor siteimprove table warnings
  content/news/2016/08/2016-08-15-celebrating-the-18th-anniversary-of-section-508-rehabilitation-act.md
  content/resources/an-introduction-to-decommissioning-sites.md
Labels: Dev: Accessibility

#8329 301 landing page layout
  content/301.md
  themes/digital.gov/layouts/_default/redirect.html
  themes/digital.gov/src/scss/new/_redirect.scss
  themes/digital.gov/src/scss/new/styles.scss
Labels: Dev: Design, Content: Redirects

#8352 Archived additional content
  content/301.md
  content/about/contribute.md
  content/about/lost-and-found-mapping-page.md
  content/communities/a-b-testing.md
  content/events/2020/05/2020-05-27-dap-learning-series-become-a-dap.md
  content/guides/dap/_index.md
  content/guides/mobile-principles/_index.md
  content/news/2010/10/2010-10-22-tell-compelling-stories-with-data-visualization.md
  content/news/2014/06/2014-06-30-508-accessible-videos-how-to-caption-videos.md
  content/news/2014/06/2014-06-30-508-accessible-videos-how-to-make-audio-descriptions.md
  content/news/2014/06/2014-06-30-508-accessible-videos-use-a-508-compliant-video-player.md
  content/news/2014/06/2014-06-30-508-accessible-videos-why-and-how-to-make-them.md
  content/news/2014/11/2014-11-24-placeholder-text-think-outside-the-box.md
  content/news/2015/01/2015-01-09-personas-101.md
  content/news/2016/07/2016-07-18-information-architecture-vs-content-strategy-and-why-you-need-both.md
  content/news/2017/09/2017-09-18-design-conflict-do-you-know-your-conflict-style.md
  content/news/2018/04/2018-04-03-thinking-about-going-agile-5-benefits-your-office-will-reap-with-agile-methods.md
  content/news/2019/12/2019-12-17-ux-documentation-convince-them-problem-real.md
  content/news/2019/12/2019-12-19-a-new-digitalgov.md
  content/news/2020/03/2020-03-17-updates-on-21st-century-idea-key.md
  content/news/2020/04/2020-04-20-listen-customers-by-asking-right-questions.md
  content/news/2020/06/2020-06-30-bringing-our-humanity-work-5-ingredients.md
  content/news/2023/02/2023-02-02-how-to-manage-a-federal-website.md
  content/news/2023/04/2023-04-20-the-art-of-storytelling-in-a-hybrid-world.md
  content/news/2023/05/2023-05-19-personas-learn-how-to-discover-your-audience-understand-them-and-pivot-to-address-their-needs.md
  content/news/2023/10/2023-10-30-decoding-public-sentiment-harnessing-open-data-to-gain-insights-into-service-delivery.md
  content/resources/21st-century-integrated-digital-experience-act.md
  content/resources/_index.md
  content/resources/an-introduction-to-data-visualization.md
  content/resources/an-introduction-to-search.md
  content/resources/an-introduction-to-structured-content.md
  content/resources/customer-experience-toolkit.md
  content/resources/guide-create-mobile-friendly-websites.md
  content/resources/guidelines-for-digital-gov-event-presenters.md
  content/resources/introduction-to-multilingual-glossaries.md
  content/resources/mobile-sow-and-developer-qualifications.md
  content/resources/mobile-user-experience-guidelines-and-recommendations.md
  content/resources/omb-memos-circulars-executive-orders-and-other-policies.md
  content/resources/paperwork-reduction-act-44-u-s-c-3501-et-seq.md
  content/resources/spanish-health-care-terms-in-the-united-states.md
  content/topics/customer-experience/_index.md
  content/topics/mobile/_index.md
  content/topics/public-policy/_index.md
  data/job_board.yml
  themes/digital.gov/layouts/partials/core/get_related.html
Labels: Content: Redirects, Archive
